Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @paufantom, @cakrit, @paulfantom, @vlvkobal, @gmosx, @ccremer, @ilyam8, @mfundul, @Ferroin, @netdatabot

Update README.md (#5473)
  packaging/installer/README.md
Owners: @ktsaou, @cakrit

apps plugin is not an internal collector (#5472)
  docs/generator/buildyaml.sh
Owners: @cakrit

Fix QoS docs code fragment for HTML (#5469)
  collectors/tc.plugin/README.md
Owners: @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Increase curl timeout to address spotty network (#5476)
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/netdata-updater.sh
Owners: @paulfantom, @cakrit

Make curl silent and show errors only if it fails (#5485)
  netdata-installer.sh
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/netdata-updater.sh
Owners: @ktsaou, @paulfantom, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fix SIGSEGV crash during shutdown of tc plugin. (#5495)
  daemon/main.c
Owners: @ktsaou, @mfundul, @cakrit

Kickstart md5sums (#5496)
  packaging/installer/README.md
Owners: @ktsaou, @cakrit

docker: use base images build by us (#5465)
  packaging/docker/Dockerfile
  packaging/docker/build.sh
Owners: @paulfantom, @cakrit

prevent merging changes to kickstart.sh when checksum in docs is wrong (#5498)
  .travis.yml
  tests/installer/checksums.sh
Owners: @paulfantom, @ktsaou, @cakrit

introduce "stable channel" placeholder (#5499)
  netdata-installer.sh
Owners: @ktsaou

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou

# Ownership by directory structure
.travis/ @paufantom @cakrit
.github/ @paufantom @cakrit
build/ @paulfantom @cakrit
backends/ @ktsaou @vlvkobal
backends/graphite/ @ktsaou @vlvkobal
backends/json/ @ktsaou @vlvkobal
backends/opentsdb/ @ktsaou @vlvkobal
backends/prometheus/ @ktsaou @vlvkobal @paulfantom
collectors/ @ktsaou @vlvkobal @cakrit
collectors/charts.d.plugin/ @ktsaou @paulfantom @cakrit
collectors/freebsd.plugin/ @vlvkobal @cakrit
collectors/macos.plugin/ @vlvkobal @cakrit
collectors/node.d.plugin/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/fronius/ @ktsaou @gmosx @ccremer @cakrit
collectors/node.d.plugin/snmp/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/stiebeleltron/ @ktsaou @gmosx @ccremer @cakrit
collectors/python.d.plugin/ @ilyam8
daemon/ @ktsaou @mfundul @cakrit
database/ @ktsaou @mfundul
docs/ @cakrit
health/ @ktsaou @cakrit
health/health.d/ @ktsaou @cakrit
health/notifications/ @ktsaou @Ferroin @cakrit
installer/ @ktsaou @paulfantom @cakrit
libnetdata/ @ktsaou @cakrit
makeself/ @ktsaou @paulfantom @cakrit
packaging/ @paulfantom @cakrit
registry/ @ktsaou @gmosx @cakrit
streaming/ @ktsaou @mfundul
web/ @ktsaou @cakrit
web/gui/ @ktsaou @gmosx @cakrit

# Ownership by filetype (overwrites ownership by directory)
*.md @ktsaou @cakrit
*.am @paulfantom @ktsaou

# Ownership of specific files
.gitignore @paulfantom @cakrit
.travis.yml @paulfantom
.lgtm.yml @paulfantom
.eslintrc @paulfantom
.eslintignore @paulfantom
.csslintrc @paulfantom
.codeclimate.yml @paulfantom
.codacy.yml @paulfantom
netdata.spec.in @paulfantom
netlify.toml @cakrit
package.json @gmosx
packaging/version @netdatabot

LICENSE.md @ktsaou
CHANGELOG.md @netdatabot
