Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @Ferroin, @kaskavel, @vkalintiris, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @thiagofsm, @knatsakis, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @Ferroin

# Ownership by directory structure
.travis/ @Ferroin @kaskavel @vkalintiris
.github/ @Ferroin @kaskavel @vkalintiris
aclk/ @stelfrag @underhood
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @Ferroin
contrib/debian @Ferroin @vkalintiris
collectors/ @vlvkobal @mfundul
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/node.d.plugin/ @jacekkolasa
collectors/node.d.plugin/fronius/ @ccremer
collectors/node.d.plugin/snmp/ @jacekkolasa
collectors/node.d.plugin/stiebeleltron/ @ccremer
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @mfundul
database/ @mfundul @thiagoftsm
docs/ @joelhans
health/ @thiagoftsm @vlvkobal
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
libnetdata/ @thiagofsm @mfundul
packaging/ @Ferroin @vkalintiris
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin @vkalintiris
tests/ @Ferroin @kaskavel
web/ @thiagoftsm @mfundul @vlvkobal
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin
*.md @joelhans
Dockerfile* @Ferroin @knatsakis

# Ownership of specific files
.gitignore @Ferroin @knatsakis
.travis.yml @Ferroin @knatsakis @kaskavel @vkalintiris
.lgtm.yml @Ferroin @knatsakis
.eslintrc @Ferroin @knatsakis
.eslintignore @Ferroin @knatsakis
.csslintrc @Ferroin @knatsakis
.codeclimate.yml @Ferroin @knatsakis
.codacy.yml @Ferroin @knatsakis
.yamllint.yml @Ferroin @knatsakis
netdata.spec.in @Ferroin @knatsakis @vkalintiris
netdata-installer.sh @Ferroin @knatsakis @vkalintiris
package.json @jacekkolasa @Ferroin @knatsakis
packaging/version @netdatabot @Ferroin @knatsakis

LICENSE.md @joelhans @Ferroin
CHANGELOG.md @netdatabot @Ferroin

Fix memory corruption issue when executing context queries in RAM/SAVE memory mode (#10933)
  web/api/formatters/rrd2json.c
Owners: @thiagoftsm, @mfundul, @vlvkobal

Add a CRASH event when the agent fails to properly shutdown (#10893)
  daemon/main.c
Owners: @thiagoftsm, @mfundul

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Don’t use glob expansion in argument to `cd` in updater. (#10936)
  packaging/installer/netdata-updater.sh
Owners: @Ferroin, @vkalintiris

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] release v1.30.1
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Add lists of monitored metrics to the cgroups plugin documentation (#10924)
  collectors/cgroups.plugin/README.md
Owners: @joelhans

Add a chart for out of memory kills (#10880)
  collectors/all.h
  collectors/proc.plugin/README.md
  collectors/proc.plugin/proc_vmstat.c
  health/health.d/ram.conf
Owners: @vlvkobal, @mfundul, @joelhans, @thiagoftsm

Add new charts for extended disk metrics (#10939)
  collectors/all.h
  collectors/proc.plugin/README.md
  collectors/proc.plugin/proc_diskstats.c
  web/gui/dashboard_info.js
Owners: @vlvkobal, @mfundul, @joelhans, @jacekkolasa

Add a plugin for the system clock synchronization state (#10895)
  CMakeLists.txt
  Makefile.am
  collectors/COLLECTORS.md
  collectors/Makefile.am
  collectors/REFERENCE.md
  collectors/all.h
  collectors/timex.plugin/Makefile.am
  collectors/timex.plugin/README.md
  collectors/timex.plugin/plugin_timex.c
  collectors/timex.plugin/plugin_timex.h
  configure.ac
  daemon/main.c
  tests/alarm_repetition/netdata.conf_with_repetition
  tests/alarm_repetition/netdata.conf_without_repetition
  web/gui/dashboard_info.js
Owners: @ktsaou, @Ferroin, @joelhans, @vlvkobal, @mfundul, @thiagoftsm, @kaskavel, @jacekkolasa

health: add Inconsistent state to the mysql_galera_cluster_state alarm (#10945)
  health/health.d/mysql.conf
  web/gui/dashboard_info.js
Owners: @thiagoftsm, @vlvkobal, @jacekkolasa

Add a metric for percpu memory (#10964)
  collectors/proc.plugin/proc_meminfo.c
Owners: @vlvkobal, @mfundul

Fix epbf crash when process exit (#10957)
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_cachestat.h
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
Owners: @thiagoftsm, @vlvkobal

Update cloud-providers.md (#10942)
  packaging/installer/methods/cloud-providers.md
Owners: @joelhans

Spelling build (#10909)
  Dockerfile.test
  build/m4/ax_gcc_func_attribute.m4
  build_external/clean-install-arch-debug.Dockerfile
  build_external/clean-install-arch-extras.Dockerfile
  build_external/clean-install-arch.Dockerfile
  build_external/scenarios/aclk-testing/paho-inspection.py
  netdata.spec.in
Owners: @Ferroin, @knatsakis, @ktsaou, @vkalintiris

Spelling exporting (#10915)
  exporting/aws_kinesis/aws_kinesis_put_record.cc
  exporting/exporting_engine.c
  exporting/graphite/graphite.c
  exporting/opentsdb/opentsdb.c
  exporting/prometheus/remote_write/remote_write.c
  exporting/pubsub/pubsub_publish.cc
  exporting/tests/netdata_doubles.c
Owners: @vlvkobal, @thiagoftsm, @Ferroin, @kaskavel

Spelling health (#10916)
  health/health.c
  health/health_log.c
Owners: @thiagoftsm, @vlvkobal

Spelling libnetdata (#10917)
  libnetdata/clocks/clocks.h
  libnetdata/config/appconfig.c
  libnetdata/config/appconfig.h
  libnetdata/health/health.c
  libnetdata/json/json.c
  libnetdata/procfile/procfile.c
  libnetdata/procfile/procfile.h
  libnetdata/socket/security.c
  libnetdata/storage_number/storage_number.h
  libnetdata/storage_number/tests/test_storage_number.c
  libnetdata/url/url.c
Owners: @thiagofsm, @mfundul, @Ferroin, @kaskavel

Spelling tests (#10920)
  tests/node.d/fronius.parse.spec.js
  tests/profile/test-eval.c
Owners: @Ferroin, @kaskavel

Spelling aclk (#10910)
  aclk/legacy/aclk_common.c
  aclk/legacy/aclk_lws_wss_client.c
  aclk/legacy/aclk_lws_wss_client.h
  aclk/legacy/aclk_query.c
  aclk/legacy/aclk_rx_msgs.c
  aclk/legacy/agent_cloud_link.c
  aclk/legacy/agent_cloud_link.h
  aclk/legacy/mqtt.c
  aclk/legacy/tests/paho-inspection.py
Owners: @stelfrag, @underhood, @Ferroin, @kaskavel

spelling: backend (#10911)
  backends/backends.c
Owners: @thiagoftsm, @vlvkobal

Spelling daemon (#10913)
  daemon/common.h
  daemon/main.c
  daemon/signals.c
  daemon/unit_test.c
Owners: @thiagoftsm, @mfundul

Spelling database (#10914)
  database/engine/metadata_log/metadatalog.h
  database/engine/pagecache.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/rrd.h
  database/rrddim.c
Owners: @mfundul, @thiagoftsm

spelling: bidirectional (#10918)
  spawn/spawn.c
Owners: @ktsaou, @Ferroin

Spelling streaming (#10919)
  streaming/receiver.c
  streaming/sender.c
Owners: @thiagoftsm, @vlvkobal

Spelling web gui (#10922)
  web/gui/dashboard.css
  web/gui/dashboard.html
  web/gui/dashboard.js
  web/gui/dashboard.slate.css
  web/gui/dashboard_info.js
  web/gui/demosites.html
  web/gui/demosites2.html
  web/gui/index.html
  web/gui/infographic.html
  web/gui/main.js
  web/gui/old/index.html
  web/gui/src/dashboard.js/main.js
  web/gui/src/dashboard.js/prologue.js.inc
Owners: @jacekkolasa

Spelling collectors (#10912)
  collectors/all.h
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/charts.d.plugin/charts.d.conf
  collectors/charts.d.plugin/charts.d.plugin.in
  collectors/checks.plugin/plugin_checks.c
  collectors/cups.plugin/cups_plugin.c
  collectors/diskspace.plugin/plugin_diskspace.c
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/freebsd.plugin/freebsd_devstat.c
  collectors/freebsd.plugin/freebsd_getifaddrs.c
  collectors/freebsd.plugin/freebsd_getmntinfo.c
  collectors/freebsd.plugin/freebsd_sysctl.c
  collectors/ioping.plugin/ioping.plugin.in
  collectors/node.d.plugin/named/named.node.js
  collectors/node.d.plugin/sma_webbox/sma_webbox.node.js
  collectors/node.d.plugin/snmp/snmp.node.js
  collectors/perf.plugin/perf_plugin.c
  collectors/plugins.d/pluginsd_parser.c
  collectors/proc.plugin/ipc.c
  collectors/proc.plugin/proc_net_dev.c
  collectors/proc.plugin/proc_net_wireless.c
  collectors/proc.plugin/proc_pagetypeinfo.c
  collectors/proc.plugin/sys_class_infiniband.c
  collectors/slabinfo.plugin/slabinfo.c
  collectors/statsd.plugin/statsd.c
  collectors/tc.plugin/plugin_tc.c
Owners: @vlvkobal, @mfundul, @ilyam8, @Ferroin, @simonnagl, @thiagoftsm, @jacekkolasa

add --recursive to docu (#10932)
  collectors/python.d.plugin/README.md
  packaging/installer/methods/alpine.md
  packaging/installer/methods/macos.md
  packaging/installer/methods/manual.md
Owners: @joelhans

health: add synchronization.conf to the Makefile (#10907)
  health/Makefile.am
Owners: @Ferroin

health: add systemdunits alarms (#10906)
  health/Makefile.am
  health/health.d/systemdunits.conf
Owners: @Ferroin, @thiagoftsm, @vlvkobal

web/gui: add systemdunits info to the dashboard_info.js (#10904)
  web/gui/dashboard_info.js
Owners: @jacekkolasa

Spelling web api server (#10921)
  web/api/badges/web_buffer_svg.c
  web/api/health/health_cmdapi.c
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
  web/api/queries/query.c
  web/api/queries/rrdr.h
  web/api/tests/web_api.c
  web/server/static/static-threaded.c
Owners: @thiagoftsm, @mfundul, @vlvkobal

Remove RewriteEngine for dedicated vHost (#10873)
  docs/Running-behind-apache.md
Owners: @joelhans

Fix formatting and wording in the Running-behind-apache guide (#8706)
  docs/Running-behind-apache.md
Owners: @joelhans

health: fix alarm line options syntax in the docs (#10974)
  health/REFERENCE.md
Owners: @joelhans

Bump actions/upload-artifact from v2.2.2 to v2.2.3 (#10959)
  .github/workflows/tests.yml
Owners: @Ferroin, @kaskavel, @vkalintiris

fix uil in statsd guide (#10975)
  docs/guides/monitor/statsd.md
Owners: @joelhans

nvidia-smi: update README.md (#10214)
  collectors/python.d.plugin/nvidia_smi/README.md
Owners: @joelhans

Add docs on Nginx with IPv6 listen for certbot to work (#10473)
  docs/Running-behind-nginx.md
  docs/guides/step-by-step/step-10.md
Owners: @joelhans
