Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @amoss, @prologic, @Ferroin, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @shortpatti, @thiagofsm, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @amoss @prologic

# Ownership by directory structure
.travis/ @amoss @Ferroin @prologic
.github/ @amoss @Ferroin @prologic
aclk/ @stelfrag @underhood @amoss
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @amoss @prologic
contrib/debian @amoss @Ferroin @prologic
collectors/ @vlvkobal @mfundul @amoss
collectors/charts.d.plugin/ @ilyam8 @Ferroin @prologic @amoss
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @amoss
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal @amoss
collectors/macos.plugin/ @vlvkobal @thiagoftsm @amoss
collectors/node.d.plugin/ @jacekkolasa @amoss
collectors/node.d.plugin/fronius/ @ccremer @amoss
collectors/node.d.plugin/snmp/ @jacekkolasa @amoss
collectors/node.d.plugin/stiebeleltron/ @ccremer @amoss
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @amoss
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @mfundul @amoss
database/ @mfundul @thiagoftsm @amoss
docs/ @amoss @joelhans @shortpatti
health/ @thiagoftsm @vlvkobal @amoss
health/health.d/ @thiagoftsm @vlvkobal @amoss
health/notifications/ @Ferroin @thiagoftsm @amoss
libnetdata/ @thiagofsm @mfundul @amoss
packaging/ @amoss @Ferroin @prologic
registry/ @jacekkolasa @amoss
streaming/ @thiagoftsm @vlvkobal @amoss
system/ @prologic @Ferroin @amoss
web/ @thiagoftsm @mfundul @vlvkobal @amoss
web/gui/ @jacekkolasa @amoss

# Ownership by filetype (overwrites ownership by directory)
*.am @amoss @prologic
*.md @amoss @joelhans @shortpatti
Dockerfile* @Ferroin @prologic @amoss

# Ownership of specific files
.gitignore @amoss @Ferroin @prologic
.travis.yml @amoss @Ferroin @prologic
.lgtm.yml @amoss @Ferroin @prologic
.eslintrc @amoss @Ferroin @prologic
.eslintignore @amoss @Ferroin @prologic
.csslintrc @amoss @Ferroin @prologic
.codeclimate.yml @amoss @Ferroin @prologic
.codacy.yml @amoss @Ferroin @prologic
.yamllint.yml @amoss @Ferroin @prologic
netdata.spec.in @amoss @Ferroin @prologic
netdata-installer.sh @amoss @Ferroin @prologic
package.json @jacekkolasa @prologic
packaging/version @netdatabot @prologic

LICENSE.md @amoss @joelhans @prologic
CHANGELOG.md @netdatabot @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @prologic

Fix lock order reversal. (#9888)
  streaming/receiver.c
Owners: @thiagoftsm, @vlvkobal, @amoss

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

ACLK Version Negotiation (#9819)
  aclk/aclk_common.c
  aclk/aclk_common.h
  aclk/aclk_query.c
  aclk/agent_cloud_link.c
  aclk/agent_cloud_link.h
  aclk/mqtt.c
  aclk/mqtt.h
  claim/claim.c
Owners: @stelfrag, @underhood, @amoss, @ktsaou, @prologic

Fixed typo in option name used to use bundled libJudy (#9893)
  netdata-installer.sh
  netdata.spec.in
Owners: @amoss, @Ferroin, @prologic

improve_http_message: Change error message to be nearest possible RFC2616 (#9887)
  health/notifications/alarm-notify.sh.in
Owners: @Ferroin, @thiagoftsm, @amoss

Make internal Travis CI notifications behave better. (#9897)
  .travis.yml
Owners: @amoss, @Ferroin, @prologic

installer: update go.d.plugin version to v0.22.0 (#9898)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @amoss, @Ferroin, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Fix missing newline concatentation slash causing rpm build to fail (#9900)
  netdata.spec.in
Owners: @amoss, @Ferroin, @prologic

Fix buffer overflow in rrdr structure when metric timestamps are out of order. (#9903)
  web/api/queries/query.c
Owners: @thiagoftsm, @mfundul, @vlvkobal, @amoss

Correctly fix handling of CI Slack notifications. (#9902)
  .travis.yml
  tests/installer/slack.sh
Owners: @amoss, @Ferroin, @prologic, @ktsaou

Fixed another typo in the libJudy bundling code. (#9904)
  configure.ac
  netdata-installer.sh
Owners: @ktsaou, @amoss, @prologic, @Ferroin

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Implements ACLK v2 http message with compression (#9895)
  CMakeLists.txt
  Makefile.am
  aclk/aclk_common.c
  aclk/aclk_common.h
  aclk/aclk_query.c
  aclk/aclk_query.h
  aclk/aclk_rx_msgs.c
  aclk/aclk_rx_msgs.h
  aclk/agent_cloud_link.c
  aclk/agent_cloud_link.h
  aclk/mqtt.c
  aclk/mqtt.h
  web/server/web_client.c
  web/server/web_client.h
Owners: @ktsaou, @amoss, @prologic, @stelfrag, @underhood, @thiagoftsm, @mfundul, @vlvkobal

Change instruction to reload HEALTH (#9869)
  docs/guides/monitor/stop-notifications-alarms.md
  docs/guides/step-by-step/step-05.md
  health/QUICKSTART.md
Owners: @amoss, @joelhans, @shortpatti

Update supported collectors doc to organize by type (#9513)
  collectors/COLLECTORS.md
Owners: @amoss, @joelhans, @shortpatti

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Fix memory mode none not marking dimensions as obsolete. (#9912)
  database/rrddim.c
  database/rrdset.c
Owners: @mfundul, @thiagoftsm, @amoss

Fix memory mode none not dropping stale dimension data in general when streaming to a parent. (#9917)
  database/rrddim.c
  database/rrdset.c
Owners: @mfundul, @thiagoftsm, @amoss

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] release v1.25.0
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Unix socket docker (#9927)
  packaging/docker/README.md
Owners: @amoss, @joelhans, @shortpatti

Added support for using `/etc/cron.d` for auto-updates. (#9598)
  build/subst.inc
  packaging/installer/functions.sh
  packaging/installer/netdata-uninstaller.sh
  system/Makefile.am
  system/netdata.crontab.in
Owners: @amoss, @prologic, @Ferroin

Added context parameter to the data endpoint (#9931)
  daemon/unit_test.c
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/rrd.h
  web/api/formatters/csv/csv.c
  web/api/formatters/csv/csv.h
  web/api/formatters/json/json.c
  web/api/formatters/json/json.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/json_wrapper.h
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/queries/query.c
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
  web/api/web_api_v1.c
Owners: @thiagoftsm, @mfundul, @amoss, @vlvkobal

Add guide for monitoring Pi-hole and Raspberry Pi (#9770)
  docs/guides/monitor/pi-hole-raspberry-pi.md
Owners: @amoss, @joelhans, @shortpatti

Fix resource leak in case of malformed cloud request (#9934)
  aclk/aclk_rx_msgs.c
Owners: @stelfrag, @underhood, @amoss

Added a way to get build configuration info from the agent. (#9913)
  CMakeLists.txt
  Makefile.am
  configure.ac
  daemon/buildinfo.c
  daemon/buildinfo.h
  daemon/main.c
Owners: @ktsaou, @amoss, @prologic, @thiagoftsm, @mfundul

adds ACLK DISABLE_CLOUD to -W buildinfo (#9936)
  daemon/buildinfo.c
Owners: @thiagoftsm, @mfundul, @amoss

Add persistent configuration details to Docker docs (#9926)
  README.md
  packaging/docker/README.md
Owners: @amoss, @joelhans, @shortpatti

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

add mirrored_hosts_status into OpenAPI of api/info (#9867)
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Owners: @thiagoftsm, @mfundul, @vlvkobal, @amoss

Use automatic dependency generation for RPM builds. (#9937)
  netdata.spec.in
Owners: @amoss, @Ferroin, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

add missing file to gitignore (#9946)
  .gitignore
Owners: @amoss, @Ferroin, @prologic

Fixed chart's last accessed time during context queries (#9952)
  web/api/formatters/rrd2json.c
Owners: @thiagoftsm, @mfundul, @vlvkobal, @amoss

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic
