Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cakrit, @cosmix, @knatsakis, @thiagoftsm, @vlvkobal, @mfundul, @VLegakis, @ccremer, @ilyam8, @simonnagl, @joelhans, @Ferroin, @thiagofsm, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cakrit @cosmix

# Ownership by directory structure
.travis/ @cakrit @cosmix @knatsakis
.github/ @cakrit @cosmix @knatsakis
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @cakrit @cosmix @knatsakis
collectors/ @vlvkobal @mfundul @cakrit @cosmix
collectors/charts.d.plugin/ @cakrit @cosmix
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @cakrit @cosmix
collectors/macos.plugin/ @vlvkobal @thiagoftsm @cakrit @cosmix
collectors/node.d.plugin/ @VLegakis @cakrit @cosmix
collectors/node.d.plugin/fronius/ @ccremer @cakrit @cosmix
collectors/node.d.plugin/snmp/ @VLegakis @cakrit @cosmix
collectors/node.d.plugin/stiebeleltron/ @ccremer @cakrit @cosmix
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @cakrit @cosmix
daemon/ @thiagoftsm @mfundul @cakrit @cosmix
database/ @mfundul @thiagoftsm @cakrit @cosmix
docs/ @cakrit @cosmix @joelhans
health/ @thiagoftsm @vlvkobal @cakrit @cosmix
health/health.d/ @thiagoftsm @vlvkobal @cakrit @cosmix
health/notifications/ @Ferroin @thiagoftsm @cakrit @cosmix
libnetdata/ @thiagofsm @mfundul @cakrit @cosmix
packaging/ @cakrit @cosmix @knatsakis
registry/ @VLegakis @cakrit @cosmix
streaming/ @thiagoftsm @vlvkobal @cakrit @cosmix
web/ @thiagoftsm @mfundul @vlvkobal @cakrit @cosmix
web/gui/ @VLegakis @cakrit @cosmix

# Ownership by filetype (overwrites ownership by directory)
*.md @cakrit @cosmix @joelhans
*.am @cakrit @cosmix @knatsakis

# Ownership of specific files
.gitignore @cakrit @cosmix @knatsakis
.travis.yml @cakrit @cosmix @knatsakis
.lgtm.yml @cakrit @cosmix @knatsakis
.eslintrc @cakrit @cosmix @knatsakis
.eslintignore @cakrit @cosmix @knatsakis
.csslintrc @cakrit @cosmix @knatsakis
.codeclimate.yml @cakrit @cosmix @knatsakis
.codacy.yml @cakrit @cosmix @knatsakis
netdata.spec.in @cakrit @cosmix @knatsakis
netdata-installer.sh @cakrit @cosmix @knatsakis
netlify.toml @cakrit @cosmix
package.json @VLegakis
packaging/version @netdatabot

LICENSE.md @cakrit @cosmix @joelhans
CHANGELOG.md @netdatabot

Update SYN cookie alarm to be less aggressive. (#7250)
  health/health.d/tcp_listen.conf
Owners: @thiagoftsm, @vlvkobal, @cakrit, @cosmix

Upgraded the swagger definition to OpenAPI3.0
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Owners: @thiagoftsm, @mfundul, @vlvkobal, @cakrit, @cosmix

netdata-installer.sh follow-up based on #7060 review (#7200)
  netdata-installer.sh
  packaging/installer/functions.sh
Owners: @cakrit, @cosmix, @knatsakis

Second part of fix for #7040 (#7083)
  packaging/installer/README.md
  packaging/installer/kickstart-static64.sh
Owners: @cakrit, @cosmix, @joelhans, @knatsakis

netdata/installer: add missing flags from installer inventory, so that users can define them during execution (#7027)
  netdata-installer.sh
Owners: @cakrit, @cosmix, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Remove documentation about kickstart-static64.sh and netdata updater (#7262)
  packaging/installer/UPDATE.md
Owners: @cakrit, @cosmix, @joelhans

Initial CMocka testing against web_client.c (issue #7229). (#7264)
  Makefile.am
  web/api/tests/web_api.c
Owners: @cakrit, @cosmix, @knatsakis, @thiagoftsm, @mfundul, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

fix_irc_notification: Remove line break from message (#7243)
  health/notifications/alarm-notify.sh.in
Owners: @Ferroin, @thiagoftsm, @cakrit, @cosmix

container-engines: add balena* to apps_group.conf (#7287)
  collectors/apps.plugin/apps_groups.conf
Owners: @vlvkobal, @mfundul, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

web_log: treat 401 Unauthorized requests as successful (#7256)
  collectors/python.d.plugin/web_log/web_log.chart.py
  web/gui/dashboard_info.js
Owners: @ilyam8, @VLegakis, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Ownership and permissions of /etc/netdata (#7244)
  collectors/Makefile.am
  collectors/charts.d.plugin/Makefile.am
  collectors/node.d.plugin/Makefile.am
  collectors/python.d.plugin/Makefile.am
  collectors/statsd.plugin/Makefile.am
  contrib/debian/rules
  health/Makefile.am
  netdata-installer.sh
  netdata.spec.in
  packaging/makeself/install-or-update.sh
  system/Makefile.am
  web/Makefile.am
Owners: @cakrit, @cosmix, @knatsakis, @ktsaou

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

apps.plugin: add process group for git-related processes (#7289)
  collectors/apps.plugin/apps_groups.conf
Owners: @vlvkobal, @mfundul, @cakrit, @cosmix

TimescaleDB connection page (#7180)
  README.md
  backends/README.md
  backends/TIMESCALE.md
Owners: @cakrit, @cosmix, @joelhans

stream_ssl_slave: Fix socket overwrite (#7306)
  collectors/plugins.d/plugins_d.c
  database/rrd.h
  database/rrdhost.c
  streaming/rrdpush.c
Owners: @vlvkobal, @mfundul, @cakrit, @cosmix, @thiagoftsm

Updating the Travis pipeline (issue 7189) (#7312)
  .travis.yml
  .travis/clangformat.sh
  CONTRIBUTING.md
  daemon/main.c
  libnetdata/simple_pattern/simple_pattern.c
Owners: @cakrit, @cosmix, @knatsakis, @joelhans, @thiagoftsm, @mfundul, @thiagofsm

Fine tune various alarm values. (#7322)
  health/health.d/dnsmasq_dhcp.conf
  health/health.d/megacli.conf
  health/health.d/net.conf
  health/health.d/pihole.conf
  health/health.d/ram.conf
  health/health.d/softnet.conf
  health/health.d/tcp_listen.conf
  health/health.d/udp_errors.conf
Owners: @thiagoftsm, @vlvkobal, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

installer: add missing trailing backslash (#7326)
  Makefile.am
Owners: @cakrit, @cosmix, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

- Retrieve current affinity of the process and make sure not to (#7318)
  collectors/proc.plugin/proc_stat.c
Owners: @vlvkobal, @mfundul, @cakrit, @cosmix

Update README.md (#7330)
  packaging/installer/README.md
Owners: @cakrit, @cosmix, @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Update plugins.d/README.md (#7335)
  collectors/plugins.d/README.md
Owners: @cakrit, @cosmix, @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fixed Caddy line (#7088)
  packaging/docker/README.md
Owners: @cakrit, @cosmix, @joelhans

Added GA links to new documents (#7194)
  docs/contributing/contributing-documentation.md
  docs/contributing/style-guide.md
  docs/getting-started.md
  docs/netdata-cloud/README.md
  docs/netdata-cloud/nodes-view.md
  docs/netdata-cloud/signing-in.md
  docs/tutorials/dimension-templates.md
  docs/tutorials/longer-metrics-storage.md
  docs/tutorials/monitor-hadoop-cluster.md
  packaging/DISTRIBUTIONS.md
Owners: @cakrit, @cosmix, @joelhans

Update netdata-security.md (#7343)
  docs/netdata-security.md
Owners: @cakrit, @cosmix, @joelhans

collectors: apps.plugin: apps_groups: added new frr daemons. (#7333)
  collectors/apps.plugin/apps_groups.conf
Owners: @vlvkobal, @mfundul, @cakrit, @cosmix

CMocka tests for Issue 7274 (#7308)
  CMakeLists.txt
  Makefile.am
  web/api/tests/valid_urls.c
  web/api/tests/web_api.c
  web/server/web_client.c
Owners: @ktsaou, @cakrit, @cosmix, @knatsakis, @thiagoftsm, @mfundul, @vlvkobal

Fixed package dependencies on Debian Jessie (#7342)
  contrib/debian/control.jessie
Owners: @ktsaou, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Correct versions of FreeNAS that Netdata is available on (#7355)
  packaging/installer/README.md
Owners: @cakrit, @cosmix, @joelhans
