Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cakrit, @paulkatsoulakis, @thiagoftsm, @vlvkobal, @gmosx, @ccremer, @ilyam8, @simonnagl, @mfundul, @Ferroin, @thiagofsm, @netdatabot

MGMT_fixes change functions (#6242)
  web/api/health/health_cmdapi.c
Owners: @thiagoftsm, @cakrit

Revert "URL_parser fixing allmetrics! (#6231)"
  web/api/exporters/allmetrics.c
Owners: @thiagoftsm, @cakrit

Revert "MGMT_fixes change functions (#6242)"
  web/api/health/health_cmdapi.c
Owners: @thiagoftsm, @cakrit

Revert "New URL parser (#6070)"
  libnetdata/inlined.h
  libnetdata/url/url.c
  libnetdata/url/url.h
  tests/urls/requests.sh
  web/api/badges/web_buffer_svg.c
  web/api/exporters/allmetrics.c
  web/api/health/health_cmdapi.c
  web/api/web_api_v1.c
  web/server/web_client.c
  web/server/web_client.h
Owners: @thiagofsm, @cakrit, @ktsaou, @thiagoftsm

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/packaging/docker: Fix docker socket utilization, first pass (#6233)
  packaging/docker/README.md
  packaging/docker/run.sh
Owners: @cakrit, @paulkatsoulakis

netdata/packaging: Introducing automatic binary packages generation and delivery for RPM types (Phase 1) (#6223)
  .travis.yml
  .travis/README.md
  .travis/package_management/build_package_in_container.sh
  .travis/package_management/create_lxc_for_build.sh
  .travis/package_management/deb/configure_lxc_environment.py
  .travis/package_management/deb/trigger_lxc_build.py
  .travis/package_management/functions.sh
  .travis/package_management/package_cloud_wrapper.sh
  .travis/package_management/prepare_packages.sh
  .travis/package_management/rpm/configure_lxc_environment.py
  .travis/package_management/rpm/trigger_lxc_build.py
  .travis/package_management/yank_stale_rpm.sh
  Makefile.am
Owners: @paulkatsoulakis, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/packaging: Add more distribution validations (#6235)
  .travis.yml
  tests/updater_checks.bats
  tests/updater_checks.sh
Owners: @paulkatsoulakis, @ktsaou, @cakrit

dns_query_time py module: saving dns request in 'r', checking response for answer, recording '-… (#6237)
  collectors/python.d.plugin/dns_query_time/dns_query_time.chart.py
Owners: @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/packaging: Fix netdata/netdata docker image failure, when users passing PGID that already exists on the system (#6259)
  packaging/docker/run.sh
Owners: @paulkatsoulakis, @cakrit

netdata/packaging: Add option for slack messages to be pushed on alternative channel, than the default. Push all info to #automation, make #ci-status error reporting only (#6268)
  .travis.yml
  tests/installer/slack.sh
Owners: @paulkatsoulakis, @ktsaou, @cakrit

UrlService: add min required version check (#6263)
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/UrlService.py
Owners: @ilyam8

netdata/packaging: it seems that libexecdir may deviate the expected path, explictly set this with configure to avoid uncomfortable situations (#6272)
  netdata-installer.sh
Owners: @paulkatsoulakis, @cakrit

netdata/packaging/documentation: Its Redhat, then came the others (#6271)
  packaging/installer/README.md
Owners: @cakrit

Fix devuan support for initd (#6275)
  packaging/installer/functions.sh
  system/netdata-lsb.in
Owners: @paulkatsoulakis, @cakrit, @ktsaou

Fix variable namespace in memory health check (#6261)
  health/health.d/ram.conf
Owners: @thiagoftsm, @cakrit

Add comments about AWS SDK for C++ installation (#6277)
  backends/aws_kinesis/README.md
Owners: @cakrit

Fix typo in nfacct.plugin (#6260)
  collectors/nfacct.plugin/plugin_nfacct.c
Owners: @vlvkobal, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Update streaming documentation and config file with more info on how health enabled by default = auto works. (#6281)
  streaming/README.md
  streaming/stream.conf
Owners: @cakrit, @thiagoftsm

netdata/packaging: Separate beta messages from production messages (#6282)
  .travis.yml
Owners: @paulkatsoulakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

doc: remove single/multi-threaded web server configuration (#6291)
  docs/Performance.md
Owners: @cakrit

Web (#6294)
  web/gui/main.css
  web/gui/main.js
Owners: @gmosx, @cakrit

stale bot limits update (#6297)
  .github/stale.yml
Owners: @paulkatsoulakis, @cakrit

Add note regarding libexecdir (#6301)
  daemon/config/README.md
  health/notifications/README.md
  health/notifications/email/README.md
Owners: @cakrit

Add a riak plugin (#6286)
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/python.d.conf
  collectors/python.d.plugin/riakkv/Makefile.inc
  collectors/python.d.plugin/riakkv/README.md
  collectors/python.d.plugin/riakkv/riakkv.chart.py
  collectors/python.d.plugin/riakkv/riakkv.conf
  health/Makefile.am
  health/health.d/riakkv.conf
  web/gui/dashboard_info.js
Owners: @paulkatsoulakis, @ilyam8, @cakrit, @thiagoftsm, @gmosx

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Chart name streaming (#6304)
  database/rrdset.c
  streaming/README.md
Owners: @cakrit, @mfundul

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

fix elasticsearch plugin (#6311)
  collectors/python.d.plugin/elasticsearch/elasticsearch.chart.py
Owners: @ilyam8

Perf plugin (#6225)
  .gitignore
  CMakeLists.txt
  Makefile.am
  collectors/Makefile.am
  collectors/README.md
  collectors/apps.plugin/apps_groups.conf
  collectors/perf.plugin/Makefile.am
  collectors/perf.plugin/README.md
  collectors/perf.plugin/perf_plugin.c
  collectors/plugins.d/README.md
  configure.ac
  docs/Add-more-charts-to-netdata.md
  docs/generator/buildyaml.sh
  netdata-installer.sh
  web/gui/dashboard_info.js
Owners: @paulkatsoulakis, @cakrit, @ktsaou, @vlvkobal, @gmosx

Update the documentation on charts with zero metrics (#6314)
  collectors/cgroups.plugin/README.md
  collectors/diskspace.plugin/README.md
  collectors/proc.plugin/README.md
  collectors/tc.plugin/README.md
  daemon/config/README.md
  docs/configuration-guide.md
Owners: @cakrit

[freeipmi] Remove id in sensor name when already unique (#6296)
  collectors/freeipmi.plugin/freeipmi_plugin.c
Owners: @vlvkobal, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Handle file descriptors running out (#6303)
  configs.signatures
  daemon/global_statistics.c
  database/engine/datafile.c
  database/engine/datafile.h
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/engine/rrdenginelib.c
  database/engine/rrdenginelib.h
  database/engine/rrdenglocking.c
  health/Makefile.am
  health/health.d/dbengine.conf
  web/server/static/static-threaded.c
Owners: @ktsaou, @cakrit, @thiagoftsm, @mfundul, @paulkatsoulakis

Update documentation about dbengine (#6264)
  database/README.md
  database/engine/README.md
  packaging/installer/README.md
Owners: @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cakrit

# Ownership by directory structure
.travis/ @paulkatsoulakis @cakrit
.github/ @paulkatsoulakis @cakrit
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @paulkatsoulakis @thiagoftsm
build/ @paulkatsoulakis @cakrit
collectors/ @vlvkobal @cakrit
collectors/charts.d.plugin/ @paulkatsoulakis @cakrit
collectors/freebsd.plugin/ @vlvkobal @cakrit
collectors/macos.plugin/ @vlvkobal @cakrit
collectors/node.d.plugin/ @gmosx @cakrit
collectors/node.d.plugin/fronius/ @ccremer @cakrit
collectors/node.d.plugin/snmp/ @gmosx @cakrit
collectors/node.d.plugin/stiebeleltron/ @ccremer @cakrit
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @cakrit
daemon/ @thiagoftsm @mfundul @cakrit
database/ @cakrit @mfundul
docs/ @cakrit
health/ @thiagoftsm @cakrit
health/health.d/ @thiagoftsm @cakrit
health/notifications/ @Ferroin @cakrit
libnetdata/ @thiagofsm @cakrit
packaging/ @paulkatsoulakis @cakrit
packaging/installer/ @paulkatsoulakis @cakrit
packaging/makeself/ @paulkatsoulakis @cakrit
registry/ @gmosx @cakrit
streaming/ @cakrit @thiagoftsm
web/ @thiagoftsm @cakrit
web/gui/ @gmosx @cakrit

# Ownership by filetype (overwrites ownership by directory)
*.md @cakrit
*.am @paulkatsoulakis

# Ownership of specific files
.gitignore @paulkatsoulakis @cakrit
.travis.yml @paulkatsoulakis
.lgtm.yml @paulkatsoulakis
.eslintrc @paulkatsoulakis
.eslintignore @paulkatsoulakis
.csslintrc @paulkatsoulakis
.codeclimate.yml @paulkatsoulakis
.codacy.yml @paulkatsoulakis
netdata.spec.in @paulkatsoulakis
netdata-installer.sh @paulkatsoulakis @cakrit
netlify.toml @cakrit
package.json @gmosx
packaging/version @netdatabot

LICENSE.md @cakrit
CHANGELOG.md @netdatabot
