Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @Ferroin, @knatsakis, @kaskavel, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @thiagofsm, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @Ferroin

# Ownership by directory structure
.travis/ @Ferroin @knatsakis @kaskavel
.github/ @Ferroin @knatsakis @kaskavel
aclk/ @stelfrag @underhood
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @Ferroin @knatsakis
contrib/debian @Ferroin @knatsakis
collectors/ @vlvkobal @mfundul
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/node.d.plugin/ @jacekkolasa
collectors/node.d.plugin/fronius/ @ccremer
collectors/node.d.plugin/snmp/ @jacekkolasa
collectors/node.d.plugin/stiebeleltron/ @ccremer
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @mfundul
database/ @mfundul @thiagoftsm
docs/ @joelhans
health/ @thiagoftsm @vlvkobal
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
libnetdata/ @thiagofsm @mfundul
packaging/ @Ferroin @knatsakis
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin @knatsakis
tests/ @Ferroin @knatsakis @kaskavel
web/ @thiagoftsm @mfundul @vlvkobal
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin
*.md @joelhans
Dockerfile* @Ferroin @knatsakis

# Ownership of specific files
.gitignore @Ferroin @knatsakis
.travis.yml @Ferroin @knatsakis @kaskavel
.lgtm.yml @Ferroin @knatsakis
.eslintrc @Ferroin @knatsakis
.eslintignore @Ferroin @knatsakis
.csslintrc @Ferroin @knatsakis
.codeclimate.yml @Ferroin @knatsakis
.codacy.yml @Ferroin @knatsakis
.yamllint.yml @Ferroin @knatsakis
netdata.spec.in @Ferroin @knatsakis
netdata-installer.sh @Ferroin @knatsakis
package.json @jacekkolasa @Ferroin @knatsakis
packaging/version @netdatabot @Ferroin @knatsakis

LICENSE.md @joelhans @Ferroin
CHANGELOG.md @netdatabot @Ferroin

Fix handling of PowerTools repo on CentOS 8. (#10344)
  packaging/installer/install-required-packages.sh
  packaging/installer/methods/manual.md
Owners: @Ferroin, @knatsakis, @joelhans

Added numerous improvements to our Docker image. (#10308)
  .github/workflows/review.yml
  packaging/docker/Dockerfile
  packaging/docker/run.sh
Owners: @Ferroin, @knatsakis, @kaskavel

Update macOS instructions with cmake (#10295)
  packaging/installer/methods/macos.md
Owners: @joelhans

installer: update go.d.plugin version to v0.26.2 (#10355)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @knatsakis

Fix handling of Python dependency for RPM package. (#10345)
  netdata.spec.in
Owners: @Ferroin, @knatsakis

Fixed handling of self-updating in updater script. (#10352)
  packaging/installer/netdata-updater.sh
Owners: @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Explicitly set platform for Docker builds. (#10357)
  .github/workflows/docker.yml
  .travis.yml
  packaging/docker/build.sh
Owners: @Ferroin, @knatsakis, @kaskavel

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Switch to using official Docker actions for GHA CI. (#10335)
  .github/workflows/docker.yml
Owners: @Ferroin, @knatsakis, @kaskavel

Fixed use of multiarch/qemu-user-static image for Docker builds. (#10364)
  packaging/docker/build.sh
Owners: @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Added number of allocated/stored objects within each Varnish storage (#10329)
  collectors/python.d.plugin/varnish/README.md
  collectors/python.d.plugin/varnish/varnish.chart.py
Owners: @joelhans, @ilyam8

add two more insignificant warnings to suppress in anomalies collector (#10369)
  collectors/python.d.plugin/anomalies/anomalies.chart.py
Owners: @ilyam8

python.d/alarms: add alarms obsoletion and disable by default (#10375)
  collectors/python.d.plugin/alarms/alarms.chart.py
Owners: @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

python.d/alarms: fix sending chart definition on every data collection (#10378)
  collectors/python.d.plugin/alarms/alarms.chart.py
Owners: @ilyam8

Fix hostname configuration in the exporting engine (#10361)
  exporting/clean_connectors.c
  exporting/exporting_engine.h
  exporting/graphite/graphite.c
  exporting/json/json.c
  exporting/opentsdb/opentsdb.c
  exporting/prometheus/remote_write/remote_write.c
  exporting/read_config.c
  exporting/tests/exporting_doubles.c
  exporting/tests/exporting_fixtures.c
  exporting/tests/test_exporting_engine.c
Owners: @vlvkobal, @thiagoftsm, @Ferroin, @knatsakis, @kaskavel

Update macos.md (#10379)
  packaging/installer/methods/macos.md
Owners: @joelhans

Kubernetes labels (#10107)
  CMakeLists.txt
  Makefile.am
  collectors/cgroups.plugin/cgroup-name.sh.in
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/cgroups.plugin/sys_fs_cgroup.h
  collectors/cgroups.plugin/tests/test_cgroups_plugin.c
  collectors/cgroups.plugin/tests/test_cgroups_plugin.h
  collectors/cgroups.plugin/tests/test_doubles.c
  collectors/plugins.d/pluginsd_parser.c
  collectors/proc.plugin/plugin_proc.h
  collectors/proc.plugin/proc_net_dev.c
  daemon/commands.c
  database/rrd.h
  database/rrdcalc.c
  database/rrdcalctemplate.c
  database/rrdhost.c
  database/rrdlabels.c
  database/rrdset.c
  exporting/graphite/graphite.c
  exporting/json/json.c
  exporting/opentsdb/opentsdb.c
  exporting/prometheus/prometheus.c
  exporting/prometheus/remote_write/remote_write.c
  exporting/tests/exporting_fixtures.c
  health/health_log.c
  libnetdata/avl/avl.c
  libnetdata/avl/avl.h
  libnetdata/config/appconfig.c
  libnetdata/config/appconfig.h
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/sender.c
  web/api/formatters/json_wrapper.c
  web/api/formatters/json_wrapper.h
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/formatters/rrdset2json.c
  web/api/web_api_v1.c
Owners: @ktsaou, @Ferroin, @vlvkobal, @mfundul, @knatsakis, @kaskavel, @thiagoftsm, @thiagofsm

update alarms collector readme image to use one from the related netdata PR (#10348)
  collectors/python.d.plugin/alarms/README.md
Owners: @joelhans

dashboard v2.11 (#10383)
  packaging/dashboard.checksums
  packaging/dashboard.version
Owners: @Ferroin, @knatsakis

Fix issue with chart metadata sent multiple times over ACLK (#10381)
  database/rrd.h
  database/rrddim.c
  database/rrdset.c
Owners: @mfundul, @thiagoftsm

Fix a lock check (#10385)
  exporting/opentsdb/opentsdb.c
Owners: @vlvkobal, @thiagoftsm

New ebpf charts (#10360)
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Owners: @thiagoftsm, @vlvkobal, @Ferroin, @knatsakis, @jacekkolasa

Update README.md (#10303)
  README.md
Owners: @joelhans

fix typo in performance.md (#10386)
  docs/guides/configure/performance.md
Owners: @joelhans

add paragraph in anomalies collector README to ask for feedback (#10363)
  collectors/python.d.plugin/anomalies/README.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Fix a buffer overflow when extracting information from a STREAM connection (#10391)
  web/server/web_client.c
Owners: @thiagoftsm, @mfundul, @vlvkobal

Fixed handling of dependencies on Gentoo. (#10382)
  packaging/installer/install-required-packages.sh
Owners: @Ferroin, @knatsakis

Add documentation for time & date picker in Agent and Cloud (#10347)
  README.md
  docs/visualize/interact-dashboards-charts.md
  web/README.md
  web/gui/README.md
Owners: @joelhans

Initialize ebpf.plugin variables (#10395)
  collectors/ebpf.plugin/ebpf.c
Owners: @thiagoftsm, @vlvkobal

Fixed option parsing in kickstart.sh. (#10396)
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
Owners: @Ferroin, @knatsakis, @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] release v1.27.0
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis
