Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cosmix, @Ferroin, @prologic, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @shortpatti, @thiagofsm, @netdatabot

Fix error > emerge openssl-devel (#9141)
  .github/workflows/build-and-install.yml
  packaging/installer/install-required-packages.sh
Owners: @cosmix, @Ferroin, @prologic

cov_358988: Remove coverity bug (#9180)
  exporting/send_data.c
Owners: @ktsaou, @cosmix

Fix missing ebpf packaging files from dist archive (#9182)
  Makefile.am
  netdata-installer.sh
  packaging/check-kernel-config.sh
Owners: @cosmix, @Ferroin, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Add missing source code files and folder (#9186)
  CMakeLists.txt
Owners: @ktsaou, @cosmix

Added health check functionality to our Docker images. (#9172)
  daemon/commands.c
  daemon/commands.h
  packaging/docker/Dockerfile
  packaging/docker/README.md
  packaging/docker/health.sh
Owners: @thiagoftsm, @mfundul, @cosmix, @Ferroin, @prologic, @joelhans, @shortpatti

Clean type_name in exporting connector instance configuration (#9188)
  exporting/clean_connectors.c
Owners: @ktsaou, @cosmix

Ceph: Added OSD size collection (#8649)
  collectors/python.d.plugin/ceph/ceph.chart.py
  web/gui/dashboard_info.js
Owners: @ilyam8, @jacekkolasa, @cosmix

Fix exporting unit tests (#9183)
  exporting/tests/test_exporting_engine.c
Owners: @ktsaou, @cosmix

eBPF modular (#9148)
  CMakeLists.txt
  Makefile.am
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_process.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
Owners: @ktsaou, @cosmix, @joelhans, @shortpatti, @vlvkobal, @mfundul, @thiagofsm

fix small typo (#9205)
  collectors/ebpf.plugin/README.md
Owners: @cosmix, @joelhans, @shortpatti

Update eBPF to use kernel-collector version 0.4.0. (#9212)
  packaging/ebpf.checksums
  packaging/ebpf.version
Owners: @cosmix, @Ferroin, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Add support for eBPF for Netdata static64 (kickstart-static64.sh) (#9104)
  .github/scripts/build-artifacts.sh
  .github/scripts/bump-packaging-version.sh
  netdata-installer.sh
  packaging/installer/functions.sh
  packaging/makeself/build.sh
  packaging/makeself/functions.sh
  packaging/makeself/install-alpine-packages.sh
  packaging/makeself/jobs/10-prepare-destination.install.sh
  packaging/makeself/jobs/50-bash-4.4.18.install.sh
  packaging/makeself/jobs/50-curl-7.60.0.install.sh
  packaging/makeself/jobs/50-fping-4.2.install.sh
  packaging/makeself/jobs/50-ioping-1.1.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
  packaging/makeself/jobs/99-makeself.install.sh
  packaging/makeself/run-all-jobs.sh
Owners: @cosmix, @Ferroin, @prologic

Add CI check for building against LibreSSL (#8842) (#9216)
  .github/workflows/checks.yml
Owners: @cosmix, @Ferroin, @prologic

Improve dbengine docs for streaming setups (#9177)
  database/engine/README.md
Owners: @cosmix, @joelhans, @shortpatti

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

fix compilation for older systems (#9198)
  aclk/aclk_lws_https_client.c
  aclk/aclk_lws_wss_client.c
  configure.ac
Owners: @ktsaou, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

Really prevent overwriting netdata.conf on static installs. (#9174)
  packaging/makeself/jobs/70-netdata-git.install.sh
Owners: @cosmix, @Ferroin, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fix reliability of kickstart/kickstart-static64 with checksums sometimes failing (#9165)
  .github/scripts/build-artifacts.sh
  netdata-installer.sh
  packaging/installer/functions.sh
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
  packaging/installer/netdata-updater.sh
Owners: @cosmix, @Ferroin, @prologic, @joelhans, @shortpatti

Add new exporting "home base" document (#9246)
  backends/README.md
  docs/export/README.md
  exporting/README.md
  exporting/mongodb/README.md
Owners: @cosmix, @joelhans, @shortpatti

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Add a random offset to the update script when running non-interactively. (#9245)
  packaging/installer/netdata-updater.sh
  tests/lifecycle.bats
  tests/updater_checks.bats
Owners: @cosmix, @Ferroin, @prologic, @ktsaou

Fixes documentation ambiguity leading into issue #8239 (#9255)
  health/REFERENCE.md
Owners: @cosmix, @joelhans, @shortpatti

Add dash (#9262)
  libnetdata/circular_buffer/README.md
Owners: @cosmix, @joelhans, @shortpatti

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Add notes/known issues section to installation page (#9053)
  claim/README.md
  packaging/installer/README.md
Owners: @cosmix, @joelhans, @shortpatti

Cleanup of main README and registry doc (#9265)
  README.md
  docs/what-is-netdata.md
  registry/README.md
Owners: @cosmix, @joelhans, @shortpatti

Move/refactor docs to accomodate new Guides section on Learn (#9266)
  collectors/QUICKSTART.md
  collectors/README.md
  docs/Performance.md
  docs/configuration-guide.md
  docs/contributing/style-guide.md
  docs/export/README.md
  docs/getting-started.md
  docs/guides/collect-apache-nginx-web-logs.md
  docs/guides/collect-unbound-metrics.md
  docs/guides/longer-metrics-storage.md
  docs/guides/monitor-cockroachdb.md
  docs/guides/monitor-hadoop-cluster.md
  docs/guides/monitor/dimension-templates.md
  docs/guides/monitor/stop-notifications-alarms.md
  docs/guides/step-by-step/step-00.md
  docs/guides/step-by-step/step-01.md
  docs/guides/step-by-step/step-02.md
  docs/guides/step-by-step/step-03.md
  docs/guides/step-by-step/step-04.md
  docs/guides/step-by-step/step-05.md
  docs/guides/step-by-step/step-06.md
  docs/guides/step-by-step/step-07.md
  docs/guides/step-by-step/step-08.md
  docs/guides/step-by-step/step-09.md
  docs/guides/step-by-step/step-10.md
  docs/guides/step-by-step/step-99.md
  docs/guides/using-host-labels.md
  exporting/README.md
  health/QUICKSTART.md
  health/README.md
  health/REFERENCE.md
  packaging/installer/README.md
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/macos.md
  packaging/installer/methods/manual.md
  packaging/installer/methods/offline.md
  packaging/installer/methods/packages.md
Owners: @cosmix, @joelhans, @shortpatti

Fix Coverity defects 359164, 359165 and 358989. (#9268)
  daemon/commands.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
Owners: @thiagoftsm, @mfundul, @cosmix, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Update apps.plugin documentation and dashboard.info (#9199)
  collectors/apps.plugin/README.md
  collectors/ebpf.plugin/README.md
  web/gui/dashboard_info.js
Owners: @cosmix, @joelhans, @shortpatti, @jacekkolasa

Fixed handling of OpenSSL on CentOS/RHEL by bundling a static copy and selecting a configuration directory at install time. (#9263)
  packaging/makeself/install-or-update.sh
  packaging/makeself/jobs/20-openssl.install.sh
  packaging/makeself/jobs/50-bash-4.4.18.install.sh
  packaging/makeself/jobs/50-curl-7.60.0.install.sh
  packaging/makeself/jobs/50-fping-4.2.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
  packaging/makeself/jobs/99-makeself.install.sh
  packaging/makeself/openssl.version
Owners: @cosmix, @Ferroin, @prologic

single quote apostrophe (#8723)
  SECURITY.md
Owners: @cosmix, @joelhans, @shortpatti

Add link to kernel docs for ftrace (#9211)
  collectors/ebpf.plugin/README.md
Owners: @cosmix, @joelhans, @shortpatti

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cosmix

# Ownership by directory structure
.travis/ @cosmix @Ferroin @prologic
.github/ @cosmix @Ferroin @prologic
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @cosmix
contrib/debian @cosmix @Ferroin @prologic
collectors/ @vlvkobal @mfundul @cosmix
collectors/charts.d.plugin/ @ilyam8 @Ferroin @prologic @cosmix
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @cosmix
collectors/macos.plugin/ @vlvkobal @thiagoftsm @cosmix
collectors/node.d.plugin/ @jacekkolasa @cosmix
collectors/node.d.plugin/fronius/ @ccremer @cosmix
collectors/node.d.plugin/snmp/ @jacekkolasa @cosmix
collectors/node.d.plugin/stiebeleltron/ @ccremer @cosmix
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @cosmix
daemon/ @thiagoftsm @mfundul @cosmix
database/ @mfundul @thiagoftsm @cosmix
docs/ @cosmix @joelhans @shortpatti
health/ @thiagoftsm @vlvkobal @cosmix
health/health.d/ @thiagoftsm @vlvkobal @cosmix
health/notifications/ @Ferroin @thiagoftsm @cosmix
libnetdata/ @thiagofsm @mfundul @cosmix
packaging/ @cosmix @Ferroin @prologic
registry/ @jacekkolasa @cosmix
streaming/ @thiagoftsm @vlvkobal @cosmix
web/ @thiagoftsm @mfundul @vlvkobal @cosmix
web/gui/ @jacekkolasa @cosmix

# Ownership by filetype (overwrites ownership by directory)
*.am @cosmix
*.md @cosmix @joelhans @shortpatti
Dockerfile* @Ferroin @prologic @cosmix

# Ownership of specific files
.gitignore @cosmix @Ferroin @prologic
.travis.yml @cosmix @Ferroin @prologic
.lgtm.yml @cosmix @Ferroin @prologic
.eslintrc @cosmix @Ferroin @prologic
.eslintignore @cosmix @Ferroin @prologic
.csslintrc @cosmix @Ferroin @prologic
.codeclimate.yml @cosmix @Ferroin @prologic
.codacy.yml @cosmix @Ferroin @prologic
.yamllint.yml @cosmix @Ferroin @prologic
netdata.spec.in @cosmix @Ferroin @prologic
netdata-installer.sh @cosmix @Ferroin @prologic
package.json @jacekkolasa
packaging/version @netdatabot

LICENSE.md @cosmix @joelhans
CHANGELOG.md @netdatabot
