Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cosmix, @Ferroin, @prologic, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @shortpatti, @thiagofsm, @netdatabot

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

Added support for macOS/Homebrew in `install-required-packages.sh`. (#8286)
  packaging/installer/install-required-packages.sh
Owners: @cosmix, @Ferroin, @prologic

Support for matrix notifications (#9196)
  health/notifications/Makefile.am
  health/notifications/alarm-notify.sh.in
  health/notifications/health_alarm_notify.conf
  health/notifications/matrix/Makefile.inc
  health/notifications/matrix/README.md
Owners: @cosmix, @Ferroin, @thiagoftsm, @joelhans, @shortpatti

dashboard_info.js: ebpf: fix close code block (#9293)
  web/gui/dashboard_info.js
Owners: @jacekkolasa, @cosmix

installer: update go.d.plugin version to v0.19.0 (#9294)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @cosmix, @Ferroin, @prologic

Add revisions to Matrix doc (#9295)
  health/notifications/matrix/README.md
Owners: @cosmix, @joelhans, @shortpatti

Fix crash in #9291 (#9297)
  streaming/receiver.c
Owners: @thiagoftsm, @vlvkobal, @cosmix

minor copy edits (#9298)
  SECURITY.md
Owners: @cosmix, @joelhans, @shortpatti

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

update_apps_groups: Bring imunify and lsphp to apps groups (#9284)
  collectors/apps.plugin/apps_groups.conf
Owners: @vlvkobal, @mfundul, @cosmix

Add verbose prints when spawn server fails to spawn. (#9305)
  spawn/spawn.c
Owners: @ktsaou, @cosmix

Add guide to exporting metrics to Graphite (#9285)
  docs/export/README.md
  docs/guides/export/export-netdata-metrics-graphite.md
  exporting/README.md
Owners: @cosmix, @joelhans, @shortpatti

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

installer: update go.d.plugin version to v0.19.1 (#9309)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @cosmix, @Ferroin, @prologic

Fix remote write HTTP header (#9302)
  exporting/prometheus/remote_write/remote_write.c
Owners: @ktsaou, @cosmix

Correct the repo in the docs for CentOS 8. (#9308)
  packaging/installer/methods/manual.md
Owners: @cosmix, @joelhans, @shortpatti

Ensures we get consistent kubernetes cgroup container names, regardless of whether netdata runs from within a kubernetes pod, or directly on the host machine. (#9303)
  collectors/cgroups.plugin/cgroup-name.sh.in
Owners: @vlvkobal, @mfundul, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

apps_groups.conf: add agent-service-discovery (#9315)
  collectors/apps.plugin/apps_groups.conf
Owners: @vlvkobal, @mfundul, @cosmix

Added dummy `--enable-ebpf` flag to avoid breaking updates. (#9310)
  netdata-installer.sh
Owners: @cosmix, @Ferroin, @prologic

Adds metrics for ACLK performance and status (#9269)
  CMakeLists.txt
  Makefile.am
  aclk/aclk_lws_wss_client.c
  aclk/aclk_stats.c
  aclk/aclk_stats.h
  aclk/agent_cloud_link.c
  aclk/mqtt.c
  web/gui/dashboard_info.js
Owners: @ktsaou, @cosmix, @jacekkolasa

Adds missing files for streaming changes into cmake build (#9316)
  CMakeLists.txt
Owners: @ktsaou, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Override linker and include paths for static builds. (#9311)
  netdata-installer.sh
  packaging/makeself/install-alpine-packages.sh
  packaging/makeself/jobs/50-bash-4.4.18.install.sh
  packaging/makeself/jobs/50-curl-7.60.0.install.sh
  packaging/makeself/jobs/50-fping-4.2.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
Owners: @cosmix, @Ferroin, @prologic

Fix check for remote write header in unit tests (#9318)
  exporting/tests/test_exporting_engine.c
Owners: @ktsaou, @cosmix

Integration between eBPF and Apps (#9178)
  CMakeLists.txt
  Makefile.am
  collectors/apps.plugin/apps_groups.conf
  collectors/apps.plugin/apps_plugin.c
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_process.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Owners: @ktsaou, @cosmix, @vlvkobal, @mfundul, @thiagofsm, @Ferroin, @prologic, @jacekkolasa

Fixed invalid pointer access `rrddim_free_custom` (#9326)
  database/rrddim.c
  database/rrdhost.c
Owners: @mfundul, @thiagoftsm, @cosmix

Remove Gentoo from CI (#9327)
  .github/workflows/build-and-install.yml
Owners: @cosmix, @Ferroin, @prologic

Change streaming terminology to parent-child in the code (#9323)
  build_external/scenarios/aclk-testing/agent-compose.yml
  build_external/scenarios/aclk-testing/agent-valgrind-compose.yml
  build_external/scenarios/gaps_hi/child-compose.yml
  build_external/scenarios/gaps_hi/child_guid
  build_external/scenarios/gaps_hi/child_stream.conf
  build_external/scenarios/gaps_hi/master-compose.yml
  build_external/scenarios/gaps_hi/middle-compose.yml
  build_external/scenarios/gaps_hi/middle_stream.conf
  build_external/scenarios/gaps_hi/parent-compose.yml
  build_external/scenarios/gaps_hi/parent_guid
  build_external/scenarios/gaps_hi/parent_stream.conf
  build_external/scenarios/gaps_lo/child-compose.yml
  build_external/scenarios/gaps_lo/child_guid
  build_external/scenarios/gaps_lo/child_stream.conf
  build_external/scenarios/gaps_lo/master-compose.yml
  build_external/scenarios/gaps_lo/middle-compose.yml
  build_external/scenarios/gaps_lo/middle_stream.conf
  build_external/scenarios/gaps_lo/parent-compose.yml
  build_external/scenarios/gaps_lo/parent_guid
  build_external/scenarios/gaps_lo/parent_stream.conf
  build_external/scenarios/master-slaves/master_stream.conf
  build_external/scenarios/master-slaves/slave_stream.conf
  build_external/scenarios/parent-child/child_stream.conf
  build_external/scenarios/parent-child/docker-compose.yml
  build_external/scenarios/parent-child/parent_stream.conf
  collectors/plugins.d/pluginsd_parser.c
  daemon/main.c
  database/rrd.h
  database/rrdhost.c
  health/notifications/alarm-notify.sh.in
  health/notifications/health_alarm_notify.conf
  libnetdata/socket/security.c
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
  streaming/stream.conf
  web/server/web_client.c
Owners: @ktsaou, @cosmix, @vlvkobal, @mfundul, @thiagoftsm, @Ferroin, @thiagofsm

Change streaming terminology to parent/child in docs (#9312)
  backends/README.md
  backends/prometheus/README.md
  build_external/README.md
  collectors/proc.plugin/README.md
  daemon/config/README.md
  database/engine/README.md
  docs/guides/longer-metrics-storage.md
  docs/guides/monitor-hadoop-cluster.md
  docs/guides/step-by-step/step-09.md
  docs/guides/using-host-labels.md
  docs/netdata-security.md
  exporting/README.md
  exporting/prometheus/README.md
  packaging/DISTRIBUTIONS.md
  packaging/installer/methods/cloud-providers.md
  packaging/installer/methods/macos.md
  streaming/README.md
  web/server/README.md
Owners: @cosmix, @joelhans, @shortpatti

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fixed compiler warnings (#9337)
  database/engine/metadata_log/metadatalog.c
  database/rrddim.c
  database/rrdset.c
Owners: @mfundul, @thiagoftsm, @cosmix

Fix coverity errors CID 359774 and CID 359773 (#9338)
  database/rrdhost.c
  database/rrdset.c
Owners: @mfundul, @thiagoftsm, @cosmix

installer: update go.d.plugin version to v0.19.2 (#9340)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @cosmix, @Ferroin, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fix issues on ebpf.plugin (#9333)
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  web/gui/dashboard.js
  web/gui/src/dashboard.js/units-conversion.js
Owners: @cosmix, @joelhans, @shortpatti, @vlvkobal, @mfundul, @jacekkolasa

Improve PR Guidelines for Developers and Contributors. (#8809)
  CONTRIBUTING.md
Owners: @cosmix, @joelhans, @shortpatti

Get netdata execution path early to avoid user permission issues (#9339)
  daemon/daemon.c
  daemon/daemon.h
  daemon/main.c
  spawn/spawn.c
Owners: @thiagoftsm, @mfundul, @cosmix, @ktsaou

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cosmix

# Ownership by directory structure
.travis/ @cosmix @Ferroin @prologic
.github/ @cosmix @Ferroin @prologic
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @cosmix
contrib/debian @cosmix @Ferroin @prologic
collectors/ @vlvkobal @mfundul @cosmix
collectors/charts.d.plugin/ @ilyam8 @Ferroin @prologic @cosmix
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @cosmix
collectors/macos.plugin/ @vlvkobal @thiagoftsm @cosmix
collectors/node.d.plugin/ @jacekkolasa @cosmix
collectors/node.d.plugin/fronius/ @ccremer @cosmix
collectors/node.d.plugin/snmp/ @jacekkolasa @cosmix
collectors/node.d.plugin/stiebeleltron/ @ccremer @cosmix
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @cosmix
daemon/ @thiagoftsm @mfundul @cosmix
database/ @mfundul @thiagoftsm @cosmix
docs/ @cosmix @joelhans @shortpatti
health/ @thiagoftsm @vlvkobal @cosmix
health/health.d/ @thiagoftsm @vlvkobal @cosmix
health/notifications/ @Ferroin @thiagoftsm @cosmix
libnetdata/ @thiagofsm @mfundul @cosmix
packaging/ @cosmix @Ferroin @prologic
registry/ @jacekkolasa @cosmix
streaming/ @thiagoftsm @vlvkobal @cosmix
web/ @thiagoftsm @mfundul @vlvkobal @cosmix
web/gui/ @jacekkolasa @cosmix

# Ownership by filetype (overwrites ownership by directory)
*.am @cosmix
*.md @cosmix @joelhans @shortpatti
Dockerfile* @Ferroin @prologic @cosmix

# Ownership of specific files
.gitignore @cosmix @Ferroin @prologic
.travis.yml @cosmix @Ferroin @prologic
.lgtm.yml @cosmix @Ferroin @prologic
.eslintrc @cosmix @Ferroin @prologic
.eslintignore @cosmix @Ferroin @prologic
.csslintrc @cosmix @Ferroin @prologic
.codeclimate.yml @cosmix @Ferroin @prologic
.codacy.yml @cosmix @Ferroin @prologic
.yamllint.yml @cosmix @Ferroin @prologic
netdata.spec.in @cosmix @Ferroin @prologic
netdata-installer.sh @cosmix @Ferroin @prologic
package.json @jacekkolasa
packaging/version @netdatabot

LICENSE.md @cosmix @joelhans
CHANGELOG.md @netdatabot
