Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cosmix, @Ferroin, @prologic, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @shortpatti, @thiagofsm, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cosmix

# Ownership by directory structure
.travis/ @cosmix @Ferroin @prologic
.github/ @cosmix @Ferroin @prologic
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @cosmix
contrib/debian @cosmix @Ferroin @prologic
collectors/ @vlvkobal @mfundul @cosmix
collectors/charts.d.plugin/ @ilyam8 @Ferroin @prologic @cosmix
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @cosmix
collectors/macos.plugin/ @vlvkobal @thiagoftsm @cosmix
collectors/node.d.plugin/ @jacekkolasa @cosmix
collectors/node.d.plugin/fronius/ @ccremer @cosmix
collectors/node.d.plugin/snmp/ @jacekkolasa @cosmix
collectors/node.d.plugin/stiebeleltron/ @ccremer @cosmix
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @cosmix
daemon/ @thiagoftsm @mfundul @cosmix
database/ @mfundul @thiagoftsm @cosmix
docs/ @cosmix @joelhans @shortpatti
health/ @thiagoftsm @vlvkobal @cosmix
health/health.d/ @thiagoftsm @vlvkobal @cosmix
health/notifications/ @Ferroin @thiagoftsm @cosmix
libnetdata/ @thiagofsm @mfundul @cosmix
packaging/ @cosmix @Ferroin @prologic
registry/ @jacekkolasa @cosmix
streaming/ @thiagoftsm @vlvkobal @cosmix
web/ @thiagoftsm @mfundul @vlvkobal @cosmix
web/gui/ @jacekkolasa @cosmix

# Ownership by filetype (overwrites ownership by directory)
*.am @cosmix
*.md @cosmix @joelhans @shortpatti
Dockerfile* @Ferroin @prologic @cosmix

# Ownership of specific files
.gitignore @cosmix @Ferroin @prologic
.travis.yml @cosmix @Ferroin @prologic
.lgtm.yml @cosmix @Ferroin @prologic
.eslintrc @cosmix @Ferroin @prologic
.eslintignore @cosmix @Ferroin @prologic
.csslintrc @cosmix @Ferroin @prologic
.codeclimate.yml @cosmix @Ferroin @prologic
.codacy.yml @cosmix @Ferroin @prologic
.yamllint.yml @cosmix @Ferroin @prologic
netdata.spec.in @cosmix @Ferroin @prologic
netdata-installer.sh @cosmix @Ferroin @prologic
package.json @jacekkolasa
packaging/version @netdatabot

LICENSE.md @cosmix @joelhans
CHANGELOG.md @netdatabot

Revert "Override linker and include paths for static builds. (#9311)" (#9343)
  netdata-installer.sh
  packaging/makeself/install-alpine-packages.sh
  packaging/makeself/jobs/50-bash-4.4.18.install.sh
  packaging/makeself/jobs/50-curl-7.60.0.install.sh
  packaging/makeself/jobs/50-fping-4.2.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
Owners: @cosmix, @Ferroin, @prologic

Replace assert calls (#9349)
  collectors/freeipmi.plugin/freeipmi_plugin.c
  daemon/commands.c
  database/engine/datafile.c
  database/engine/global_uuid_map/global_uuid_map.c
  database/engine/journalfile.c
  database/engine/metadata_log/compaction.c
  database/engine/metadata_log/logfile.c
  database/engine/metadata_log/metadatalog.c
  database/engine/metadata_log/metadatalogapi.c
  database/engine/metadata_log/metalogpluginsd.c
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
  database/engine/rrdengineapi.c
  database/engine/rrdenginelib.c
  database/engine/rrdenginelib.h
  database/engine/rrdenglocking.c
  database/rrdset.c
  libnetdata/log/log.h
  spawn/spawn.c
  spawn/spawn_client.c
  spawn/spawn_server.c
Owners: @vlvkobal, @mfundul, @cosmix, @thiagoftsm, @thiagofsm, @ktsaou

dashboard v1.0.14_2 (#9350)
  packaging/dashboard.checksums
  packaging/dashboard.version
Owners: @cosmix, @Ferroin, @prologic

Add missing slash (#9257)
  aclk/README.md
Owners: @cosmix, @joelhans, @shortpatti

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fixed ACLK shutdown sequence (#9367)
  aclk/aclk_stats.c
  aclk/agent_cloud_link.c
Owners: @ktsaou, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Improved error handling and recovery during compaction and metadata log replay (#9354)
  database/engine/metadata_log/compaction.c
  database/engine/metadata_log/logfile.c
  database/engine/metadata_log/metadatalog.c
  database/engine/metadata_log/metadatalog.h
  database/engine/metadata_log/metadatalogapi.c
  database/engine/metadata_log/metalogpluginsd.c
  database/engine/rrdengineapi.c
Owners: @mfundul, @thiagoftsm, @cosmix

Fixes the race-hazard in streaming during the shutdown sequence (#9370)
  database/rrdhost.c
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/rrdpush.h
Owners: @mfundul, @thiagoftsm, @cosmix, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Add libuv thread names support to FATAL log level (#9382)
  configure.ac
  libnetdata/log/log.c
  libnetdata/threads/threads.c
  libnetdata/threads/threads.h
Owners: @ktsaou, @cosmix, @thiagofsm, @mfundul

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fixed concurrency bug in health sending HOST VARIABLE to receiver (#9396)
  streaming/sender.c
Owners: @thiagoftsm, @vlvkobal, @cosmix

Update freebsd.md (#9116)
  packaging/installer/methods/freebsd.md
Owners: @cosmix, @joelhans, @shortpatti

Add guide for troubleshooting with eBPF metrics (#9352)
  collectors/apps.plugin/README.md
  collectors/ebpf.plugin/README.md
  docs/guides/troubleshoot/monitor-debug-applications-ebpf.md
Owners: @cosmix, @joelhans, @shortpatti

Fix a bug in the simple exporting connector (#9389)
  exporting/read_config.c
  exporting/send_data.c
Owners: @ktsaou, @cosmix

update synology.md (#9400)
  packaging/installer/methods/synology.md
Owners: @cosmix, @joelhans, @shortpatti

Added OpenSSL to list of dependencies for Netdata Cloud. (#9398)
  packaging/installer/methods/manual.md
Owners: @cosmix, @joelhans, @shortpatti

Fix Coverity Defect CID 304732 (#9402)
  database/rrdhost.c
  libnetdata/threads/threads.c
Owners: @mfundul, @thiagoftsm, @cosmix, @thiagofsm

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fix PR title guideline examples in CONTRIBUTING guidelines
  CONTRIBUTING.md
Owners: @cosmix, @joelhans, @shortpatti

[ci skip] release v1.23.0
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Stop reading from /proc/sys/kernel/osrelease at trailing newline. (#9374)
  libnetdata/ebpf/ebpf.c
Owners: @thiagofsm, @mfundul, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

Fix internal registry (#9434)
  daemon/main.c
  database/rrdhost.c
Owners: @thiagoftsm, @mfundul, @cosmix

Fix children version on stream (#9438)
  streaming/receiver.c
Owners: @thiagoftsm, @vlvkobal, @cosmix

Update description in registry with minor copy edits (#9441)
  registry/README.md
Owners: @cosmix, @joelhans, @shortpatti

Disallow dimensions or charts being obsoleted and archived simultaneously. (#9436)
  database/engine/metadata_log/metadatalogapi.c
  database/engine/metadata_log/metalogpluginsd.c
  database/rrddim.c
  database/rrdset.c
Owners: @mfundul, @thiagoftsm, @cosmix

fix_unit_test: Fix the unittest execution (#9445)
  daemon/main.c
Owners: @thiagoftsm, @mfundul, @cosmix

Corrected virtualization detection in system-info.sh. (#9425)
  daemon/system-info.sh
Owners: @thiagoftsm, @mfundul, @cosmix

Fixed duplicate alarm ids in health-log.db (#9428)
  database/rrdcalc.c
  database/rrdhost.c
  health/health_log.c
Owners: @mfundul, @thiagoftsm, @cosmix, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Show cgroups/containers ran by kubelet without access to kubernetes cluster information (#9321)
  collectors/cgroups.plugin/cgroup-name.sh.in
Owners: @vlvkobal, @mfundul, @cosmix

[ci skip] release v1.23.1
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

autodetects cgroupsv2 on systems with systemd (#9249)
  collectors/cgroups.plugin/sys_fs_cgroup.c
Owners: @vlvkobal, @mfundul, @cosmix

Add notice to eBPF documentation about incompatibility with static builds (#9418)
  collectors/ebpf.plugin/README.md
Owners: @cosmix, @joelhans, @shortpatti
