Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cakrit, @cosmix, @thiagoftsm, @vlvkobal, @mfundul, @VLegakis, @ccremer, @ilyam8, @simonnagl, @joelhans, @Ferroin, @thiagofsm, @netdatabot

Add command-line option descriptions for apps.plugin (#6738)
  collectors/apps.plugin/README.md
  collectors/apps.plugin/apps_plugin.c
Owners: @cakrit, @cosmix, @joelhans, @vlvkobal, @mfundul

netdata/packaging: Add python3-lxc dependency too, different package for different version (#6753)
  .travis.yml
Owners: @cakrit, @cosmix

Increase minimum release for changelog (#6758)
  .travis/generate_changelog_for_release.sh
Owners: @cakrit, @cosmix

Skip issues from release changelog (#6759)
  .travis/generate_changelog_for_release.sh
Owners: @cakrit, @cosmix

[ci skip] release v1.17.0
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Remove changelog generation from release, as it keeps breaking (#6761)
  .travis/generate_changelog_and_tag_release.sh
Owners: @cakrit, @cosmix

[ci skip] release v1.18.0
  packaging/version
Owners: @netdatabot

Update version
  packaging/version
Owners: @netdatabot

[ci skip] release v1.17.0
  packaging/version
Owners: @netdatabot

Add release 1.17.0 to News
  README.md
Owners: @cakrit, @cosmix, @joelhans

Add separator to news
  README.md
Owners: @cakrit, @cosmix, @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

HTTP response message (#6595)
  web/api/badges/web_buffer_svg.c
  web/api/exporters/allmetrics.c
  web/api/exporters/allmetrics.h
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/health/health_cmdapi.c
  web/api/web_api_v1.c
  web/server/web_client.h
Owners: @thiagoftsm, @mfundul, @vlvkobal, @cakrit, @cosmix

Stop configure.ac from linking against dbengine and https libraries when dbengine or https are disabled (#6658)
  configure.ac
Owners: @ktsaou, @cakrit, @cosmix

netdata/packaging: Trigger stable package generation upon release process (#6766)
  .travis.yml
Owners: @cakrit, @cosmix

Fix clear notification missing (#6638)
  .gitignore
  database/rrdcalc.h
  health/README.md
  health/health.c
  health/health.h
  health/health_json.c
  tests/Makefile.am
  tests/alarm_repetition/alarm.sh.in
  tests/alarm_repetition/netdata.conf_with_repetition
  tests/alarm_repetition/netdata.conf_without_repetition
  tests/alarm_repetition/ram_with_repetition.conf
  tests/alarm_repetition/ram_without_repetition.conf
Owners: @cakrit, @cosmix, @mfundul, @thiagoftsm, @joelhans, @vlvkobal, @ktsaou

(Documentation) fix pfsense instructions and links (#6768)
  packaging/installer/README.md
Owners: @cakrit, @cosmix, @joelhans

update cache hashes for js and css imports (#6756)
  web/gui/console.html
  web/gui/dashboard.html
  web/gui/dashboard.js
  web/gui/demo.html
  web/gui/demo2.html
  web/gui/demosites.html
  web/gui/demosites2.html
  web/gui/goto-host-from-alarm.html
  web/gui/index.html
  web/gui/src/dashboard.js/themes.js
  web/gui/tv.html
Owners: @VLegakis, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

dash.html (#6603)
  web/gui/Makefile.am
  web/gui/custom/README.md
  web/gui/dash-example.html
Owners: @cakrit, @cosmix, @joelhans, @VLegakis

[libnetdata/thread] Set thread name from tag (#6745)
  libnetdata/threads/threads.c
Owners: @thiagofsm, @mfundul, @cakrit, @cosmix

Add high level explanation of dashboard contents (#6648)
  daemon/config/README.md
  docs/Charts.md
  docs/generator/buildyaml.sh
  health/README.md
  web/README.md
  web/gui/README.md
  web/gui/custom/README.md
Owners: @cakrit, @cosmix, @joelhans

netdata/packaging: override control file for debian/buster, different library available for protoc runtime (#6777)
  .travis/package_management/configure_deb_lxc_environment.py
  contrib/debian/control.buster
Owners: @cakrit, @cosmix, @ktsaou

netdata/packaging: fix changelog generation failing the build (#6778)
  .travis/package_management/trigger_deb_lxc_build.py
Owners: @cakrit, @cosmix

netdata/packaging: work around redhat complaining on build-id binary (#6792)
  lala
  netdata.spec.in
Owners: @ktsaou, @cakrit, @cosmix

Expand dashboard auto-scaling and convertible units (#5920)
  web/gui/dashboard.js
  web/gui/src/dashboard.js/units-conversion.js
Owners: @VLegakis, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

netdata/packaging: remove fedora/28, is no longer available as unsupported (#6808)
  .travis.yml
Owners: @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

netdata/ci: use the right packaging user for the commits to trigger packaging (#6813)
  .travis/trigger_package_generation.sh
Owners: @cakrit, @cosmix

pythond respect prev running jobs and refactor (#6661)
  collectors/python.d.plugin/python.d.plugin.in
Owners: @ilyam8

netdata/ci: Force last good version of git-semver, they broke it (#6820)
  .travis.yml
Owners: @cakrit, @cosmix

netdata/packaging: fix ubuntu/xenial runtime dependencies (#6825)
  .travis/package_management/configure_deb_lxc_environment.py
  contrib/debian/control.xenial
Owners: @cakrit, @cosmix, @ktsaou

netdata/ci: second batch of fixes for coverity scan script and others (#6804)
  .travis.yml
  Makefile.am
  collectors/xenstat.plugin/README.md
  coverity-install.sh
  coverity-scan.sh
  packaging/DISTRIBUTIONS.md
Owners: @cakrit, @cosmix, @joelhans, @ktsaou

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Stress test insertions into dbengine and bugfixes (#6814)
  daemon/unit_test.c
  database/engine/pagecache.c
  database/engine/rrdengine.c
Owners: @thiagoftsm, @mfundul, @cakrit, @cosmix

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cakrit @cosmix

# Ownership by directory structure
.travis/ @cakrit @cosmix
.github/ @cakrit @cosmix
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @cakrit @cosmix
collectors/ @vlvkobal @mfundul @cakrit @cosmix
collectors/charts.d.plugin/ @cakrit @cosmix
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @cakrit @cosmix
collectors/macos.plugin/ @vlvkobal @thiagoftsm @cakrit @cosmix
collectors/node.d.plugin/ @VLegakis @cakrit @cosmix
collectors/node.d.plugin/fronius/ @ccremer @cakrit @cosmix
collectors/node.d.plugin/snmp/ @VLegakis @cakrit @cosmix
collectors/node.d.plugin/stiebeleltron/ @ccremer @cakrit @cosmix
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @cakrit @cosmix
daemon/ @thiagoftsm @mfundul @cakrit @cosmix
database/ @mfundul @thiagoftsm @cakrit @cosmix
docs/ @cakrit @cosmix @joelhans
health/ @thiagoftsm @vlvkobal @cakrit @cosmix
health/health.d/ @thiagoftsm @vlvkobal @cakrit @cosmix
health/notifications/ @Ferroin @thiagoftsm @cakrit @cosmix
libnetdata/ @thiagofsm @mfundul @cakrit @cosmix
packaging/ @cakrit @cosmix
packaging/installer/ @cakrit @cosmix
packaging/makeself/ @cakrit @cosmix
registry/ @VLegakis @cakrit @cosmix
streaming/ @thiagoftsm @vlvkobal @cakrit @cosmix
web/ @thiagoftsm @mfundul @vlvkobal @cakrit @cosmix
web/gui/ @VLegakis @cakrit @cosmix

# Ownership by filetype (overwrites ownership by directory)
*.md @cakrit @cosmix @joelhans
*.am @cakrit @cosmix

# Ownership of specific files
.gitignore @cakrit @cosmix
.travis.yml @cakrit @cosmix
.lgtm.yml @cakrit @cosmix
.eslintrc @cakrit @cosmix
.eslintignore @cakrit @cosmix
.csslintrc @cakrit @cosmix
.codeclimate.yml @cakrit @cosmix
.codacy.yml @cakrit @cosmix
netdata.spec.in @cakrit @cosmix
netdata-installer.sh @cakrit @cosmix
netlify.toml @cakrit @cosmix
package.json @VLegakis
packaging/version @netdatabot

LICENSE.md @cakrit @cosmix @joelhans
CHANGELOG.md @netdatabot
