Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @amoss, @prologic, @Ferroin, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @shortpatti, @thiagofsm, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @amoss @prologic

# Ownership by directory structure
.travis/ @amoss @Ferroin @prologic
.github/ @amoss @Ferroin @prologic
aclk/ @stelfrag @underhood @amoss
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @amoss @prologic
contrib/debian @amoss @Ferroin @prologic
collectors/ @vlvkobal @mfundul @amoss
collectors/charts.d.plugin/ @ilyam8 @Ferroin @prologic @amoss
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @amoss
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal @amoss
collectors/macos.plugin/ @vlvkobal @thiagoftsm @amoss
collectors/node.d.plugin/ @jacekkolasa @amoss
collectors/node.d.plugin/fronius/ @ccremer @amoss
collectors/node.d.plugin/snmp/ @jacekkolasa @amoss
collectors/node.d.plugin/stiebeleltron/ @ccremer @amoss
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @amoss
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @mfundul @amoss
database/ @mfundul @thiagoftsm @amoss
docs/ @amoss @joelhans @shortpatti
health/ @thiagoftsm @vlvkobal @amoss
health/health.d/ @thiagoftsm @vlvkobal @amoss
health/notifications/ @Ferroin @thiagoftsm @amoss
libnetdata/ @thiagofsm @mfundul @amoss
packaging/ @amoss @Ferroin @prologic
registry/ @jacekkolasa @amoss
streaming/ @thiagoftsm @vlvkobal @amoss
system/ @prologic @Ferroin @amoss
web/ @thiagoftsm @mfundul @vlvkobal @amoss
web/gui/ @jacekkolasa @amoss

# Ownership by filetype (overwrites ownership by directory)
*.am @amoss @prologic
*.md @amoss @joelhans @shortpatti
Dockerfile* @Ferroin @prologic @amoss

# Ownership of specific files
.gitignore @amoss @Ferroin @prologic
.travis.yml @amoss @Ferroin @prologic
.lgtm.yml @amoss @Ferroin @prologic
.eslintrc @amoss @Ferroin @prologic
.eslintignore @amoss @Ferroin @prologic
.csslintrc @amoss @Ferroin @prologic
.codeclimate.yml @amoss @Ferroin @prologic
.codacy.yml @amoss @Ferroin @prologic
.yamllint.yml @amoss @Ferroin @prologic
netdata.spec.in @amoss @Ferroin @prologic
netdata-installer.sh @amoss @Ferroin @prologic
package.json @jacekkolasa @prologic
packaging/version @netdatabot @prologic

LICENSE.md @amoss @joelhans @prologic
CHANGELOG.md @netdatabot @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @prologic

Fix build for the AWS Kinesis exporting connector (#9823)
  .github/dockerfiles/Dockerfile.build_test
  .github/workflows/build-and-install.yml
  CMakeLists.txt
  configure.ac
  exporting/aws_kinesis/README.md
Owners: @Ferroin, @prologic, @amoss, @ktsaou, @joelhans, @shortpatti

Fix typo inside netdata-installer.sh (#9962)
  netdata-installer.sh
Owners: @amoss, @Ferroin, @prologic

Stackpulse integration (#9965)
  health/notifications/Makefile.am
  health/notifications/alarm-notify.sh.in
  health/notifications/health_alarm_notify.conf
  health/notifications/stackpulse/Makefile.inc
  health/notifications/stackpulse/README.md
Owners: @amoss, @prologic, @Ferroin, @thiagoftsm, @joelhans, @shortpatti

Remove dupplication (#9968)
  health/notifications/stackpulse/README.md
Owners: @amoss, @joelhans, @shortpatti

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic
