Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cakrit, @paulkatsoulakis, @thiagoftsm, @vlvkobal, @gmosx, @ccremer, @ilyam8, @simonnagl, @mfundul, @Ferroin, @thiagofsm, @netdatabot

[ci skip] release v1.16.0
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/packaging: [ci skip] Emergent fix - Make sure you pick up latest branch details for the whole docker process
  .travis.yml
  packaging/docker/publish.sh
Owners: @paulkatsoulakis, @cakrit

netdata/packaging: Add Packaging beta badge
  web/gui/images/packaging-beta-tag.svg
Owners: @gmosx, @cakrit

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

Reimplemented mypopen() function family (#6339)
  collectors/tc.plugin/plugin_tc.c
  libnetdata/libnetdata.h
  libnetdata/popen/popen.c
Owners: @vlvkobal, @cakrit, @thiagofsm

Add ZRAM collector module to the proc plugin
  CMakeLists.txt
  Makefile.am
  collectors/all.h
  collectors/proc.plugin/plugin_proc.c
  collectors/proc.plugin/plugin_proc.h
  collectors/proc.plugin/sys_block_zram.c
  web/gui/dashboard_info.js
Owners: @ktsaou, @cakrit, @paulkatsoulakis, @vlvkobal, @gmosx

Fix duplicate kills of collection threads on shutdown (#6387)
  collectors/plugins.d/plugins_d.c
Owners: @vlvkobal, @cakrit

Add news of v1.16.0 to main README (#6411)
  README.md
Owners: @cakrit

Revert "Add ZRAM collector module to the proc plugin"
  CMakeLists.txt
  Makefile.am
  collectors/all.h
  collectors/proc.plugin/plugin_proc.c
  collectors/proc.plugin/plugin_proc.h
  collectors/proc.plugin/sys_block_zram.c
  web/gui/dashboard_info.js
Owners: @ktsaou, @cakrit, @paulkatsoulakis, @vlvkobal, @gmosx

Snapshot uniqueId fix (#6400)
  web/gui/dashboard.js
  web/gui/src/dashboard.js/main.js
Owners: @gmosx, @cakrit

DOCFix (#6404)
  web/api/health/README.md
Owners: @cakrit

Update Running-behind-apache.md (#6406)
  docs/Running-behind-apache.md
Owners: @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Add apps grouping debug messages (#6375)
  collectors/apps.plugin/apps_plugin.c
Owners: @vlvkobal, @cakrit

Updated logos in the infographic and remaining favicons (#6417)
  README.md
  diagrams/netdata-overview.xml
  web/gui/console.html
  web/gui/demosites.html
  web/gui/infographic.html
Owners: @cakrit, @ktsaou, @gmosx

netdata/packaging/doc: Update documentation dependencies, these packages are not for basic install (#6421)
  packaging/installer/README.md
Owners: @cakrit

netdata/packaging: Fix RPM packaging workflow issues, plus draft changes for .DEB packaging (#6415)
  .travis.yml
  .travis/package_management/common.py
  .travis/package_management/configure_deb_lxc_environment.py
  .travis/package_management/configure_rpm_lxc_environment.py
Owners: @paulkatsoulakis, @cakrit

netdata/packaging: [ci skip] Nit - pass container parameter
  .travis/package_management/common.py
  .travis/package_management/configure_deb_lxc_environment.py
  .travis/package_management/configure_rpm_lxc_environment.py
Owners: @paulkatsoulakis, @cakrit

netdata/packaging: [ci skip] Wrong positioning of arguments
  .travis/package_management/common.py
Owners: @paulkatsoulakis, @cakrit

SSL vs. TLS consistency and clarification in documentation (#6414)
  README.md
  backends/opentsdb/README.md
  docs/Running-behind-nginx.md
  streaming/README.md
  web/server/README.md
Owners: @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/packaging: [ci skip] Dont use caps there, no need
  .travis.yml
Owners: @paulkatsoulakis

netdata/packaging: [ci skip] replace all necessary items with amd64
  .travis/README.md
  .travis/package_management/create_lxc_for_build.sh
  .travis/package_management/functions.sh
Owners: @cakrit, @paulkatsoulakis

Netdata/packaging: Add documentation for binary packages, plus draft table for distributions support (#6422)
  docs/generator/buildyaml.sh
  packaging/DISTRIBUTIONS.md
  packaging/installer/README.md
Owners: @cakrit

netdata/packaging: [ci skip] Attempt to fix broken link on documentation
  packaging/installer/README.md
Owners: @cakrit

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cakrit

# Ownership by directory structure
.travis/ @paulkatsoulakis @cakrit
.github/ @paulkatsoulakis @cakrit
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @paulkatsoulakis @thiagoftsm
build/ @paulkatsoulakis @cakrit
collectors/ @vlvkobal @cakrit
collectors/charts.d.plugin/ @paulkatsoulakis @cakrit
collectors/freebsd.plugin/ @vlvkobal @cakrit
collectors/macos.plugin/ @vlvkobal @cakrit
collectors/node.d.plugin/ @gmosx @cakrit
collectors/node.d.plugin/fronius/ @ccremer @cakrit
collectors/node.d.plugin/snmp/ @gmosx @cakrit
collectors/node.d.plugin/stiebeleltron/ @ccremer @cakrit
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @cakrit
daemon/ @thiagoftsm @mfundul @cakrit
database/ @cakrit @mfundul
docs/ @cakrit
health/ @thiagoftsm @cakrit
health/health.d/ @thiagoftsm @cakrit
health/notifications/ @Ferroin @cakrit
libnetdata/ @thiagofsm @cakrit
packaging/ @paulkatsoulakis @cakrit
packaging/installer/ @paulkatsoulakis @cakrit
packaging/makeself/ @paulkatsoulakis @cakrit
registry/ @gmosx @cakrit
streaming/ @cakrit @thiagoftsm
web/ @thiagoftsm @cakrit
web/gui/ @gmosx @cakrit

# Ownership by filetype (overwrites ownership by directory)
*.md @cakrit
*.am @paulkatsoulakis

# Ownership of specific files
.gitignore @paulkatsoulakis @cakrit
.travis.yml @paulkatsoulakis
.lgtm.yml @paulkatsoulakis
.eslintrc @paulkatsoulakis
.eslintignore @paulkatsoulakis
.csslintrc @paulkatsoulakis
.codeclimate.yml @paulkatsoulakis
.codacy.yml @paulkatsoulakis
netdata.spec.in @paulkatsoulakis
netdata-installer.sh @paulkatsoulakis @cakrit
netlify.toml @cakrit
package.json @gmosx
packaging/version @netdatabot

LICENSE.md @cakrit
CHANGELOG.md @netdatabot
