Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cakrit, @paulkatsoulakis, @thiagoftsm, @vlvkobal, @mfundul, @VLegakis, @ccremer, @ilyam8, @simonnagl, @joelhans, @Ferroin, @thiagofsm, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cakrit

# Ownership by directory structure
.travis/ @paulkatsoulakis @cakrit
.github/ @paulkatsoulakis @cakrit
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @paulkatsoulakis @thiagoftsm
build/ @paulkatsoulakis @cakrit
collectors/ @vlvkobal @mfundul @cakrit
collectors/charts.d.plugin/ @paulkatsoulakis @cakrit
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @cakrit
collectors/macos.plugin/ @vlvkobal @thiagoftsm @cakrit
collectors/node.d.plugin/ @VLegakis @cakrit
collectors/node.d.plugin/fronius/ @ccremer @cakrit
collectors/node.d.plugin/snmp/ @VLegakis @cakrit
collectors/node.d.plugin/stiebeleltron/ @ccremer @cakrit
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @cakrit
daemon/ @thiagoftsm @mfundul @cakrit
database/ @mfundul @thiagoftsm @cakrit
docs/ @cakrit @joelhans
health/ @thiagoftsm @vlvkobal @cakrit
health/health.d/ @thiagoftsm @vlvkobal @cakrit
health/notifications/ @Ferroin @thiagoftsm @cakrit
libnetdata/ @thiagofsm @mfundul @cakrit
packaging/ @paulkatsoulakis @cakrit
packaging/installer/ @paulkatsoulakis @cakrit
packaging/makeself/ @paulkatsoulakis @cakrit
registry/ @VLegakis @cakrit
streaming/ @thiagoftsm @vlvkobal @cakrit
web/ @thiagoftsm @mfundul @vlvkobal @cakrit
web/gui/ @VLegakis @cakrit

# Ownership by filetype (overwrites ownership by directory)
*.md @cakrit @joelhans
*.am @paulkatsoulakis

# Ownership of specific files
.gitignore @paulkatsoulakis @cakrit
.travis.yml @paulkatsoulakis
.lgtm.yml @paulkatsoulakis
.eslintrc @paulkatsoulakis
.eslintignore @paulkatsoulakis
.csslintrc @paulkatsoulakis
.codeclimate.yml @paulkatsoulakis
.codacy.yml @paulkatsoulakis
netdata.spec.in @paulkatsoulakis
netdata-installer.sh @paulkatsoulakis @cakrit
netlify.toml @cakrit
package.json @VLegakis
packaging/version @netdatabot

LICENSE.md @cakrit @joelhans
CHANGELOG.md @netdatabot

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/packaging: [ci skip] hot fix -- changelog file requires two spaces after email and before date
  contrib/debian/changelog
Owners: @ktsaou, @cakrit

Fix nodes menu sizing (responsive) (#6455)
  web/gui/index.html
  web/gui/main.css
  web/gui/main.js
Owners: @VLegakis, @cakrit

netdata/packaging: Do not deliver edit-config as part of the distribution tarball (#6507)
  system/Makefile.am
Owners: @paulkatsoulakis

Add support for plain text only emails (#6485)
  health/notifications/alarm-notify.sh.in
  health/notifications/health_alarm_notify.conf
Owners: @Ferroin, @thiagoftsm, @cakrit

Fixed broken left navbar links in translated site (#6505)
  docs/generator/buildhtml.sh
Owners: @cakrit, @joelhans

netdata/packaging: Fix installer scripts documentation. updater is, well, updater (not uninstaller). Also some style
  packaging/installer/netdata-uninstaller.sh
  packaging/installer/netdata-updater.sh
Owners: @paulkatsoulakis, @cakrit

Add netdata haproxy documentation page (#6454)
  docs/Running-behind-haproxy.md
  docs/generator/buildyaml.sh
Owners: @cakrit, @joelhans

mongodb: change `password` to `pass` in the module config (#6518)
  collectors/python.d.plugin/mongodb/mongodb.conf
Owners: @ilyam8

Revert "netdata/packaging: Do not deliver edit-config as part of the distribution tarball (#6507)"
  system/Makefile.am
Owners: @paulkatsoulakis

Make use of GCC's __attribute__((unused)) (#6392)
  collectors/apps.plugin/apps_plugin.c
  collectors/cgroups.plugin/cgroup-network.c
  collectors/statsd.plugin/statsd.c
  configure.ac
  database/rrddim.c
  database/rrdvar.c
  libnetdata/locks/locks.c
  libnetdata/socket/security.c
Owners: @vlvkobal, @mfundul, @cakrit, @ktsaou, @thiagoftsm, @thiagofsm

Utf8 Badge Fix And URL Parser International Support (initial) (#6426)
  CMakeLists.txt
  Makefile.am
  libnetdata/libnetdata.h
  libnetdata/string/utf8.h
  libnetdata/url/url.c
  web/api/badges/web_buffer_svg.c
  web/server/web_client.c
  web/server/web_client.h
Owners: @ktsaou, @cakrit, @paulkatsoulakis, @thiagofsm, @mfundul, @thiagoftsm, @vlvkobal

Add CSS to restore navigation in mobile and better links (#6533)
  docs/generator/custom/css/netdata.css
Owners: @cakrit, @joelhans

smartd_log: Disk __eq__ fix (#6540)
  collectors/python.d.plugin/smartd_log/smartd_log.chart.py
Owners: @ilyam8

Url parser refactoring (#6247)
  .gitignore
  libnetdata/url/url.c
  libnetdata/url/url.h
  tests/Makefile.am
  tests/urls/request.sh.in
  web/api/health/health_cmdapi.c
  web/api/web_api_v1.c
  web/server/web_client.c
  web/server/web_client.h
Owners: @paulkatsoulakis, @cakrit, @thiagofsm, @mfundul, @ktsaou, @thiagoftsm, @vlvkobal

add self.name() to contrib.md (#6538)
  CONTRIBUTORS.md
Owners: @cakrit, @joelhans

6542: after clicking Nodes and successfully logging in, user should be redirected to console (#6544)
  web/gui/main.js
Owners: @VLegakis, @cakrit

Removed text about nightly version and replaced with new boilerplate (#6534)
  packaging/installer/README.md
Owners: @cakrit, @joelhans

Fix parsing SSL ACL along with others (#6468)
  .gitignore
  collectors/plugins.d/plugins_d.c
  collectors/plugins.d/plugins_d.h
  libnetdata/socket/security.c
  libnetdata/socket/security.h
  libnetdata/socket/socket.c
  libnetdata/socket/socket.h
  streaming/rrdpush.c
  tests/Makefile.am
  tests/acls/acl.sh.in
  tests/acls/netdata.cfg
  tests/acls/netdata.ssl.cfg
  web/server/README.md
  web/server/web_client.c
Owners: @paulkatsoulakis, @cakrit, @vlvkobal, @mfundul, @thiagofsm, @thiagoftsm, @ktsaou, @joelhans

minor - code readibility HTTP CODES as defines (#6539)
  web/server/web_client.c
  web/server/web_client.h
Owners: @thiagoftsm, @mfundul, @vlvkobal, @cakrit

Safer container names (#6441)
  collectors/cgroups.plugin/cgroup-name.sh.in
  packaging/docker/Dockerfile
  packaging/docker/README.md
  packaging/docker/build-test.sh
  packaging/docker/run.sh
Owners: @vlvkobal, @mfundul, @cakrit, @paulkatsoulakis, @joelhans

netdata/ci: [ci skip] Do not include issues for now
  .travis/generate_changelog_for_nightlies.sh
Owners: @paulkatsoulakis, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/packaging: Adopt netdata-updater to run properly for static64 installations. (#6520)
  netdata-installer.sh
  packaging/installer/netdata-updater.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
Owners: @paulkatsoulakis, @cakrit

netdata/streaming: fix bug for non-ssl installations - we used a definition that only exists on ssl-enabled installs
  streaming/rrdpush.c
Owners: @thiagoftsm, @vlvkobal, @cakrit

netdata/packaging: [ci skip] Make sure you notify us when nightlies changelog generation fails. It is a soft error, but we do want to know about it
  .travis/nightlies.sh
Owners: @paulkatsoulakis, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/packaging: Notify us when CHANGELOG.md gets too old (#6556)
  .travis.yml
  .travis/check_changelog_last_modification.sh
Owners: @paulkatsoulakis, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

.travis.yml: Fix some yamllint errors (#6526)
  .travis.yml
Owners: @paulkatsoulakis

Add configurable default locations for trusted CA certificates (#6549)
  collectors/plugins.d/plugins_d.c
  libnetdata/socket/security.c
  libnetdata/socket/security.h
  streaming/README.md
  streaming/rrdpush.c
  streaming/stream.conf
Owners: @vlvkobal, @mfundul, @cakrit, @thiagofsm, @joelhans, @thiagoftsm

netdata/packaging: Move tarball checksum information into lib dir of netdata (#6555)
  netdata-installer.sh
  packaging/installer/UNINSTALL.md
  packaging/installer/netdata-updater.sh
Owners: @paulkatsoulakis, @cakrit, @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

smartd_log: use `del_dimension` instead of `hide_dimension` to… (#6547)
  collectors/python.d.plugin/smartd_log/smartd_log.chart.py
Owners: @ilyam8

Handle disconnected sockets in unbound collector. (#6561)
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/SocketService.py
  collectors/python.d.plugin/unbound/unbound.chart.py
Owners: @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] release v1.16.1
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fix crash in malloc (#6583)
  tests/urls/request.sh.in
  web/server/web_client.c
Owners: @ktsaou, @cakrit, @thiagoftsm, @mfundul, @vlvkobal

netdata/packaging: [ci skip] make slack usage a soft error here (the library should be available though, so this is a workaround fix until i figure out the WOW)
  .travis/nightlies.sh
Owners: @paulkatsoulakis, @cakrit

Build DEB and RPM packages in parallel (#6579)
  .travis.yml
Owners: @paulkatsoulakis
