Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @paulfantom, @l2isbad, @Ferroin, @netdatabot

after release cleanup (#4552)
  .travis.yml
  .travis/labeler.sh
  CHANGELOG.md
  docker/build.sh
Owners: @paulfantom, @netdatabot

Minor README file updates (#4548)
  registry/README.md
  web/api/README.md
  web/api/web_api_v1.c
  web/gui/README.md
  web/server/README.md
Owners: @ktsaou

during release create changelog after tagging (#4553)
  .travis/releaser.sh
Owners: @paulfantom

edit-config: Better support for custom editors. (#4551)
  system/edit-config.in
Owners: @ktsaou

Switch e-mail threading to be enabled by default. (#3780)
  health/notifications/alarm-notify.sh.in
  health/notifications/health_alarm_notify.conf
Owners: @ktsaou

[ci skip] Automatic changelog update
  CHANGELOG.md
Owners: @netdatabot

decouple nightly cron jobs from packaging stage (#4559)
  .travis.yml
  .travis/generate_changelog.sh
Owners: @paulfantom

incremental overflows should not show zeros values (#4538)
  daemon/unit_test.c
  database/rrd.h
  database/rrddim.c
  database/rrdset.c
  libnetdata/storage_number/storage_number.c
  libnetdata/storage_number/storage_number.h
Owners: @ktsaou

[ci skip] Automatic changelog update
  CHANGELOG.md
Owners: @netdatabot

add tor python module (#4546)
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/python.d.conf
  collectors/python.d.plugin/tor/Makefile.inc
  collectors/python.d.plugin/tor/README.md
  collectors/python.d.plugin/tor/tor.chart.py
  collectors/python.d.plugin/tor/tor.conf
Owners: @paulfantom, @ktsaou, @l2isbad, @Ferroin

[ci skip] Automatic changelog update
  CHANGELOG.md
Owners: @netdatabot

smartd_log refactor plus SCSI support (#4523)
  collectors/python.d.plugin/smartd_log/README.md
  collectors/python.d.plugin/smartd_log/smartd_log.chart.py
  collectors/python.d.plugin/smartd_log/smartd_log.conf
Owners: @l2isbad, @Ferroin

[ci skip] Automatic changelog update
  CHANGELOG.md
Owners: @netdatabot

Clarify application configuration and fix broken link (#4554)
  web/gui/dashboard_info.js
Owners: @ktsaou

[ci skip] Automatic changelog update
  CHANGELOG.md
Owners: @netdatabot

netdata-openrc: Move check from depends() function to start_pre() (#4575)
  system/netdata-openrc.in
Owners: @ktsaou

Fix badges link that leads to 404. (#4569)
  web/gui/index.html
Owners: @ktsaou

Add diagrams for internal data structures of netdata (#4567)
  diagrams/data_structures/README.md
  diagrams/data_structures/netdata_config.svg
  diagrams/data_structures/registry.svg
  diagrams/data_structures/rrd.svg
  diagrams/data_structures/src/netdata_config.xml
  diagrams/data_structures/src/registry.xml
  diagrams/data_structures/src/rrd.xml
  diagrams/data_structures/src/web.xml
  diagrams/data_structures/web.svg
Owners: @ktsaou

Minor documentation improvements (#4566)
  backends/prometheus/README.md
  database/README.md
  health/README.md
  registry/README.md
  streaming/README.md
Owners: @ktsaou

Refactoring dashboard.js, splitting monolithic file into multiple source files. (#4496)
  .codacy.yml
  README.md
  diagrams/Makefile.am
  web/gui/Makefile.am
  web/gui/README.md
  web/gui/dashboard.html
  web/gui/dashboard.js
  web/gui/index.html
  web/gui/src/dashboard.js/alarms.js
  web/gui/src/dashboard.js/boot.js
  web/gui/src/dashboard.js/charting.js
  web/gui/src/dashboard.js/charting/_c3.js
  web/gui/src/dashboard.js/charting/_morris.js
  web/gui/src/dashboard.js/charting/_raphael.js
  web/gui/src/dashboard.js/charting/d3.js
  web/gui/src/dashboard.js/charting/d3pie.js
  web/gui/src/dashboard.js/charting/dygraph.js
  web/gui/src/dashboard.js/charting/easy-pie-chart.js
  web/gui/src/dashboard.js/charting/gauge.js
  web/gui/src/dashboard.js/charting/google-charts.js
  web/gui/src/dashboard.js/charting/peity.js
  web/gui/src/dashboard.js/charting/sparkline.js
  web/gui/src/dashboard.js/colors.js
  web/gui/src/dashboard.js/compatibility.js
  web/gui/src/dashboard.js/epilogue.js.inc
  web/gui/src/dashboard.js/error-handling.js
  web/gui/src/dashboard.js/localstorage.js
  web/gui/src/dashboard.js/main.js
  web/gui/src/dashboard.js/options.js
  web/gui/src/dashboard.js/prologue.js.inc
  web/gui/src/dashboard.js/registry.js
  web/gui/src/dashboard.js/units-conversion.js
  web/gui/src/dashboard.js/utils.js
  web/gui/src/dashboard.js/xss.js
Owners: @ktsaou, @paulfantom

Split js 2 (#4581)
  .lgtm.yml
  web/gui/Makefile.am
  web/gui/dashboard.js
  web/gui/index.html
  web/gui/src/dashboard.js/chart-registry.js
  web/gui/src/dashboard.js/charting/dygraph.js
  web/gui/src/dashboard.js/common.js
  web/gui/src/dashboard.js/dependencies.js
  web/gui/src/dashboard.js/main.js
  web/gui/src/dashboard.js/server-detection.js
  web/gui/src/dashboard.js/themes.js
  web/gui/src/dashboard.js/timeout.js
  web/gui/src/dashboard.js/utils.js
Owners: @paulfantom, @ktsaou

smartd_log: py2 compatibility fix (#4584)
  collectors/python.d.plugin/smartd_log/smartd_log.chart.py
Owners: @l2isbad, @Ferroin

Cleanup index.html (#4587)
  web/gui/Makefile.am
  web/gui/README.md
  web/gui/dashboard_info.js
  web/gui/index.html
  web/gui/main.css
  web/gui/main.js
  web/gui/registry.html
Owners: @paulfantom, @ktsaou

Update links to badges documentation. (#4588)
  HISTORICAL_CHANGELOG.md
  web/gui/demosites.html
Owners: @ktsaou

[ci skip] Automatic changelog update
  CHANGELOG.md
Owners: @netdatabot

[ci skip] Automatic changelog update
  CHANGELOG.md
Owners: @netdatabot

fixed max interface speed calculation (#4594)
  collectors/proc.plugin/proc_net_dev.c
  database/rrdcalctemplate.h
  health/health.d/net.conf
  health/health_config.c
Owners: @ktsaou

fixed conntrack_max alarm (#4595)
  collectors/proc.plugin/proc_net_stat_conntrack.c
Owners: @ktsaou

Alerta.io notification improvements (#4576)
  health/notifications/alarm-notify.sh.in
  health/notifications/alerta/README.md
Owners: @ktsaou

New readme (#4596)
  README.md
Owners: @ktsaou

Updated readme (#4599)
  README.md
Owners: @ktsaou

Updated readme (#4600)
  README.md
Owners: @ktsaou

[ci skip] Automatic changelog update
  CHANGELOG.md
Owners: @netdatabot

Updated readme (#4604)
  README.md
Owners: @ktsaou

Update readme (#4605)
  README.md
Owners: @ktsaou

updated readme (#4606)
  README.md
Owners: @ktsaou

[ci skip] Automatic changelog update
  CHANGELOG.md
Owners: @netdatabot

Another Readme Update (#4612)
  README.md
Owners: @ktsaou

updated video (#4620)
  README.md
Owners: @ktsaou

nvidia_smi: init version added (#4589)
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/nvidia_smi/Makefile.inc
  collectors/python.d.plugin/nvidia_smi/README.md
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.conf
  collectors/python.d.plugin/python.d.conf
Owners: @paulfantom, @ktsaou, @l2isbad, @Ferroin

.github/CODEOWNERS:

# Global (default) code owner
* @ktsaou

# Ownership by directory structure
.travis/ @paulfantom
# backends/
build/ @paulfantom
collectors/python.d.plugin/ @l2isbad @Ferroin
contrib/ @paulfantom
daemon/ @ktsaou
database/ @ktsaou
docker/ @paulfantom
# health/ 
# installer/
# libnetdata/ 
# makeself/ 
packaging/ @paulfantom
# registry/
# streaming/
# system/ 
# tests/
# web/

# Ownership of specific files
CHANGELOG.md @netdatabot
.travis.yml @paulfantom
.lgtm.yml @paulfantom

# Ownership by filetype (overwrites ownership by directory)
*.am @paulfantom @ktsaou
*.c *.h @ktsaou @vlvkobal
