Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cakrit, @cosmix, @knatsakis, @thiagoftsm, @vlvkobal, @mfundul, @VLegakis, @ccremer, @ilyam8, @simonnagl, @joelhans, @Ferroin, @thiagofsm, @netdatabot

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

rabbitmq: fix handle_disabled_disk_monitoring (#7464)
  collectors/python.d.plugin/rabbitmq/rabbitmq.chart.py
Owners: @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fix missing parenthesis on softnet.conf (#7476)
  health/health.d/softnet.conf
Owners: @thiagoftsm, @vlvkobal, @cakrit, @cosmix

sensors: check fix (#7447)
  collectors/python.d.plugin/sensors/sensors.chart.py
Owners: @ilyam8

Fix race condition with page cache descriptors (#7478)
  database/engine/pagecache.c
  database/engine/rrdenglocking.c
Owners: @mfundul, @thiagoftsm, @cakrit, @cosmix

ci: remove ubuntu trusty 14.04 from build (#7481)
  .travis.yml
  .travis/package_management/configure_deb_lxc_environment.py
  packaging/DISTRIBUTIONS.md
Owners: @cakrit, @cosmix, @knatsakis, @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

fix to wrong instructions during a non-privileged install from installer (#7393)
  netdata-installer.sh
Owners: @cakrit, @cosmix, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

.travis.yml: Add timestamps to output (#7239)
  .travis.yml
Owners: @cakrit, @cosmix, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Minor docker related cleanups (#7240)
  .travis.yml
Owners: @cakrit, @cosmix, @knatsakis

Updates and grammar fixes to README.md (#7193)
  README.md
Owners: @cakrit, @cosmix, @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Inject archived backports repository on Debian Jessie for CI package builds. (#7495)
  .travis/package_management/common.py
Owners: @cakrit, @cosmix, @knatsakis

Update Netdata RPM spec file to package netdatacli. (#7513)
  netdata.spec.in
Owners: @cakrit, @cosmix, @knatsakis

Force repository name in tag to be lowercase. (#7506)
  packaging/docker/build.sh
Owners: @cakrit, @cosmix, @knatsakis

Remove `-f` option from `groupdel` in uninstaller. (#7507)
  packaging/installer/netdata-uninstaller.sh
Owners: @cakrit, @cosmix, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fix valgrind errors (#7532)
  daemon/commands.c
Owners: @thiagoftsm, @mfundul, @cakrit, @cosmix

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cakrit @cosmix

# Ownership by directory structure
.travis/ @cakrit @cosmix @knatsakis
.github/ @cakrit @cosmix @knatsakis
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @cakrit @cosmix @knatsakis
collectors/ @vlvkobal @mfundul @cakrit @cosmix
collectors/charts.d.plugin/ @cakrit @cosmix
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @cakrit @cosmix
collectors/macos.plugin/ @vlvkobal @thiagoftsm @cakrit @cosmix
collectors/node.d.plugin/ @VLegakis @cakrit @cosmix
collectors/node.d.plugin/fronius/ @ccremer @cakrit @cosmix
collectors/node.d.plugin/snmp/ @VLegakis @cakrit @cosmix
collectors/node.d.plugin/stiebeleltron/ @ccremer @cakrit @cosmix
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @cakrit @cosmix
daemon/ @thiagoftsm @mfundul @cakrit @cosmix
database/ @mfundul @thiagoftsm @cakrit @cosmix
docs/ @cakrit @cosmix @joelhans
health/ @thiagoftsm @vlvkobal @cakrit @cosmix
health/health.d/ @thiagoftsm @vlvkobal @cakrit @cosmix
health/notifications/ @Ferroin @thiagoftsm @cakrit @cosmix
libnetdata/ @thiagofsm @mfundul @cakrit @cosmix
packaging/ @cakrit @cosmix @knatsakis
registry/ @VLegakis @cakrit @cosmix
streaming/ @thiagoftsm @vlvkobal @cakrit @cosmix
web/ @thiagoftsm @mfundul @vlvkobal @cakrit @cosmix
web/gui/ @VLegakis @cakrit @cosmix

# Ownership by filetype (overwrites ownership by directory)
*.md @cakrit @cosmix @joelhans
*.am @cakrit @cosmix @knatsakis

# Ownership of specific files
.gitignore @cakrit @cosmix @knatsakis
.travis.yml @cakrit @cosmix @knatsakis
.lgtm.yml @cakrit @cosmix @knatsakis
.eslintrc @cakrit @cosmix @knatsakis
.eslintignore @cakrit @cosmix @knatsakis
.csslintrc @cakrit @cosmix @knatsakis
.codeclimate.yml @cakrit @cosmix @knatsakis
.codacy.yml @cakrit @cosmix @knatsakis
netdata.spec.in @cakrit @cosmix @knatsakis
netdata-installer.sh @cakrit @cosmix @knatsakis
netlify.toml @cakrit @cosmix
package.json @VLegakis
packaging/version @netdatabot

LICENSE.md @cakrit @cosmix @joelhans
CHANGELOG.md @netdatabot
