Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @paulfantom, @l2isbad, @Ferroin, @netdatabot

Bad text in example config (#4618)
  collectors/python.d.plugin/elasticsearch/README.md
Owners: @l2isbad, @Ferroin

Fix spelling mistake in dashboard_info.js (#4601)
  web/gui/dashboard_info.js
Owners: @ktsaou

Fixed tc-helper plugin broken link (#4617)
  web/gui/dashboard_info.js
Owners: @ktsaou

Fixes and cleanup in release pipeline (#4625)
  .travis.yml
  .travis/decrypt-if-have-key
  .travis/deploy-if-have-key
  .travis/firehol_create_artifacts.sh
  .travis/generate_changelog.sh
  .travis/labeler.sh
  .travis/releaser.sh
  .travis/tagger.sh
  .travis/travis_rsa.enc
  Makefile.am
  configure.ac
Owners: @paulfantom, @ktsaou

Issue 4582 (Show alternate urls in my-netdata menu) (#4590)
  web/gui/index.html
  web/gui/main.css
  web/gui/main.js
Owners: @ktsaou

Update README.md (#4629)
  daemon/config/README.md
Owners: @ktsaou

[ci skip] Automatic changelog update
  CHANGELOG.md
Owners: @netdatabot

Added Dygraph and EasyPieChart info to README.md (#4630)
  web/gui/README.md
Owners: @ktsaou

Fix readme (#4631)
  README.md
  docker/README.md
Owners: @ktsaou, @paulfantom

firehol -> netdata (#4632)
  docker/README.md
Owners: @paulfantom

revert to wiki version with fixed links (#4638)
  doc/Add-more-charts-to-netdata.md
Owners: @ktsaou

Fix documentation in beanstalk.conf. (#4639)
  collectors/python.d.plugin/beanstalk/beanstalk.conf
Owners: @l2isbad, @Ferroin

Add more charts (#4640)
  doc/Add-more-charts-to-netdata.md
Owners: @ktsaou

Replace wiki links in backends WALKTHROUGH.md (#4648)
  backends/WALKTHROUGH.md
Owners: @ktsaou

Fix custom charts links (#4646)
  web/gui/custom/README.md
Owners: @ktsaou

Replace link to creating badges (#4644)
  web/gui/confluence/README.md
Owners: @ktsaou

Configuration readme links (#4642)
  daemon/config/README.md
Owners: @ktsaou

Replace Anti-DDoS demo site in proc plugin README (#4647)
  collectors/proc.plugin/README.md
Owners: @ktsaou

Add Nim back to Third-Party-Plugins.md (#4649)
  doc/Third-Party-Plugins.md
Owners: @ktsaou

Update functions.sh (#4643)
  installer/functions.sh
Owners: @ktsaou

Minor cleanup of main.js (#4634)
  web/gui/main.js
Owners: @ktsaou

sensors module fix (#4651)
  collectors/python.d.plugin/sensors/sensors.chart.py
Owners: @l2isbad, @Ferroin

Update README.md (#4652)
  README.md
Owners: @ktsaou

properly parse network interface names with colon on them (#4653)
  collectors/proc.plugin/proc_net_dev.c
  web/gui/dashboard.js
  web/gui/index.html
  web/gui/src/dashboard.js/compatibility.js
Owners: @ktsaou

Update README.md (#4654)
  README.md
Owners: @ktsaou

Update README.md (#4655)
  README.md
Owners: @ktsaou

[ci skip] Automatic changelog update
  CHANGELOG.md
Owners: @netdatabot

openldap monitoring plugin added (#4513)
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/openldap/Makefile.inc
  collectors/python.d.plugin/openldap/README.md
  collectors/python.d.plugin/openldap/openldap.chart.py
  collectors/python.d.plugin/openldap/openldap.conf
  collectors/python.d.plugin/python.d.conf
Owners: @paulfantom, @ktsaou, @l2isbad, @Ferroin

Fix changelog path, add all README.md files to Debian package doc (#4657)
  contrib/debian/netdata.docs
  contrib/debian/rules
Owners: @paulfantom

Move cpufreq python module to proc plugin (#4562)
  collectors/proc.plugin/proc_stat.c
  collectors/python.d.plugin/python.d.plugin.in
Owners: @ktsaou, @l2isbad, @Ferroin

Update README.md (#4663)
  README.md
Owners: @ktsaou

Update Doc links for adding charts and alarms in sidebar. Isuue #4650 (#4669)
  web/gui/demosites.html
  web/gui/main.js
Owners: @ktsaou

Update lm_sensors and catch specific errors. (#4667)
  collectors/python.d.plugin/python_modules/third_party/lm_sensors.py
  collectors/python.d.plugin/sensors/sensors.chart.py
Owners: @l2isbad, @Ferroin

Fix typo in README.md (#4665)
  README.md
Owners: @ktsaou

Updates in various READMEs while testing the link checker (#4671)
  backends/prometheus/README.md
  collectors/cgroups.plugin/README.md
  collectors/python.d.plugin/README.md
  collectors/python.d.plugin/go_expvar/README.md
  collectors/python.d.plugin/web_log/README.md
  collectors/tc.plugin/README.md
  doc/Add-more-charts-to-netdata.md
  doc/Running-behind-apache.md
  doc/Running-behind-nginx.md
  doc/netdata-security.md
  htmldoc/buildyaml.sh
  installer/README.md
  registry/README.md
  web/api/badges/README.md
  web/gui/custom/README.md
Owners: @ktsaou, @l2isbad, @Ferroin

Update README.md (#4674)
  README.md
Owners: @ktsaou

[ci skip] Automatic changelog update
  CHANGELOG.md
Owners: @netdatabot

Update README.md (#4683)
  README.md
Owners: @ktsaou

clone full git history for changelog generation (#4681)
  .travis.yml
Owners: @paulfantom

[ci skip] Automatic changelog update
  CHANGELOG.md
Owners: @netdatabot

.github/CODEOWNERS:

# Global (default) code owner
* @ktsaou

# Ownership by directory structure
.travis/ @paulfantom
# backends/
build/ @paulfantom
collectors/python.d.plugin/ @l2isbad @Ferroin
contrib/ @paulfantom
daemon/ @ktsaou
database/ @ktsaou
docker/ @paulfantom
# health/ 
# installer/
# libnetdata/ 
# makeself/ 
packaging/ @paulfantom
# registry/
# streaming/
# system/ 
# tests/
# web/

# Ownership of specific files
CHANGELOG.md @netdatabot
.travis.yml @paulfantom
.lgtm.yml @paulfantom

# Ownership by filetype (overwrites ownership by directory)
*.am @paulfantom @ktsaou
*.c *.h @ktsaou @vlvkobal
