Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cakrit, @cosmix, @paulkatsoulakis, @thiagoftsm, @vlvkobal, @mfundul, @VLegakis, @ccremer, @ilyam8, @simonnagl, @joelhans, @Ferroin, @thiagofsm, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cakrit @cosmix

# Ownership by directory structure
.travis/ @paulkatsoulakis @cakrit @cosmix
.github/ @paulkatsoulakis @cakrit @cosmix
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @paulkatsoulakis @thiagoftsm
build/ @paulkatsoulakis @cakrit @cosmix
collectors/ @vlvkobal @mfundul @cakrit @cosmix
collectors/charts.d.plugin/ @paulkatsoulakis @cakrit @cosmix
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @cakrit @cosmix
collectors/macos.plugin/ @vlvkobal @thiagoftsm @cakrit @cosmix
collectors/node.d.plugin/ @VLegakis @cakrit @cosmix
collectors/node.d.plugin/fronius/ @ccremer @cakrit @cosmix
collectors/node.d.plugin/snmp/ @VLegakis @cakrit @cosmix
collectors/node.d.plugin/stiebeleltron/ @ccremer @cakrit @cosmix
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @cakrit @cosmix
daemon/ @thiagoftsm @mfundul @cakrit @cosmix
database/ @mfundul @thiagoftsm @cakrit @cosmix
docs/ @cakrit @cosmix @joelhans
health/ @thiagoftsm @vlvkobal @cakrit @cosmix
health/health.d/ @thiagoftsm @vlvkobal @cakrit @cosmix
health/notifications/ @Ferroin @thiagoftsm @cakrit @cosmix
libnetdata/ @thiagofsm @mfundul @cakrit @cosmix
packaging/ @paulkatsoulakis @cakrit @cosmix
packaging/installer/ @paulkatsoulakis @cakrit @cosmix
packaging/makeself/ @paulkatsoulakis @cakrit @cosmix
registry/ @VLegakis @cakrit @cosmix
streaming/ @thiagoftsm @vlvkobal @cakrit @cosmix
web/ @thiagoftsm @mfundul @vlvkobal @cakrit @cosmix
web/gui/ @VLegakis @cakrit @cosmix

# Ownership by filetype (overwrites ownership by directory)
*.md @cakrit @cosmix @joelhans
*.am @paulkatsoulakis

# Ownership of specific files
.gitignore @paulkatsoulakis @cakrit @cosmix
.travis.yml @paulkatsoulakis
.lgtm.yml @paulkatsoulakis
.eslintrc @paulkatsoulakis
.eslintignore @paulkatsoulakis
.csslintrc @paulkatsoulakis
.codeclimate.yml @paulkatsoulakis
.codacy.yml @paulkatsoulakis
netdata.spec.in @paulkatsoulakis
netdata-installer.sh @paulkatsoulakis @cakrit @cosmix
netlify.toml @cakrit @cosmix
package.json @VLegakis
packaging/version @netdatabot

LICENSE.md @cakrit @cosmix @joelhans
CHANGELOG.md @netdatabot

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Install Netdata with Docker (#6596)
  packaging/docker/README.md
Owners: @cakrit, @cosmix, @joelhans

Tabulatin on health/health.c (#6691)
  health/health.c
Owners: @thiagoftsm, @vlvkobal, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

.travis.yml: Build docker images in parallel (#6672)
  .travis.yml
  packaging/docker/build.sh
  packaging/docker/publish.sh
Owners: @paulkatsoulakis, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Add alarm status counter api call (#6554)
  health/health.h
  health/health_json.c
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
  web/api/web_api_v1.c
  web/api/web_api_v1.h
Owners: @thiagoftsm, @vlvkobal, @cakrit, @cosmix, @mfundul

netdata/packaging: [ci skip] Emergent workaround fix for RPM packages - we have to check why build-id error started popping up now for RPM on go.d binary
  netdata.spec.in
Owners: @paulkatsoulakis

netdata/ci: [ci skip] Fix changelog modification time script
  .travis/check_changelog_last_modification.sh
Owners: @paulkatsoulakis, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

netdata/packaging: [ci skip] Add trusty build process
  .travis.yml
Owners: @paulkatsoulakis

netdata/packaging: [ci skip] Add xenial build process
  .travis.yml
Owners: @paulkatsoulakis

netdata/packaging: [ci skip] Update dependency versions for ubuntu/trusty distro
  contrib/debian/control.trusty
Owners: @ktsaou, @cakrit, @cosmix

netdata/packaging: Introduce gitlab simple script (beta)
  .gitlab-ci.yml
Owners: @ktsaou, @cakrit, @cosmix

Variable Granularity support for data collection (#6430)
  backends/backends.c
  daemon/unit_test.c
  database/README.md
  database/engine/README.md
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/engine/rrdenginelib.h
  database/rrd.h
  database/rrddim.c
  web/api/queries/average/average.c
  web/api/queries/query.c
  web/api/queries/rrdr.h
Owners: @thiagoftsm, @vlvkobal, @mfundul, @cakrit, @cosmix, @joelhans

exact path to netdata.conf in .gitignore (#6709)
  .gitignore
Owners: @paulkatsoulakis, @cakrit, @cosmix

Netdata-installer warning removed (#6715)
  collectors/plugins.d/plugins_d.c
Owners: @vlvkobal, @mfundul, @cakrit, @cosmix

Fix corrupted transaction payload handling during start-up of the database engine. (#6731)
  database/engine/journalfile.c
Owners: @mfundul, @thiagoftsm, @cakrit, @cosmix

netdata/packaging: add shellcheck
  .gitlab-ci.yml
Owners: @ktsaou, @cakrit, @cosmix

netdata/packaging: remove sudo
  .gitlab-ci.yml
Owners: @ktsaou, @cakrit, @cosmix

url_registry: Remove of unecessary NULL (#6714)
  web/server/web_client.c
Owners: @thiagoftsm, @mfundul, @vlvkobal, @cakrit, @cosmix

History tips (#6711)
  web/gui/dashboard.css
  web/gui/dashboard.js
  web/gui/dashboard.slate.css
  web/gui/main.js
  web/gui/src/dashboard.js/charting/dygraph.js
Owners: @VLegakis, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/packaging: Add purging logic for package cloud repositories (#6732)
  .travis.yml
  .travis/package_management/old_package_purging.sh
Owners: @paulkatsoulakis, @cakrit, @cosmix

.travis.yml: packaging/docker/check_login.sh can cause the build to fail (#6655)
  .travis.yml
Owners: @paulkatsoulakis

.travis.yml: Improve template readability (#6673)
  .travis.yml
Owners: @paulkatsoulakis

netdata/packaging: Documentation nits
  packaging/DISTRIBUTIONS.md
Owners: @cakrit, @cosmix, @joelhans

Display uptime for processes (#6654)
  collectors/apps.plugin/README.md
  collectors/apps.plugin/apps_plugin.c
  collectors/proc.plugin/proc_uptime.c
  libnetdata/clocks/clocks.c
  libnetdata/clocks/clocks.h
  web/gui/dashboard_info.js
Owners: @cakrit, @cosmix, @joelhans, @vlvkobal, @mfundul, @thiagofsm, @VLegakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/installer: fix static64 installer always overwriting configuration (#6710)
  packaging/makeself/install-or-update.sh
  packaging/makeself/makeself-header.sh
Owners: @paulkatsoulakis, @cakrit, @cosmix

netdata/packaging: fix coverity problem in travis (2 issues) (#6743)
  .travis.yml
  coverity-install.sh
Owners: @paulkatsoulakis, @ktsaou, @cakrit, @cosmix

netdata/packaging: Add a more accurate title
  packaging/DISTRIBUTIONS.md
Owners: @cakrit, @cosmix, @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

make coverity-scan.sh usable by hand (#6747)
  .gitignore
  coverity-install.sh
  coverity-scan.sh
Owners: @paulkatsoulakis, @cakrit, @cosmix, @ktsaou

netdata/packaging: Update depedency preparation for newly introduced coverity scanning
  .travis.yml
Owners: @paulkatsoulakis

netdata/ci: non-interactive
  .travis.yml
Owners: @paulkatsoulakis

netdata/ci: Use sudo for apt-get
  .travis.yml
Owners: @paulkatsoulakis

netdata/packaging: more deps
  .travis.yml
Owners: @paulkatsoulakis
