Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @Ferroin, @knatsakis, @kaskavel, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @thiagofsm, @netdatabot

Updated contributing guidelines to suggest use of Draft PRs. (#10125)
  CONTRIBUTING.md
Owners: @joelhans

Fix compilation with https disabled. Fixes #10278 (#10279)
  exporting/send_data.c
Owners: @vlvkobal, @thiagoftsm

Alarms collector (#10042)
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/alarms/Makefile.inc
  collectors/python.d.plugin/alarms/README.md
  collectors/python.d.plugin/alarms/alarms.chart.py
  collectors/python.d.plugin/alarms/alarms.conf
  collectors/python.d.plugin/python.d.conf
  web/gui/dashboard_info.js
Owners: @Ferroin, @ilyam8, @joelhans, @jacekkolasa

python.d: always create a runtime chart on `create` call (#10296)
  collectors/python.d.plugin/alarms/alarms.conf
  collectors/python.d.plugin/python_modules/bases/charts.py
Owners: @ilyam8

Add guide: How to optimize Netdata's performance (#10271)
  daemon/config/README.md
  docs/Performance.md
  docs/configuration-guide.md
  docs/getting-started.md
  docs/guides/configure/performance.md
  docs/guides/longer-metrics-storage.md
  docs/guides/monitor/pi-hole-raspberry-pi.md
  docs/guides/step-by-step/step-10.md
  docs/high-performance-netdata.md
  docs/netdata-for-IoT.md
  streaming/README.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Update UPDATE.md (#10301)
  packaging/installer/UPDATE.md
Owners: @joelhans

HAProxy spelling correction (#10300)
  collectors/python.d.plugin/haproxy/README.md
Owners: @joelhans

adds child query support to ACLK (#10030)
  aclk/aclk_common.h
  aclk/aclk_query.c
  aclk/aclk_query.h
  aclk/aclk_rx_msgs.c
Owners: @stelfrag, @underhood

Add optional info on how to also add some default alarms as part of submitting a collector. (#10302)
  collectors/python.d.plugin/README.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Removed lifecycle checks from Travis CI. (#10305)
  .travis.yml
Owners: @Ferroin, @knatsakis, @kaskavel

Anomalies collector (#10060)
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/anomalies/Makefile.inc
  collectors/python.d.plugin/anomalies/README.md
  collectors/python.d.plugin/anomalies/anomalies.chart.py
  collectors/python.d.plugin/anomalies/anomalies.conf
  collectors/python.d.plugin/python.d.conf
  health/Makefile.am
  health/health.d/anomalies.conf
  web/gui/dashboard_info.js
Owners: @Ferroin, @ilyam8, @joelhans, @thiagoftsm, @vlvkobal, @jacekkolasa

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

fix UUID_STR_LEN undefined on MacOS (#10313)
  aclk/aclk_rx_msgs.c
Owners: @stelfrag, @underhood

dbengine extent cache (#10293)
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdenginelib.h
Owners: @mfundul, @thiagoftsm

python.d/nvidia_smi: fix gpu data filtering (#10312)
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py
Owners: @ilyam8

File descr alarm v01 (#10192)
  collectors/apps.plugin/apps_plugin.c
  health/Makefile.am
  health/health.d/apps_plugin.conf
  libnetdata/os.c
Owners: @vlvkobal, @mfundul, @Ferroin, @thiagoftsm, @thiagofsm

dashboard@v2.10.1 (#10314)
  packaging/dashboard.checksums
  packaging/dashboard.version
Owners: @Ferroin, @knatsakis

add privacy information about aclk connection (#10292)
  aclk/README.md
Owners: @joelhans

Added support for MSE (Massive Storage Engine) in Varnish-Plus (#10317)
  collectors/python.d.plugin/varnish/README.md
  collectors/python.d.plugin/varnish/varnish.chart.py
Owners: @joelhans, @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

eBPF synchronization (#10299)
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_process.c
  web/gui/dashboard_info.js
Owners: @joelhans, @thiagoftsm, @vlvkobal, @jacekkolasa

installer: update go.d.plugin version to v0.26.1 (#10319)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @knatsakis

Fix a compilation warning (#10320)
  database/engine/rrdengine.c
Owners: @mfundul, @thiagoftsm

Add new collectors to list (#10310)
  collectors/COLLECTORS.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

health: disable 'used_file_descriptors' alarm (#10328)
  health/health.d/apps_plugin.conf
Owners: @thiagoftsm, @vlvkobal

Made the update script significantly more robust and user friendly. (#10261)
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart.md
  packaging/installer/netdata-updater.sh
Owners: @Ferroin, @knatsakis, @joelhans

Fix exporting config (#10323)
  exporting/read_config.c
  exporting/tests/test_exporting_engine.c
  web/api/exporters/allmetrics.c
  web/api/tests/valid_urls.c
  web/api/tests/web_api.c
Owners: @vlvkobal, @thiagoftsm, @Ferroin, @knatsakis, @kaskavel, @mfundul

Improve core documentation to align with recent Netdata Cloud releases (#10318)
  docs/configure/invite-collaborate.md
  docs/configure/nodes.md
  docs/configure/secure-nodes.md
  docs/configure/spaces-war-rooms.md
  docs/guides/troubleshoot/monitor-debug-applications-ebpf.md
  docs/quickstart/infrastructure.md
  docs/visualize/interact-dashboards-charts.md
  docs/visualize/overview-infrastructure.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Added info about network usage requirements for the update script. (#10334)
  packaging/installer/README.md
Owners: @joelhans

Added patch to build LWS properly on macOS. (#10333)
  netdata-installer.sh
Owners: @Ferroin, @knatsakis

Fix backend options (#10343)
  exporting/read_config.c
Owners: @vlvkobal, @thiagoftsm

Use `glibtoolize` on macOS instead of regular `libtoolize`. (#10346)
  netdata-installer.sh
  packaging/installer/methods/macos.md
Owners: @Ferroin, @knatsakis, @joelhans

Add guide: Monitor any process in real-time with Netdata (#10338)
  collectors/apps.plugin/README.md
  collectors/ebpf.plugin/README.md
  docs/guides/monitor/process.md
  docs/guides/troubleshoot/monitor-debug-applications-ebpf.md
  web/README.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @Ferroin

# Ownership by directory structure
.travis/ @Ferroin @knatsakis @kaskavel
.github/ @Ferroin @knatsakis @kaskavel
aclk/ @stelfrag @underhood
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @Ferroin @knatsakis
contrib/debian @Ferroin @knatsakis
collectors/ @vlvkobal @mfundul
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/node.d.plugin/ @jacekkolasa
collectors/node.d.plugin/fronius/ @ccremer
collectors/node.d.plugin/snmp/ @jacekkolasa
collectors/node.d.plugin/stiebeleltron/ @ccremer
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @mfundul
database/ @mfundul @thiagoftsm
docs/ @joelhans
health/ @thiagoftsm @vlvkobal
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
libnetdata/ @thiagofsm @mfundul
packaging/ @Ferroin @knatsakis
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin @knatsakis
tests/ @Ferroin @knatsakis @kaskavel
web/ @thiagoftsm @mfundul @vlvkobal
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin
*.md @joelhans
Dockerfile* @Ferroin @knatsakis

# Ownership of specific files
.gitignore @Ferroin @knatsakis
.travis.yml @Ferroin @knatsakis @kaskavel
.lgtm.yml @Ferroin @knatsakis
.eslintrc @Ferroin @knatsakis
.eslintignore @Ferroin @knatsakis
.csslintrc @Ferroin @knatsakis
.codeclimate.yml @Ferroin @knatsakis
.codacy.yml @Ferroin @knatsakis
.yamllint.yml @Ferroin @knatsakis
netdata.spec.in @Ferroin @knatsakis
netdata-installer.sh @Ferroin @knatsakis
package.json @jacekkolasa @Ferroin @knatsakis
packaging/version @netdatabot @Ferroin @knatsakis

LICENSE.md @joelhans @Ferroin
CHANGELOG.md @netdatabot @Ferroin
