Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cakrit, @cosmix, @knatsakis, @thiagoftsm, @vlvkobal, @mfundul, @VLegakis, @ccremer, @ilyam8, @simonnagl, @joelhans, @Ferroin, @thiagofsm, @netdatabot

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Minor grammar change in /web/gui documentation (#7363)
  web/gui/custom/README.md
Owners: @cakrit, @cosmix, @joelhans

installer: include go.d.plugin version v0.11.0 (#7365)
  collectors/python.d.plugin/python.d.conf
  collectors/python.d.plugin/python.d.plugin.in
  collectors/python.d.plugin/unbound/README.md
  health/health.d/web_log.conf
  packaging/go.d.checksums
  packaging/go.d.version
  web/gui/dashboard_info.js
Owners: @ilyam8, @cakrit, @cosmix, @joelhans, @thiagoftsm, @vlvkobal, @knatsakis, @VLegakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

[ci skip] release v1.19.0
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Add release 1.19.0 to news
  README.md
Owners: @cakrit, @cosmix, @joelhans

Tutorials to support v1.19 release (#7359)
  docs/tutorials/collect-apache-nginx-web-logs.md
  docs/tutorials/collect-unbound-metrics.md
Owners: @cakrit, @cosmix, @joelhans

nvidia-smi: not loop mode (#7372)
  collectors/python.d.plugin/nvidia_smi/README.md
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.conf
Owners: @cakrit, @cosmix, @joelhans, @ilyam8

Do not crash when logging UTF-8 data in Python 2 (#7376)
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/SocketService.py
  collectors/python.d.plugin/python_modules/bases/collection.py
  collectors/python.d.plugin/python_modules/bases/loggers.py
Owners: @ilyam8

smartd_log: change ATTR5 chart algorithm to absolute (#7384)
  collectors/python.d.plugin/smartd_log/smartd_log.chart.py
Owners: @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Update python.d README (#7357)
  collectors/python.d.plugin/README.md
Owners: @cakrit, @cosmix, @joelhans

Fix typo and markup in packaging/installer README (#7368)
  packaging/installer/README.md
Owners: @cakrit, @cosmix, @joelhans

Fixing errors (#7340)
  collectors/plugins.d/README.md
Owners: @cakrit, @cosmix, @joelhans

Fixing linter errors in packaging/docker/README (#7199)
  packaging/docker/README.md
Owners: @cakrit, @cosmix, @joelhans

proc.plugin: add pressure stall information (#7209)
  CMakeLists.txt
  Makefile.am
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/proc.plugin/README.md
  collectors/proc.plugin/plugin_proc.c
  collectors/proc.plugin/plugin_proc.h
  collectors/proc.plugin/proc_pressure.c
  collectors/proc.plugin/proc_pressure.h
  web/gui/dashboard_info.js
Owners: @ktsaou, @cakrit, @cosmix, @knatsakis, @vlvkobal, @mfundul, @joelhans, @VLegakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Health: Proposed restructuring of health documentation (#7329)
  collectors/proc.plugin/README.md
  docs/generator/buildyaml.sh
  docs/getting-started.md
  health/QUICKSTART.md
  health/README.md
  health/REFERENCE.md
  health/tutorials/dimension-templates.md
  health/tutorials/stop-notifications-alarms.md
  netlify.toml
  web/README.md
Owners: @cakrit, @cosmix, @joelhans

Documentation on per-chart configuration options (#7345)
  daemon/config/README.md
Owners: @cakrit, @cosmix, @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fix broken docs builds (#7409)
  docs/generator/buildhtml.sh
  docs/generator/runtime.txt
Owners: @cakrit, @cosmix, @joelhans

monit: overwrite __eq__, __ne__ in child classes (lgtm warnings) (#7387)
  collectors/python.d.plugin/monit/monit.chart.py
Owners: @ilyam8

installer: include go.d.plugin version v0.12.0 (#7418)
  health/Makefile.am
  health/health.d/scaleio.conf
  health/health.d/unbound.conf
  packaging/go.d.checksums
  packaging/go.d.version
  web/gui/dashboard_info.js
Owners: @cakrit, @cosmix, @knatsakis, @thiagoftsm, @vlvkobal, @VLegakis

.travis.yml: Remove CentOS 6 package building and lifecycle tests (#7425)
  .travis.yml
Owners: @cakrit, @cosmix, @knatsakis

Docs: Fixes to new health documentation structure (#7419)
  daemon/config/README.md
  health/QUICKSTART.md
  health/README.md
  health/REFERENCE.md
  health/tutorials/dimension-templates.md
  health/tutorials/stop-notifications-alarms.md
Owners: @cakrit, @cosmix, @joelhans

Implement netdata command server and cli tool (#7325)
  .gitignore
  CMakeLists.txt
  Makefile.am
  cli/Makefile.am
  cli/README.md
  cli/cli.c
  cli/cli.h
  configure.ac
  daemon/README.md
  daemon/commands.c
  daemon/commands.h
  daemon/common.h
  daemon/main.c
  daemon/signals.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdenginelib.h
  libnetdata/libnetdata.h
  packaging/installer/README.md
  packaging/installer/netdata-uninstaller.sh
Owners: @cakrit, @cosmix, @knatsakis, @ktsaou, @joelhans, @thiagoftsm, @mfundul, @thiagofsm

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

address lgtm alerts (#7441)
  .remarkrc.js
  web/gui/dash-example.html
  web/gui/main.js
Owners: @ktsaou, @cakrit, @cosmix, @VLegakis

Changed sed in testinternal (#7431)
  docs/generator/checklinks.sh
Owners: @cakrit, @cosmix, @joelhans

Add generator dirs to gitignore (#7421)
  .gitignore
Owners: @cakrit, @cosmix, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Add HP Smart Storage Array python plugin (#7181)
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/hpssa/Makefile.inc
  collectors/python.d.plugin/hpssa/README.md
  collectors/python.d.plugin/hpssa/hpssa.chart.py
  collectors/python.d.plugin/hpssa/hpssa.conf
  collectors/python.d.plugin/python.d.conf
Owners: @cakrit, @cosmix, @knatsakis, @ilyam8, @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Indicate we no longer build packages for CentOS 6 (#7430)
  .travis/README.md
  packaging/DISTRIBUTIONS.md
Owners: @cakrit, @cosmix, @joelhans

Fix dbengine dirty page flushing warning (#7469)
  database/engine/rrdengineapi.c
Owners: @mfundul, @thiagoftsm, @cakrit, @cosmix

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cakrit @cosmix

# Ownership by directory structure
.travis/ @cakrit @cosmix @knatsakis
.github/ @cakrit @cosmix @knatsakis
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @cakrit @cosmix @knatsakis
collectors/ @vlvkobal @mfundul @cakrit @cosmix
collectors/charts.d.plugin/ @cakrit @cosmix
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @cakrit @cosmix
collectors/macos.plugin/ @vlvkobal @thiagoftsm @cakrit @cosmix
collectors/node.d.plugin/ @VLegakis @cakrit @cosmix
collectors/node.d.plugin/fronius/ @ccremer @cakrit @cosmix
collectors/node.d.plugin/snmp/ @VLegakis @cakrit @cosmix
collectors/node.d.plugin/stiebeleltron/ @ccremer @cakrit @cosmix
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @cakrit @cosmix
daemon/ @thiagoftsm @mfundul @cakrit @cosmix
database/ @mfundul @thiagoftsm @cakrit @cosmix
docs/ @cakrit @cosmix @joelhans
health/ @thiagoftsm @vlvkobal @cakrit @cosmix
health/health.d/ @thiagoftsm @vlvkobal @cakrit @cosmix
health/notifications/ @Ferroin @thiagoftsm @cakrit @cosmix
libnetdata/ @thiagofsm @mfundul @cakrit @cosmix
packaging/ @cakrit @cosmix @knatsakis
registry/ @VLegakis @cakrit @cosmix
streaming/ @thiagoftsm @vlvkobal @cakrit @cosmix
web/ @thiagoftsm @mfundul @vlvkobal @cakrit @cosmix
web/gui/ @VLegakis @cakrit @cosmix

# Ownership by filetype (overwrites ownership by directory)
*.md @cakrit @cosmix @joelhans
*.am @cakrit @cosmix @knatsakis

# Ownership of specific files
.gitignore @cakrit @cosmix @knatsakis
.travis.yml @cakrit @cosmix @knatsakis
.lgtm.yml @cakrit @cosmix @knatsakis
.eslintrc @cakrit @cosmix @knatsakis
.eslintignore @cakrit @cosmix @knatsakis
.csslintrc @cakrit @cosmix @knatsakis
.codeclimate.yml @cakrit @cosmix @knatsakis
.codacy.yml @cakrit @cosmix @knatsakis
netdata.spec.in @cakrit @cosmix @knatsakis
netdata-installer.sh @cakrit @cosmix @knatsakis
netlify.toml @cakrit @cosmix
package.json @VLegakis
packaging/version @netdatabot

LICENSE.md @cakrit @cosmix @joelhans
CHANGELOG.md @netdatabot
