Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cakrit, @paulkatsoulakis, @thiagoftsm, @vlvkobal, @gmosx, @ccremer, @ilyam8, @simonnagl, @mfundul, @Ferroin, @thiagofsm, @netdatabot

installer: include go.d.plugin version v0.7.0 (#6328)
  netdata-installer.sh
  packaging/go.d.checksums
Owners: @paulkatsoulakis, @cakrit

dnsmasq_dhcp: dhcp-range utilization alarm (#6319)
  health/Makefile.am
  health/health.d/dnsmasq_dhcp.conf
Owners: @paulkatsoulakis, @thiagoftsm, @cakrit

pihole: add to the dashboard_info (#6325)
  web/gui/dashboard_info.js
  web/gui/index.html
Owners: @gmosx, @cakrit

pihole collector: add alarms (#6320)
  health/Makefile.am
  health/health.d/pihole.conf
Owners: @paulkatsoulakis, @thiagoftsm, @cakrit

SSL_better_name change name! (#6336)
  libnetdata/socket/security.c
  libnetdata/socket/security.h
  streaming/rrdpush.c
Owners: @thiagofsm, @cakrit, @thiagoftsm

adaptec_raid: logical device regex fix (#6338)
  collectors/python.d.plugin/adaptec_raid/adaptec_raid.chart.py
Owners: @ilyam8

pihole: alarms delay fix (#6342)
  health/health.d/pihole.conf
Owners: @thiagoftsm, @cakrit

netdata/packaging/docker: Fix docker documentation and a fix to avoid failures (#6344)
  packaging/docker/README.md
  packaging/docker/run.sh
Owners: @cakrit, @paulkatsoulakis

Tomcat status invalid XML fix (#6345)
  collectors/python.d.plugin/tomcat/tomcat.chart.py
Owners: @ilyam8

add userstats charts for mysql (#6118)
  collectors/python.d.plugin/mysql/README.md
  collectors/python.d.plugin/mysql/mysql.chart.py
Owners: @cakrit, @ilyam8

Easily disable alarms, by persisting the silencers configuration (#6274)
  CMakeLists.txt
  Makefile.am
  configure.ac
  health/health.c
  health/health.h
  health/health_config.c
  libnetdata/Makefile.am
  libnetdata/health/Makefile.am
  libnetdata/health/health.c
  libnetdata/health/health.h
  libnetdata/json/Makefile.am
  libnetdata/json/README.md
  libnetdata/json/jsmn.c
  libnetdata/json/jsmn.h
  libnetdata/json/json.c
  libnetdata/json/json.h
  libnetdata/libnetdata.h
  netdata-installer.sh
  tests/health_mgmtapi/expected_list/ALARM_CPU_IOWAIT-list.json
  tests/health_mgmtapi/expected_list/ALARM_CPU_USAGE-list.json
  tests/health_mgmtapi/expected_list/CONTEXT_SYSTEM_CPU-list.json
  tests/health_mgmtapi/expected_list/DISABLE-list.json
  tests/health_mgmtapi/expected_list/DISABLE_ALL-list.json
  tests/health_mgmtapi/expected_list/DISABLE_ALL_ERROR-list.json
  tests/health_mgmtapi/expected_list/DISABLE_SYSTEM_LOAD-list.json
  tests/health_mgmtapi/expected_list/FAMILIES_LOAD-list.json
  tests/health_mgmtapi/expected_list/HOSTS-list.json
  tests/health_mgmtapi/expected_list/RESET-list.json
  tests/health_mgmtapi/expected_list/SILENCE-list.json
  tests/health_mgmtapi/expected_list/SILENCE_2-list.json
  tests/health_mgmtapi/expected_list/SILENCE_3-list.json
  tests/health_mgmtapi/expected_list/SILENCE_ALARM_CPU_USAGE-list.json
  tests/health_mgmtapi/expected_list/SILENCE_ALARM_CPU_USAGE_LOAD_TRIGGER-list.json
  tests/health_mgmtapi/expected_list/SILENCE_ALL-list.json
  tests/health_mgmtapi/health-cmdapi-test.sh.in
  web/api/health/README.md
  web/api/health/health_cmdapi.c
  web/api/health/health_cmdapi.h
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Owners: @ktsaou, @cakrit, @paulkatsoulakis, @thiagoftsm, @thiagofsm

Backend and SSL! (#6220)
  backends/README.md
  backends/backends.c
  backends/backends.h
  backends/opentsdb/README.md
  backends/opentsdb/opentsdb.c
  backends/opentsdb/opentsdb.h
  libnetdata/socket/security.c
  libnetdata/socket/security.h
  streaming/rrdpush.c
  web/server/static/static-threaded.c
Owners: @cakrit, @thiagoftsm, @vlvkobal, @thiagofsm

Better checks for nfacct headers (#6351)
  configure.ac
Owners: @ktsaou, @cakrit

Revert "Easily disable alarms, by persisting the silencers configuration (#6274)"
  CMakeLists.txt
  Makefile.am
  configure.ac
  health/health.c
  health/health.h
  health/health_config.c
  libnetdata/Makefile.am
  libnetdata/health/Makefile.am
  libnetdata/health/health.c
  libnetdata/health/health.h
  libnetdata/json/Makefile.am
  libnetdata/json/README.md
  libnetdata/json/jsmn.c
  libnetdata/json/jsmn.h
  libnetdata/json/json.c
  libnetdata/json/json.h
  libnetdata/libnetdata.h
  netdata-installer.sh
  tests/health_mgmtapi/expected_list/ALARM_CPU_IOWAIT-list.json
  tests/health_mgmtapi/expected_list/ALARM_CPU_USAGE-list.json
  tests/health_mgmtapi/expected_list/CONTEXT_SYSTEM_CPU-list.json
  tests/health_mgmtapi/expected_list/DISABLE-list.json
  tests/health_mgmtapi/expected_list/DISABLE_ALL-list.json
  tests/health_mgmtapi/expected_list/DISABLE_ALL_ERROR-list.json
  tests/health_mgmtapi/expected_list/DISABLE_SYSTEM_LOAD-list.json
  tests/health_mgmtapi/expected_list/FAMILIES_LOAD-list.json
  tests/health_mgmtapi/expected_list/HOSTS-list.json
  tests/health_mgmtapi/expected_list/RESET-list.json
  tests/health_mgmtapi/expected_list/SILENCE-list.json
  tests/health_mgmtapi/expected_list/SILENCE_2-list.json
  tests/health_mgmtapi/expected_list/SILENCE_3-list.json
  tests/health_mgmtapi/expected_list/SILENCE_ALARM_CPU_USAGE-list.json
  tests/health_mgmtapi/expected_list/SILENCE_ALARM_CPU_USAGE_LOAD_TRIGGER-list.json
  tests/health_mgmtapi/expected_list/SILENCE_ALL-list.json
  tests/health_mgmtapi/health-cmdapi-test.sh.in
  web/api/health/README.md
  web/api/health/health_cmdapi.c
  web/api/health/health_cmdapi.h
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Owners: @ktsaou, @cakrit, @paulkatsoulakis, @thiagoftsm, @thiagofsm

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Redirect to new site at www.netdata.cloud (#6359)
  web/gui/demosites.html
Owners: @gmosx, @cakrit

monit: obsolete service in runtime (#6340)
  collectors/python.d.plugin/monit/monit.chart.py
Owners: @ilyam8

apps.plugin: detect openldap server processes by default on Deb… (#6364)
  collectors/apps.plugin/apps_groups.conf
Owners: @vlvkobal, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Repeating alarm notifications (#6309)
  daemon/common.h
  daemon/main.c
  database/rrd.c
  database/rrd.h
  database/rrdcalc.c
  database/rrdcalc.h
  database/rrdcalctemplate.c
  database/rrdcalctemplate.h
  database/rrdhost.c
  health/README.md
  health/health.c
  health/health.h
  health/health_config.c
  health/health_json.c
  health/health_log.c
  libnetdata/config/appconfig.c
  libnetdata/config/appconfig.h
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
  web/gui/main.js
Owners: @thiagoftsm, @mfundul, @cakrit, @thiagofsm, @gmosx

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Easily disable alarms, by persisting the silencers configuration (#6360)
  CMakeLists.txt
  Makefile.am
  configure.ac
  daemon/main.c
  health/health.c
  health/health.h
  health/health_config.c
  libnetdata/Makefile.am
  libnetdata/health/Makefile.am
  libnetdata/health/health.c
  libnetdata/health/health.h
  libnetdata/json/Makefile.am
  libnetdata/json/README.md
  libnetdata/json/jsmn.c
  libnetdata/json/jsmn.h
  libnetdata/json/json.c
  libnetdata/json/json.h
  libnetdata/libnetdata.h
  tests/health_mgmtapi/expected_list/ALARM_CPU_IOWAIT-list.json
  tests/health_mgmtapi/expected_list/ALARM_CPU_USAGE-list.json
  tests/health_mgmtapi/expected_list/CONTEXT_SYSTEM_CPU-list.json
  tests/health_mgmtapi/expected_list/DISABLE-list.json
  tests/health_mgmtapi/expected_list/DISABLE_ALL-list.json
  tests/health_mgmtapi/expected_list/DISABLE_ALL_ERROR-list.json
  tests/health_mgmtapi/expected_list/DISABLE_SYSTEM_LOAD-list.json
  tests/health_mgmtapi/expected_list/FAMILIES_LOAD-list.json
  tests/health_mgmtapi/expected_list/HOSTS-list.json
  tests/health_mgmtapi/expected_list/RESET-list.json
  tests/health_mgmtapi/expected_list/SILENCE-list.json
  tests/health_mgmtapi/expected_list/SILENCE_2-list.json
  tests/health_mgmtapi/expected_list/SILENCE_3-list.json
  tests/health_mgmtapi/expected_list/SILENCE_ALARM_CPU_USAGE-list.json
  tests/health_mgmtapi/expected_list/SILENCE_ALARM_CPU_USAGE_LOAD_TRIGGER-list.json
  tests/health_mgmtapi/expected_list/SILENCE_ALL-list.json
  tests/health_mgmtapi/health-cmdapi-test.sh.in
  web/api/health/README.md
  web/api/health/health_cmdapi.c
  web/api/health/health_cmdapi.h
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Owners: @ktsaou, @cakrit, @paulkatsoulakis, @thiagoftsm, @mfundul, @thiagofsm

Update README.md (#6372)
  database/engine/README.md
Owners: @cakrit

Health_df (#6379)
  health/health.c
Owners: @thiagoftsm, @cakrit

netdata/packaging: Netdata binary packages generation - spec file refinement, support for nightlies (RPM) (#6369)
  .travis.yml
  .travis/package_management/build_package_in_container.sh
  .travis/package_management/common.py
  .travis/package_management/configure_deb_lxc_environment.py
  .travis/package_management/configure_rpm_lxc_environment.py
  .travis/package_management/create_lxc_for_build.sh
  .travis/package_management/deb/configure_lxc_environment.py
  .travis/package_management/rpm/configure_lxc_environment.py
  .travis/package_management/rpm/trigger_lxc_build.py
  .travis/package_management/trigger_deb_lxc_build.py
  .travis/package_management/trigger_rpm_lxc_build.py
  .travis/package_management/yank_stale_rpm.sh
  netdata.spec.in
Owners: @paulkatsoulakis, @cakrit

netdata/packaging: [ci skip] Revert modifications added to help testing
  .travis.yml
Owners: @paulkatsoulakis

Health could not read properly the health silencers file (#6374)
  health/health.c
Owners: @thiagoftsm, @cakrit

alarm-notify.sh should respect the cloud base url setting (#6383)
  health/notifications/alarm-notify.sh.in
  registry/registry_init.c
Owners: @Ferroin, @cakrit, @gmosx

Add a check for a macro declaration for the perf plugin (#6382)
  configure.ac
Owners: @ktsaou, @cakrit

Update apps_groups.conf for time group (#6397)
  collectors/apps.plugin/apps_groups.conf
Owners: @vlvkobal, @cakrit

Update to icons (#6396)
  web/gui/favicon.ico
  web/gui/images/android-icon-144x144.png
  web/gui/images/android-icon-192x192.png
  web/gui/images/android-icon-36x36.png
  web/gui/images/android-icon-48x48.png
  web/gui/images/android-icon-72x72.png
  web/gui/images/android-icon-96x96.png
  web/gui/images/apple-icon-114x114.png
  web/gui/images/apple-icon-120x120.png
  web/gui/images/apple-icon-144x144.png
  web/gui/images/apple-icon-152x152.png
  web/gui/images/apple-icon-180x180.png
  web/gui/images/apple-icon-57x57.png
  web/gui/images/apple-icon-60x60.png
  web/gui/images/apple-icon-72x72.png
  web/gui/images/apple-icon-76x76.png
  web/gui/images/apple-icon-precomposed.png
  web/gui/images/apple-icon.png
  web/gui/images/banner-icon-144x144.png
  web/gui/images/favicon-128.png
  web/gui/images/favicon-16x16.png
  web/gui/images/favicon-196x196.png
  web/gui/images/favicon-32x32.png
  web/gui/images/favicon-96x96.png
  web/gui/images/favicon.ico
  web/gui/images/ms-icon-144x144.png
  web/gui/images/ms-icon-150x150.png
  web/gui/images/ms-icon-310x150.png
  web/gui/images/ms-icon-310x310.png
  web/gui/images/ms-icon-36x36.png
  web/gui/images/netdata-logomark.svg
  web/gui/index.html
Owners: @gmosx, @cakrit

Changed links from my-netdata.io to netdata.cloud (#6389)
  README.md
  docs/Demo-Sites.md
Owners: @cakrit

Update favicon with new logo in docs and index.html (#6398)
  docs/generator/custom/img/favicon.ico
  web/gui/index.html
Owners: @cakrit, @gmosx

Add a .gitattributes file (#6381)
  .gitattributes
Owners: @ktsaou, @cakrit

Health_index (#6377)
  database/rrdcalc.c
Owners: @cakrit, @mfundul

Add more debug messages for pluginsd pipe errors (#6373)
  collectors/plugins.d/plugins_d.c
Owners: @vlvkobal, @cakrit

Ignore /dev and /run space/inode usage (#6399)
  health/health.d/disks.conf
Owners: @thiagoftsm, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/packaging: leftover cleanup, dont use dev branch on this condition
  .travis.yml
Owners: @paulkatsoulakis

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cakrit

# Ownership by directory structure
.travis/ @paulkatsoulakis @cakrit
.github/ @paulkatsoulakis @cakrit
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @paulkatsoulakis @thiagoftsm
build/ @paulkatsoulakis @cakrit
collectors/ @vlvkobal @cakrit
collectors/charts.d.plugin/ @paulkatsoulakis @cakrit
collectors/freebsd.plugin/ @vlvkobal @cakrit
collectors/macos.plugin/ @vlvkobal @cakrit
collectors/node.d.plugin/ @gmosx @cakrit
collectors/node.d.plugin/fronius/ @ccremer @cakrit
collectors/node.d.plugin/snmp/ @gmosx @cakrit
collectors/node.d.plugin/stiebeleltron/ @ccremer @cakrit
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @cakrit
daemon/ @thiagoftsm @mfundul @cakrit
database/ @cakrit @mfundul
docs/ @cakrit
health/ @thiagoftsm @cakrit
health/health.d/ @thiagoftsm @cakrit
health/notifications/ @Ferroin @cakrit
libnetdata/ @thiagofsm @cakrit
packaging/ @paulkatsoulakis @cakrit
packaging/installer/ @paulkatsoulakis @cakrit
packaging/makeself/ @paulkatsoulakis @cakrit
registry/ @gmosx @cakrit
streaming/ @cakrit @thiagoftsm
web/ @thiagoftsm @cakrit
web/gui/ @gmosx @cakrit

# Ownership by filetype (overwrites ownership by directory)
*.md @cakrit
*.am @paulkatsoulakis

# Ownership of specific files
.gitignore @paulkatsoulakis @cakrit
.travis.yml @paulkatsoulakis
.lgtm.yml @paulkatsoulakis
.eslintrc @paulkatsoulakis
.eslintignore @paulkatsoulakis
.csslintrc @paulkatsoulakis
.codeclimate.yml @paulkatsoulakis
.codacy.yml @paulkatsoulakis
netdata.spec.in @paulkatsoulakis
netdata-installer.sh @paulkatsoulakis @cakrit
netlify.toml @cakrit
package.json @gmosx
packaging/version @netdatabot

LICENSE.md @cakrit
CHANGELOG.md @netdatabot
