Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @paulfantom, @l2isbad, @Ferroin, @netdatabot

.github/CODEOWNERS:

# Global (default) code owner
* @ktsaou

# Ownership by directory structure
.travis/ @paulfantom
# backends/
build/ @paulfantom
collectors/python.d.plugin/ @l2isbad @Ferroin
contrib/ @paulfantom
daemon/ @ktsaou
database/ @ktsaou
docker/ @paulfantom
# health/ 
# installer/
# libnetdata/ 
# makeself/ 
packaging/ @paulfantom
# registry/
# streaming/
# system/ 
# tests/
# web/

# Ownership of specific files
CHANGELOG.md @netdatabot
.travis.yml @paulfantom
.lgtm.yml @paulfantom

# Ownership by filetype (overwrites ownership by directory)
*.am @paulfantom @ktsaou
*.c *.h @ktsaou @vlvkobal

adaptec_raid python module (#4429)
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/adaptec_raid/Makefile.inc
  collectors/python.d.plugin/adaptec_raid/README.md
  collectors/python.d.plugin/adaptec_raid/adaptec_raid.chart.py
  collectors/python.d.plugin/adaptec_raid/adaptec_raid.conf
  health/Makefile.am
  health/health.d/adaptec_raid.conf
Owners: @paulfantom, @ktsaou, @l2isbad, @Ferroin

updated tests for the new hierarchy (#4464)
  .gitignore
  libnetdata/adaptive_resortable_list/README.md
  tests/profile/Makefile
  tests/profile/benchmark-dictionary.c
  tests/profile/benchmark-procfile-parser.c
  tests/profile/benchmark-strcmp.c
  tests/profile/benchmark-value-pairs.c
  tests/profile/test-eval.c
Owners: @ktsaou

optimized ses and added des (#4470)
  CMakeLists.txt
  Makefile.am
  configure.ac
  cppcheck.sh
  web/api/queries/des/Makefile.am
  web/api/queries/des/README.md
  web/api/queries/des/des.c
  web/api/queries/des/des.h
  web/api/queries/query.c
  web/api/queries/query.h
  web/api/queries/ses/README.md
  web/api/queries/ses/ses.c
  web/api/queries/stddev/README.md
  web/api/queries/stddev/stddev.c
  web/api/queries/stddev/stddev.h
Owners: @ktsaou, @paulfantom

bug-fix: fixed aligned queries that returned no data (#4472)
  web/api/queries/query.c
Owners: @ktsaou

Feat: detect NIC speed and alarm on each device for net traffic overflow (#4430)
  collectors/proc.plugin/proc_net_dev.c
  health/health.d/net.conf
Owners: @ktsaou

Fix checking of grouping time (#4478)
  web/api/queries/query.c
Owners: @ktsaou

query code cleanup (#4480)
  backends/backends.c
  backends/backends.h
  backends/prometheus/backend_prometheus.c
  web/api/queries/README.md
  web/api/queries/average/README.md
  web/api/queries/average/average.c
  web/api/queries/average/average.h
  web/api/queries/des/README.md
  web/api/queries/des/des.c
  web/api/queries/des/des.h
  web/api/queries/incremental_sum/README.md
  web/api/queries/incremental_sum/incremental_sum.c
  web/api/queries/incremental_sum/incremental_sum.h
  web/api/queries/max/README.md
  web/api/queries/max/max.c
  web/api/queries/max/max.h
  web/api/queries/median/README.md
  web/api/queries/median/median.c
  web/api/queries/median/median.h
  web/api/queries/min/README.md
  web/api/queries/min/min.c
  web/api/queries/min/min.h
  web/api/queries/query.c
  web/api/queries/rrdr.h
  web/api/queries/ses/README.md
  web/api/queries/ses/ses.c
  web/api/queries/ses/ses.h
  web/api/queries/stddev/stddev.c
  web/api/queries/stddev/stddev.h
  web/api/queries/sum/README.md
  web/api/queries/sum/sum.c
  web/api/queries/sum/sum.h
Owners: @ktsaou

fix query sum (#4482)
  web/api/queries/query.c
  web/api/queries/stddev/README.md
  web/api/queries/sum/sum.c
Owners: @ktsaou

query engine documentation and stats (#4483)
  daemon/global_statistics.c
  daemon/global_statistics.h
  web/api/queries/README.md
  web/api/queries/query.c
  web/api/queries/rrdr.h
Owners: @ktsaou

updated queries README (#4484)
  web/api/queries/README.md
Owners: @ktsaou

updated queries README (#4485)
  web/api/queries/README.md
Owners: @ktsaou

updated queries README (#4486)
  web/api/queries/README.md
Owners: @ktsaou

restored min-max calculation of RRDR (#4489)
  web/api/queries/query.c
Owners: @ktsaou

diskspace plugin should not stat() excluded mountpoints (#4494)
  collectors/diskspace.plugin/plugin_diskspace.c
Owners: @ktsaou

fix query min-max, again... (#4495)
  web/api/queries/query.c
Owners: @ktsaou

add option to run netdata in the background (#4364)
  CONTRIBUTORS.md
  daemon/main.c
Owners: @ktsaou

Disable python sudo modules by default (#4477)
  collectors/python.d.plugin/adaptec_raid/README.md
  collectors/python.d.plugin/adaptec_raid/adaptec_raid.chart.py
  collectors/python.d.plugin/adaptec_raid/adaptec_raid.conf
  collectors/python.d.plugin/megacli/README.md
  collectors/python.d.plugin/megacli/megacli.chart.py
  collectors/python.d.plugin/megacli/megacli.conf
  collectors/python.d.plugin/samba/README.md
  collectors/python.d.plugin/samba/samba.chart.py
Owners: @l2isbad, @Ferroin

fixed rpm build; (#4503)
  backends/backends.c
  database/rrddimvar.c
  database/rrdset.c
  libnetdata/locks/locks.c
  libnetdata/procfile/procfile.c
  libnetdata/socket/socket.c
  streaming/rrdpush.c
  web/api/Makefile.am
  web/api/exporters/Makefile.am
  web/api/queries/Makefile.am
  web/api/queries/query.c
  web/server/static/static-threaded.c
  web/server/web_client.c
Owners: @ktsaou, @paulfantom

Split the API formatters in modules (#4504)
  CMakeLists.txt
  Makefile.am
  configure.ac
  web/api/exporters/allmetrics.h
  web/api/formatters/Makefile.am
  web/api/formatters/README.md
  web/api/formatters/charts2json.c
  web/api/formatters/charts2json.h
  web/api/formatters/csv/Makefile.am
  web/api/formatters/csv/README.md
  web/api/formatters/csv/csv.c
  web/api/formatters/csv/csv.h
  web/api/formatters/json/Makefile.am
  web/api/formatters/json/README.md
  web/api/formatters/json/json.c
  web/api/formatters/json/json.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/json_wrapper.h
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/formatters/rrdset2json.c
  web/api/formatters/rrdset2json.h
  web/api/formatters/ssv/Makefile.am
  web/api/formatters/ssv/README.md
  web/api/formatters/ssv/ssv.c
  web/api/formatters/ssv/ssv.h
  web/api/formatters/value/Makefile.am
  web/api/formatters/value/README.md
  web/api/formatters/value/value.c
  web/api/formatters/value/value.h
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
  web/api/queries/query.c
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
  web/api/rrd2json.c
  web/api/web_api_v1.c
  web/api/web_api_v1.h
Owners: @ktsaou, @paulfantom

fix RPM build (#4507)
  libnetdata/socket/socket.c
  web/api/Makefile.am
Owners: @ktsaou, @paulfantom

do not send duplicate chart names (#4508)
  streaming/rrdpush.c
Owners: @ktsaou

updated docker pulls badges (#4510)
  README.md
Owners: @ktsaou

exclude web/gui/src from codacy checks (#4515)
  .codacy.yml
Owners: @ktsaou

updated infographic (#4511)
  README.md
  diagrams/netdata-overview.xml
Owners: @ktsaou

fix parse oidname and santilize dimension name (#4498)
  collectors/node.d.plugin/snmp/snmp.node.js
Owners: @ktsaou

fixed vulnerabilities identified by red4sec.com (#4521)
  libnetdata/url/url.c
  web/api/web_api_v1.c
Owners: @ktsaou

allow debugging memory per module (#4524)
  collectors/proc.plugin/plugin_proc.c
  database/rrdhost.c
  database/rrdset.c
  database/rrdsetvar.c
  libnetdata/buffer/buffer.c
  libnetdata/clocks/clocks.c
  libnetdata/clocks/clocks.h
  libnetdata/libnetdata.c
  libnetdata/libnetdata.h
Owners: @ktsaou

Do not enable unused per core interrupts by default (#4519)
  collectors/proc.plugin/proc_interrupts.c
  collectors/proc.plugin/proc_softirqs.c
  libnetdata/config/appconfig.h
Owners: @ktsaou

fixed broken links (#4530)
  diagrams/netdata-overview.xml
Owners: @ktsaou

Added @gmosx to CONTRIBUTORS.md (#4531)
  CONTRIBUTORS.md
Owners: @ktsaou

new releaser (#4526)
  .gitignore
  .travis.yml
  .travis/README.md
  .travis/releaser.sh
Owners: @ktsaou, @paulfantom

[ci skip] Automatic changelog update
  CHANGELOG.md
Owners: @netdatabot

fixed wrong annotations given to google charts (#4535)
  web/api/formatters/json/json.c
  web/api/queries/query.c
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
Owners: @ktsaou

[ci skip] Automatic changelog update
  CHANGELOG.md
Owners: @netdatabot

Changed swagger editor url to the correct one (#4539)
  web/api/README.md
Owners: @ktsaou

[ci skip] Automatic changelog update
  CHANGELOG.md
Owners: @netdatabot

simplify CI system configuration (#4534)
  .travis.yml
  .travis/README.md
  .travis/create_artifacts.sh
  .travis/firehol_create_artifacts.sh
  .travis/releaser.sh
Owners: @paulfantom

cleaner releaser.sh script (#4542)
  .travis.yml
  .travis/README.md
  .travis/generate_changelog.sh
  .travis/releaser.sh
Owners: @paulfantom

fix CI scripts configuration and [netdata minor release] and [minor] (just to be sure)
  .travis.yml
  .travis/create_artifacts.sh
  .travis/generate_changelog.sh
  .travis/releaser.sh
  docker/build.sh
Owners: @paulfantom

[ci skip] Automatic changelog update
  CHANGELOG.md
Owners: @netdatabot
