Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cakrit, @paulkatsoulakis, @vlvkobal, @gmosx, @ccremer, @ilyam8, @simonnagl, @mfundul, @Ferroin, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cakrit

# Ownership by directory structure
.travis/ @paulkatsoulakis @cakrit
.github/ @paulkatsoulakis @cakrit
backends/ @ktsaou @vlvkobal
backends/graphite/ @ktsaou @vlvkobal
backends/json/ @ktsaou @vlvkobal
backends/opentsdb/ @ktsaou @vlvkobal
backends/prometheus/ @ktsaou @vlvkobal @paulkatsoulakis
build/ @paulkatsoulakis @cakrit
collectors/ @ktsaou @vlvkobal @cakrit
collectors/charts.d.plugin/ @ktsaou @paulkatsoulakis @cakrit
collectors/freebsd.plugin/ @vlvkobal @cakrit
collectors/macos.plugin/ @vlvkobal @cakrit
collectors/node.d.plugin/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/fronius/ @ktsaou @gmosx @ccremer @cakrit
collectors/node.d.plugin/snmp/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/stiebeleltron/ @ktsaou @gmosx @ccremer @cakrit
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @ktsaou @vlvkobal @cakrit
daemon/ @ktsaou @mfundul @cakrit
database/ @ktsaou @mfundul
docs/ @cakrit
health/ @ktsaou @cakrit
health/health.d/ @ktsaou @cakrit
health/notifications/ @ktsaou @Ferroin @cakrit
libnetdata/ @ktsaou @cakrit
packaging/ @paulkatsoulakis @cakrit
packaging/installer/ @ktsaou @paulkatsoulakis @cakrit
packaging/makeself/ @ktsaou @paulkatsoulakis @cakrit
registry/ @ktsaou @gmosx @cakrit
streaming/ @ktsaou @mfundul
web/ @ktsaou @cakrit
web/gui/ @ktsaou @gmosx @cakrit

# Ownership by filetype (overwrites ownership by directory)
*.md @ktsaou @cakrit
*.am @paulkatsoulakis @ktsaou

# Ownership of specific files
.gitignore @paulkatsoulakis @cakrit
.travis.yml @paulkatsoulakis
.lgtm.yml @paulkatsoulakis
.eslintrc @paulkatsoulakis
.eslintignore @paulkatsoulakis
.csslintrc @paulkatsoulakis
.codeclimate.yml @paulkatsoulakis
.codacy.yml @paulkatsoulakis
netdata.spec.in @paulkatsoulakis
netdata-installer.sh @ktsaou @paulkatsoulakis @cakrit
netlify.toml @cakrit
package.json @gmosx
packaging/version @netdatabot

LICENSE.md @ktsaou
CHANGELOG.md @netdatabot

smartd documentation improvements (#6207)
  collectors/python.d.plugin/smartd_log/README.md
Owners: @ktsaou, @cakrit

Fix page cache descriptor race condition (#6202)
  database/engine/pagecache.c
  database/engine/rrdenglocking.c
Owners: @ktsaou, @mfundul

Update anonymous-statistics.md (#6208)
  docs/anonymous-statistics.md
Owners: @ktsaou, @cakrit

Simplify health cmdapi tester - no setup/cleanup needed (#6210)
  tests/health_mgmtapi/README.md
  tests/health_mgmtapi/health-cmdapi-test.sh.in
  tests/health_mgmtapi/python-example.conf
Owners: @ktsaou, @cakrit

Add code style guidance to CONTRIBUTING (#6212)
  CONTRIBUTING.md
Owners: @ktsaou, @cakrit

netdata/packaging/ci: Add lifecycle checks to bare operating system installations (#6209)
  .travis.yml
  health/notifications/alarm-notify.sh.in
  tests/updater_checks.sh
Owners: @paulkatsoulakis, @ktsaou, @Ferroin, @cakrit

Fill chart gaps efficiently. (#6216)
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/rrdset.c
Owners: @ktsaou, @mfundul

bump go.d 0.6.1 (#6217)
  netdata-installer.sh
  packaging/go.d.checksums
Owners: @ktsaou, @paulkatsoulakis, @cakrit

netdata/daemon: Eliminate a couple of warnings, plus tabs removal (#6222)
  daemon/main.c
  web/server/web_client.c
Owners: @ktsaou, @mfundul, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

SSL_fix_format Fix wrong format used with SSL! (#6219)
  libnetdata/socket/security.c
  libnetdata/socket/socket.c
Owners: @ktsaou, @cakrit

New URL parser (#6070)
  libnetdata/inlined.h
  libnetdata/url/url.c
  libnetdata/url/url.h
  tests/urls/requests.sh
  web/api/badges/web_buffer_svg.c
  web/api/exporters/allmetrics.c
  web/api/health/health_cmdapi.c
  web/api/web_api_v1.c
  web/server/web_client.c
  web/server/web_client.h
Owners: @ktsaou, @cakrit

URL_parser fixing allmetrics! (#6231)
  web/api/exporters/allmetrics.c
Owners: @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Remove CNCF logo and TOC presentation reference (#6234)
  README.md
Owners: @ktsaou, @cakrit

Prometheus remote write backend (#6062)
  .gitignore
  CMakeLists.txt
  Makefile.am
  backends/README.md
  backends/backends.c
  backends/backends.h
  backends/prometheus/backend_prometheus.c
  backends/prometheus/backend_prometheus.h
  backends/prometheus/remote_write/Makefile.am
  backends/prometheus/remote_write/README.md
  backends/prometheus/remote_write/remote_write.cc
  backends/prometheus/remote_write/remote_write.h
  backends/prometheus/remote_write/remote_write.proto
  configure.ac
  database/rrd.h
  database/rrddim.c
  database/rrdset.c
  libnetdata/socket/socket.c
  netdata-installer.sh
Owners: @paulkatsoulakis, @cakrit, @ktsaou, @vlvkobal, @mfundul

Force page alignment per dimension of chart. (#6240)
  database/engine/rrdengineapi.c
  database/rrd.h
  database/rrdset.c
Owners: @ktsaou, @mfundul
