Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cakrit, @paulkatsoulakis, @vlvkobal, @gmosx, @ccremer, @ilyam8, @simonnagl, @mfundul, @Ferroin, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cakrit

# Ownership by directory structure
.travis/ @paulkatsoulakis @cakrit
.github/ @paulkatsoulakis @cakrit
backends/ @ktsaou @vlvkobal
backends/graphite/ @ktsaou @vlvkobal
backends/json/ @ktsaou @vlvkobal
backends/opentsdb/ @ktsaou @vlvkobal
backends/prometheus/ @ktsaou @vlvkobal @paulkatsoulakis
build/ @paulkatsoulakis @cakrit
collectors/ @ktsaou @vlvkobal @cakrit
collectors/charts.d.plugin/ @ktsaou @paulkatsoulakis @cakrit
collectors/freebsd.plugin/ @vlvkobal @cakrit
collectors/macos.plugin/ @vlvkobal @cakrit
collectors/node.d.plugin/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/fronius/ @ktsaou @gmosx @ccremer @cakrit
collectors/node.d.plugin/snmp/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/stiebeleltron/ @ktsaou @gmosx @ccremer @cakrit
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @ktsaou @vlvkobal @cakrit
daemon/ @ktsaou @mfundul @cakrit
database/ @ktsaou @mfundul
docs/ @cakrit
health/ @ktsaou @cakrit
health/health.d/ @ktsaou @cakrit
health/notifications/ @ktsaou @Ferroin @cakrit
libnetdata/ @ktsaou @cakrit
packaging/ @paulkatsoulakis @cakrit
packaging/installer/ @ktsaou @paulkatsoulakis @cakrit
packaging/makeself/ @ktsaou @paulkatsoulakis @cakrit
registry/ @ktsaou @gmosx @cakrit
streaming/ @ktsaou @mfundul
web/ @ktsaou @cakrit
web/gui/ @ktsaou @gmosx @cakrit

# Ownership by filetype (overwrites ownership by directory)
*.md @ktsaou @cakrit
*.am @paulkatsoulakis @ktsaou

# Ownership of specific files
.gitignore @paulkatsoulakis @cakrit
.travis.yml @paulkatsoulakis
.lgtm.yml @paulkatsoulakis
.eslintrc @paulkatsoulakis
.eslintignore @paulkatsoulakis
.csslintrc @paulkatsoulakis
.codeclimate.yml @paulkatsoulakis
.codacy.yml @paulkatsoulakis
netdata.spec.in @paulkatsoulakis
netdata-installer.sh @ktsaou @paulkatsoulakis @cakrit
netlify.toml @cakrit
package.json @gmosx
packaging/version @netdatabot

LICENSE.md @ktsaou
CHANGELOG.md @netdatabot

Active pid number alert (#6116)
  health/Makefile.am
  health/health.d/processes.conf
Owners: @paulkatsoulakis, @ktsaou, @cakrit

add mysql deadlock chart (#6115)
  collectors/python.d.plugin/mysql/mysql.chart.py
  web/gui/dashboard_info.js
Owners: @ilyam8, @ktsaou, @gmosx, @cakrit

netdata/packaging/installer: nits and fixes (#6121)
  netdata-installer.sh
  packaging/installer/README.md
  packaging/installer/functions.sh
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/netdata-uninstaller.sh
  packaging/installer/netdata-updater.sh
Owners: @ktsaou, @paulkatsoulakis, @cakrit

Move telemetry config before netdata is restarted and fix the console message (#6127)
  netdata-installer.sh
Owners: @ktsaou, @paulkatsoulakis, @cakrit

Add modules to charts.d.conf (#6120)
  collectors/charts.d.plugin/apcupsd/apcupsd.chart.sh
  collectors/charts.d.plugin/charts.d.conf
Owners: @ktsaou, @paulkatsoulakis, @cakrit

Update README.md (#6111)
  packaging/installer/README.md
Owners: @ktsaou, @cakrit

Change 'netdata' to 'Netdata' in docs/ and README (#6137)
  README.md
  docs/Add-more-charts-to-netdata.md
  docs/Charts.md
  docs/Demo-Sites.md
  docs/Donations-netdata-has-received.md
  docs/GettingStarted.md
  docs/Netdata-Security-and-Disclosure-Information.md
  docs/Performance.md
  docs/Running-behind-apache.md
  docs/Running-behind-caddy.md
  docs/Running-behind-lighttpd.md
  docs/Running-behind-nginx.md
  docs/Third-Party-Plugins.md
  docs/a-github-star-is-important.md
  docs/anonymous-statistics.md
  docs/configuration-guide.md
  docs/generator/buildhtml.sh
  docs/generator/buildyaml.sh
  docs/generator/checklinks.sh
  docs/high-performance-netdata.md
  docs/netdata-for-IoT.md
  docs/netdata-security.md
  docs/privacy-policy.md
  docs/why-netdata/1s-granularity.md
  docs/why-netdata/immediate-results.md
  docs/why-netdata/meaningful-presentation.md
  docs/why-netdata/unlimited-metrics.md
Owners: @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Documentation fixes (#6144)
  README.md
  docs/GettingStarted.md
  docs/generator/buildhtml.sh
  docs/privacy-policy.md
  registry/README.md
  streaming/README.md
Owners: @ktsaou, @cakrit

x509check: add last_collected alarm (#6139)
  health/health.d/x509check.conf
Owners: @ktsaou, @cakrit

web_log: remove trailing space from nginx_ext2 pattern (#6138)
  collectors/python.d.plugin/web_log/web_log.chart.py
  collectors/python.d.plugin/web_log/web_log.conf
Owners: @ilyam8

Update README.md (#6146)
  web/README.md
Owners: @ktsaou, @cakrit

Add "custom-plugins.d" to fix error in log file (#6080)
  packaging/makeself/install-or-update.sh
Owners: @ktsaou, @paulkatsoulakis, @cakrit

Pass correct info to run funct. (#6126)
  collectors/charts.d.plugin/apcupsd/apcupsd.chart.sh
  collectors/charts.d.plugin/charts.d.plugin.in
Owners: @ktsaou, @paulkatsoulakis, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Properly add security policy (#6163)
  SECURITY.md
Owners: @ktsaou, @cakrit

Update security policy (#6166)
  SECURITY.md
  docs/Netdata-Security-and-Disclosure-Information.md
  docs/generator/buildyaml.sh
Owners: @ktsaou, @cakrit

DB engine optimize RAM usage (#6134)
  CMakeLists.txt
  Makefile.am
  daemon/global_statistics.c
  database/engine/README.md
  database/engine/datafile.h
  database/engine/journalfile.c
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/engine/rrdenginelib.c
  database/engine/rrdenginelib.h
  database/engine/rrdenglocking.c
  database/engine/rrdenglocking.h
  database/rrd.h
Owners: @ktsaou, @cakrit, @paulkatsoulakis, @mfundul

Add empty page detection in DB engine (#6173)
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
  database/engine/rrdengineapi.c
  database/engine/rrdenginelib.c
Owners: @ktsaou, @mfundul

varnish v4 compatibility fix (#6168)
  collectors/python.d.plugin/varnish/varnish.chart.py
Owners: @ilyam8

web log pattern fix (#6180)
  collectors/python.d.plugin/web_log/web_log.chart.py
  collectors/python.d.plugin/web_log/web_log.conf
Owners: @ilyam8

SSL implementation for Netdata (#5956)
  .gitignore
  CMakeLists.txt
  Makefile.am
  configure.ac
  daemon/main.c
  database/rrd.h
  database/rrdhost.c
  docs/Running-behind-nginx.md
  libnetdata/libnetdata.h
  libnetdata/socket/security.c
  libnetdata/socket/security.h
  libnetdata/socket/socket.c
  libnetdata/socket/socket.h
  netdata-installer.sh
  packaging/makeself/install-or-update.sh
  streaming/README.md
  streaming/rrdpush.c
  streaming/stream.conf
  web/server/README.md
  web/server/static/static-threaded.c
  web/server/web_client.c
  web/server/web_client.h
  web/server/web_client_cache.c
  web/server/web_server.c
Owners: @paulkatsoulakis, @cakrit, @ktsaou, @mfundul

netdata/packaging: always update on empty checksum (#6182)
  packaging/installer/netdata-updater.sh
Owners: @ktsaou, @paulkatsoulakis, @cakrit

Correct date used in pushbullet notifications (#6179)
  health/notifications/alarm-notify.sh.in
Owners: @ktsaou, @Ferroin, @cakrit

Make custom notification's instructions clearer (#6181)
  health/notifications/custom/README.md
Owners: @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Correct example sensor list (#6189)
  collectors/python.d.plugin/README.md
Owners: @ktsaou, @cakrit

Turn tv.html links to https (#6198)
  web/gui/tv.html
Owners: @ktsaou, @gmosx, @cakrit

Change print level from error to info (#6195)
  database/rrdset.c
Owners: @ktsaou, @mfundul

Support falling back to buffered I/O when direct I/O is unavailable (#6174)
  database/engine/datafile.c
  database/engine/journalfile.c
  database/engine/rrdenginelib.c
  database/engine/rrdenginelib.h
Owners: @ktsaou, @mfundul

Add perforce server process monitoring (#6064)
  CONTRIBUTORS.md
  collectors/apps.plugin/apps_groups.conf
Owners: @ktsaou, @cakrit, @vlvkobal

change 509check_last_collected_secs alarm every to 60s (#6194)
  health/health.d/x509check.conf
Owners: @ktsaou, @cakrit

usw `fa-server` icon for wmi collector (#6197)
  web/gui/dashboard_info.js
  web/gui/index.html
Owners: @ktsaou, @gmosx, @cakrit

NEW: local remark-lint checks and autofix support (#5898)
  .remarkrc.js
  package.json
Owners: @ktsaou, @cakrit, @gmosx

Terminate email header lines with \r\n (#6187)
  health/notifications/alarm-notify.sh.in
Owners: @ktsaou, @Ferroin, @cakrit

netdata/daemon: SSL fix - broken compilation case when ssl library not present! (#6201)
  libnetdata/libnetdata.h
  libnetdata/socket/security.c
  libnetdata/socket/security.h
  libnetdata/socket/socket.c
  libnetdata/socket/socket.h
  streaming/rrdpush.c
Owners: @ktsaou, @cakrit, @mfundul

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Increase the cpu_limit chart precision (#6172)
  collectors/cgroups.plugin/sys_fs_cgroup.c
Owners: @ktsaou, @vlvkobal, @cakrit

Fix mdstat disks chart (#6164)
  collectors/proc.plugin/proc_mdstat.c
Owners: @ktsaou, @vlvkobal, @cakrit

Add note to make smartd directory (#6203)
  collectors/python.d.plugin/smartd_log/README.md
Owners: @ktsaou, @cakrit
