Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cakrit, @paulkatsoulakis, @thiagoftsm, @vlvkobal, @mfundul, @VLegakis, @ccremer, @ilyam8, @simonnagl, @joelhans, @Ferroin, @thiagofsm, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cakrit

# Ownership by directory structure
.travis/ @paulkatsoulakis @cakrit
.github/ @paulkatsoulakis @cakrit
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @paulkatsoulakis @thiagoftsm
build/ @paulkatsoulakis @cakrit
collectors/ @vlvkobal @mfundul @cakrit
collectors/charts.d.plugin/ @paulkatsoulakis @cakrit
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @cakrit
collectors/macos.plugin/ @vlvkobal @thiagoftsm @cakrit
collectors/node.d.plugin/ @VLegakis @cakrit
collectors/node.d.plugin/fronius/ @ccremer @cakrit
collectors/node.d.plugin/snmp/ @VLegakis @cakrit
collectors/node.d.plugin/stiebeleltron/ @ccremer @cakrit
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @cakrit
daemon/ @thiagoftsm @mfundul @cakrit
database/ @mfundul @thiagoftsm @cakrit
docs/ @cakrit @joelhans
health/ @thiagoftsm @vlvkobal @cakrit
health/health.d/ @thiagoftsm @vlvkobal @cakrit
health/notifications/ @Ferroin @thiagoftsm @cakrit
libnetdata/ @thiagofsm @mfundul @cakrit
packaging/ @paulkatsoulakis @cakrit
packaging/installer/ @paulkatsoulakis @cakrit
packaging/makeself/ @paulkatsoulakis @cakrit
registry/ @VLegakis @cakrit
streaming/ @thiagoftsm @vlvkobal @cakrit
web/ @thiagoftsm @mfundul @vlvkobal @cakrit
web/gui/ @VLegakis @cakrit

# Ownership by filetype (overwrites ownership by directory)
*.md @cakrit @joelhans
*.am @paulkatsoulakis

# Ownership of specific files
.gitignore @paulkatsoulakis @cakrit
.travis.yml @paulkatsoulakis
.lgtm.yml @paulkatsoulakis
.eslintrc @paulkatsoulakis
.eslintignore @paulkatsoulakis
.csslintrc @paulkatsoulakis
.codeclimate.yml @paulkatsoulakis
.codacy.yml @paulkatsoulakis
netdata.spec.in @paulkatsoulakis
netdata-installer.sh @paulkatsoulakis @cakrit
netlify.toml @cakrit
package.json @VLegakis
packaging/version @netdatabot

LICENSE.md @cakrit @joelhans
CHANGELOG.md @netdatabot

Fixed typo (#6575)
  health/notifications/awssns/README.md
Owners: @cakrit, @joelhans

Fix configure.ac allowing deprecated LZ4 libraries (#6589)
  configure.ac
Owners: @ktsaou, @cakrit

mongodb: ssl connection (#6546)
  collectors/python.d.plugin/mongodb/mongodb.chart.py
  collectors/python.d.plugin/mongodb/mongodb.conf
Owners: @ilyam8

Update plugin_nfacct.c (#6098)
  collectors/nfacct.plugin/plugin_nfacct.c
Owners: @vlvkobal, @mfundul, @cakrit

mysql collector: slave_status charts per replication channel (#6597)
  collectors/python.d.plugin/mysql/mysql.chart.py
Owners: @ilyam8

netdata/installer: do not enable netdata, if it was previously disabled (#6606)
  packaging/installer/functions.sh
Owners: @paulkatsoulakis, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/packaging: Expect .tar.gz version of go.d plugin (#6590)
  contrib/debian/install_go.sh
  netdata-installer.sh
  netdata.spec.in
  packaging/go.d.checksums
Owners: @ktsaou, @cakrit, @paulkatsoulakis

mysql: do not remove `slave_status` from queries in module (#6617)
  collectors/python.d.plugin/mysql/mysql.chart.py
Owners: @ilyam8

Netdata Cloud documentation (#6476)
  DOCUMENTATION.md
  docs/generator/buildyaml.sh
  docs/netdata-cloud/README.md
  docs/netdata-cloud/nodes-view.md
  docs/netdata-cloud/signing-in.md
Owners: @cakrit, @joelhans

Better system OS detection for RHEL6 and Mac OS X (#6612)
  daemon/system-info.sh
Owners: @thiagoftsm, @mfundul, @cakrit
