Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @Ferroin, @knatsakis, @kaskavel, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @thiagofsm, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @Ferroin

# Ownership by directory structure
.travis/ @Ferroin @knatsakis @kaskavel
.github/ @Ferroin @knatsakis @kaskavel
aclk/ @stelfrag @underhood
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @Ferroin @knatsakis
contrib/debian @Ferroin @knatsakis
collectors/ @vlvkobal @mfundul
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/node.d.plugin/ @jacekkolasa
collectors/node.d.plugin/fronius/ @ccremer
collectors/node.d.plugin/snmp/ @jacekkolasa
collectors/node.d.plugin/stiebeleltron/ @ccremer
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @mfundul
database/ @mfundul @thiagoftsm
docs/ @joelhans
health/ @thiagoftsm @vlvkobal
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
libnetdata/ @thiagofsm @mfundul
packaging/ @Ferroin @knatsakis
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin @knatsakis
tests/ @Ferroin @knatsakis @kaskavel
web/ @thiagoftsm @mfundul @vlvkobal
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin
*.md @joelhans
Dockerfile* @Ferroin @knatsakis

# Ownership of specific files
.gitignore @Ferroin @knatsakis
.travis.yml @Ferroin @knatsakis @kaskavel
.lgtm.yml @Ferroin @knatsakis
.eslintrc @Ferroin @knatsakis
.eslintignore @Ferroin @knatsakis
.csslintrc @Ferroin @knatsakis
.codeclimate.yml @Ferroin @knatsakis
.codacy.yml @Ferroin @knatsakis
.yamllint.yml @Ferroin @knatsakis
netdata.spec.in @Ferroin @knatsakis
netdata-installer.sh @Ferroin @knatsakis
package.json @jacekkolasa @Ferroin @knatsakis
packaging/version @netdatabot @Ferroin @knatsakis

LICENSE.md @joelhans @Ferroin
CHANGELOG.md @netdatabot @Ferroin

Fix locking after an ACLK on_connect failure (#10401)
  aclk/aclk_query.c
Owners: @stelfrag, @underhood

[ci skip] release v1.28.0
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Bump Fedora version for RPM packaging to 32. (#10404)
  .travis.yml
Owners: @Ferroin, @knatsakis, @kaskavel

Add centralized Cloud notifications to core docs (#10374)
  docs/monitor/enable-notifications.md
  docs/monitor/view-active-alarms.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Update main README with release news (#10412)
  README.md
Owners: @joelhans

Add Realtek network cards to the list of physical interfaces on FreeBSD (#10414)
  collectors/freebsd.plugin/freebsd_getifaddrs.c
Owners: @vlvkobal, @thiagoftsm

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Added instructions on which file to edit. (#10398)
  health/notifications/telegram/README.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Use bash shell as user netdata for debug (#10425)
  collectors/ebpf.plugin/README.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

ACLK use mguid instead of hostname (#10394)
  aclk/agent_cloud_link.c
Owners: @stelfrag, @underhood

web/gui: Added support for per series styling for dygraphs (#8668)
  CONTRIBUTORS.md
  web/gui/dashboard.js
  web/gui/src/dashboard.js/charting/dygraph.js
Owners: @joelhans, @jacekkolasa

Add dependabot config to check for updates for GHA workflows. (#10342)
  .github/dependabot.yml
Owners: @Ferroin, @knatsakis, @kaskavel

Persist `$TMPDIR` from installer to updater. (#10384)
  netdata-installer.sh
  packaging/installer/netdata-updater.sh
Owners: @Ferroin, @knatsakis

Exclude autofs by default in diskspace plugin (#10441)
  build_external/scenarios/aclk-testing/agent_netdata.conf
  collectors/diskspace.plugin/README.md
  collectors/diskspace.plugin/plugin_diskspace.c
Owners: @ktsaou, @Ferroin, @joelhans, @vlvkobal, @mfundul

Qick and dirty fix for #10420 (#10424)
  packaging/installer/netdata-updater.sh
Owners: @Ferroin, @knatsakis

Improve configuration docs with common changes and start/stop/restart directions (#10415)
  daemon/config/README.md
  docs/configuration-guide.md
  docs/configure/common-changes.md
  docs/configure/nodes.md
  docs/configure/secure-nodes.md
  docs/configure/start-stop-restart.md
  docs/guides/configure/performance.md
  docs/store/change-metrics-storage.md
Owners: @joelhans

Updated messages about checksum validation failures on install. (#10448)
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
  packaging/installer/netdata-updater.sh
Owners: @Ferroin, @knatsakis, @joelhans

Update and improve the Netdata style guide (#10433)
  docs/contributing/contributing-documentation.md
  docs/contributing/style-guide.md
Owners: @joelhans

Add previously missing section (#10453)
  docs/contributing/style-guide.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Change links at bottom of all install docs (#10416)
  README.md
  docs/get/README.md
  packaging/installer/README.md
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/kubernetes.md
  packaging/installer/methods/macos.md
  packaging/installer/methods/manual.md
  packaging/installer/methods/offline.md
  packaging/installer/methods/packages.md
Owners: @joelhans

Change lint standard for lists (#10371)
  .remarkrc.js
Owners: @ktsaou, @Ferroin

Small updates, improvements, and housekeeping to docs (#10405)
  collectors/COLLECTORS.md
  collectors/python.d.plugin/boinc/README.md
  docs/export/enable-connector.md
  docs/getting-started.md
  docs/guides/configure/performance.md
  docs/monitor/configure-alarms.md
  docs/quickstart/infrastructure.md
  docs/visualize/create-dashboards.md
  docs/visualize/interact-dashboards-charts.md
  docs/visualize/overview-infrastructure.md
  exporting/README.md
Owners: @joelhans

Add guide: Detect anomalies in nodes and applications with Netdata (#10451)
  collectors/python.d.plugin/anomalies/README.md
  docs/guides/monitor/anomaly-detection.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Fixes for SEO changes (#10468)
  docs/configuration-guide.md
  packaging/installer/methods/offline.md
  web/api/queries/median/README.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis
