Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @l2isbad, @Ferroin, @paulfantom, @cakrit

updated LGTM URLs (#4317)
  README.md
Owners: @ktsaou, @cakrit

Use docker manifests (#4315)
  docker/build.sh
Owners: @paulfantom

fix docker image (#4330)
  docker/Dockerfile
Owners: @paulfantom

run CI builds on alpine (#4329)
  .travis.yml
  .travis/images/Dockerfile.alpine
Owners: @paulfantom

use newer docker in CI build (#4332)
  .travis.yml
  docker/build.sh
Owners: @paulfantom

releaser (#4328)
  .travis.yml
  .travis/README.md
  .travis/create_artifacts.sh
  .travis/releaser.sh
  docker/build.sh
Owners: @paulfantom, @ktsaou, @cakrit

fixes coverity identified issues (#4333)
  src/common.c
  src/dictionary.h
  src/freeipmi_plugin.c
  src/inlined.h
Owners: @ktsaou

reimplement #4332 (#4336)
  .travis.yml
Owners: @paulfantom

Fix BIND outgoing stats in a multiview environment (#4337)
  python.d/bind_rndc.chart.py
Owners: @l2isbad, @Ferroin

better daemon errors about files; (#4342)
  src/appconfig.c
  src/apps_plugin.c
  src/common.c
  src/common.h
  src/health_config.c
  src/log.h
  src/main.c
  src/statsd.c
Owners: @ktsaou

.github/CODEOWNERS:

# Global code owner
* @ktsaou

# C code
*.c @ktsaou
*.h @ktsaou

# python files
*.py @l2isbad @Ferroin
plugins.d/python.d.plugin @l2isbad @Ferroin
conf.d/python.d/ @l2isbad @Ferroin

# docker builds
docker/ @paulfantom

# build system and packaging
build/ @paulfantom
packaging/ @paulfantom
contrib/ @paulfantom

# CI and automation
.travis/ @paulfantom
.travis.yml @paulfantom
.lgtm.yml @paulfantom

# Docs
*.md @ktsaou @cakrit
