Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @paufantom, @cakrit, @paulfantom, @vlvkobal, @gmosx, @ccremer, @ilyam8, @mfundul, @Ferroin, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou

# Ownership by directory structure
.travis/ @paufantom @cakrit
.github/ @paufantom @cakrit
build/ @paulfantom @cakrit
backends/ @ktsaou @vlvkobal
backends/graphite/ @ktsaou @vlvkobal
backends/json/ @ktsaou @vlvkobal
backends/opentsdb/ @ktsaou @vlvkobal
backends/prometheus/ @ktsaou @vlvkobal @paulfantom
collectors/ @ktsaou @vlvkobal @cakrit
collectors/charts.d.plugin/ @ktsaou @paulfantom @cakrit
collectors/freebsd.plugin/ @vlvkobal @cakrit
collectors/macos.plugin/ @vlvkobal @cakrit
collectors/node.d.plugin/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/fronius/ @ktsaou @gmosx @ccremer @cakrit
collectors/node.d.plugin/snmp/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/stiebeleltron/ @ktsaou @gmosx @ccremer @cakrit
collectors/python.d.plugin/ @ilyam8
daemon/ @ktsaou @mfundul @cakrit
database/ @ktsaou @mfundul
docs/ @cakrit
health/ @ktsaou @cakrit
health/health.d/ @ktsaou @cakrit
health/notifications/ @ktsaou @Ferroin @cakrit
installer/ @ktsaou @paulfantom @cakrit
libnetdata/ @ktsaou @cakrit
makeself/ @ktsaou @paulfantom @cakrit
packaging/ @paulfantom @cakrit
registry/ @ktsaou @gmosx @cakrit
streaming/ @ktsaou @mfundul
web/ @ktsaou @cakrit
web/gui/ @ktsaou @gmosx @cakrit

# Ownership by filetype (overwrites ownership by directory)
*.md @ktsaou @cakrit
*.am @paulfantom @ktsaou

# Ownership of specific files
.gitignore @paulfantom @cakrit
.travis.yml @paulfantom
.lgtm.yml @paulfantom
.eslintrc @paulfantom
.eslintignore @paulfantom
.csslintrc @paulfantom
.codeclimate.yml @paulfantom
.codacy.yml @paulfantom
netdata.spec.in @paulfantom
netlify.toml @cakrit
package.json @gmosx
packaging/version @netdatabot

LICENSE.md @ktsaou
CHANGELOG.md @netdatabot

Fix ceph.chart.py for Python3 (#5396)
  collectors/python.d.plugin/ceph/ceph.chart.py
Owners: @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

python module sensors fix (#5406)
  collectors/python.d.plugin/sensors/sensors.chart.py
Owners: @ilyam8

copy version file to GCS upload directory (#5408)
  .travis/create_artifacts.sh
Owners: @paufantom, @cakrit

Refactored static kickstart script (#5397)
  packaging/installer/kickstart-static64.sh
Owners: @paulfantom, @cakrit

use netnsid for detecting cgroup networks; fixes #5383 (#5413)
  collectors/cgroups.plugin/cgroup-network-helper.sh
  collectors/cgroups.plugin/cgroup-network.c
Owners: @ktsaou, @vlvkobal, @cakrit

When running a binary with CLOCK_BOOTTIME defined on a system with a linux (#5415)
  daemon/main.c
  libnetdata/clocks/clocks.c
  libnetdata/clocks/clocks.h
Owners: @ktsaou, @mfundul, @cakrit

remove redudant pipes (#5417)
  collectors/cgroups.plugin/cgroup-network-helper.sh
Owners: @ktsaou, @vlvkobal, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Uninstall instruction improvements (#5414)
  packaging/installer/UPDATE.md
Owners: @ktsaou, @cakrit

Add driver-type option to the freeipmi plugin (#5384)
  collectors/freeipmi.plugin/README.md
  collectors/freeipmi.plugin/freeipmi_plugin.c
Owners: @ktsaou, @cakrit, @vlvkobal

Improve configure.ac mnl and netfilter_acc checks for static builds (#5424)
  configure.ac
Owners: @ktsaou

spec: fixed template issue for netdata source. (#5427)
  netdata.spec.in
Owners: @paulfantom

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

fix #5430 - LogService._get_raw_data under python3 fails on undecodable data (#5431)
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/LogService.py
Owners: @ilyam8

Fix curl download (#5439)
  .gitignore
  netdata-installer.sh
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/netdata-updater.sh
Owners: @paulfantom, @cakrit, @ktsaou

Correct duplicate flag enum in health.h (#5441)
  health/health.h
Owners: @ktsaou, @cakrit

change email address for automated commits (#5444)
  .travis/generate_changelog.sh
  .travis/nightlies.sh
  .travis/releaser.sh
Owners: @paufantom, @cakrit

Update README.md - add news for 1.12 (#5437)
  README.md
Owners: @ktsaou, @cakrit

Remove v from Server header (#5440)
  web/server/web_client.c
Owners: @ktsaou, @cakrit

cpuidle handle newlines in names (#5425)
  collectors/proc.plugin/proc_stat.c
Owners: @ktsaou, @vlvkobal, @cakrit

Correct version check in UI (#5429)
  web/api/formatters/charts2json.c
  web/gui/main.js
Owners: @ktsaou, @cakrit, @gmosx

Delay raising the linux power supply alarm, to prevent errors during netdata startup (#5447)
  health/health.d/linux_power_supply.conf
Owners: @ktsaou, @cakrit

apcupsd - Treat ONBATT status the same as ONLINE (#5435)
  collectors/charts.d.plugin/apcupsd/apcupsd.chart.sh
Owners: @ktsaou, @paulfantom, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fix Coverity defects (#5394)
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/proc.plugin/sys_fs_btrfs.c
Owners: @ktsaou, @vlvkobal, @cakrit

Fix SEGV by removing free of vars of charts that do not exist (#5455)
  collectors/cgroups.plugin/sys_fs_cgroup.c
Owners: @ktsaou, @vlvkobal, @cakrit

installer: include go.d.plugin version v0.1.0 (#5446)
  netdata-installer.sh
  packaging/go.d.checksums
Owners: @ktsaou, @paulfantom, @cakrit

Update md5sums on kickstart scripts README.md (#5456)
  packaging/installer/README.md
Owners: @ktsaou, @cakrit

Add tor to the default app groups (#5434)
  collectors/apps.plugin/apps_groups.conf
Owners: @ktsaou, @vlvkobal, @cakrit

Update icon in demosites.html (#5458)
  web/gui/demosites.html
Owners: @ktsaou, @gmosx, @cakrit

Handle cases when go.d plugin can't be downloaded (no connection to internet) (#5457)
  netdata-installer.sh
Owners: @ktsaou

Fix #5426 (#5448)
  configure.ac
Owners: @ktsaou

Mention installer option `--disable-go` (#5461)
  packaging/installer/README.md
Owners: @ktsaou, @cakrit

Fix timer crash during exit (#5464)
  web/server/static/static-threaded.c
Owners: @ktsaou, @cakrit

revert #5457 and test if files exist after installation (#5460)
  netdata-installer.sh
  packaging/installer/functions.sh
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/netdata-updater.sh
  tests/lifecycle.bats
Owners: @ktsaou, @paulfantom, @cakrit

[ci skip] release v1.12.1
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

Increase timeout for download of go.d.plugin (#5468)
  netdata-installer.sh
Owners: @ktsaou

Added rocketchat to method-list (#5471)
  health/notifications/alarm-notify.sh.in
Owners: @ktsaou, @Ferroin, @cakrit
