Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cosmix, @Ferroin, @prologic, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @shortpatti, @thiagofsm, @netdatabot

Add first class support for FreeBSD (#9413)
  netdata-installer.sh
  packaging/installer/install-required-packages.sh
Owners: @cosmix, @Ferroin, @prologic

Fix broken link to Polyverse in Docker documentation (#9426)
  packaging/docker/README.md
Owners: @cosmix, @joelhans, @shortpatti

Finish adding notices (#9422)
  README.md
  packaging/installer/README.md
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
Owners: @cosmix, @joelhans, @shortpatti

Fix typo in netdata-installer.sh (#9433)
  netdata-installer.sh
Owners: @cosmix, @Ferroin, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Add infiniband monitoring to collector proc.plugin (#9091)
  CMakeLists.txt
  Makefile.am
  collectors/all.h
  collectors/proc.plugin/README.md
  collectors/proc.plugin/plugin_proc.c
  collectors/proc.plugin/plugin_proc.h
  collectors/proc.plugin/sys_class_infiniband.c
Owners: @ktsaou, @cosmix, @vlvkobal, @mfundul, @joelhans, @shortpatti

Wrap header definitions in compilation conditions (#9458)
  exporting/tests/test_exporting_engine.h
Owners: @ktsaou, @cosmix

Added missing caps letters (#9379)
  streaming/README.md
Owners: @cosmix, @joelhans, @shortpatti

Fixed typo in the streaming readme (#9378)
  streaming/README.md
Owners: @cosmix, @joelhans, @shortpatti

Fix a coverity defect (#9462)
  collectors/cgroups.plugin/sys_fs_cgroup.c
Owners: @vlvkobal, @mfundul, @cosmix

UrlService add support get headers (#9236)
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/UrlService.py
Owners: @ilyam8

ipfs-plugin: change HTTP method to make it compatible with ipfs 0.5.0+ (#9248)
  collectors/python.d.plugin/ipfs/ipfs.chart.py
Owners: @ilyam8

Fixes error in Swagger Documentation (#9417)
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Owners: @thiagoftsm, @mfundul, @vlvkobal, @cosmix

Fix the exporting engine unit tests (#9460)
  exporting/tests/netdata_doubles.c
  exporting/tests/test_exporting_engine.c
Owners: @ktsaou, @cosmix

Add documentation for installing Netdata on k8s clusters (#9364)
  packaging/installer/README.md
  packaging/installer/methods/kubernetes.md
Owners: @cosmix, @joelhans, @shortpatti

Read the prefix option from instance config sections (#9463)
  exporting/clean_connectors.c
  exporting/exporting_engine.c
  exporting/exporting_engine.h
  exporting/graphite/graphite.c
  exporting/json/json.c
  exporting/opentsdb/opentsdb.c
  exporting/prometheus/remote_write/remote_write.c
  exporting/read_config.c
  exporting/tests/exporting_doubles.c
  exporting/tests/exporting_fixtures.c
  exporting/tests/test_exporting_engine.c
Owners: @ktsaou, @cosmix

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cosmix

# Ownership by directory structure
.travis/ @cosmix @Ferroin @prologic
.github/ @cosmix @Ferroin @prologic
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @cosmix
contrib/debian @cosmix @Ferroin @prologic
collectors/ @vlvkobal @mfundul @cosmix
collectors/charts.d.plugin/ @ilyam8 @Ferroin @prologic @cosmix
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @cosmix
collectors/macos.plugin/ @vlvkobal @thiagoftsm @cosmix
collectors/node.d.plugin/ @jacekkolasa @cosmix
collectors/node.d.plugin/fronius/ @ccremer @cosmix
collectors/node.d.plugin/snmp/ @jacekkolasa @cosmix
collectors/node.d.plugin/stiebeleltron/ @ccremer @cosmix
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @cosmix
daemon/ @thiagoftsm @mfundul @cosmix
database/ @mfundul @thiagoftsm @cosmix
docs/ @cosmix @joelhans @shortpatti
health/ @thiagoftsm @vlvkobal @cosmix
health/health.d/ @thiagoftsm @vlvkobal @cosmix
health/notifications/ @Ferroin @thiagoftsm @cosmix
libnetdata/ @thiagofsm @mfundul @cosmix
packaging/ @cosmix @Ferroin @prologic
registry/ @jacekkolasa @cosmix
streaming/ @thiagoftsm @vlvkobal @cosmix
web/ @thiagoftsm @mfundul @vlvkobal @cosmix
web/gui/ @jacekkolasa @cosmix

# Ownership by filetype (overwrites ownership by directory)
*.am @cosmix
*.md @cosmix @joelhans @shortpatti
Dockerfile* @Ferroin @prologic @cosmix

# Ownership of specific files
.gitignore @cosmix @Ferroin @prologic
.travis.yml @cosmix @Ferroin @prologic
.lgtm.yml @cosmix @Ferroin @prologic
.eslintrc @cosmix @Ferroin @prologic
.eslintignore @cosmix @Ferroin @prologic
.csslintrc @cosmix @Ferroin @prologic
.codeclimate.yml @cosmix @Ferroin @prologic
.codacy.yml @cosmix @Ferroin @prologic
.yamllint.yml @cosmix @Ferroin @prologic
netdata.spec.in @cosmix @Ferroin @prologic
netdata-installer.sh @cosmix @Ferroin @prologic
package.json @jacekkolasa
packaging/version @netdatabot

LICENSE.md @cosmix @joelhans
CHANGELOG.md @netdatabot
