Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @amoss, @prologic, @Ferroin, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @shortpatti, @thiagofsm, @netdatabot

Removed delay in updater script for non-interactive runs from install scripts. (#9589)
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
Owners: @amoss, @Ferroin, @prologic, @joelhans, @shortpatti

Added lock dir (#9584)
  collectors/python.d.plugin/python.d.plugin.in
  daemon/common.c
  daemon/common.h
  daemon/daemon.c
  daemon/main.c
Owners: @ilyam8, @thiagoftsm, @mfundul, @amoss

Sends netdata.public.unique.id (machine GUID) with claim (#9574)
  claim/claim.c
  claim/netdata-claim.sh.in
Owners: @ktsaou, @amoss, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Add alarms for FreeBSD interface errors (#8340)
  health/health.d/net.conf
Owners: @thiagoftsm, @vlvkobal, @amoss

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @prologic

Stop mdstat collector from looking up archived charts. (#9583)
  collectors/proc.plugin/proc_mdstat.c
  database/rrd.h
Owners: @vlvkobal, @mfundul, @amoss, @thiagoftsm

python.d/gearmand: handle func prefixes in `status\n` response (#9610)
  collectors/python.d.plugin/gearman/gearman.chart.py
Owners: @ilyam8

Addd sandboxing exception for `/run/netdata`. (#9613)
  system/netdata.service.in
Owners: @prologic, @Ferroin, @amoss

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Implemented multihost database (#9556)
  collectors/plugins.d/pluginsd_parser.c
  daemon/main.c
  database/engine/README.md
  database/engine/metadata_log/compaction.c
  database/engine/metadata_log/logfile.c
  database/engine/metadata_log/metadatalog.c
  database/engine/metadata_log/metadatalog.h
  database/engine/metadata_log/metadatalogapi.c
  database/engine/metadata_log/metadatalogapi.h
  database/engine/metadata_log/metalogpluginsd.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/engine/rrdenginelib.c
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  streaming/README.md
  streaming/receiver.c
  streaming/rrdpush.c
  web/api/formatters/charts2json.c
  web/api/web_api_v1.c
Owners: @vlvkobal, @mfundul, @amoss, @thiagoftsm, @joelhans, @shortpatti

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Read socket information from kernel ring (#9549)
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Owners: @amoss, @joelhans, @shortpatti, @thiagoftsm, @vlvkobal, @Ferroin, @prologic, @jacekkolasa

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Added eBPF collector support to DEB and RPM packages. (#9628)
  .travis.yml
  .travis/package_management/common.py
  .travis/package_management/functions.sh
  Makefile.am
  configure.ac
  contrib/debian/rules
  netdata.spec.in
  packaging/bundle-dashboard.sh
  packaging/bundle-ebpf.sh
  packaging/bundle-libbpf.sh
Owners: @amoss, @Ferroin, @prologic, @ktsaou

Fix netdata.spec.in default permissions for /usr/libexec/netdata (#9621)
  netdata.spec.in
Owners: @amoss, @Ferroin, @prologic

Add documentation to provide a comprehensive guide for package maintainers (#9467)
  packaging/installer/README.md
  packaging/installer/methods/manual.md
  packaging/installer/methods/source.md
Owners: @amoss, @joelhans, @shortpatti

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Add 1.23.1 and 1.23.0 to news section (#9518)
  README.md
Owners: @amoss, @joelhans, @shortpatti

Adjust check-kernel-config.sh to run in bash (#9633)
  collectors/ebpf.plugin/README.md
Owners: @amoss, @joelhans, @shortpatti

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @prologic

Require cloud build to succeed in make dist checks. (#9218)
  .github/scripts/run_install_with_dist_file.sh
  .github/workflows/checks.yml
Owners: @amoss, @Ferroin, @prologic

Fetch libbpf from netdata fork (#9637)
  Makefile.am
  libnetdata/ebpf/libbpf.c.diff
  netdata-installer.sh
  packaging/bundle-libbpf.sh
  packaging/libbpf.checksums
  packaging/libbpf.version
Owners: @amoss, @prologic, @thiagofsm, @mfundul, @Ferroin

Fix Travis CI and remove deprecated/removed builds that have no upstream LXC image (#9630)
  .travis.yml
Owners: @amoss, @Ferroin, @prologic

dashboard v1.0.26 (#9639)
  package-lock.json
  packaging/dashboard.checksums
  packaging/dashboard.version
Owners: @ktsaou, @amoss, @prologic, @Ferroin

charts.d: fix `current_time_ms_from_date` on macOS (#9636)
  collectors/charts.d.plugin/loopsleepms.sh.inc
Owners: @ilyam8, @Ferroin, @prologic, @amoss

installer: fix `govercomp` (#9646)
  netdata-installer.sh
Owners: @amoss, @Ferroin, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

python.d: fix `find_binary` (#9641)
  collectors/python.d.plugin/python_modules/bases/collection.py
Owners: @ilyam8

Fix Travis config (#9655)
  .travis.yml
Owners: @amoss, @Ferroin, @prologic

Fix missing comma. (#9656)
  claim/claim.c
Owners: @ktsaou, @amoss, @prologic

fix_gcc_10_warning: Fix warning when compiled on gcc-10.1 (#9651)
  collectors/ebpf.plugin/ebpf_socket.c
Owners: @thiagoftsm, @vlvkobal, @amoss

nvidia_smi: charts for memory used by each user and number of distinct users (#9372)
  collectors/python.d.plugin/nvidia_smi/README.md
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py
Owners: @amoss, @joelhans, @shortpatti, @ilyam8

installer: update `go.d.plugin` version to v0.20.0 (#9644)
  libnetdata/buffer/buffer.c
  libnetdata/buffer/buffer.h
  packaging/go.d.checksums
  packaging/go.d.version
  web/api/formatters/rrdset2json.c
Owners: @thiagofsm, @mfundul, @amoss, @Ferroin, @prologic, @thiagoftsm, @vlvkobal

Detect a buggy Ubuntu kernel (#9648)
  collectors/ebpf.plugin/Makefile.am
  collectors/ebpf.plugin/ebpf_kernel_reject_list.txt
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
Owners: @amoss, @prologic, @thiagoftsm, @vlvkobal, @thiagofsm, @mfundul

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @amoss @prologic

# Ownership by directory structure
.travis/ @amoss @Ferroin @prologic
.github/ @amoss @Ferroin @prologic
aclk/ @stelfrag @underhood @amoss
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @amoss @prologic
contrib/debian @amoss @Ferroin @prologic
collectors/ @vlvkobal @mfundul @amoss
collectors/charts.d.plugin/ @ilyam8 @Ferroin @prologic @amoss
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @amoss
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal @amoss
collectors/macos.plugin/ @vlvkobal @thiagoftsm @amoss
collectors/node.d.plugin/ @jacekkolasa @amoss
collectors/node.d.plugin/fronius/ @ccremer @amoss
collectors/node.d.plugin/snmp/ @jacekkolasa @amoss
collectors/node.d.plugin/stiebeleltron/ @ccremer @amoss
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @amoss
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @mfundul @amoss
database/ @mfundul @thiagoftsm @amoss
docs/ @amoss @joelhans @shortpatti
health/ @thiagoftsm @vlvkobal @amoss
health/health.d/ @thiagoftsm @vlvkobal @amoss
health/notifications/ @Ferroin @thiagoftsm @amoss
libnetdata/ @thiagofsm @mfundul @amoss
packaging/ @amoss @Ferroin @prologic
registry/ @jacekkolasa @amoss
streaming/ @thiagoftsm @vlvkobal @amoss
system/ @prologic @Ferroin @amoss
web/ @thiagoftsm @mfundul @vlvkobal @amoss
web/gui/ @jacekkolasa @amoss

# Ownership by filetype (overwrites ownership by directory)
*.am @amoss @prologic
*.md @amoss @joelhans @shortpatti
Dockerfile* @Ferroin @prologic @amoss

# Ownership of specific files
.gitignore @amoss @Ferroin @prologic
.travis.yml @amoss @Ferroin @prologic
.lgtm.yml @amoss @Ferroin @prologic
.eslintrc @amoss @Ferroin @prologic
.eslintignore @amoss @Ferroin @prologic
.csslintrc @amoss @Ferroin @prologic
.codeclimate.yml @amoss @Ferroin @prologic
.codacy.yml @amoss @Ferroin @prologic
.yamllint.yml @amoss @Ferroin @prologic
netdata.spec.in @amoss @Ferroin @prologic
netdata-installer.sh @amoss @Ferroin @prologic
package.json @jacekkolasa @prologic
packaging/version @netdatabot @prologic

LICENSE.md @amoss @joelhans @prologic
CHANGELOG.md @netdatabot @prologic
