Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @paufantom, @cakrit, @vlvkobal, @paulfantom, @gmosx, @ccremer, @ilyam8, @mfundul, @Ferroin, @netdatabot

Update netdata-updater.sh
  packaging/installer/netdata-updater.sh
Owners: @ktsaou, @paulfantom, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

add heartbeat (#5503)
  collectors/python.d.plugin/python.d.plugin.in
Owners: @ilyam8

Fix CMake warning (#5379)
  collectors/nfacct.plugin/plugin_nfacct.c
Owners: @ktsaou, @vlvkobal, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

oracledb py module (#5421)
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/oracledb/Makefile.inc
  collectors/python.d.plugin/oracledb/README.md
  collectors/python.d.plugin/oracledb/oracledb.chart.py
  collectors/python.d.plugin/oracledb/oracledb.conf
  collectors/python.d.plugin/python.d.conf
Owners: @paulfantom, @ktsaou, @ilyam8, @cakrit

Show streamed servers even for users that are not signed in! #5482 (#5519)
  web/gui/main.js
Owners: @ktsaou, @gmosx, @cakrit

introduce stable installation channel (#5487)
  netdata-installer.sh
  packaging/installer/README.md
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/netdata-updater.sh
Owners: @ktsaou, @paulfantom, @cakrit

release
  CHANGELOG.md
Owners: @netdatabot

retry release
  CHANGELOG.md
Owners: @netdatabot

[ci skip] release v1.12.2
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Update unbound module documenttion with troubleshooting section. (#5528)
  collectors/python.d.plugin/unbound/README.md
Owners: @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Prevent data corruption upon GUID duplication between master and slave netdata instances (#5511)
  streaming/rrdpush.c
Owners: @ktsaou, @mfundul

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Registry delete should allow deleting the host we are looking at (#5537)
  registry/registry_internals.c
Owners: @ktsaou, @gmosx, @cakrit

Fix typo in demo sites (#5546)
  web/gui/demosites.html
Owners: @ktsaou, @gmosx, @cakrit

Correct go.d.plugin sha256sum check (#5539)
  netdata-installer.sh
Owners: @ktsaou, @paulfantom, @cakrit

Support legacy Prometheus metric names for source average (#5531)
  backends/prometheus/README.md
  backends/prometheus/backend_prometheus.c
  backends/prometheus/backend_prometheus.h
  tests/backends/prometheus-avg-oldunits.txt
  tests/backends/prometheus-avg.txt
  tests/backends/prometheus-raw.txt
  tests/backends/prometheus.bats
  web/api/exporters/allmetrics.c
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Owners: @ktsaou, @cakrit, @vlvkobal, @paulfantom

Have the debug option set the freeipmi debug flags (#5548)
  collectors/freeipmi.plugin/freeipmi_plugin.c
Owners: @ktsaou, @vlvkobal, @cakrit

Add news for 1.12.1 and 1.12.2 to main readme (#5544)
  README.md
Owners: @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Minor fixes around plugin_directories initialization (#5536)
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/plugins.d/plugins_d.c
  collectors/plugins.d/plugins_d.h
  collectors/tc.plugin/plugin_tc.c
  daemon/common.c
  daemon/common.h
  daemon/main.c
  database/rrdhost.c
Owners: @ktsaou, @vlvkobal, @cakrit, @mfundul

Pass agent id to authorization pages (#5551)
  web/gui/main.js
Owners: @ktsaou, @gmosx, @cakrit

Don't send zeroes for empty groups (#5540)
  collectors/apps.plugin/apps_plugin.c
Owners: @ktsaou, @vlvkobal, @cakrit

Convert SpigotMC module to use regexes for parsing. (#5507)
  collectors/python.d.plugin/spigotmc/spigotmc.chart.py
Owners: @ilyam8

Add zero minimum (#5395)
  collectors/proc.plugin/sys_class_power_supply.c
Owners: @ktsaou, @vlvkobal, @cakrit

Add IPC shared memory charts (#5522)
  collectors/all.h
  collectors/proc.plugin/README.md
  collectors/proc.plugin/ipc.c
Owners: @ktsaou, @vlvkobal, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

python.d.plugin: use separate process for initial module checking (#5552)
  collectors/python.d.plugin/powerdns/powerdns.chart.py
  collectors/python.d.plugin/python.d.plugin.in
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/SimpleService.py
  collectors/python.d.plugin/python_modules/bases/loaders.py
  collectors/python.d.plugin/python_modules/bases/loggers.py
Owners: @ilyam8

Fix incorrect icon for streaming master #5560 (#5561)
  web/gui/index.html
  web/gui/main.js
Owners: @ktsaou, @gmosx, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Wait for logs to be opened before calling anonymous statistics (#5573)
  daemon/main.c
Owners: @ktsaou, @mfundul, @cakrit

Correct PLUGINS_DIR directory in CMakeLists.txt (#5555)
  CMakeLists.txt
Owners: @ktsaou

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Delay renaming for docker containers (#5557)
  collectors/cgroups.plugin/cgroup-name.sh.in
  collectors/cgroups.plugin/sys_fs_cgroup.c
Owners: @ktsaou, @vlvkobal, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

SimpleService cleanup: do not inherit from OldVersionCompatibility (#5594)
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/SimpleService.py
  collectors/python.d.plugin/python_modules/bases/collection.py
Owners: @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

spigotmc: py2 compatibility fix (#5593)
  collectors/python.d.plugin/spigotmc/spigotmc.chart.py
Owners: @ilyam8

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou

# Ownership by directory structure
.travis/ @paufantom @cakrit
.github/ @paufantom @cakrit
backends/ @ktsaou @vlvkobal
backends/graphite/ @ktsaou @vlvkobal
backends/json/ @ktsaou @vlvkobal
backends/opentsdb/ @ktsaou @vlvkobal
backends/prometheus/ @ktsaou @vlvkobal @paulfantom
build/ @paulfantom @cakrit
collectors/ @ktsaou @vlvkobal @cakrit
collectors/charts.d.plugin/ @ktsaou @paulfantom @cakrit
collectors/freebsd.plugin/ @vlvkobal @cakrit
collectors/macos.plugin/ @vlvkobal @cakrit
collectors/node.d.plugin/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/fronius/ @ktsaou @gmosx @ccremer @cakrit
collectors/node.d.plugin/snmp/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/stiebeleltron/ @ktsaou @gmosx @ccremer @cakrit
collectors/python.d.plugin/ @ilyam8
daemon/ @ktsaou @mfundul @cakrit
database/ @ktsaou @mfundul
docs/ @cakrit
health/ @ktsaou @cakrit
health/health.d/ @ktsaou @cakrit
health/notifications/ @ktsaou @Ferroin @cakrit
libnetdata/ @ktsaou @cakrit
packaging/ @paulfantom @cakrit
packaging/installer/ @ktsaou @paulfantom @cakrit
packaging/makeself/ @ktsaou @paulfantom @cakrit
registry/ @ktsaou @gmosx @cakrit
streaming/ @ktsaou @mfundul
web/ @ktsaou @cakrit
web/gui/ @ktsaou @gmosx @cakrit

# Ownership by filetype (overwrites ownership by directory)
*.md @ktsaou @cakrit
*.am @paulfantom @ktsaou

# Ownership of specific files
.gitignore @paulfantom @cakrit
.travis.yml @paulfantom
.lgtm.yml @paulfantom
.eslintrc @paulfantom
.eslintignore @paulfantom
.csslintrc @paulfantom
.codeclimate.yml @paulfantom
.codacy.yml @paulfantom
netdata.spec.in @paulfantom
netdata-installer.sh @ktsaou @paulfantom @cakrit
netlify.toml @cakrit
package.json @gmosx
packaging/version @netdatabot

LICENSE.md @ktsaou
CHANGELOG.md @netdatabot
