Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @l2isbad, @paulfantom

apps.plugin fixes (#4267)
  src/apps_plugin.c
Owners: @ktsaou

Fix several typos in documentation (#4270)
  REDISTRIBUTED.md
  makeself/README.md
  plugins.d/README.md
  python.d/README.md
Owners: @ktsaou

[WIP] LGTM tag classification (#4269)
  .lgtm.yml
Owners: @paulfantom

Update .lgtm.yml (#4272)
  .lgtm.yml
Owners: @paulfantom

fix python warnings identified by LGTM (#4275)
  python.d/Makefile.am
  python.d/mongodb.chart.py
  python.d/python_modules/base.py
  python.d/python_modules/bases/charts.py
  python.d/smartd_log.chart.py
Owners: @ktsaou, @l2isbad

Add other common IoT services to apps_groups.conf (#4276)
  conf.d/apps_groups.conf
Owners: @ktsaou

Fixup small python-logind typos (#4271)
  python.d/logind.chart.py
Owners: @l2isbad

Allow DOCKER_HOST env variable to override default docker socket path (#4277)
  plugins.d/cgroup-name.sh
Owners: @ktsaou

Make method in url service configurable (#4257)
  conf.d/python.d/httpcheck.conf
  python.d/python_modules/bases/FrameworkServices/UrlService.py
Owners: @l2isbad

megacli plugin: adapter regex update (#4279)
  python.d/megacli.chart.py
Owners: @l2isbad

nightly builds + coverity scan (#4273)
  .travis.yml
  coverity-scan.sh
Owners: @paulfantom, @ktsaou

Fix typo in documentation (#4284)
  python.d/README.md
Owners: @ktsaou

add code of conduct (#4280)
  CODE_OF_CONDUCT.md
Owners: @ktsaou

fix typo (#4290)
  coverity-scan.sh
Owners: @ktsaou

give credit where credit is due (#4291)
  python.d/cpufreq.chart.py
  python.d/example.chart.py
  python.d/ipfs.chart.py
  python.d/mysql.chart.py
  python.d/phpfpm.chart.py
  python.d/python_modules/bases/FrameworkServices/LogService.py
  python.d/python_modules/bases/FrameworkServices/SocketService.py
  python.d/tomcat.chart.py
Owners: @l2isbad

update variable after install (#4292)
  coverity-scan.sh
Owners: @ktsaou

use flake8 instead of pylint (#4282)
  .travis.yml
Owners: @paulfantom

reproducible build system (#4294)
  Makefile.am
  build/Dockerfile
  build/build.sh
  build/m4/ax_c___atomic.m4
  build/m4/ax_c__generic.m4
  build/m4/ax_c_lto.m4
  build/m4/ax_c_mallinfo.m4
  build/m4/ax_c_mallopt.m4
  build/m4/ax_c_statement_expressions.m4
  build/m4/ax_check_compile_flag.m4
  build/m4/ax_check_enable_debug.m4
  build/m4/ax_gcc_func_attribute.m4
  build/m4/ax_pthread.m4
  build/m4/jemalloc.m4
  build/m4/tcmalloc.m4
  configure.ac
  netdata.spec.in
Owners: @ktsaou

Python.d PEP 8 cleanup, modules A-C (#4286)
  python.d/apache.chart.py
  python.d/beanstalk.chart.py
  python.d/bind_rndc.chart.py
  python.d/ceph.chart.py
  python.d/chrony.chart.py
  python.d/cpufreq.chart.py
  python.d/cpuidle.chart.py
Owners: @l2isbad

Python.d PEP 8 cleanup, modules D-H (#4287)
  python.d/dns_query_time.chart.py
  python.d/dnsdist.chart.py
  python.d/dockerd.chart.py
  python.d/dovecot.chart.py
  python.d/elasticsearch.chart.py
  python.d/exim.chart.py
  python.d/fail2ban.chart.py
  python.d/freeradius.chart.py
  python.d/go_expvar.chart.py
  python.d/haproxy.chart.py
  python.d/httpcheck.chart.py
Owners: @l2isbad

Python.d PEP 8 cleanup, modules I-L (#4288)
  python.d/icecast.chart.py
  python.d/ipfs.chart.py
  python.d/isc_dhcpd.chart.py
  python.d/litespeed.chart.py
Owners: @l2isbad

Python.d PEP 8 cleanup, modules N-O (#4297)
  python.d/nginx.chart.py
  python.d/nginx_plus.chart.py
  python.d/nsd.chart.py
  python.d/ntpd.chart.py
  python.d/ovpn_status_log.chart.py
Owners: @l2isbad

Python.d PEP 8 cleanup, modules M (#4289)
  python.d/mdstat.chart.py
  python.d/megacli.chart.py
  python.d/memcached.chart.py
  python.d/mongodb.chart.py
  python.d/monit.chart.py
  python.d/mysql.chart.py
Owners: @l2isbad

Python.d PEP 8 cleanup, modules S-Z (#4302)
  python.d/samba.chart.py
  python.d/sensors.chart.py
  python.d/smartd_log.chart.py
  python.d/spigotmc.chart.py
  python.d/springboot.chart.py
  python.d/squid.chart.py
  python.d/tomcat.chart.py
  python.d/traefik.chart.py
  python.d/unbound.chart.py
  python.d/varnish.chart.py
  python.d/w1sensor.chart.py
  python.d/web_log.chart.py
Owners: @l2isbad

Build OSX earlier (#4305)
  .travis.yml
Owners: @paulfantom

Update coverity-scan.sh (#4304)
  coverity-scan.sh
Owners: @ktsaou

tcp syn and accept queue charts and alarms (#4281)
  conf.d/health.d/tcp_listen.conf
  configs.signatures
  src/appconfig.h
  src/common.h
  src/plugin_nfacct.c
  src/plugin_proc.h
  src/proc_net_netstat.c
  src/proc_net_snmp.c
  src/proc_net_snmp6.c
  src/proc_net_sockstat6.c
  web/dashboard.html
  web/dashboard_info.js
  web/index.html
  web/tv.html
Owners: @ktsaou

stock configs in /usr/lib/netdata (#4283)
  .gitignore
  CMakeLists.txt
  build/subst.inc
  conf.d/Makefile.am
  conf.d/python.d/cpuidle.conf
  conf.d/statsd.d/example.conf
  configs.signatures
  configure.ac
  makeself/install-or-update.sh
  makeself/jobs/70-netdata-git.install.sh
  makeself/jobs/99-makeself.install.sh
  netdata-installer.sh
  netdata.spec.in
  plugins.d/Makefile.am
  plugins.d/alarm-notify.sh.in
  plugins.d/cgroup-name.sh.in
  plugins.d/charts.d.plugin.in
  plugins.d/fping.plugin.in
  plugins.d/node.d.plugin.in
  plugins.d/python.d.plugin.in
  plugins.d/tc-qos-helper.sh.in
  src/Makefile.am
  src/apps_plugin.c
  src/common.c
  src/common.h
  src/health.c
  src/health.h
  src/health_config.c
  src/main.c
  src/rrdhost.c
  src/statsd.c
  src/unit_test.c
Owners: @ktsaou, @l2isbad

force symlink of netdata-updater.sh (#4307)
  netdata-installer.sh
Owners: @ktsaou

cleanup FIXME tags (#4309)
  src/apps_plugin.c
  src/backends.c
  src/cgroup-network.c
  src/plugin_nfacct.c
  src/plugin_tc.c
  src/proc_stat.c
  src/rrdvar.c
  src/socket.c
  src/web_api_v1.c
  src/web_client.c
  web/dashboard.js
  web/index.html
Owners: @ktsaou

Python.d PEP 8 cleanup, modules P-R (#4299)
  python.d/phpfpm.chart.py
  python.d/portcheck.chart.py
  python.d/postfix.chart.py
  python.d/powerdns.chart.py
  python.d/puppet.chart.py
  python.d/rabbitmq.chart.py
  python.d/redis.chart.py
  python.d/rethinkdbs.chart.py
  python.d/retroshare.chart.py
Owners: @l2isbad

install some libs for coverity (#4314)
  .travis.yml
Owners: @paulfantom

[cleanup crusade] Shellcheck (#4261)
  .travis.yml
  .travis/containerized_build.sh
  .travis/create_artifacts.sh
  charts.d/apache.chart.sh
  charts.d/cpu_apps.chart.sh
  charts.d/libreswan.chart.sh
  charts.d/load_average.chart.sh
  charts.d/mem_apps.chart.sh
  charts.d/mysql.chart.sh
  charts.d/nginx.chart.sh
  charts.d/nut.chart.sh
  charts.d/opensips.chart.sh
  charts.d/phpfpm.chart.sh
  charts.d/postfix.chart.sh
  charts.d/sensors.chart.sh
  charts.d/squid.chart.sh
  charts.d/tomcat.chart.sh
  coverity-scan.sh
  cppcheck.sh
  docker/build.sh
  installer/functions.sh
  kickstart-static64.sh
  kickstart.sh
  netdata-installer.sh
  plugins.d/alarm-test.sh
  plugins.d/cgroup-network-helper.sh
  plugins.d/charts.d.dryrun-helper.sh
Owners: @paulfantom, @ktsaou

.github/CODEOWNERS:

# Global code owner
* @ktsaou

# C code
*.c @ktsaou
*.h @ktsaou

# python files
*.py @l2isbad
plugins.d/python.d.plugin @l2isbad
conf.d/python.d/ @l2isbad

# docker builds
docker/ @paulfantom

# CI and automation
.travis/ @paulfantom
.travis.yml @paulfantom
.lgtm.yml @paulfantom
