Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @paufantom, @cakrit, @paulfantom, @vlvkobal, @gmosx, @ccremer, @ilyam8, @mfundul, @Ferroin, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou

# Ownership by directory structure
.travis/ @paufantom @cakrit
.github/ @paufantom @cakrit
build/ @paulfantom
backends/ @ktsaou @vlvkobal
backends/graphite/ @ktsaou @vlvkobal
backends/json/ @ktsaou @vlvkobal
backends/opentsdb/ @ktsaou @vlvkobal
backends/prometheus/ @ktsaou @vlvkobal @paulfantom
collectors/ @ktsaou @vlvkobal
collectors/charts.d.plugin/ @ktsaou @paulfantom
collectors/freebsd.plugin/ @vlvkobal
collectors/macos.plugin/ @vlvkobal
collectors/node.d.plugin/ @ktsaou @gmosx
collectors/node.d.plugin/fronius/ @ktsaou @gmosx @ccremer
collectors/node.d.plugin/snmp/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/stiebeleltron/ @ktsaou @gmosx @ccremer
collectors/python.d.plugin/ @ilyam8
daemon/ @ktsaou @vlvkobal
database/ @ktsaou @mfundul
docs/ @cakrit
health/ @ktsaou @cakrit
health/health.d/ @ktsaou @cakrit
health/notifications/ @ktsaou @Ferroin @cakrit
installer/ @ktsaou @paulfantom @cakrit
libnetdata/ @ktsaou @vlvkobal
makeself/ @ktsaou @paulfantom
packaging/ @paulfantom
registry/ @ktsaou @gmosx
streaming/ @ktsaou @mfundul
web/ @ktsaou @vlvkobal
web/gui/ @ktsaou @gmosx

# Ownership by filetype (overwrites ownership by directory)
*.md @ktsaou @cakrit
*.am @paulfantom @ktsaou

# Ownership of specific files
.gitignore @paulfantom @cakrit
.travis.yml @paulfantom
.lgtm.yml @paulfantom
.eslintrc @paulfantom
.eslintignore @paulfantom
.csslintrc @paulfantom
.codeclimate.yml @paulfantom
.codacy.yml @paulfantom
netdata.spec.in @paulfantom
netlify.toml @cakrit
package.json @gmosx
packaging/version @netdatabot

LICENSE.md @ktsaou
CHANGELOG.md @netdatabot

Correct link to Rest API (#5193)
  web/gui/custom/README.md
Owners: @ktsaou, @cakrit

fix path to updater file (#5209)
  Makefile.am
  netdata-installer.sh
Owners: @paulfantom, @ktsaou

add go.d.plugin to apps_groups.conf (#5214)
  collectors/apps.plugin/apps_groups.conf
Owners: @ktsaou, @vlvkobal

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Bug fix for netdata behind authenticated proxies (#5216)
  tests/health_mgmtapi/health-cmdapi-test.sh.in
  web/api/health/README.md
  web/server/web_client.c
Owners: @ktsaou, @cakrit, @vlvkobal

python dockerd module: check version (#5217)
  collectors/python.d.plugin/dockerd/README.md
  collectors/python.d.plugin/dockerd/dockerd.chart.py
Owners: @ktsaou, @cakrit, @ilyam8

Update netdata-installer.sh
  netdata-installer.sh
Owners: @ktsaou

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

fix md5sum (#5230)
  packaging/installer/README.md
Owners: @ktsaou, @cakrit

update kickstart md5sum
  packaging/installer/README.md
Owners: @ktsaou, @cakrit

Fix nightly builds and cron autoupdater (#5232)
  netdata-installer.sh
  packaging/docker/Dockerfile
  packaging/installer/netdata-updater.sh
Owners: @ktsaou, @paulfantom

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fix check for install-required-packages.sh (#5241)
  packaging/installer/kickstart.sh
Owners: @paulfantom

Update kickstart.sh md5sum in docs (#5242)
  packaging/installer/README.md
Owners: @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Pass correct options to the configure command (#5244)
  .travis/create_artifacts.sh
Owners: @paufantom, @cakrit

plugins.d doc: Remove empty similar headline (#5245)
  collectors/plugins.d/README.md
Owners: @ktsaou, @cakrit

go through whole nightly before quiting (#5219)
  .travis/nightlies.sh
Owners: @paufantom, @cakrit

Remove v before the version (#5223)
  web/gui/main.js
Owners: @ktsaou, @gmosx

alarm-notify: Add Prowl integration for iOS users. (#5132)
  health/notifications/alarm-notify.sh.in
  health/notifications/health_alarm_notify.conf
  health/notifications/prowl/Makefile.inc
  health/notifications/prowl/README.md
Owners: @ktsaou, @Ferroin, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Mysql charts fix (#5250)
  collectors/python.d.plugin/mysql/mysql.chart.py
Owners: @ilyam8

Instruct users to use edit-config (#5222)
  docs/netdata-for-IoT.md
Owners: @ktsaou, @cakrit

Update info on plugins (#5101)
  docs/Performance.md
Owners: @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Check version.txt in correct directory and fix link to docs (#5256)
  netdata-installer.sh
Owners: @ktsaou

Don't show zero charts for ZFS filesystem (#5211)
  collectors/freebsd.plugin/freebsd_kstat_zfs.c
  collectors/proc.plugin/proc_spl_kstat_zfs.c
  collectors/proc.plugin/zfs_common.c
  collectors/proc.plugin/zfs_common.h
Owners: @vlvkobal, @ktsaou

Update alarm-notify.sh.in (#5263)
  health/notifications/alarm-notify.sh.in
Owners: @ktsaou, @Ferroin, @cakrit

Fix typo in docs/configuration-guide.md (#5259)
  docs/configuration-guide.md
Owners: @ktsaou, @cakrit

fix invalid json returned after 'prefix': 'osd df' (#5260)
  collectors/python.d.plugin/ceph/ceph.chart.py
Owners: @ilyam8

SUSE addition (#5258)
  packaging/maintainers/README.md
Owners: @ktsaou, @cakrit

Always run make clean before make (#5265)
  netdata-installer.sh
Owners: @ktsaou

Improvements to QoS (tc) documentation (#5221)
  collectors/tc.plugin/README.md
Owners: @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Anonymous statistics (#5113)
  .gitignore
  collectors/apps.plugin/apps_plugin.c
  collectors/cgroups.plugin/cgroup-network.c
  collectors/freeipmi.plugin/freeipmi_plugin.c
  daemon/Makefile.am
  daemon/anonymous-statistics.sh.in
  daemon/common.h
  daemon/daemon.h
  daemon/main.c
  daemon/main.h
  docs/anonymous-statistics.md
  docs/generator/buildyaml.sh
  docs/netdata-security.md
  docs/privacy-policy.md
  docs/terms-of-use.md
  libnetdata/libnetdata.h
  libnetdata/log/log.c
  libnetdata/log/log.h
  packaging/installer/functions.sh
  registry/registry.c
  web/gui/dashboard.js
  web/gui/index.html
  web/gui/src/dashboard.js/registry.js
Owners: @paulfantom, @cakrit, @ktsaou, @vlvkobal, @gmosx

Fix incorrect parsing of ACLs (#5275)
  libnetdata/socket/socket.c
Owners: @ktsaou, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata update instructions after recent changes (#5277)
  packaging/installer/UPDATE.md
Owners: @ktsaou, @cakrit

Cloud Sign-In (#5095)
  .gitignore
  health/notifications/alarm-notify.sh.in
  registry/registry.c
  registry/registry_init.c
  web/gui/dashboard.js
  web/gui/goto-host-from-alarm.html
  web/gui/index.html
  web/gui/main.css
  web/gui/main.js
  web/gui/src/dashboard.js/options.js
  web/gui/src/dashboard.js/registry.js
Owners: @paulfantom, @cakrit, @ktsaou, @Ferroin, @gmosx
