Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @Ferroin, @knatsakis, @kaskavel, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @thiagofsm, @netdatabot

Add notices to FreeBSD/pfSense docs that they are community-supported (#10171)
  packaging/installer/methods/freebsd.md
  packaging/installer/methods/pfsense.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

fix: make comma optional when parsing ipsec trafficstatus (#10190)
  collectors/charts.d.plugin/libreswan/libreswan.chart.sh
Owners: @ilyam8, @Ferroin

Add supported notification platforms to docs (#10170)
  docs/monitor/enable-notifications.md
  health/notifications/README.md
  health/notifications/flock/README.md
  health/notifications/prowl/README.md
Owners: @joelhans

Inform users about an issue with the newest gRPC versions (#10194)
  exporting/pubsub/README.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Add HTTP and HTTPS support to the simple exporting connector (#9911)
  .gitignore
  CMakeLists.txt
  Makefile.am
  backends/backends.c
  exporting/README.md
  exporting/aws_kinesis/aws_kinesis.c
  exporting/clean_connectors.c
  exporting/exporting_engine.h
  exporting/graphite/README.md
  exporting/graphite/graphite.c
  exporting/graphite/graphite.h
  exporting/init_connectors.c
  exporting/json/README.md
  exporting/json/json.c
  exporting/json/json.h
  exporting/mongodb/mongodb.c
  exporting/mongodb/mongodb.h
  exporting/opentsdb/README.md
  exporting/opentsdb/opentsdb.c
  exporting/opentsdb/opentsdb.h
  exporting/process_data.c
  exporting/prometheus/remote_write/README.md
  exporting/prometheus/remote_write/remote_write.c
  exporting/prometheus/remote_write/remote_write.h
  exporting/prometheus/remote_write/remote_write_request.h
  exporting/pubsub/pubsub.c
  exporting/read_config.c
  exporting/send_data.c
  exporting/tests/exporting_doubles.c
  exporting/tests/test_exporting_engine.c
  exporting/tests/test_exporting_engine.h
  libnetdata/config/appconfig.c
  libnetdata/socket/security.c
  libnetdata/socket/security.h
  web/api/exporters/allmetrics.c
Owners: @Ferroin, @knatsakis, @ktsaou, @thiagoftsm, @vlvkobal, @joelhans, @kaskavel, @thiagofsm, @mfundul

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Adds metric showing how long Query spent in Queue (#10016)
  aclk/aclk_query.c
  aclk/aclk_stats.c
  aclk/aclk_stats.h
  aclk/mqtt.c
Owners: @stelfrag, @underhood

Page duty V2 (#10189)
  health/notifications/alarm-notify.sh.in
  health/notifications/health_alarm_notify.conf
  health/notifications/pagerduty/README.md
Owners: @Ferroin, @thiagoftsm, @joelhans

Re-enable CentOS 8 CI checks. (#10156)
  .github/workflows/build-and-install.yml
Owners: @Ferroin, @knatsakis, @kaskavel

Remove usage of deprecated GHA syntax. (#10154)
  .github/workflows/checks.yml
  .github/workflows/review.yml
Owners: @Ferroin, @knatsakis, @kaskavel

Fixed builds using particular versions of Clang. (#10155)
  .github/dockerfiles/Dockerfile.clang
  .github/workflows/checks.yml
  netdata-installer.sh
Owners: @Ferroin, @knatsakis, @kaskavel

Fixed two bugs related to version handling in install and update code. (#10162)
  netdata-installer.sh
  packaging/installer/netdata-updater.sh
Owners: @Ferroin, @knatsakis

Move shared memory accounting from "cached" to "used" dimension (#10183)
  collectors/proc.plugin/proc_meminfo.c
Owners: @vlvkobal, @mfundul

Update k8s docs with new Helm repo (#10172)
  packaging/installer/methods/kubernetes.md
Owners: @joelhans

Make libnetdata headers compilable by C++. (#10185)
  collectors/apps.plugin/apps_plugin.c
  collectors/statsd.plugin/statsd.c
  collectors/tc.plugin/plugin_tc.c
  database/rrdcalc.c
  libnetdata/avl/avl.c
  libnetdata/avl/avl.h
  libnetdata/config/appconfig.h
  libnetdata/dictionary/dictionary.h
  libnetdata/eval/eval.c
  libnetdata/eval/eval.h
  libnetdata/libnetdata.h
  libnetdata/log/log.h
  registry/registry_internals.h
  registry/registry_person.h
  spawn/spawn.h
Owners: @vlvkobal, @mfundul, @thiagoftsm, @thiagofsm, @jacekkolasa, @ktsaou, @Ferroin

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Fix repeated frontmatter (#10211)
  exporting/graphite/README.md
  exporting/json/README.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

installer: update go.d.plugin version to v0.25.0 (#10215)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @knatsakis

Fixed bug in auto-updater for FreeBSD (#10198) (#10204)
  packaging/installer/netdata-updater.sh
Owners: @Ferroin, @knatsakis

Fix coverity issues (#10216)
  exporting/init_connectors.c
  exporting/send_data.c
  exporting/tests/test_exporting_engine.c
Owners: @vlvkobal, @thiagoftsm, @Ferroin, @knatsakis, @kaskavel

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Fix chart filtering (#10218)
  exporting/prometheus/prometheus.c
  exporting/prometheus/remote_write/remote_write.c
  exporting/send_data.c
Owners: @vlvkobal, @thiagoftsm

Don't stop Prometheus remote write collector when data is not available for dimension formatting (#10217)
  exporting/prometheus/remote_write/remote_write.c
Owners: @vlvkobal, @thiagoftsm

streaming: fix a typo in the README.md (#10225)
  streaming/README.md
Owners: @joelhans

dashboard_info.js: fix a typo (vernemq) (#10223)
  web/gui/dashboard_info.js
Owners: @jacekkolasa

collectors/xenstat.plugin: recieved => received (#10224)
  collectors/xenstat.plugin/xenstat_plugin.c
Owners: @vlvkobal, @mfundul

Update CoC and widen scope to community (#10186)
  CODE_OF_CONDUCT.md
Owners: @joelhans

Add allocated space metrics to oracledb charts (#10197)
  collectors/python.d.plugin/oracledb/README.md
  collectors/python.d.plugin/oracledb/oracledb.chart.py
Owners: @joelhans, @ilyam8

health: convert `elasticsearch_last_collected` alarm to template (#10226)
  health/health.d/elasticsearch.conf
Owners: @thiagoftsm, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Add guide: Deploy Netdata with Ansible (#10199)
  docs/guides/deploy/ansible.md
Owners: @joelhans

add `nvidia_smi` collector data to the dashboard_info.js (#10230)
  web/gui/dashboard_info.js
Owners: @jacekkolasa

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Disable chart obsoletion code for archived chart creation. (#10231)
  database/rrdset.c
Owners: @mfundul, @thiagoftsm

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

New ebpf release (#10202)
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_socket.c
  packaging/ebpf.checksums
  packaging/ebpf.version
Owners: @thiagoftsm, @vlvkobal, @Ferroin, @knatsakis

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @Ferroin

# Ownership by directory structure
.travis/ @Ferroin @knatsakis @kaskavel
.github/ @Ferroin @knatsakis @kaskavel
aclk/ @stelfrag @underhood
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @Ferroin @knatsakis
contrib/debian @Ferroin @knatsakis
collectors/ @vlvkobal @mfundul
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/node.d.plugin/ @jacekkolasa
collectors/node.d.plugin/fronius/ @ccremer
collectors/node.d.plugin/snmp/ @jacekkolasa
collectors/node.d.plugin/stiebeleltron/ @ccremer
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @mfundul
database/ @mfundul @thiagoftsm
docs/ @joelhans
health/ @thiagoftsm @vlvkobal
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
libnetdata/ @thiagofsm @mfundul
packaging/ @Ferroin @knatsakis
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin @knatsakis
tests/ @Ferroin @knatsakis @kaskavel
web/ @thiagoftsm @mfundul @vlvkobal
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin
*.md @joelhans
Dockerfile* @Ferroin @knatsakis

# Ownership of specific files
.gitignore @Ferroin @knatsakis
.travis.yml @Ferroin @knatsakis @kaskavel
.lgtm.yml @Ferroin @knatsakis
.eslintrc @Ferroin @knatsakis
.eslintignore @Ferroin @knatsakis
.csslintrc @Ferroin @knatsakis
.codeclimate.yml @Ferroin @knatsakis
.codacy.yml @Ferroin @knatsakis
.yamllint.yml @Ferroin @knatsakis
netdata.spec.in @Ferroin @knatsakis
netdata-installer.sh @Ferroin @knatsakis
package.json @jacekkolasa @Ferroin @knatsakis
packaging/version @netdatabot @Ferroin @knatsakis

LICENSE.md @joelhans @Ferroin
CHANGELOG.md @netdatabot @Ferroin
