Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cakrit, @paulkatsoulakis, @vlvkobal, @gmosx, @ccremer, @ilyam8, @simonnagl, @mfundul, @Ferroin, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cakrit

# Ownership by directory structure
.travis/ @paulkatsoulakis @cakrit
.github/ @paulkatsoulakis @cakrit
backends/ @ktsaou @vlvkobal
backends/graphite/ @ktsaou @vlvkobal
backends/json/ @ktsaou @vlvkobal
backends/opentsdb/ @ktsaou @vlvkobal
backends/prometheus/ @ktsaou @vlvkobal @paulkatsoulakis
build/ @paulkatsoulakis @cakrit
collectors/ @ktsaou @vlvkobal @cakrit
collectors/charts.d.plugin/ @ktsaou @paulkatsoulakis @cakrit
collectors/freebsd.plugin/ @vlvkobal @cakrit
collectors/macos.plugin/ @vlvkobal @cakrit
collectors/node.d.plugin/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/fronius/ @ktsaou @gmosx @ccremer @cakrit
collectors/node.d.plugin/snmp/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/stiebeleltron/ @ktsaou @gmosx @ccremer @cakrit
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @ktsaou @vlvkobal @cakrit
daemon/ @ktsaou @mfundul @cakrit
database/ @ktsaou @mfundul
docs/ @cakrit
health/ @ktsaou @cakrit
health/health.d/ @ktsaou @cakrit
health/notifications/ @ktsaou @Ferroin @cakrit
libnetdata/ @ktsaou @cakrit
packaging/ @paulkatsoulakis @cakrit
packaging/installer/ @ktsaou @paulkatsoulakis @cakrit
packaging/makeself/ @ktsaou @paulkatsoulakis @cakrit
registry/ @ktsaou @gmosx @cakrit
streaming/ @ktsaou @mfundul
web/ @ktsaou @cakrit
web/gui/ @ktsaou @gmosx @cakrit

# Ownership by filetype (overwrites ownership by directory)
*.md @ktsaou @cakrit
*.am @paulkatsoulakis @ktsaou

# Ownership of specific files
.gitignore @paulkatsoulakis @cakrit
.travis.yml @paulkatsoulakis
.lgtm.yml @paulkatsoulakis
.eslintrc @paulkatsoulakis
.eslintignore @paulkatsoulakis
.csslintrc @paulkatsoulakis
.codeclimate.yml @paulkatsoulakis
.codacy.yml @paulkatsoulakis
netdata.spec.in @paulkatsoulakis
netdata-installer.sh @ktsaou @paulkatsoulakis @cakrit
netlify.toml @cakrit
package.json @gmosx
packaging/version @netdatabot

LICENSE.md @ktsaou
CHANGELOG.md @netdatabot

Add rel. 1.14 to news section
  README.md
Owners: @ktsaou, @cakrit

Update Node app_group (#5962)
  collectors/apps.plugin/apps_groups.conf
Owners: @ktsaou, @vlvkobal, @cakrit

mongodb: various KeyError fixes (#5931)
  collectors/python.d.plugin/mongodb/mongodb.chart.py
Owners: @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Change HTTP version to HTTP method in web_log docs (#5974)
  collectors/python.d.plugin/web_log/README.md
Owners: @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

fix typo in the mysql graph (#5980)
  collectors/python.d.plugin/mysql/mysql.chart.py
Owners: @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Implement unified cgroup cpu limit (#5895)
  collectors/cgroups.plugin/sys_fs_cgroup.c
Owners: @ktsaou, @vlvkobal, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

fix pfsense instructions (#5982)
  packaging/installer/README.md
Owners: @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

UserService self._get_raw_data except fix (#5997)
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/UrlService.py
Owners: @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Do not cache alarms and info api calls. Extend no-cache headers (#5999)
  web/api/web_api_v1.c
  web/server/web_client.c
Owners: @ktsaou, @cakrit

Add sample implementation to custom_sender (#5992)
  health/notifications/custom/README.md
  health/notifications/health_alarm_notify.conf
Owners: @ktsaou, @cakrit, @Ferroin

Add "text-only" chart renderer (#5971)
  web/gui/Makefile.am
  web/gui/dashboard.js
  web/gui/src/dashboard.js/charting.js
  web/gui/src/dashboard.js/charting/textonly.js
Owners: @paulkatsoulakis, @ktsaou, @gmosx, @cakrit

Add system info streaming (#5996)
  daemon/main.c
  database/rrd.h
  database/rrdhost.c
  streaming/rrdpush.c
  web/api/web_api_v1.c
Owners: @ktsaou, @mfundul, @cakrit

Add AWS Kinesis backend (#5914)
  CMakeLists.txt
  Makefile.am
  backends/README.md
  backends/aws_kinesis/Makefile.am
  backends/aws_kinesis/README.md
  backends/aws_kinesis/aws_kinesis.c
  backends/aws_kinesis/aws_kinesis.conf
  backends/aws_kinesis/aws_kinesis.h
  backends/aws_kinesis/aws_kinesis_put_record.cc
  backends/aws_kinesis/aws_kinesis_put_record.h
  backends/backends.c
  backends/backends.h
  configure.ac
  netdata-installer.sh
Owners: @ktsaou, @cakrit, @paulkatsoulakis, @vlvkobal

netdata/packaging: Do not install netdata service when within docker (#5947)
  netdata-installer.sh
Owners: @ktsaou, @paulkatsoulakis, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fix Coverity defects (#6008)
  streaming/rrdpush.c
Owners: @ktsaou, @mfundul

Fix segmentation fault (#6011)
  database/rrdhost.c
  streaming/rrdpush.c
  web/api/web_api_v1.c
Owners: @ktsaou, @mfundul, @cakrit

netdata/packaging: Make docker image bring onboard the required packages for the new database (#6014)
  packaging/docker/Dockerfile
Owners: @paulkatsoulakis, @cakrit

Database engine (#5282)
  CMakeLists.txt
  Makefile.am
  backends/backends.c
  configure.ac
  daemon/README.md
  daemon/config/README.md
  daemon/global_statistics.c
  daemon/main.c
  daemon/unit_test.c
  daemon/unit_test.h
  database/README.md
  database/engine/Makefile.am
  database/engine/README.md
  database/engine/datafile.c
  database/engine/datafile.h
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrddiskprotocol.h
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/engine/rrdenginelib.c
  database/engine/rrdenginelib.h
  database/rrd.c
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  libnetdata/libnetdata.h
  libnetdata/log/log.h
  packaging/installer/README.md
  streaming/README.md
  streaming/stream.conf
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrdset2json.c
  web/api/queries/query.c
Owners: @ktsaou, @cakrit, @paulkatsoulakis, @vlvkobal, @mfundul

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/packaging: you need more content to fetch git describe info. Cant explain why it didnt fail before though (#6007)
  .travis.yml
Owners: @paulkatsoulakis

Correct instructions on Slack webhooks (#6016)
  health/notifications/health_alarm_notify.conf
  health/notifications/slack/README.md
Owners: @ktsaou, @Ferroin, @cakrit

Support for aggregate node view (#5902)
  .gitignore
  web/gui/Makefile.am
  web/gui/console/index.html
  web/gui/index.html
  web/gui/main.css
  web/gui/main.js
  web/gui/static/img/netdata-logomark.svg
  web/gui/static/static/img/netdata-logomark.svg
Owners: @paulkatsoulakis, @cakrit, @ktsaou, @gmosx

netdata/packaging: Fix broken netdata docker image for dbengine-enabled code (#6020)
  packaging/docker/Dockerfile
Owners: @paulkatsoulakis, @cakrit

Add prowl to list of methods checked for enablement of notifications (#6022)
  health/notifications/alarm-notify.sh.in
Owners: @ktsaou, @Ferroin, @cakrit

Add database engine doc to the menu (#6029)
  docs/generator/buildyaml.sh
Owners: @cakrit

Initial script for API load testing (#5892)
  tests/k6/data.js
Owners: @ktsaou, @cakrit

Reduce HTML documentation font size (#6030)
  docs/generator/custom/css/netdata.css
Owners: @cakrit

Remove nl2br addon, to get the same view in html docs as in markdown (#6032)
  docs/generator/buildyaml.sh
Owners: @cakrit

installer: include go.d.plugin version v0.5.0 (#6025)
  netdata-installer.sh
  packaging/go.d.checksums
Owners: @ktsaou, @paulkatsoulakis, @cakrit

Fix timestamps being reversed for backends (#6040)
  backends/backends.c
Owners: @ktsaou, @vlvkobal

netdata/packaging: Fix makeself packaging (#6041)
  .travis/create_artifacts.sh
  packaging/makeself/install-alpine-packages.sh
Owners: @paulkatsoulakis, @cakrit, @ktsaou

netdata/packaging: Fine tune documentation on how to test docker images (#6024)
  packaging/docker/README.md
Owners: @ktsaou, @cakrit

Minor change from @VLegakis (#6028)
  web/gui/console/index.html
Owners: @ktsaou, @gmosx, @cakrit
