Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @paufantom, @cakrit, @paulfantom, @vlvkobal, @gmosx, @ccremer, @ilyam8, @mfundul, @Ferroin, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou

# Ownership by directory structure
.travis/ @paufantom @cakrit
.github/ @paufantom @cakrit
build/ @paulfantom
backends/ @ktsaou @vlvkobal
backends/graphite/ @ktsaou @vlvkobal
backends/json/ @ktsaou @vlvkobal
backends/opentsdb/ @ktsaou @vlvkobal
backends/prometheus/ @ktsaou @vlvkobal @paulfantom
collectors/ @ktsaou @vlvkobal
collectors/charts.d.plugin/ @ktsaou @paulfantom
collectors/freebsd.plugin/ @vlvkobal
collectors/macos.plugin/ @vlvkobal
collectors/node.d.plugin/ @ktsaou @gmosx
collectors/node.d.plugin/fronius/ @ktsaou @gmosx @ccremer
collectors/node.d.plugin/snmp/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/stiebeleltron/ @ktsaou @gmosx @ccremer
collectors/python.d.plugin/ @ilyam8
daemon/ @ktsaou @vlvkobal
database/ @ktsaou @mfundul
docs/ @cakrit
health/ @ktsaou @cakrit
health/health.d/ @ktsaou @cakrit
health/notifications/ @ktsaou @Ferroin @cakrit
installer/ @ktsaou @paulfantom @cakrit
libnetdata/ @ktsaou @vlvkobal
makeself/ @ktsaou @paulfantom
packaging/ @paulfantom
registry/ @ktsaou @gmosx
streaming/ @ktsaou @mfundul
web/ @ktsaou @vlvkobal
web/gui/ @ktsaou @gmosx

# Ownership by filetype (overwrites ownership by directory)
*.md @ktsaou @cakrit
*.am @paulfantom @ktsaou

# Ownership of specific files
.gitignore @paulfantom @cakrit
.travis.yml @paulfantom
.lgtm.yml @paulfantom
.eslintrc @paulfantom
.eslintignore @paulfantom
.csslintrc @paulfantom
.codeclimate.yml @paulfantom
.codacy.yml @paulfantom
netdata.spec.in @paulfantom
netlify.toml @cakrit
package.json @gmosx
packaging/version @netdatabot

LICENSE.md @ktsaou
CHANGELOG.md @netdatabot

Fix FreeBSD plugin Codacy issues (#5338)
  collectors/freebsd.plugin/freebsd_kstat_zfs.c
  collectors/freebsd.plugin/freebsd_sysctl.c
Owners: @vlvkobal

Codacy js fixes (#5337)
  .codacy.yml
  web/gui/dashboard.js
  web/gui/src/dashboard.js/charting/google-charts.js
  web/gui/src/dashboard.js/main.js
  web/gui/src/dashboard.js/registry.js
Owners: @paulfantom, @ktsaou, @gmosx

Add go.d documentation and modify collector menu (#5215)
  .gitignore
  docs/generator/buildhtml.sh
  docs/generator/buildyaml.sh
Owners: @paulfantom, @cakrit

more robust GH release creation
  .travis/releaser.sh
Owners: @paufantom, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fix cgroups Codacy issue (#5340)
  collectors/cgroups.plugin/cgroup-network.c
Owners: @ktsaou, @vlvkobal

fix AC_CHECK_LIB to work correctly with cups library (#5349)
  configure.ac
Owners: @ktsaou

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Provide more precise uninstall instructions (#5347)
  packaging/installer/UNINSTALL.md
Owners: @ktsaou, @cakrit

Fix replacement of whitespace for versions retrieved from github (#5355)
  web/gui/main.js
Owners: @ktsaou, @gmosx

fix warning condition for mem.available (#5353)
  health/health.d/ram.conf
Owners: @ktsaou, @cakrit

Add link to writing a new module in example readme (#5348)
  collectors/python.d.plugin/example/README.md
Owners: @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

cups.plugin: Support older versions (#5350)
  collectors/cups.plugin/README.md
  collectors/cups.plugin/cups_plugin.c
  configure.ac
Owners: @ktsaou, @cakrit, @vlvkobal

fix: wget log spam in headless mode (#5359)
  netdata-installer.sh
Owners: @ktsaou

Add message queue statistics (#5115)
  backends/prometheus/backend_prometheus.c
  collectors/all.h
  collectors/plugins.d/README.md
  collectors/plugins.d/plugins_d.c
  collectors/proc.plugin/README.md
  collectors/proc.plugin/ipc.c
  daemon/config/README.md
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  streaming/rrdpush.c
  web/api/exporters/shell/allmetrics_shell.c
  web/api/formatters/rrdset2json.c
Owners: @ktsaou, @vlvkobal, @paulfantom, @cakrit, @mfundul

Add cgroup cpu and memory limits and alarms (#5172)
  collectors/cgroups.plugin/README.md
  collectors/cgroups.plugin/sys_fs_cgroup.c
  health/Makefile.am
  health/health.d/cgroups.conf
  web/gui/dashboard_info.js
Owners: @ktsaou, @cakrit, @vlvkobal, @paulfantom, @gmosx

Added missing BuildRequires for autoconf, automake (#5363)
  netdata.spec.in
Owners: @paulfantom

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Lint alarm notify (#5164)
  health/notifications/alarm-notify.sh.in
Owners: @ktsaou, @Ferroin, @cakrit

automatic shellchecking on .sh.in scripts (#5165)
  .travis.yml
  collectors/tc.plugin/tc-qos-helper.sh.in
  health/notifications/alarm-notify.sh.in
  tests/health_mgmtapi/health-cmdapi-test.sh.in
Owners: @paulfantom, @ktsaou, @vlvkobal, @Ferroin, @cakrit

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

Split nfacct plugin into separate process (#5361)
  .gitignore
  CMakeLists.txt
  Makefile.am
  collectors/README.md
  collectors/all.h
  collectors/apps.plugin/apps_groups.conf
  collectors/nfacct.plugin/README.md
  collectors/nfacct.plugin/plugin_nfacct.c
  collectors/nfacct.plugin/plugin_nfacct.h
  collectors/plugins.d/README.md
  configure.ac
  daemon/main.c
  docs/Add-more-charts-to-netdata.md
  docs/generator/buildyaml.sh
  netdata-installer.sh
Owners: @paulfantom, @cakrit, @ktsaou, @vlvkobal

Add support for tera-byte size for Linux bcache. (#4719) (#5373)
  collectors/proc.plugin/proc_diskstats.c
Owners: @ktsaou, @vlvkobal

Don't send host/port in to anonymous stats in fatal of STREAM_RECEIVER
  libnetdata/log/log.c
Owners: @ktsaou, @vlvkobal

Localization support in HTML docs, simplification of checklinks.sh (#5342)
  CONTRIBUTING.md
  docs/generator/buildhtml.sh
  docs/generator/buildyaml.sh
  docs/generator/checklinks.sh
  docs/generator/custom/img/geography-16.png
  docs/generator/custom/themes/material/partials/footer.html
  docs/generator/custom/themes/material/partials/header.html
Owners: @ktsaou, @cakrit

cleanup updater script and no `/opt` usage (#5218)
  packaging/installer/kickstart.sh
  packaging/installer/netdata-updater.sh
Owners: @paulfantom

Correct Installation link in updating doc (#5380)
  packaging/installer/UPDATE.md
Owners: @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Render MyNetdata menu after fetching hosts info #5370 (#5371)
  web/gui/main.js
Owners: @ktsaou, @gmosx

Add documentation for network interfaces (#5381)
  collectors/proc.plugin/README.md
  health/health.d/net.conf
Owners: @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot
