Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @paufantom, @cakrit, @vlvkobal, @paulfantom, @gmosx, @ccremer, @ilyam8, @mfundul, @Ferroin, @netdatabot

spigotmc fix UnicodeDecodeError (#5598)
  collectors/python.d.plugin/spigotmc/spigotmc.chart.py
Owners: @ilyam8

Fix nonobsolete dimension deletion (#5563)
  database/rrdset.c
Owners: @ktsaou, @mfundul

python loaders cleanup (#5602)
  collectors/python.d.plugin/python.d.plugin.in
  collectors/python.d.plugin/python_modules/bases/loaders.py
  collectors/python.d.plugin/unbound/unbound.chart.py
Owners: @ilyam8

Update custom dashboards documentation (#5600)
  web/gui/custom/README.md
Owners: @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

mysql module add ssl connection support (#5610)
  collectors/python.d.plugin/mysql/README.md
  collectors/python.d.plugin/mysql/mysql.conf
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/MySQLService.py
Owners: @ktsaou, @cakrit, @ilyam8

Fix a bug in cgroups renaming (#5612)
  collectors/cgroups.plugin/sys_fs_cgroup.c
Owners: @ktsaou, @vlvkobal, @cakrit

Use total_* memory counters for cgroups (#5592)
  collectors/cgroups.plugin/sys_fs_cgroup.c
Owners: @ktsaou, @vlvkobal, @cakrit

postgres connect fix (#5617)
  collectors/python.d.plugin/postgres/postgres.chart.py
Owners: @ilyam8

Fix Postgres connect, incorrect port value (#5618)
  collectors/python.d.plugin/postgres/postgres.chart.py
Owners: @ilyam8

sslcheck module: (remote) SSL certificate expiry time check (#5365)
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/sslcheck/Makefile.inc
  collectors/python.d.plugin/sslcheck/README.md
  collectors/python.d.plugin/sslcheck/sslcheck.chart.py
  collectors/python.d.plugin/sslcheck/sslcheck.conf
  health/Makefile.am
  health/health.d/sslcheck.conf
Owners: @paulfantom, @ktsaou, @ilyam8, @cakrit

When running from within a k8s pod, use the k8s API to get the cgroup name (#5576)
  collectors/cgroups.plugin/cgroup-name.sh.in
  collectors/cgroups.plugin/sys_fs_cgroup.c
  daemon/anonymous-statistics.sh.in
  packaging/docker/README.md
  packaging/docker/build-test.sh
Owners: @ktsaou, @vlvkobal, @cakrit, @mfundul, @paulfantom

Fix memory leaks (#5604)
  collectors/plugins.d/plugins_d.c
  collectors/proc.plugin/proc_stat.c
Owners: @ktsaou, @vlvkobal, @cakrit

Add link to k8s helm chart in installation (#5627)
  packaging/installer/README.md
Owners: @ktsaou, @cakrit

Remove ssl check module (#5626)
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/python.d.plugin.in
  collectors/python.d.plugin/sslcheck/Makefile.inc
  collectors/python.d.plugin/sslcheck/README.md
  collectors/python.d.plugin/sslcheck/sslcheck.chart.py
  collectors/python.d.plugin/sslcheck/sslcheck.conf
Owners: @paulfantom, @ktsaou, @ilyam8, @cakrit

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou

# Ownership by directory structure
.travis/ @paufantom @cakrit
.github/ @paufantom @cakrit
backends/ @ktsaou @vlvkobal
backends/graphite/ @ktsaou @vlvkobal
backends/json/ @ktsaou @vlvkobal
backends/opentsdb/ @ktsaou @vlvkobal
backends/prometheus/ @ktsaou @vlvkobal @paulfantom
build/ @paulfantom @cakrit
collectors/ @ktsaou @vlvkobal @cakrit
collectors/charts.d.plugin/ @ktsaou @paulfantom @cakrit
collectors/freebsd.plugin/ @vlvkobal @cakrit
collectors/macos.plugin/ @vlvkobal @cakrit
collectors/node.d.plugin/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/fronius/ @ktsaou @gmosx @ccremer @cakrit
collectors/node.d.plugin/snmp/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/stiebeleltron/ @ktsaou @gmosx @ccremer @cakrit
collectors/python.d.plugin/ @ilyam8
daemon/ @ktsaou @mfundul @cakrit
database/ @ktsaou @mfundul
docs/ @cakrit
health/ @ktsaou @cakrit
health/health.d/ @ktsaou @cakrit
health/notifications/ @ktsaou @Ferroin @cakrit
libnetdata/ @ktsaou @cakrit
packaging/ @paulfantom @cakrit
packaging/installer/ @ktsaou @paulfantom @cakrit
packaging/makeself/ @ktsaou @paulfantom @cakrit
registry/ @ktsaou @gmosx @cakrit
streaming/ @ktsaou @mfundul
web/ @ktsaou @cakrit
web/gui/ @ktsaou @gmosx @cakrit

# Ownership by filetype (overwrites ownership by directory)
*.md @ktsaou @cakrit
*.am @paulfantom @ktsaou

# Ownership of specific files
.gitignore @paulfantom @cakrit
.travis.yml @paulfantom
.lgtm.yml @paulfantom
.eslintrc @paulfantom
.eslintignore @paulfantom
.csslintrc @paulfantom
.codeclimate.yml @paulfantom
.codacy.yml @paulfantom
netdata.spec.in @paulfantom
netdata-installer.sh @ktsaou @paulfantom @cakrit
netlify.toml @cakrit
package.json @gmosx
packaging/version @netdatabot

LICENSE.md @ktsaou
CHANGELOG.md @netdatabot
