Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cakrit, @paulkatsoulakis, @vlvkobal, @gmosx, @ccremer, @ilyam8, @simonnagl, @mfundul, @Ferroin, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cakrit

# Ownership by directory structure
.travis/ @paulkatsoulakis @cakrit
.github/ @paulkatsoulakis @cakrit
backends/ @ktsaou @vlvkobal
backends/graphite/ @ktsaou @vlvkobal
backends/json/ @ktsaou @vlvkobal
backends/opentsdb/ @ktsaou @vlvkobal
backends/prometheus/ @ktsaou @vlvkobal @paulkatsoulakis
build/ @paulkatsoulakis @cakrit
collectors/ @ktsaou @vlvkobal @cakrit
collectors/charts.d.plugin/ @ktsaou @paulkatsoulakis @cakrit
collectors/freebsd.plugin/ @vlvkobal @cakrit
collectors/macos.plugin/ @vlvkobal @cakrit
collectors/node.d.plugin/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/fronius/ @ktsaou @gmosx @ccremer @cakrit
collectors/node.d.plugin/snmp/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/stiebeleltron/ @ktsaou @gmosx @ccremer @cakrit
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @ktsaou @vlvkobal @cakrit
daemon/ @ktsaou @mfundul @cakrit
database/ @ktsaou @mfundul
docs/ @cakrit
health/ @ktsaou @cakrit
health/health.d/ @ktsaou @cakrit
health/notifications/ @ktsaou @Ferroin @cakrit
libnetdata/ @ktsaou @cakrit
packaging/ @paulkatsoulakis @cakrit
packaging/installer/ @ktsaou @paulkatsoulakis @cakrit
packaging/makeself/ @ktsaou @paulkatsoulakis @cakrit
registry/ @ktsaou @gmosx @cakrit
streaming/ @ktsaou @mfundul
web/ @ktsaou @cakrit
web/gui/ @ktsaou @gmosx @cakrit

# Ownership by filetype (overwrites ownership by directory)
*.md @ktsaou @cakrit
*.am @paulkatsoulakis @ktsaou

# Ownership of specific files
.gitignore @paulkatsoulakis @cakrit
.travis.yml @paulkatsoulakis
.lgtm.yml @paulkatsoulakis
.eslintrc @paulkatsoulakis
.eslintignore @paulkatsoulakis
.csslintrc @paulkatsoulakis
.codeclimate.yml @paulkatsoulakis
.codacy.yml @paulkatsoulakis
netdata.spec.in @paulkatsoulakis
netdata-installer.sh @ktsaou @paulkatsoulakis @cakrit
netlify.toml @cakrit
package.json @gmosx
packaging/version @netdatabot

LICENSE.md @ktsaou
CHANGELOG.md @netdatabot

netdata/packaging/ci: Do not trigger deployment if certain conditions are not met (#5816)
  .travis.yml
Owners: @paulkatsoulakis

netdata/collectors/cgroups.plugin: When jq not available, prompt the user he may have to install jq (#5848)
  collectors/cgroups.plugin/cgroup-name.sh.in
Owners: @ktsaou, @vlvkobal, @cakrit

Fix segmentation fault in streaming (#5882)
  streaming/rrdpush.c
Owners: @ktsaou, @mfundul

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Pipeline redesign master (#5885)
  .travis.yml
  .travis/README.md
  .travis/create_artifacts.sh
  .travis/draft_release.sh
  .travis/generate_changelog_and_tag_release.sh
  .travis/generate_changelog_for_nightlies.sh
  .travis/generate_changelog_for_release.sh
  .travis/nightlies.sh
  .travis/releaser.sh
  .travis/run_install_with_dist_file.sh
  .travis/tagger.sh
  tests/installer/slack.sh
Owners: @paulkatsoulakis, @ktsaou, @cakrit

[ci skip] Fix tagger sourcing
  .travis/generate_changelog_and_tag_release.sh
Owners: @paulkatsoulakis, @cakrit

[ci skip] Merge in artifact creation with drafting the release within the same job, so that they share the same context, otherwise folder is not visible, obviously
  .travis.yml
Owners: @paulkatsoulakis

[ci skip] release v1.14.0
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] be sure to pull before going further
  .travis/create_artifacts.sh
  .travis/draft_release.sh
Owners: @paulkatsoulakis, @cakrit

[ci skip] reinstate previous version for now
  packaging/version
Owners: @netdatabot

[ci skip] need to checkout on a branch, aparently travis doesnt do that...
  .travis/create_artifacts.sh
  .travis/draft_release.sh
Owners: @paulkatsoulakis, @cakrit

[ci skip] release v1.14.0
  packaging/version
Owners: @netdatabot

Extend netdata info API call (#5889)
  daemon/Makefile.am
  daemon/anonymous-statistics.sh.in
  daemon/common.h
  daemon/daemon.h
  daemon/main.c
  daemon/system-info.sh
  web/api/formatters/charts2json.c
  web/api/formatters/charts2json.h
  web/api/web_api_v1.c
Owners: @paulkatsoulakis, @ktsaou, @mfundul, @cakrit

NEW: allow additional name argument passing to urllib3 request in UrlService (#5893)
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/UrlService.py
Owners: @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] Adjust conditional deployment in GCS -- Properly skip according to repo slug
  .travis.yml
Owners: @paulkatsoulakis

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

[ci skip] Use BASH style operators
  .travis.yml
Owners: @paulkatsoulakis

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

Add ioping plugin (#5725)
  .gitignore
  README.md
  build/subst.inc
  collectors/Makefile.am
  collectors/README.md
  collectors/apps.plugin/apps_groups.conf
  collectors/ioping.plugin/Makefile.am
  collectors/ioping.plugin/README.md
  collectors/ioping.plugin/ioping.conf
  collectors/ioping.plugin/ioping.plugin.in
  collectors/plugins.d/README.md
  configure.ac
  docs/Add-more-charts-to-netdata.md
  docs/generator/buildyaml.sh
  health/Makefile.am
  health/health.d/ioping.conf
  netdata-installer.sh
  packaging/makeself/install-or-update.sh
  packaging/makeself/jobs/50-ioping-1.1.install.sh
  web/gui/dashboard_info.js
Owners: @paulkatsoulakis, @cakrit, @ktsaou, @vlvkobal, @gmosx

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

SocketService: set socket operation timeout before connecting (#5911)
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/SocketService.py
Owners: @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

smartd_log: attrs 3, 194 fix (#5923)
  collectors/python.d.plugin/smartd_log/smartd_log.chart.py
Owners: @ilyam8

netdata/packaging/docker: fix docker permissions and other things (#5917)
  packaging/docker/Dockerfile
  packaging/docker/build.sh
  packaging/docker/publish.sh
Owners: @paulkatsoulakis, @cakrit

NEW: Energi Core daemon monitoring, suits other Bitcoin forks (#5894)
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/energid/Makefile.inc
  collectors/python.d.plugin/energid/README.md
  collectors/python.d.plugin/energid/energid.chart.py
  collectors/python.d.plugin/energid/energid.conf
  collectors/python.d.plugin/python.d.conf
Owners: @paulkatsoulakis, @ktsaou, @ilyam8, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] netdata/packaging/ci: Emergent replacement of docker credentials (Skipping PR due to nature of event)
  .travis/README.md
  packaging/docker/README.md
  packaging/docker/build-test.sh
  packaging/docker/publish.sh
Owners: @ktsaou, @cakrit, @paulkatsoulakis

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

Fix lifecycle script (#5918)
  .travis.yml
  packaging/installer/netdata-updater.sh
  tests/updater_checks.bats
  tests/updater_checks.sh
Owners: @paulkatsoulakis, @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fixing a typo (#5936)
  packaging/installer/UPDATE.md
Owners: @ktsaou, @cakrit

nvidia_smi: power chart algorithm,mul,div fix (#5940)
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py
Owners: @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

info API minor enhancements
  web/api/formatters/charts2json.c
  web/api/formatters/charts2json.h
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
  web/api/web_api_v1.c
Owners: @ktsaou, @cakrit

netdata/packaging/ci: Make timeout usage more cross-distro compliant (#5938)
  collectors/charts.d.plugin/charts.d.plugin.in
Owners: @ktsaou, @paulkatsoulakis, @cakrit

Add support for Mac OS X Name and Version (#5949)
  daemon/system-info.sh
Owners: @ktsaou, @mfundul, @cakrit

Fix coverity warnings on get_system_info (#5952)
  daemon/main.c
Owners: @ktsaou, @mfundul, @cakrit

netdata/packaging/ci: Create manual nightly deployment tool (#5899)
  .travis/create_artifacts.sh
  .travis/draft_release.sh
  .travis/generate_changelog_and_tag_release.sh
  .travis/generate_changelog_for_nightlies.sh
  packaging/docker/build.sh
  packaging/docker/publish.sh
  packaging/manual_nightly_deployment.sh
Owners: @paulkatsoulakis, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot
