Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cakrit, @cosmix, @knatsakis, @thiagoftsm, @vlvkobal, @mfundul, @VLegakis, @ccremer, @ilyam8, @simonnagl, @joelhans, @Ferroin, @thiagofsm, @netdatabot

[collector/proc.plugin] Add /proc/pagetypeinfo parser (#6843)
  CMakeLists.txt
  Makefile.am
  collectors/all.h
  collectors/proc.plugin/plugin_proc.c
  collectors/proc.plugin/plugin_proc.h
  collectors/proc.plugin/proc_pagetypeinfo.c
Owners: @ktsaou, @cakrit, @cosmix, @knatsakis, @vlvkobal, @mfundul

Netdata not returning correct value for unknow variables (#6984)
  libnetdata/eval/eval.c
Owners: @thiagofsm, @mfundul, @cakrit, @cosmix

mysql: add cluster_status alarm (#6989)
  health/health.d/mysql.conf
Owners: @thiagoftsm, @vlvkobal, @cakrit, @cosmix

telegram: fix broken links, add setup instructions (#7033)
  health/notifications/health_alarm_notify.conf
  health/notifications/telegram/README.md
Owners: @Ferroin, @thiagoftsm, @cakrit, @cosmix, @joelhans

Initial documentation for the CMake build-system. (#7114)
  BUILD.md
Owners: @cakrit, @cosmix, @joelhans

xenstat.plugin: check xenstat_vbd_error presence (#7103)
  collectors/xenstat.plugin/xenstat_plugin.c
  configure.ac
Owners: @vlvkobal, @mfundul, @cakrit, @cosmix, @ktsaou

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

add support for am2320 sensor (#7024)
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/am2320/Makefile.inc
  collectors/python.d.plugin/am2320/README.md
  collectors/python.d.plugin/am2320/am2320.chart.py
  collectors/python.d.plugin/am2320/am2320.conf
  collectors/python.d.plugin/python.d.conf
  health/Makefile.am
  health/health.d/am2320.conf
  packaging/makeself/install-or-update.sh
  web/gui/dashboard_info.js
Owners: @cakrit, @cosmix, @knatsakis, @ilyam8, @joelhans, @thiagoftsm, @vlvkobal, @VLegakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Add user information to MySQL Python module documentation (#7128)
  collectors/python.d.plugin/mysql/README.md
Owners: @cakrit, @cosmix, @joelhans

detect if the disk cannot keep up with data collection (#7139)
  configs.signatures
  daemon/global_statistics.c
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/engine/rrdenginelib.c
  health/health.d/dbengine.conf
Owners: @ktsaou, @cakrit, @cosmix, @thiagoftsm, @mfundul, @vlvkobal

Fixing DNS-lookup performance issue on FreeBSD. (#7132)
  collectors/statsd.plugin/statsd.c
  daemon/main.c
  libnetdata/simple_pattern/simple_pattern.c
  libnetdata/simple_pattern/simple_pattern.h
  libnetdata/socket/socket.c
  libnetdata/socket/socket.h
  registry/README.md
  web/server/README.md
  web/server/static/static-threaded.c
  web/server/web_server.c
  web/server/web_server.h
Owners: @vlvkobal, @mfundul, @cakrit, @cosmix, @thiagoftsm, @thiagofsm, @joelhans

contrib/debian: Fix typo in Description (#7154)
  contrib/debian/control
  contrib/debian/control.buster
  contrib/debian/control.jessie
  contrib/debian/control.trusty
  contrib/debian/control.wheezy
  contrib/debian/control.xenial
Owners: @ktsaou, @cakrit, @cosmix

coverity_350131: Fix sizeof on callocz (#7187)
  collectors/proc.plugin/proc_pagetypeinfo.c
Owners: @vlvkobal, @mfundul, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

kickstart-static64.sh passes --auto-update to netdata-latest.gz.run (#7076)
  packaging/installer/README.md
  packaging/installer/UPDATE.md
  packaging/installer/kickstart-static64.sh
Owners: @cakrit, @cosmix, @joelhans, @knatsakis

Suggest using /var/run/netdata for the unix socket (#7206)
  docs/Running-behind-nginx.md
Owners: @cakrit, @cosmix, @joelhans

kickstart: pass options to installer (#7051)
  packaging/installer/README.md
  packaging/installer/kickstart.sh
Owners: @cakrit, @cosmix, @joelhans, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

include limits.h before using LONG_MAX (#7224)
  libnetdata/libnetdata.h
Owners: @thiagofsm, @mfundul, @cakrit, @cosmix

.travis.yml: Increase timeout for docker image builds to 20 minutes (#7214)
  .travis.yml
Owners: @cakrit, @cosmix, @knatsakis

cgroup-network-helper doesn't work on Proxmox 6 (#7037)
  collectors/cgroups.plugin/cgroup-network-helper.sh
Owners: @vlvkobal, @mfundul, @cakrit, @cosmix

Update alarm-notify.sh to enable IRC notifications (#7148)
  health/notifications/alarm-notify.sh.in
Owners: @Ferroin, @thiagoftsm, @cakrit, @cosmix

Fix counter reset detection (#7220)
  daemon/unit_test.c
  database/rrdset.c
  libnetdata/storage_number/storage_number.h
Owners: @thiagoftsm, @mfundul, @cakrit, @cosmix, @thiagofsm

postgres: do not return cached data (#7228)
  collectors/python.d.plugin/postgres/postgres.chart.py
Owners: @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Disable pagetypeinfo by default (#7230)
  collectors/proc.plugin/plugin_proc.c
Owners: @vlvkobal, @mfundul, @cakrit, @cosmix

UrlService: allow to skip tls_verify for http scheme (#7223)
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/UrlService.py
Owners: @ilyam8

rabbitmq: handle "disk_free": "disk_free_monitoring_disabled" (#7226)
  collectors/python.d.plugin/rabbitmq/rabbitmq.chart.py
Owners: @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

.travis.yml: Prevent nightly jobs from timing out (again) (#7238)
  .travis.yml
  .travis/utils.sh
Owners: @cakrit, @cosmix, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Clarify database engine/RAM in getting started guide (#7225)
  docs/getting-started.md
Owners: @cakrit, @cosmix, @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

Building a fuzzer against the API (issue #7163) (#7210)
  tests/api/fuzzer.py
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Owners: @ktsaou, @cakrit, @cosmix, @thiagoftsm, @mfundul, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Typo (#7242)
  collectors/README.md
Owners: @cakrit, @cosmix, @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/docs: fix nit introduced in 545aa9745 (#7246)
  packaging/installer/README.md
Owners: @cakrit, @cosmix, @joelhans

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cakrit @cosmix

# Ownership by directory structure
.travis/ @cakrit @cosmix @knatsakis
.github/ @cakrit @cosmix @knatsakis
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @cakrit @cosmix @knatsakis
collectors/ @vlvkobal @mfundul @cakrit @cosmix
collectors/charts.d.plugin/ @cakrit @cosmix
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @cakrit @cosmix
collectors/macos.plugin/ @vlvkobal @thiagoftsm @cakrit @cosmix
collectors/node.d.plugin/ @VLegakis @cakrit @cosmix
collectors/node.d.plugin/fronius/ @ccremer @cakrit @cosmix
collectors/node.d.plugin/snmp/ @VLegakis @cakrit @cosmix
collectors/node.d.plugin/stiebeleltron/ @ccremer @cakrit @cosmix
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @cakrit @cosmix
daemon/ @thiagoftsm @mfundul @cakrit @cosmix
database/ @mfundul @thiagoftsm @cakrit @cosmix
docs/ @cakrit @cosmix @joelhans
health/ @thiagoftsm @vlvkobal @cakrit @cosmix
health/health.d/ @thiagoftsm @vlvkobal @cakrit @cosmix
health/notifications/ @Ferroin @thiagoftsm @cakrit @cosmix
libnetdata/ @thiagofsm @mfundul @cakrit @cosmix
packaging/ @cakrit @cosmix @knatsakis
registry/ @VLegakis @cakrit @cosmix
streaming/ @thiagoftsm @vlvkobal @cakrit @cosmix
web/ @thiagoftsm @mfundul @vlvkobal @cakrit @cosmix
web/gui/ @VLegakis @cakrit @cosmix

# Ownership by filetype (overwrites ownership by directory)
*.md @cakrit @cosmix @joelhans
*.am @cakrit @cosmix @knatsakis

# Ownership of specific files
.gitignore @cakrit @cosmix @knatsakis
.travis.yml @cakrit @cosmix @knatsakis
.lgtm.yml @cakrit @cosmix @knatsakis
.eslintrc @cakrit @cosmix @knatsakis
.eslintignore @cakrit @cosmix @knatsakis
.csslintrc @cakrit @cosmix @knatsakis
.codeclimate.yml @cakrit @cosmix @knatsakis
.codacy.yml @cakrit @cosmix @knatsakis
netdata.spec.in @cakrit @cosmix @knatsakis
netdata-installer.sh @cakrit @cosmix @knatsakis
netlify.toml @cakrit @cosmix
package.json @VLegakis
packaging/version @netdatabot

LICENSE.md @cakrit @cosmix @joelhans
CHANGELOG.md @netdatabot
