Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @prologic, @Ferroin, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @thiagofsm, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @prologic

# Ownership by directory structure
.travis/ @Ferroin @prologic
.github/ @Ferroin @prologic
aclk/ @stelfrag @underhood
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @prologic
contrib/debian @Ferroin @prologic
collectors/ @vlvkobal @mfundul
collectors/charts.d.plugin/ @ilyam8 @Ferroin @prologic
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/node.d.plugin/ @jacekkolasa
collectors/node.d.plugin/fronius/ @ccremer
collectors/node.d.plugin/snmp/ @jacekkolasa
collectors/node.d.plugin/stiebeleltron/ @ccremer
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @mfundul
database/ @mfundul @thiagoftsm
docs/ @joelhans
health/ @thiagoftsm @vlvkobal
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
libnetdata/ @thiagofsm @mfundul
packaging/ @Ferroin @prologic
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @prologic @Ferroin
web/ @thiagoftsm @mfundul @vlvkobal
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @prologic
*.md @joelhans
Dockerfile* @Ferroin @prologic

# Ownership of specific files
.gitignore @Ferroin @prologic
.travis.yml @Ferroin @prologic
.lgtm.yml @Ferroin @prologic
.eslintrc @Ferroin @prologic
.eslintignore @Ferroin @prologic
.csslintrc @Ferroin @prologic
.codeclimate.yml @Ferroin @prologic
.codacy.yml @Ferroin @prologic
.yamllint.yml @Ferroin @prologic
netdata.spec.in @Ferroin @prologic
netdata-installer.sh @Ferroin @prologic
package.json @jacekkolasa @prologic
packaging/version @netdatabot @prologic

LICENSE.md @joelhans @prologic
CHANGELOG.md @netdatabot @prologic

Quick fix to eBPF-apps setting (#9967)
  collectors/ebpf.plugin/README.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @prologic

allows using LWS without SOCKS5 (#9973)
  aclk/aclk_common.c
  aclk/aclk_lws_wss_client.c
  aclk/agent_cloud_link.c
Owners: @stelfrag, @underhood

Improved the data query when using the context parameter (#9978)
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/rrd.h
  web/api/formatters/rrd2json.c
  web/api/formatters/rrd2json.h
  web/api/queries/query.c
  web/api/queries/rrdr.c
  web/api/queries/rrdr.h
  web/api/web_api_v1.c
Owners: @mfundul, @thiagoftsm, @vlvkobal

Added more stringent check for C99 support in configure script. (#9982)
  configure.ac
Owners: @ktsaou, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Fixed typos in installer functions. (#9992)
  packaging/installer/functions.sh
Owners: @Ferroin, @prologic

Fix cleanup of obsolete charts (#9985)
  database/rrdhost.c
Owners: @mfundul, @thiagoftsm

Fixed locking order to address CID_362348 (#9991)
  web/api/formatters/rrd2json.c
Owners: @thiagoftsm, @mfundul, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @prologic

Fix missing libelf-dev dependency. (#9974)
  contrib/debian/control
Owners: @Ferroin, @prologic

Added improved auto-update support. (#9966)
  netdata-installer.sh
  packaging/installer/functions.sh
  packaging/installer/netdata-uninstaller.sh
  system/Makefile.am
  system/netdata-updater.service.in
  system/netdata-updater.timer
Owners: @Ferroin, @prologic

Use our installer's bundling code for libJudy in static installs. (#9988)
  packaging/makeself/install-alpine-packages.sh
Owners: @Ferroin, @prologic

minor - removes leading whitespace before JSON in ACLK (#9998)
  aclk/agent_cloud_link.c
Owners: @stelfrag, @underhood

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Add docsv2 project to master branch (#10000)
  backends/README.md
  database/engine/README.md
  docs/collect/application-metrics.md
  docs/collect/container-metrics.md
  docs/collect/enable-configure.md
  docs/collect/how-collectors-work.md
  docs/collect/system-metrics.md
  docs/configure/invite-collaborate.md
  docs/configure/nodes.md
  docs/configure/secure-nodes.md
  docs/configure/spaces-war-rooms.md
  docs/export/README.md
  docs/export/enable-connector.md
  docs/export/external-databases.md
  docs/get/README.md
  docs/getting-started.md
  docs/guides/export/export-netdata-metrics-graphite.md
  docs/guides/longer-metrics-storage.md
  docs/guides/monitor/pi-hole-raspberry-pi.md
  docs/guides/step-by-step/step-09.md
  docs/monitor/configure-alarms.md
  docs/monitor/enable-notifications.md
  docs/monitor/view-active-alarms.md
  docs/overview/netdata-monitoring-stack.md
  docs/overview/what-is-netdata.md
  docs/overview/why-netdata.md
  docs/quickstart/infrastructure.md
  docs/quickstart/single-node.md
  docs/store/change-metrics-storage.md
  docs/store/distributed-data-architecture.md
  docs/visualize/create-dashboards.md
  docs/visualize/interact-dashboards-charts.md
  docs/visualize/view-all-nodes.md
  docs/what-is-netdata.md
  exporting/README.md
  exporting/graphite/README.md
  exporting/json/README.md
  streaming/README.md
Owners: @joelhans

Add missing tests (#10008)
  web/server/web_client.c
Owners: @thiagoftsm, @mfundul, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

change default ACLK query thread count (#10009)
  aclk/agent_cloud_link.c
Owners: @stelfrag, @underhood

Add a few changes that were missed by the systemd updater support. (#10007)
  .github/workflows/checks.yml
  .gitignore
  netdata-installer.sh
Owners: @Ferroin, @prologic

Add documentation for claiming k8s parent pods and Prometheus service discovery (#10001)
  claim/README.md
  docs/guides/monitor/kubernetes-k8s-netdata.md
  docs/guides/monitor/pi-hole-raspberry-pi.md
  packaging/installer/methods/kubernetes.md
Owners: @joelhans

Update freebsd.md (#10005)
  packaging/installer/methods/freebsd.md
Owners: @joelhans

fix file descriptor leak (#10013)
  collectors/proc.plugin/sys_class_infiniband.c
Owners: @vlvkobal, @mfundul

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Clean up and better cross-link new docsv2 documents (#10015)
  docs/collect/application-metrics.md
  docs/collect/container-metrics.md
  docs/collect/system-metrics.md
  docs/configure/nodes.md
  docs/configure/secure-nodes.md
  docs/get/README.md
  docs/monitor/configure-alarms.md
  docs/monitor/view-active-alarms.md
  docs/overview/what-is-netdata.md
  docs/overview/why-netdata.md
  docs/quickstart/infrastructure.md
  docs/store/distributed-data-architecture.md
  docs/visualize/view-all-nodes.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Allow connecting to arbitrary MQTT WSS broker for devs (#9999)
  aclk/aclk_common.c
  aclk/aclk_common.h
  aclk/aclk_lws_https_client.c
  aclk/aclk_lws_https_client.h
  aclk/agent_cloud_link.c
Owners: @stelfrag, @underhood

Fixed the data endpoint to prioritize chart over context if both are present (#10032)
  web/api/web_api_v1.c
Owners: @thiagoftsm, @mfundul, @vlvkobal

Fixed incorrect condition in updater type detection. (#10028)
  packaging/installer/functions.sh
Owners: @Ferroin, @prologic

Fix README exporting link (#10020)
  README.md
Owners: @joelhans

Update README.md (#9925)
  claim/README.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Fixed gauges for go web_log module (#10029)
  web/gui/dashboard_info.js
Owners: @jacekkolasa
