Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @Ferroin, @kaskavel, @vkalintiris, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @thiagofsm, @knatsakis, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @Ferroin

# Ownership by directory structure
.travis/ @Ferroin @kaskavel @vkalintiris
.github/ @Ferroin @kaskavel @vkalintiris
aclk/ @stelfrag @underhood
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @Ferroin
contrib/debian @Ferroin @vkalintiris
collectors/ @vlvkobal @mfundul
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/node.d.plugin/ @jacekkolasa
collectors/node.d.plugin/fronius/ @ccremer
collectors/node.d.plugin/snmp/ @jacekkolasa
collectors/node.d.plugin/stiebeleltron/ @ccremer
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @mfundul
database/ @mfundul @thiagoftsm
docs/ @joelhans
health/ @thiagoftsm @vlvkobal
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
libnetdata/ @thiagofsm @mfundul
packaging/ @Ferroin @vkalintiris
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin @vkalintiris
tests/ @Ferroin @kaskavel
web/ @thiagoftsm @mfundul @vlvkobal
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin
*.md @joelhans
Dockerfile* @Ferroin @knatsakis

# Ownership of specific files
.gitignore @Ferroin @knatsakis
.travis.yml @Ferroin @knatsakis @kaskavel @vkalintiris
.lgtm.yml @Ferroin @knatsakis
.eslintrc @Ferroin @knatsakis
.eslintignore @Ferroin @knatsakis
.csslintrc @Ferroin @knatsakis
.codeclimate.yml @Ferroin @knatsakis
.codacy.yml @Ferroin @knatsakis
.yamllint.yml @Ferroin @knatsakis
netdata.spec.in @Ferroin @knatsakis @vkalintiris
netdata-installer.sh @Ferroin @knatsakis @vkalintiris
package.json @jacekkolasa @Ferroin @knatsakis
packaging/version @netdatabot @Ferroin @knatsakis

LICENSE.md @joelhans @Ferroin
CHANGELOG.md @netdatabot @Ferroin

Add data privacy links (#11226)
  aclk/README.md
  docs/anonymous-statistics.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

New email notification template (#11219)
  health/health.c
  health/notifications/alarm-notify.sh.in
Owners: @thiagoftsm, @vlvkobal, @Ferroin

Ebpf arrays (#11230)
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_swap.h
  collectors/ebpf.plugin/ebpf_vfs.c
  packaging/ebpf.checksums
  packaging/ebpf.version
Owners: @thiagoftsm, @vlvkobal, @Ferroin, @vkalintiris

Decentralized (#11220)
  collectors/apps.plugin/apps_groups.conf
Owners: @vlvkobal, @mfundul

health: update cockroachdb alarms (#11235)
  health/health.d/cockroachdb.conf
Owners: @thiagoftsm, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

packaging: update go.d.plugin version to v0.29.0 (#11239)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @vkalintiris

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Adds xfs filesystem monitoring to eBPF (#11238)
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.d/filesystem.conf
  collectors/ebpf.plugin/ebpf_filesystem.c
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Owners: @joelhans, @thiagoftsm, @vlvkobal, @Ferroin, @vkalintiris, @jacekkolasa

Fixes error on --disable-cloud (#11244)
  daemon/common.h
Owners: @thiagoftsm, @mfundul

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Disable telemetry in CI. (#11233)
  .github/dockerfiles/Dockerfile.build_test
  .github/scripts/run_install_with_dist_file.sh
  .github/workflows/build-and-install.yml
  .github/workflows/checks.yml
  .github/workflows/coverity.yml
  .github/workflows/dashboard-pr.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/packaging.yml
  .github/workflows/review.yml
  .github/workflows/tests.yml
  .github/workflows/updater.yml
  packaging/Dockerfile.packager
Owners: @Ferroin, @knatsakis, @kaskavel, @vkalintiris

Send correct aclk implementation used by agent to posthog. (#11247)
  daemon/analytics.c
  daemon/buildinfo.c
Owners: @thiagoftsm, @mfundul

Add more nics to FreeBSD plugin (#11251)
  collectors/freebsd.plugin/freebsd_getifaddrs.c
Owners: @vlvkobal, @thiagoftsm

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

eBPF keep values from `ebpf.d.conf` (#11253)
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.d/cachestat.conf
  collectors/ebpf.plugin/ebpf.d/dcstat.conf
  collectors/ebpf.plugin/ebpf.d/process.conf
  collectors/ebpf.plugin/ebpf.d/swap.conf
  collectors/ebpf.plugin/ebpf.d/vfs.conf
  libnetdata/ebpf/ebpf.c
Owners: @thiagoftsm, @vlvkobal, @thiagofsm, @mfundul

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

slabinfo: Handle slabs added after discovery (#11257)
  collectors/slabinfo.plugin/slabinfo.c
Owners: @vlvkobal, @mfundul

Updates the docu with info about dual ACLK (#11243)
  aclk/README.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Fix libjudy installation on CentOS 8. (#11248)
  packaging/installer/install-required-packages.sh
Owners: @Ferroin, @vkalintiris

Add openSUSE 15.3 CI checks. (#11258)
  .github/workflows/build-and-install.yml
Owners: @Ferroin, @kaskavel, @vkalintiris

Ebpf apps memory usage (#11256)
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_process.h
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_swap.h
  collectors/ebpf.plugin/ebpf_vfs.c
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  packaging/ebpf.checksums
  packaging/ebpf.version
Owners: @thiagoftsm, @vlvkobal, @thiagofsm, @mfundul, @Ferroin, @vkalintiris

fix kickstart-static64.sh install script fail when trying to access `.install-type` before it is created (#11262)
  packaging/installer/kickstart-static64.sh
  packaging/installer/methods/kickstart-64.md
Owners: @Ferroin, @vkalintiris, @joelhans

Explicitly update libarchive on CentOS 8 when installing dependencies. (#11264)
  packaging/installer/install-required-packages.sh
Owners: @Ferroin, @vkalintiris

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Added new postgres charts and updated standby charts to include slot_… (#11267)
  collectors/python.d.plugin/postgres/postgres.chart.py
  web/gui/dashboard_info.js
Owners: @ilyam8, @jacekkolasa
