Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @paufantom, @cakrit, @paulfantom, @vlvkobal, @gmosx, @ccremer, @ilyam8, @mfundul, @Ferroin, @netdatabot

exclude 'docs' directory from build system (#5126)
  Makefile.am
Owners: @paulfantom, @ktsaou

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

don't use disk model as dim name (#5140)
  collectors/python.d.plugin/hddtemp/hddtemp.chart.py
Owners: @ilyam8

go_expavar fix: don't check for duplicate expvars (#5141)
  collectors/python.d.plugin/go_expvar/go_expvar.chart.py
Owners: @ilyam8

Scramble packages in docker images with polymorphic linux (#5137)
  packaging/docker/Dockerfile
  packaging/docker/README.md
  packaging/docker/run.sh
Owners: @paulfantom, @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

rabbitmq: api/nodes requests fix (#5142)
  collectors/python.d.plugin/rabbitmq/rabbitmq.chart.py
Owners: @ilyam8

add option to opt-out from telemetry program (#5138)
  netdata-installer.sh
Owners: @ktsaou

temporary disable OSX builds (#5148)
  .travis.yml
Owners: @paulfantom

test building docker container on every PR (#5145)
  .travis.yml
  packaging/docker/build.sh
  tests/lifecycle.sh
Owners: @paulfantom, @ktsaou

Add vtnet interface name into the list of interfaces which represent (#5149)
  collectors/freebsd.plugin/freebsd_getifaddrs.c
Owners: @vlvkobal

Fix typo in plugins.d/README.md (#5150)
  collectors/plugins.d/README.md
Owners: @ktsaou, @cakrit

Correct SNMP module name in plugin error handling (#5153)
  collectors/node.d.plugin/snmp/snmp.node.js
Owners: @ktsaou, @gmosx, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fix cached memory calculation (#5151)
  collectors/proc.plugin/proc_meminfo.c
Owners: @ktsaou, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

better artifacts uploading; remove build hacks (#5134)
  .travis/create_artifacts.sh
  .travis/releaser.sh
  .travis/tagger.sh
  packaging/makeself/jobs/99-makeself.install.sh
Owners: @paufantom, @cakrit, @paulfantom

nightly build only when sth changed (#5168)
  .travis/nightlies.sh
Owners: @paufantom, @cakrit

Lint cgroup name.sh.in (#5162)
  collectors/cgroups.plugin/cgroup-name.sh.in
Owners: @ktsaou, @vlvkobal

Lint tc-qos-helper.sh.in (#5163)
  collectors/tc.plugin/tc-qos-helper.sh.in
Owners: @ktsaou, @vlvkobal

Change how the ip address and port are logged in socket.c (#5166)
  libnetdata/socket/socket.c
Owners: @ktsaou, @vlvkobal

Updated Polyverse reinstall commands in Dockerfile (#5173)
  packaging/docker/Dockerfile
Owners: @paulfantom

Update Makefile.am
  Makefile.am
Owners: @paulfantom, @ktsaou

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

fix for fireqos classname not showing, close #5171 (#5176)
  collectors/tc.plugin/tc-qos-helper.sh.in
Owners: @ktsaou, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

GCS-based updater (#5174)
  netdata-installer.sh
  packaging/installer/netdata-updater.sh
  tests/lifecycle.sh
Owners: @ktsaou, @paulfantom

Fix for unix sockets after addition of port ACLs (#5184)
  libnetdata/socket/socket.c
Owners: @ktsaou, @vlvkobal

self-contained uninstaller (#5121)
  .travis.yml
  netdata-installer.sh
  packaging/installer/UNINSTALL.md
  packaging/installer/netdata-uninstaller.sh
  tests/lifecycle.bats
  tests/lifecycle.sh
Owners: @paulfantom, @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

remove double 'afraid to' in CONTRIBUTING.md (#5189)
  CONTRIBUTING.md
Owners: @ktsaou, @cakrit

add missing modules to python.d.conf (#5194)
  collectors/python.d.plugin/python.d.conf
Owners: @ilyam8

update bug_report.md (#5205)
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @ktsaou, @cakrit

Use tarballs from GCS in kickstart.sh (#5185)
  packaging/installer/kickstart.sh
Owners: @paulfantom

allow less verbose container image build (#5187)
  packaging/docker/Dockerfile
  packaging/docker/build.sh
Owners: @paulfantom

[ci skip] release v1.12.0-rc3
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

Do not build images in parallel due to too limited CI resources
  packaging/docker/build.sh
Owners: @paulfantom

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou

# Ownership by directory structure
.travis/ @paufantom @cakrit
.github/ @paufantom @cakrit
build/ @paulfantom
backends/ @ktsaou @vlvkobal
backends/graphite/ @ktsaou @vlvkobal
backends/json/ @ktsaou @vlvkobal
backends/opentsdb/ @ktsaou @vlvkobal
backends/prometheus/ @ktsaou @vlvkobal @paulfantom
collectors/ @ktsaou @vlvkobal
collectors/charts.d.plugin/ @ktsaou @paulfantom
collectors/freebsd.plugin/ @vlvkobal
collectors/macos.plugin/ @vlvkobal
collectors/node.d.plugin/ @ktsaou @gmosx
collectors/node.d.plugin/fronius/ @ktsaou @gmosx @ccremer
collectors/node.d.plugin/snmp/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/stiebeleltron/ @ktsaou @gmosx @ccremer
collectors/python.d.plugin/ @ilyam8
daemon/ @ktsaou @vlvkobal
database/ @ktsaou @mfundul
docs/ @cakrit
health/ @ktsaou @cakrit
health/health.d/ @ktsaou @cakrit
health/notifications/ @ktsaou @Ferroin @cakrit
installer/ @ktsaou @paulfantom @cakrit
libnetdata/ @ktsaou @vlvkobal
makeself/ @ktsaou @paulfantom
packaging/ @paulfantom
registry/ @ktsaou @gmosx
streaming/ @ktsaou @mfundul
web/ @ktsaou @vlvkobal
web/gui/ @ktsaou @gmosx

# Ownership by filetype (overwrites ownership by directory)
*.md @ktsaou @cakrit
*.am @paulfantom @ktsaou

# Ownership of specific files
.gitignore @paulfantom @cakrit
.travis.yml @paulfantom
.lgtm.yml @paulfantom
.eslintrc @paulfantom
.eslintignore @paulfantom
.csslintrc @paulfantom
.codeclimate.yml @paulfantom
.codacy.yml @paulfantom
netdata.spec.in @paulfantom
netlify.toml @cakrit
package.json @gmosx
packaging/version @netdatabot

LICENSE.md @ktsaou
CHANGELOG.md @netdatabot
