Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cakrit, @paulkatsoulakis, @vlvkobal, @gmosx, @ccremer, @ilyam8, @simonnagl, @mfundul, @Ferroin, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cakrit

# Ownership by directory structure
.travis/ @paulkatsoulakis @cakrit
.github/ @paulkatsoulakis @cakrit
backends/ @ktsaou @vlvkobal
backends/graphite/ @ktsaou @vlvkobal
backends/json/ @ktsaou @vlvkobal
backends/opentsdb/ @ktsaou @vlvkobal
backends/prometheus/ @ktsaou @vlvkobal @paulkatsoulakis
build/ @paulkatsoulakis @cakrit
collectors/ @ktsaou @vlvkobal @cakrit
collectors/charts.d.plugin/ @ktsaou @paulkatsoulakis @cakrit
collectors/freebsd.plugin/ @vlvkobal @cakrit
collectors/macos.plugin/ @vlvkobal @cakrit
collectors/node.d.plugin/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/fronius/ @ktsaou @gmosx @ccremer @cakrit
collectors/node.d.plugin/snmp/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/stiebeleltron/ @ktsaou @gmosx @ccremer @cakrit
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @ktsaou @vlvkobal @cakrit
daemon/ @ktsaou @mfundul @cakrit
database/ @ktsaou @mfundul
docs/ @cakrit
health/ @ktsaou @cakrit
health/health.d/ @ktsaou @cakrit
health/notifications/ @ktsaou @Ferroin @cakrit
libnetdata/ @ktsaou @cakrit
packaging/ @paulkatsoulakis @cakrit
packaging/installer/ @ktsaou @paulkatsoulakis @cakrit
packaging/makeself/ @ktsaou @paulkatsoulakis @cakrit
registry/ @ktsaou @gmosx @cakrit
streaming/ @ktsaou @mfundul
web/ @ktsaou @cakrit
web/gui/ @ktsaou @gmosx @cakrit

# Ownership by filetype (overwrites ownership by directory)
*.md @ktsaou @cakrit
*.am @paulkatsoulakis @ktsaou

# Ownership of specific files
.gitignore @paulkatsoulakis @cakrit
.travis.yml @paulkatsoulakis
.lgtm.yml @paulkatsoulakis
.eslintrc @paulkatsoulakis
.eslintignore @paulkatsoulakis
.csslintrc @paulkatsoulakis
.codeclimate.yml @paulkatsoulakis
.codacy.yml @paulkatsoulakis
netdata.spec.in @paulkatsoulakis
netdata-installer.sh @ktsaou @paulkatsoulakis @cakrit
netlify.toml @cakrit
package.json @gmosx
packaging/version @netdatabot

LICENSE.md @ktsaou
CHANGELOG.md @netdatabot

netdata/packaging/ci: Add kickstart execution integrity tests (#5778)
  .travis.yml
Owners: @paulkatsoulakis

netdata/packaging/ci: fix travis syntax (#5780)
  .travis.yml
Owners: @paulkatsoulakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/packaging/updater: fix updater (#5785)
  packaging/installer/netdata-updater.sh
Owners: @ktsaou, @paulkatsoulakis, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
Owners: @netdatabot

Fix unix socket access on FreeBSD (#5756)
  libnetdata/socket/socket.c
Owners: @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
Owners: @netdatabot

netdata/packaging: Fix non compatible function declaration (#5789)
  packaging/installer/README.md
  packaging/installer/functions.sh
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/netdata-updater.sh
Owners: @ktsaou, @cakrit, @paulkatsoulakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
Owners: @netdatabot

Add preferred disk id pattern (#5779)
  collectors/proc.plugin/README.md
  collectors/proc.plugin/proc_diskstats.c
Owners: @ktsaou, @cakrit, @vlvkobal

netdata/packaging/docker: Change password (#5790)
  .travis/README.md
  packaging/docker/README.md
  packaging/docker/build-test.sh
  packaging/docker/publish.sh
Owners: @ktsaou, @cakrit, @paulkatsoulakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

python.d.plugin zombie fix (#5797)
  collectors/python.d.plugin/python.d.plugin.in
Owners: @ilyam8

python.d.plugin: allow delete dimension in runtime (#5795)
  collectors/python.d.plugin/python_modules/bases/charts.py
Owners: @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

Add memory free and per process memory usage to nvidia_smi (#5796)
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py
  collectors/python.d.plugin/python_modules/bases/charts.py
Owners: @ilyam8

netdata/packaging/installer: HoS situation - Fix broken install-or-update script (#5806)
  packaging/installer/functions.sh
  packaging/makeself/install-or-update.sh
Owners: @ktsaou, @paulkatsoulakis, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
Owners: @netdatabot

Support configurable syslog facilities (#5792)
  daemon/main.c
  libnetdata/log/log.c
  libnetdata/log/log.h
Owners: @ktsaou, @mfundul, @cakrit

netdata/packaging/installer: Update README (#5811)
  packaging/installer/README.md
Owners: @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Return responses even in memory mode none (#5819)
  web/server/web_client.c
Owners: @ktsaou, @cakrit

unified cgroup support (#5407)
  CONTRIBUTORS.md
  collectors/cgroups.plugin/README.md
  collectors/cgroups.plugin/sys_fs_cgroup.c
Owners: @ktsaou, @cakrit, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

add TypeError in except (#5833)
  collectors/python.d.plugin/couchdb/couchdb.chart.py
Owners: @ilyam8

elasticsearch: update config file (#5834)
  collectors/python.d.plugin/elasticsearch/elasticsearch.conf
Owners: @ilyam8

start job in thread after recheck (#5837)
  collectors/python.d.plugin/python.d.plugin.in
Owners: @ilyam8

phpfpm collector: add last_collected_secs health check (#5836)
  health/Makefile.am
  health/health.d/phpfpm.conf
Owners: @paulkatsoulakis, @ktsaou, @cakrit

python.d.plugin: py2 fix crash on macos (#5838)
  collectors/python.d.plugin/python.d.plugin.in
Owners: @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Openldap tls support rebased (#5859)
  collectors/python.d.plugin/openldap/openldap.chart.py
  collectors/python.d.plugin/openldap/openldap.conf
Owners: @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/packaging/installer: Dont use --always, when git describe cant find a tag we have the alternative of packaging/version content file (#5860)
  configure.ac
  packaging/makeself/jobs/99-makeself.install.sh
Owners: @ktsaou, @cakrit, @paulkatsoulakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/web/gui/dashboard: do not remove the dashboard upon make clean. We regenerate the dashboard file anyway always, so its fine (#5853)
  web/gui/Makefile.am
Owners: @paulkatsoulakis, @ktsaou

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/packaging/installer: correlate permissions amongst plugins to 0750 (#5856)
  netdata-installer.sh
Owners: @ktsaou, @paulkatsoulakis, @cakrit

installer: include go.d.plugin version v0.4.0 (#5849)
  netdata-installer.sh
  packaging/go.d.checksums
Owners: @ktsaou, @paulkatsoulakis, @cakrit

netdata/packaging/ci: Use proper notifier in slack message (#5866)
  tests/installer/checksums.sh
Owners: @ktsaou, @cakrit
