Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cakrit, @cosmix, @paulkatsoulakis, @thiagoftsm, @vlvkobal, @mfundul, @VLegakis, @ccremer, @ilyam8, @simonnagl, @joelhans, @Ferroin, @thiagofsm, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cakrit @cosmix

# Ownership by directory structure
.travis/ @paulkatsoulakis @cakrit @cosmix
.github/ @paulkatsoulakis @cakrit @cosmix
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @paulkatsoulakis @thiagoftsm
build/ @paulkatsoulakis @cakrit @cosmix
collectors/ @vlvkobal @mfundul @cakrit @cosmix
collectors/charts.d.plugin/ @paulkatsoulakis @cakrit @cosmix
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @cakrit @cosmix
collectors/macos.plugin/ @vlvkobal @thiagoftsm @cakrit @cosmix
collectors/node.d.plugin/ @VLegakis @cakrit @cosmix
collectors/node.d.plugin/fronius/ @ccremer @cakrit @cosmix
collectors/node.d.plugin/snmp/ @VLegakis @cakrit @cosmix
collectors/node.d.plugin/stiebeleltron/ @ccremer @cakrit @cosmix
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @cakrit @cosmix
daemon/ @thiagoftsm @mfundul @cakrit @cosmix
database/ @mfundul @thiagoftsm @cakrit @cosmix
docs/ @cakrit @cosmix @joelhans
health/ @thiagoftsm @vlvkobal @cakrit @cosmix
health/health.d/ @thiagoftsm @vlvkobal @cakrit @cosmix
health/notifications/ @Ferroin @thiagoftsm @cakrit @cosmix
libnetdata/ @thiagofsm @mfundul @cakrit @cosmix
packaging/ @paulkatsoulakis @cakrit @cosmix
packaging/installer/ @paulkatsoulakis @cakrit @cosmix
packaging/makeself/ @paulkatsoulakis @cakrit @cosmix
registry/ @VLegakis @cakrit @cosmix
streaming/ @thiagoftsm @vlvkobal @cakrit @cosmix
web/ @thiagoftsm @mfundul @vlvkobal @cakrit @cosmix
web/gui/ @VLegakis @cakrit @cosmix

# Ownership by filetype (overwrites ownership by directory)
*.md @cakrit @cosmix @joelhans
*.am @paulkatsoulakis

# Ownership of specific files
.gitignore @paulkatsoulakis @cakrit @cosmix
.travis.yml @paulkatsoulakis
.lgtm.yml @paulkatsoulakis
.eslintrc @paulkatsoulakis
.eslintignore @paulkatsoulakis
.csslintrc @paulkatsoulakis
.codeclimate.yml @paulkatsoulakis
.codacy.yml @paulkatsoulakis
netdata.spec.in @paulkatsoulakis
netdata-installer.sh @paulkatsoulakis @cakrit @cosmix
netlify.toml @cakrit @cosmix
package.json @VLegakis
packaging/version @netdatabot

LICENSE.md @cakrit @cosmix @joelhans
CHANGELOG.md @netdatabot

netdata/packaging: Documentation on distribution support matrix and functionality availability (#6552)
  .travis.yml
  .travis/package_management/build.sh
  .travis/package_management/configure_deb_lxc_environment.py
  configure.ac
  contrib/debian/changelog
  contrib/debian/control.trusty
  packaging/DISTRIBUTIONS.md
Owners: @paulkatsoulakis, @cakrit, @cosmix, @ktsaou, @joelhans

Update terms of use for U.S. legal reasons (#6631)
  docs/terms-of-use.md
Owners: @cakrit, @cosmix, @joelhans

update package version requirements for LZ4 and libuv (#6607)
  packaging/installer/README.md
Owners: @cakrit, @cosmix, @joelhans

netdata/packaging: Bare OS validations (#6574)
  .travis.yml
  tests/updater_checks.sh
Owners: @paulkatsoulakis, @ktsaou, @cakrit, @cosmix

Documentation style guide & build instructions (#6563)
  CONTRIBUTING.md
  DOCUMENTATION.md
  docs/contributing/contributing-documentation.md
  docs/contributing/style-guide.md
  docs/generator/buildyaml.sh
  docs/generator/custom/css/netdata.css
Owners: @cakrit, @cosmix, @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/packaging: put go.d version in one place (#6557)
  Makefile.am
  contrib/debian/install_go.sh
  contrib/debian/rules
  netdata-installer.sh
  netdata.spec.in
  packaging/go.d.version
Owners: @paulkatsoulakis, @ktsaou, @cakrit, @cosmix

.travis.yml: Remove 'sudo: true' as it is now deprecated (#6624)
  .travis.yml
Owners: @paulkatsoulakis

vsphere collector: charts descritpion and alarms (#6572)
  health/Makefile.am
  health/health.d/vsphere.conf
  web/gui/dashboard_info.js
Owners: @paulkatsoulakis, @thiagoftsm, @vlvkobal, @cakrit, @cosmix, @VLegakis

Fix a segmentation fault in backends (#6627)
  backends/backends.c
Owners: @thiagoftsm, @vlvkobal

(re-open) ZRAM info collector module (proc.plugin) (#6424)
  CMakeLists.txt
  Makefile.am
  collectors/all.h
  collectors/proc.plugin/plugin_proc.c
  collectors/proc.plugin/plugin_proc.h
  collectors/proc.plugin/sys_block_zram.c
  web/gui/dashboard_info.js
Owners: @ktsaou, @cakrit, @cosmix, @paulkatsoulakis, @vlvkobal, @mfundul, @VLegakis

fix spigotmc plugin bugs (#6635)
  collectors/python.d.plugin/spigotmc/spigotmc.chart.py
Owners: @ilyam8

Fix typos in: 'README.md' file. (#6604)
  README.md
Owners: @cakrit, @cosmix, @joelhans

Fix none in left nav (#6632)
  docs/generator/buildyaml.sh
Owners: @cakrit, @cosmix, @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Accept <> around links in markdown (#6646)
  collectors/python.d.plugin/riakkv/README.md
  docs/generator/checklinks.sh
Owners: @cakrit, @cosmix, @joelhans

netdata/installer: Fix error running kickstart as a non-privileged user (#6642)
  packaging/installer/README.md
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
Owners: @cakrit, @cosmix, @joelhans, @paulkatsoulakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Add MongoDB backend (#6524)
  CMakeLists.txt
  Makefile.am
  README.md
  backends/README.md
  backends/aws_kinesis/aws_kinesis.c
  backends/backends.c
  backends/backends.h
  backends/mongodb/Makefile.am
  backends/mongodb/README.md
  backends/mongodb/mongodb.c
  backends/mongodb/mongodb.conf
  backends/mongodb/mongodb.h
  configure.ac
  netdata-installer.sh
Owners: @ktsaou, @cakrit, @cosmix, @paulkatsoulakis, @joelhans, @thiagoftsm, @vlvkobal

Prometheus version update (#6652)
  backends/WALKTHROUGH.md
  backends/prometheus/README.md
Owners: @cakrit, @cosmix, @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/packaging: update distribution matrix for x86
  packaging/DISTRIBUTIONS.md
Owners: @cakrit, @cosmix, @joelhans

fix_compilation_test: Eliminate git messages (#6660)
  tests/Makefile.am
Owners: @paulkatsoulakis

netdata/packaging: separately identify dependency resolution for HTTPS and DB Engine (#6670)
  configure.ac
Owners: @ktsaou, @cakrit, @cosmix

added some README instructions for apache CSP (#6667)
  docs/Running-behind-apache.md
Owners: @cakrit, @cosmix, @joelhans

add CHANGELOG.md to .remarkignore (#6671)
  .remarkignore
Owners: @ktsaou, @cakrit, @cosmix

netdata/packaging: Add auto-generation of packages for nightly (#6675)
  .travis.yml
  .travis/trigger_package_generation.sh
Owners: @paulkatsoulakis, @cakrit, @cosmix

netdata/packaging: [ci skip] fix syntax and wording
  .travis.yml
Owners: @paulkatsoulakis

netdata/packaging: [ci skip] Remove a stale command, also use git depth false for full repo retrieval
  .travis.yml
  .travis/trigger_package_generation.sh
Owners: @paulkatsoulakis, @cakrit, @cosmix

netdata/packaging: [ci skip] nit
  .travis/trigger_package_generation.sh
Owners: @paulkatsoulakis, @cakrit, @cosmix

netdata/packaging: [ci skip] Mitigate build-id issue for go.d binary (Temp workaround)
  netdata.spec.in
Owners: @paulkatsoulakis

netdata/packaging: [ci skip] Correlate configure command (#6678)
  .travis/create_artifacts.sh
  .travis/package_management/common.py
  contrib/debian/rules
Owners: @paulkatsoulakis, @cakrit, @cosmix, @ktsaou

netdata/packaging: [ci skip] The proposed flag did not work, removing and re-arranging the install of the binary
  netdata.spec.in
Owners: @paulkatsoulakis

:pencil2: fix typos. (#6680)
  collectors/python.d.plugin/spigotmc/spigotmc.conf
  web/gui/dashboard_info.js
Owners: @ilyam8, @VLegakis, @cakrit, @cosmix

netdata/packaging: in the peculiar case where a patch release has been applied, versioning will be messed up for nightlies.
  .travis/package_management/common.py
Owners: @paulkatsoulakis, @cakrit, @cosmix

netdata/packaging: Align libdir in all configure commands (#6682)
  .travis/package_management/common.py
  contrib/debian/rules
  netdata-installer.sh
  netdata.spec.in
Owners: @paulkatsoulakis, @cakrit, @cosmix, @ktsaou

netdata/ci: [ci skip] Remove Fedora/31, still unstable
  .travis.yml
Owners: @paulkatsoulakis

netdata/packaging: fix script naming, rpm was not accurate on that contexT
  .travis.yml
  .travis/package_management/yank_stale_pkg.sh
Owners: @paulkatsoulakis, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Add alarm variables to the response of chart and data (#6615)
  database/rrdvar.c
  health/health.h
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrdset2json.c
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
  web/api/queries/rrdr.h
  web/api/web_api_v1.c
Owners: @mfundul, @thiagoftsm, @cakrit, @cosmix, @vlvkobal
