Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @amoss, @prologic, @Ferroin, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @shortpatti, @thiagofsm, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @amoss @prologic

# Ownership by directory structure
.travis/ @amoss @Ferroin @prologic
.github/ @amoss @Ferroin @prologic
aclk/ @stelfrag @underhood @amoss
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @amoss @prologic
contrib/debian @amoss @Ferroin @prologic
collectors/ @vlvkobal @mfundul @amoss
collectors/charts.d.plugin/ @ilyam8 @Ferroin @prologic @amoss
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @amoss
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal @amoss
collectors/macos.plugin/ @vlvkobal @thiagoftsm @amoss
collectors/node.d.plugin/ @jacekkolasa @amoss
collectors/node.d.plugin/fronius/ @ccremer @amoss
collectors/node.d.plugin/snmp/ @jacekkolasa @amoss
collectors/node.d.plugin/stiebeleltron/ @ccremer @amoss
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @amoss
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @mfundul @amoss
database/ @mfundul @thiagoftsm @amoss
docs/ @amoss @joelhans @shortpatti
health/ @thiagoftsm @vlvkobal @amoss
health/health.d/ @thiagoftsm @vlvkobal @amoss
health/notifications/ @Ferroin @thiagoftsm @amoss
libnetdata/ @thiagofsm @mfundul @amoss
packaging/ @amoss @Ferroin @prologic
registry/ @jacekkolasa @amoss
streaming/ @thiagoftsm @vlvkobal @amoss
system/ @prologic @Ferroin @amoss
web/ @thiagoftsm @mfundul @vlvkobal @amoss
web/gui/ @jacekkolasa @amoss

# Ownership by filetype (overwrites ownership by directory)
*.am @amoss @prologic
*.md @amoss @joelhans @shortpatti
Dockerfile* @Ferroin @prologic @amoss

# Ownership of specific files
.gitignore @amoss @Ferroin @prologic
.travis.yml @amoss @Ferroin @prologic
.lgtm.yml @amoss @Ferroin @prologic
.eslintrc @amoss @Ferroin @prologic
.eslintignore @amoss @Ferroin @prologic
.csslintrc @amoss @Ferroin @prologic
.codeclimate.yml @amoss @Ferroin @prologic
.codacy.yml @amoss @Ferroin @prologic
.yamllint.yml @amoss @Ferroin @prologic
netdata.spec.in @amoss @Ferroin @prologic
netdata-installer.sh @amoss @Ferroin @prologic
package.json @jacekkolasa @prologic
packaging/version @netdatabot @prologic

LICENSE.md @amoss @joelhans @prologic
CHANGELOG.md @netdatabot @prologic

Hide archived chart from mdstat collector. (#9667)
  collectors/proc.plugin/proc_mdstat.c
  database/rrd.h
Owners: @vlvkobal, @mfundul, @amoss, @thiagoftsm

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Fix Static Netdata to correctly build with Netdata Cloud support. (#9381)
  .github/scripts/build-artifacts.sh
  .travis/create_artifacts.sh
  netdata-installer.sh
  packaging/makeself/install-alpine-packages.sh
  packaging/makeself/jobs/20-openssl.install.sh
  packaging/makeself/jobs/50-bash-4.4.18.install.sh
  packaging/makeself/jobs/50-curl-7.60.0.install.sh
  packaging/makeself/jobs/50-fping-4.2.install.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
Owners: @amoss, @Ferroin, @prologic

Remove obsoleted libraries from install/uninstall scripts (#9661)
  contrib/debian/rules
  netdata-installer.sh
  packaging/installer/netdata-uninstaller.sh
Owners: @amoss, @Ferroin, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Add support for DEB packages for Ubuntu 20.04 (focal) (#9592)
  .travis.yml
  .travis/package_management/configure_deb_lxc_environment.py
  contrib/debian/control.focal
Owners: @amoss, @Ferroin, @prologic

Stop multi-host DB statistics from being counted multiple times. (#9685)
  daemon/global_statistics.c
Owners: @thiagoftsm, @mfundul, @amoss

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] release v1.24.0
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Replace alarm redirection link for cloud (#9688)
  health/notifications/alarm-notify.sh.in
Owners: @Ferroin, @thiagoftsm, @amoss

Fix print message when building for Ubuntu Focal (#9694)
  .travis/package_management/configure_deb_lxc_environment.py
  CONTRIBUTORS.md
Owners: @amoss, @Ferroin, @prologic, @joelhans, @shortpatti

Correct vulnerability reporting instructions (#9696)
  SECURITY.md
Owners: @amoss, @joelhans, @shortpatti

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Fix collectors on MacOS and FreeBSD to ignore archived charts. (#9695)
  collectors/freebsd.plugin/freebsd_ipfw.c
  collectors/freebsd.plugin/freebsd_sysctl.c
  collectors/macos.plugin/macos_mach_smi.c
  collectors/macos.plugin/macos_sysctl.c
Owners: @vlvkobal, @thiagoftsm, @amoss

Fix crash when receiving malformed labels via streaming. (#9715)
  collectors/plugins.d/pluginsd_parser.c
  daemon/system-info.sh
Owners: @vlvkobal, @mfundul, @amoss, @thiagoftsm

Fix the default value of the home directory (#9711)
  daemon/common.c
  daemon/main.c
Owners: @thiagoftsm, @mfundul, @amoss

Remove broken optimization in the sender thread (#9703)
  streaming/sender.c
Owners: @thiagoftsm, @vlvkobal, @amoss

Fixed issue with missing alarms (#9712)
  database/rrddim.c
Owners: @mfundul, @thiagoftsm, @amoss

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Fixed global GUID map memory leak (#9725)
  database/engine/global_uuid_map/global_uuid_map.c
Owners: @mfundul, @thiagoftsm, @amoss

Fix for ignored LXC containers (#9645)
  collectors/cgroups.plugin/cgroup-name.sh.in
  collectors/cgroups.plugin/sys_fs_cgroup.c
Owners: @vlvkobal, @mfundul, @amoss

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Removed Ubuntu 20.04 32-bit x86 package builds. (#9718)
  .travis.yml
Owners: @amoss, @Ferroin, @prologic

Add CAP_SYS_CHROOT for netdata service (#9726)
  system/netdata.service.in
Owners: @prologic, @Ferroin, @amoss

Added proper certificate handling to static cURL. (#9733)
  packaging/makeself/jobs/50-curl-7.60.0.install.sh
Owners: @amoss, @Ferroin, @prologic

Update README.md (#9721)
  README.md
Owners: @amoss, @joelhans, @shortpatti

Add community link to readme (#9602)
  CONTRIBUTING.md
  README.md
Owners: @amoss, @joelhans, @shortpatti

Update health_alarm_notify.conf (#9740)
  health/notifications/health_alarm_notify.conf
Owners: @Ferroin, @thiagoftsm, @amoss

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Send follow up alarms when the initial status matches the notification (#9698)
  health/notifications/alarm-notify.sh.in
Owners: @Ferroin, @thiagoftsm, @amoss

Update netdata-installer.sh to fix #8862 (#9360)
  netdata-installer.sh
Owners: @amoss, @Ferroin, @prologic

Fix code formatting for the mdstat collector (#9749)
  collectors/proc.plugin/proc_mdstat.c
Owners: @vlvkobal, @mfundul, @amoss

Fix flushing errors (#9738)
  database/engine/README.md
  database/engine/metadata_log/metadatalog.c
  database/engine/metadata_log/metadatalog.h
  database/engine/metadata_log/metadatalogapi.c
  database/engine/metadata_log/metadatalogapi.h
  database/engine/pagecache.c
  database/engine/rrdengine.c
  database/engine/rrdengineapi.c
Owners: @amoss, @joelhans, @shortpatti, @mfundul, @thiagoftsm

Network viewer charts (#9591)
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
Owners: @thiagoftsm, @vlvkobal, @amoss

doc: netdata user is also a default (#9555)
  collectors/python.d.plugin/mysql/README.md
Owners: @amoss, @joelhans, @shortpatti

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

python.d/varnish: multiple storage backends fix (#9668)
  collectors/python.d.plugin/varnish/varnish.chart.py
Owners: @ilyam8
