Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cakrit, @paulkatsoulakis, @vlvkobal, @gmosx, @ccremer, @ilyam8, @simonnagl, @mfundul, @Ferroin, @netdatabot

netdata/packaging: Adjust auto-updater installation logic (#6035)
  netdata-installer.sh
Owners: @ktsaou, @paulkatsoulakis, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/daemon: Remove copy/paste bug
  configure.ac
Owners: @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

netdata/packaging: Fix kickstart/kickstart-static64 formatting bugs (#6048)
  packaging/installer/README.md
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
Owners: @ktsaou, @cakrit, @paulkatsoulakis

netdata/daemon/backends: Fix AWS Kinesis link error when building on Mac OS (#6047)
  Makefile.am
Owners: @paulkatsoulakis, @ktsaou

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/packaging/ci: Fix slack integration
  tests/installer/checksums.sh
Owners: @ktsaou, @cakrit

netdata/packaging/ci: Make slack lib fail loud when parameters are broken
  tests/installer/slack.sh
Owners: @ktsaou, @cakrit

netdata/packaging: install/uninstall fixes for macOS case (#6045)
  netdata-installer.sh
  packaging/installer/functions.sh
  packaging/installer/netdata-uninstaller.sh
Owners: @ktsaou, @paulkatsoulakis, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Update configuration-guide.md (#6052)
  docs/configuration-guide.md
Owners: @ktsaou, @cakrit

Fix delete datafile error (#6057)
  database/engine/pagecache.c
Owners: @ktsaou, @mfundul

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] release v1.15.0
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Add 1.15 to news section of main README (#6065)
  README.md
Owners: @ktsaou, @cakrit

Update swagger with definition of api/v1/alarm_variables (#6055)
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Owners: @ktsaou, @cakrit

Add more metrics to the tests (#6074)
  tests/backends/prometheus-avg-oldunits.txt
  tests/backends/prometheus-avg.txt
  tests/backends/prometheus-raw.txt
  tests/backends/prometheus.bats
Owners: @ktsaou, @vlvkobal

Fix creating chart directories when not necessary with memory mode dbengine (#6078)
  database/engine/rrdengineapi.c
  database/rrd.c
Owners: @ktsaou, @mfundul

Fix race condition in DB engine API (#6079)
  database/engine/pagecache.h
  database/engine/rrdengineapi.c
Owners: @ktsaou, @mfundul

Shorten netdata version and correctly send OS_VERSION_ID (#6082)
  daemon/anonymous-statistics.sh.in
Owners: @ktsaou, @mfundul, @cakrit

Fix build errors (#6081)
  Makefile.am
  configure.ac
Owners: @paulkatsoulakis, @ktsaou, @cakrit

netdata/packaging/ci: pull all git changes, prior to publishing
  packaging/docker/publish.sh
Owners: @paulkatsoulakis, @cakrit

[ci skip] release v1.15.0
  CHANGELOG.md
Owners: @netdatabot

use github templating mechanisms to classify issues when they are created (#5776)
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .travis/labeler.sh
Owners: @ktsaou, @cakrit, @paulkatsoulakis

netdata: Fix labels usage, quotes are not needed (#6091)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Owners: @ktsaou, @cakrit

Corrected links to web_log.conf (#6087)
  web/gui/dashboard_info.js
Owners: @ktsaou, @gmosx, @cakrit

Create missing /etc/netdata/custom-plugins.d (#6089)
  netdata-installer.sh
Owners: @ktsaou, @paulkatsoulakis, @cakrit

Fix path #6085 (#6093)
  web/gui/Makefile.am
  web/gui/console.html
  web/gui/index.html
  web/gui/main.js
  web/gui/static/static/img/netdata-logomark.svg
Owners: @paulkatsoulakis, @ktsaou, @gmosx, @cakrit

Fix small typos (#6090)
  daemon/config/README.md
Owners: @ktsaou, @cakrit

update go.d version and checksums (#6097)
  netdata-installer.sh
  packaging/go.d.checksums
Owners: @ktsaou, @paulkatsoulakis, @cakrit

wmi alarms (#6068)
  health/Makefile.am
  health/health.d/wmi.conf
Owners: @paulkatsoulakis, @ktsaou, @cakrit

Move call to send_statistics later, to get more events from docker (#6096)
  .travis/run_install_with_dist_file.sh
  daemon/main.c
Owners: @paulkatsoulakis, @cakrit, @ktsaou, @mfundul

Mention anonymous statistics in additional places in the docs (#6084)
  README.md
  docs/anonymous-statistics.md
  netdata-installer.sh
  packaging/installer/README.md
Owners: @ktsaou, @cakrit, @paulkatsoulakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fix incorrect module name: energi (#6112)
  collectors/python.d.plugin/python.d.conf
Owners: @ilyam8

Revert "Move call to send_statistics later, to get more events from docker (#6096)"
  .travis/run_install_with_dist_file.sh
  daemon/main.c
Owners: @paulkatsoulakis, @cakrit, @ktsaou, @mfundul

Remove system_info copying (#6113)
  daemon/main.c
  database/rrd.h
  database/rrdhost.c
  streaming/rrdpush.c
Owners: @ktsaou, @mfundul, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Remove unecessary 2nd call of get_system_info at startup (#6128)
  daemon/main.c
  database/rrd.h
  database/rrdhost.c
  streaming/rrdpush.c
Owners: @ktsaou, @mfundul, @cakrit

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cakrit

# Ownership by directory structure
.travis/ @paulkatsoulakis @cakrit
.github/ @paulkatsoulakis @cakrit
backends/ @ktsaou @vlvkobal
backends/graphite/ @ktsaou @vlvkobal
backends/json/ @ktsaou @vlvkobal
backends/opentsdb/ @ktsaou @vlvkobal
backends/prometheus/ @ktsaou @vlvkobal @paulkatsoulakis
build/ @paulkatsoulakis @cakrit
collectors/ @ktsaou @vlvkobal @cakrit
collectors/charts.d.plugin/ @ktsaou @paulkatsoulakis @cakrit
collectors/freebsd.plugin/ @vlvkobal @cakrit
collectors/macos.plugin/ @vlvkobal @cakrit
collectors/node.d.plugin/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/fronius/ @ktsaou @gmosx @ccremer @cakrit
collectors/node.d.plugin/snmp/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/stiebeleltron/ @ktsaou @gmosx @ccremer @cakrit
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @ktsaou @vlvkobal @cakrit
daemon/ @ktsaou @mfundul @cakrit
database/ @ktsaou @mfundul
docs/ @cakrit
health/ @ktsaou @cakrit
health/health.d/ @ktsaou @cakrit
health/notifications/ @ktsaou @Ferroin @cakrit
libnetdata/ @ktsaou @cakrit
packaging/ @paulkatsoulakis @cakrit
packaging/installer/ @ktsaou @paulkatsoulakis @cakrit
packaging/makeself/ @ktsaou @paulkatsoulakis @cakrit
registry/ @ktsaou @gmosx @cakrit
streaming/ @ktsaou @mfundul
web/ @ktsaou @cakrit
web/gui/ @ktsaou @gmosx @cakrit

# Ownership by filetype (overwrites ownership by directory)
*.md @ktsaou @cakrit
*.am @paulkatsoulakis @ktsaou

# Ownership of specific files
.gitignore @paulkatsoulakis @cakrit
.travis.yml @paulkatsoulakis
.lgtm.yml @paulkatsoulakis
.eslintrc @paulkatsoulakis
.eslintignore @paulkatsoulakis
.csslintrc @paulkatsoulakis
.codeclimate.yml @paulkatsoulakis
.codacy.yml @paulkatsoulakis
netdata.spec.in @paulkatsoulakis
netdata-installer.sh @ktsaou @paulkatsoulakis @cakrit
netlify.toml @cakrit
package.json @gmosx
packaging/version @netdatabot

LICENSE.md @ktsaou
CHANGELOG.md @netdatabot
