Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @paufantom, @cakrit, @paulfantom, @vlvkobal, @gmosx, @ccremer, @ilyam8, @mfundul, @Ferroin, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou

# Ownership by directory structure
.travis/ @paufantom @cakrit
.github/ @paufantom @cakrit
build/ @paulfantom
backends/ @ktsaou @vlvkobal
backends/graphite/ @ktsaou @vlvkobal
backends/json/ @ktsaou @vlvkobal
backends/opentsdb/ @ktsaou @vlvkobal
backends/prometheus/ @ktsaou @vlvkobal @paulfantom
collectors/ @ktsaou @vlvkobal
collectors/charts.d.plugin/ @ktsaou @paulfantom
collectors/freebsd.plugin/ @vlvkobal
collectors/macos.plugin/ @vlvkobal
collectors/node.d.plugin/ @ktsaou @gmosx
collectors/node.d.plugin/fronius/ @ktsaou @gmosx @ccremer
collectors/node.d.plugin/snmp/ @ktsaou @gmosx @cakrit
collectors/node.d.plugin/stiebeleltron/ @ktsaou @gmosx @ccremer
collectors/python.d.plugin/ @ilyam8
daemon/ @ktsaou @vlvkobal
database/ @ktsaou @mfundul
docs/ @cakrit
health/ @ktsaou @cakrit
health/health.d/ @ktsaou @cakrit
health/notifications/ @ktsaou @Ferroin @cakrit
installer/ @ktsaou @paulfantom @cakrit
libnetdata/ @ktsaou @vlvkobal
makeself/ @ktsaou @paulfantom
packaging/ @paulfantom
registry/ @ktsaou @gmosx
streaming/ @ktsaou @mfundul
web/ @ktsaou @vlvkobal
web/gui/ @ktsaou @gmosx

# Ownership by filetype (overwrites ownership by directory)
*.md @ktsaou @cakrit
*.am @paulfantom @ktsaou

# Ownership of specific files
.gitignore @paulfantom @cakrit
.travis.yml @paulfantom
.lgtm.yml @paulfantom
.eslintrc @paulfantom
.eslintignore @paulfantom
.csslintrc @paulfantom
.codeclimate.yml @paulfantom
.codacy.yml @paulfantom
netdata.spec.in @paulfantom
netlify.toml @cakrit
package.json @gmosx
packaging/version @netdatabot

LICENSE.md @ktsaou
CHANGELOG.md @netdatabot

Correct auto-updater to netdata-updater (#5281)
  packaging/installer/UPDATE.md
Owners: @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

kickstart.sh: remove updater symlink (#5276)
  packaging/installer/README.md
  packaging/installer/kickstart.sh
Owners: @ktsaou, @cakrit, @paulfantom

Additional UI fixes (#5284)
  web/gui/index.html
  web/gui/main.css
Owners: @ktsaou, @gmosx

GUI Update check - use version instead of commit (#5283)
  web/gui/index.html
  web/gui/main.js
Owners: @ktsaou, @gmosx

updated cncf landscape url (#5288)
  README.md
Owners: @ktsaou, @cakrit

Add errno to fatal event for statistics (#5291)
  libnetdata/log/log.c
Owners: @ktsaou, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Add back the symlink netdata-latest.gz.run (#5286)
  packaging/makeself/jobs/99-makeself.install.sh
Owners: @paulfantom

Correct info on what kickstart.sh does (#5292)
  README.md
Owners: @ktsaou, @cakrit

kickstart: noexec detection (#5293)
  packaging/installer/README.md
  packaging/installer/kickstart.sh
Owners: @ktsaou, @cakrit, @paulfantom

Minor updates to anonymous statistics (#5295)
  collectors/apps.plugin/apps_plugin.c
  collectors/cgroups.plugin/cgroup-network.c
  daemon/anonymous-statistics.sh.in
Owners: @ktsaou, @vlvkobal

Minor fixes (#5294)
  web/gui/dashboard.html
  web/gui/index.html
  web/gui/main.css
  web/gui/main.js
Owners: @ktsaou, @gmosx

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Improve apps grouping config and docs (#5269)
  collectors/apps.plugin/README.md
  collectors/apps.plugin/apps_groups.conf
Owners: @ktsaou, @cakrit, @vlvkobal

varnish module: add instance_name option (#5264)
  collectors/python.d.plugin/varnish/README.md
  collectors/python.d.plugin/varnish/varnish.chart.py
  collectors/python.d.plugin/varnish/varnish.conf
Owners: @ktsaou, @cakrit, @ilyam8

registrypath is not used and causes issues in slack (#5302)
  health/notifications/alarm-notify.sh.in
Owners: @ktsaou, @Ferroin, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Minor fix (#5307)
  web/gui/index.html
Owners: @ktsaou, @gmosx

fix 5226 (#5312)
  netdata.spec.in
Owners: @paulfantom

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

Remove warnings for send_statistics (#5316)
  collectors/freeipmi.plugin/freeipmi_plugin.c
Owners: @ktsaou, @vlvkobal

Clarify that uninstaller.sh needs to be downloaded (#5315)
  packaging/installer/UNINSTALL.md
Owners: @ktsaou, @cakrit

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

CUPS plugin (#5188)
  .gitignore
  Makefile.am
  collectors/Makefile.am
  collectors/README.md
  collectors/cups.plugin/Makefile.am
  collectors/cups.plugin/README.md
  collectors/cups.plugin/cups_plugin.c
  collectors/plugins.d/README.md
  configure.ac
  docs/Add-more-charts-to-netdata.md
  docs/generator/buildyaml.sh
  libnetdata/dictionary/dictionary.c
  libnetdata/dictionary/dictionary.h
Owners: @paulfantom, @cakrit, @ktsaou, @vlvkobal

fix compilation of cups.plugin; fixes #5324 (#5325)
  collectors/cups.plugin/cups_plugin.c
Owners: @ktsaou, @vlvkobal

install go.d.plugin (#5199)
  Makefile.am
  netdata-installer.sh
  packaging/go.d.checksums
Owners: @paulfantom, @ktsaou

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Update .codacy.yml
  .codacy.yml
Owners: @paulfantom

Remove deprecated API call (#5326)
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/MySQLService.py
Owners: @ilyam8

global NETDATA for linter (#5329)
  web/gui/dashboard_info.js
  web/gui/main.js
Owners: @ktsaou, @gmosx

Remove codacy warnings from sma_webbox (#5330)
  collectors/node.d.plugin/sma_webbox/sma_webbox.node.js
Owners: @ktsaou, @gmosx

fix some python codacy errors (#5331)
  collectors/python.d.plugin/ipfs/ipfs.chart.py
  collectors/python.d.plugin/portcheck/portcheck.chart.py
  collectors/python.d.plugin/postgres/postgres.chart.py
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/SocketService.py
Owners: @ilyam8

remove unused var (#5332)
  collectors/python.d.plugin/portcheck/portcheck.chart.py
Owners: @ilyam8

Add global comments to js for Codacy (#5335)
  web/gui/dashboard.js
  web/gui/dashboard_info_custom_example.js
  web/gui/src/dashboard.js/charting/dygraph.js
  web/gui/src/dashboard.js/main.js
  web/gui/src/dashboard.js/themes.js
Owners: @ktsaou, @gmosx

Fix Codacy issues for FreeBSD plugin (#5334)
  collectors/freebsd.plugin/freebsd_devstat.c
  collectors/freebsd.plugin/freebsd_kstat_zfs.c
  collectors/freebsd.plugin/freebsd_sysctl.c
Owners: @vlvkobal

Allow user to override the default behavior for read-only mounts (#5327)
  collectors/diskspace.plugin/README.md
  collectors/diskspace.plugin/plugin_diskspace.c
Owners: @ktsaou, @cakrit, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[netdata minor release]
  CHANGELOG.md
Owners: @netdatabot

[ci skip] release v1.12.0
  CHANGELOG.md
  packaging/version
Owners: @netdatabot
