Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cakrit, @cosmix, @thiagoftsm, @vlvkobal, @mfundul, @VLegakis, @ccremer, @ilyam8, @simonnagl, @joelhans, @Ferroin, @thiagofsm, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cakrit @cosmix

# Ownership by directory structure
.travis/ @cakrit @cosmix
.github/ @cakrit @cosmix
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @cakrit @cosmix
collectors/ @vlvkobal @mfundul @cakrit @cosmix
collectors/charts.d.plugin/ @cakrit @cosmix
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @cakrit @cosmix
collectors/macos.plugin/ @vlvkobal @thiagoftsm @cakrit @cosmix
collectors/node.d.plugin/ @VLegakis @cakrit @cosmix
collectors/node.d.plugin/fronius/ @ccremer @cakrit @cosmix
collectors/node.d.plugin/snmp/ @VLegakis @cakrit @cosmix
collectors/node.d.plugin/stiebeleltron/ @ccremer @cakrit @cosmix
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @cakrit @cosmix
daemon/ @thiagoftsm @mfundul @cakrit @cosmix
database/ @mfundul @thiagoftsm @cakrit @cosmix
docs/ @cakrit @cosmix @joelhans
health/ @thiagoftsm @vlvkobal @cakrit @cosmix
health/health.d/ @thiagoftsm @vlvkobal @cakrit @cosmix
health/notifications/ @Ferroin @thiagoftsm @cakrit @cosmix
libnetdata/ @thiagofsm @mfundul @cakrit @cosmix
packaging/ @cakrit @cosmix
packaging/installer/ @cakrit @cosmix
packaging/makeself/ @cakrit @cosmix
registry/ @VLegakis @cakrit @cosmix
streaming/ @thiagoftsm @vlvkobal @cakrit @cosmix
web/ @thiagoftsm @mfundul @vlvkobal @cakrit @cosmix
web/gui/ @VLegakis @cakrit @cosmix

# Ownership by filetype (overwrites ownership by directory)
*.md @cakrit @cosmix @joelhans
*.am @cakrit @cosmix

# Ownership of specific files
.gitignore @cakrit @cosmix
.travis.yml @cakrit @cosmix
.lgtm.yml @cakrit @cosmix
.eslintrc @cakrit @cosmix
.eslintignore @cakrit @cosmix
.csslintrc @cakrit @cosmix
.codeclimate.yml @cakrit @cosmix
.codacy.yml @cakrit @cosmix
netdata.spec.in @cakrit @cosmix
netdata-installer.sh @cakrit @cosmix
netlify.toml @cakrit @cosmix
package.json @VLegakis
packaging/version @netdatabot

LICENSE.md @cakrit @cosmix @joelhans
CHANGELOG.md @netdatabot

netdata/packaging: fix kickstart-static64 argument parsing (#6892)
  packaging/installer/README.md
  packaging/installer/kickstart-static64.sh
Owners: @cakrit, @cosmix, @joelhans

Permit x-auth-token in Access-Control-Allow-Headers (#6894)
  web/server/web_client.c
Owners: @thiagoftsm, @mfundul, @vlvkobal, @cakrit, @cosmix

[collector/slabinfo] Fix pagesize not defined in non-x86 arches (#6897)
  collectors/slabinfo.plugin/slabinfo.c
Owners: @vlvkobal, @mfundul, @cakrit, @cosmix

Fix some errors reported by Coverity (#6797)
  collectors/proc.plugin/proc_mdstat.c
  collectors/proc.plugin/sys_class_power_supply.c
  health/health.c
  libnetdata/popen/popen.c
  libnetdata/url/url.c
Owners: @vlvkobal, @mfundul, @cakrit, @cosmix, @thiagoftsm, @thiagofsm

Improve changelog generation and add it back to the pipeline (#6900)
  .travis/generate_changelog_and_tag_release.sh
  .travis/generate_changelog_for_nightlies.sh
  .travis/generate_changelog_for_release.sh
Owners: @cakrit, @cosmix

fix LGTM warnings (#6875)
  web/gui/dash-example.html
Owners: @VLegakis, @cakrit, @cosmix

Add clang-format. Update Contribution guidelines. (#6677)
  .clang-format
  CONTRIBUTING.md
Owners: @ktsaou, @cakrit, @cosmix, @joelhans

netdata/packaging: remove rhel7 - i386, until its settled from bug #6849 (#6902)
  .travis.yml
  packaging/DISTRIBUTIONS.md
Owners: @cakrit, @cosmix, @joelhans

netdata/ci: fix branch check (#6905)
  .travis.yml
Owners: @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Correct read length of silencers file (#6909)
  health/health.c
Owners: @thiagoftsm, @vlvkobal, @cakrit, @cosmix

Improve documentation for the SNMP collector (#6915)
  collectors/node.d.plugin/snmp/README.md
Owners: @cakrit, @cosmix, @joelhans

Suggest using /run or /var/run for the unix socket (#6916)
  web/server/README.md
Owners: @cakrit, @cosmix, @joelhans

netdata/ci: nits and fixes around package release workflow (#6914)
  .travis.yml
  .travis/create_changelog.sh
  .travis/generate_changelog_and_tag_release.sh
  .travis/generate_changelog_for_nightlies.sh
  .travis/nightlies.sh
  .travis/tagger.sh
Owners: @cakrit, @cosmix

Fix remark lint for Contrib (#6921)
  contrib/README.md
Owners: @cakrit, @cosmix, @joelhans

fix log warnings in start_job (#6928)
  collectors/python.d.plugin/python.d.plugin.in
Owners: @ilyam8

installer: include go.d.plugin version v0.10.0 (#6929)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @cakrit, @cosmix

netdata/packaging: fix broken links on web files, for deb (#6930)
  contrib/debian/rules
Owners: @ktsaou, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Detect deadlock in dbengine page cache (#6911)
  configs.signatures
  daemon/global_statistics.c
  database/engine/rrdengine.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  health/health.d/dbengine.conf
Owners: @ktsaou, @cakrit, @cosmix, @thiagoftsm, @mfundul, @vlvkobal

netdata.spec.in: Do not build CUPS plugin subpackage on CentOS 6 and CentOS 7 (#6926)
  netdata.spec.in
Owners: @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Docs: Overhaul of Getting started guide (#6811)
  docs/GettingStarted.md
  docs/contributing/contributing-documentation.md
  docs/generator/buildyaml.sh
  docs/getting-started.md
  docs/tutorials/longer-metrics-storage.md
  netlify.toml
  packaging/installer/README.md
  web/README.md
Owners: @cakrit, @cosmix, @joelhans

Restore original alignment behaviour of RRDR (#6938)
  web/api/queries/query.c
Owners: @thiagoftsm, @mfundul, @vlvkobal, @cakrit, @cosmix

zookeeper and hdfs: alarms and dashboard_info (#6927)
  health/Makefile.am
  health/health.d/hdfs.conf
  health/health.d/zookeeper.conf
  web/gui/dashboard_info.js
Owners: @cakrit, @cosmix, @thiagoftsm, @vlvkobal, @VLegakis

check for curl to not get wrong error message (#6931)
  tests/stress.sh
Owners: @ktsaou, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fix a memory leak (#6945)
  libnetdata/socket/socket.c
Owners: @thiagofsm, @mfundul, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Create a template for all dimensions (#6560)
  .gitignore
  database/rrd.h
  database/rrdcalc.c
  database/rrdcalc.h
  database/rrdcalctemplate.c
  database/rrdcalctemplate.h
  database/rrddim.c
  database/rrdhost.c
  health/README.md
  health/health.c
  health/health.h
  health/health_config.c
  tests/Makefile.am
  tests/template_dimension/system_cpu.conf.alarm_foreach
  tests/template_dimension/system_cpu.conf.alarm_foreach_sp
  tests/template_dimension/system_cpu.conf.template_alarm
  tests/template_dimension/system_cpu.conf.template_foreach
  tests/template_dimension/system_cpu.conf.template_foreach_sp
  tests/template_dimension/system_cpu.conf.unique_alarm
  tests/template_dimension/template_dim.sh.in
Owners: @cakrit, @cosmix, @mfundul, @thiagoftsm, @joelhans, @vlvkobal, @ktsaou

add family to allmetrics_json resp (#6966)
  web/api/exporters/shell/allmetrics_shell.c
Owners: @thiagoftsm, @mfundul, @vlvkobal, @cakrit, @cosmix

Reduce overhead during write io (#6964)
  database/engine/rrdengine.c
Owners: @mfundul, @thiagoftsm, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fix Remark Lint for READMEs in Database (#6942)
  database/README.md
  database/engine/README.md
Owners: @cakrit, @cosmix, @joelhans

netdata/packaging: Make spec file more consistent with version dependencies, plus some documentation nits (#6948)
  netdata.spec.in
  packaging/DISTRIBUTIONS.md
Owners: @cakrit, @cosmix, @joelhans

Common pattern for web and alarms together with two bug fixes (#6783)
  tests/acls/acl.sh.in
  tests/alarm_repetition/alarm.sh.in
  tests/stress.sh
  tests/urls/request.sh.in
Owners: @ktsaou, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

#3925 implementation (#6903)
  web/api/badges/README.md
  web/api/badges/web_buffer_svg.c
  web/api/badges/web_buffer_svg.h
Owners: @cakrit, @cosmix, @joelhans, @thiagoftsm, @mfundul, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot
