Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cosmix, @netdata/automation, @thiagoftsm, @vlvkobal, @mfundul, @jacekkolasa, @ccremer, @ilyam8, @simonnagl, @joelhans, @Ferroin, @thiagofsm, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cosmix

# Ownership by directory structure
.travis/ @cosmix @netdata/automation
.github/ @cosmix @netdata/automation
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @cosmix @netdata/automation
collectors/ @vlvkobal @mfundul @cosmix
collectors/charts.d.plugin/ @cosmix
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @cosmix
collectors/macos.plugin/ @vlvkobal @thiagoftsm @cosmix
collectors/node.d.plugin/ @jacekkolasa @cosmix
collectors/node.d.plugin/fronius/ @ccremer @cosmix
collectors/node.d.plugin/snmp/ @jacekkolasa @cosmix
collectors/node.d.plugin/stiebeleltron/ @ccremer @cosmix
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @cosmix
daemon/ @thiagoftsm @mfundul @cosmix
database/ @mfundul @thiagoftsm @cosmix
docs/ @cosmix @joelhans
health/ @thiagoftsm @vlvkobal @cosmix
health/health.d/ @thiagoftsm @vlvkobal @cosmix
health/notifications/ @Ferroin @thiagoftsm @cosmix
libnetdata/ @thiagofsm @mfundul @cosmix
packaging/ @cosmix @netdata/automation
registry/ @jacekkolasa @cosmix
streaming/ @thiagoftsm @vlvkobal @cosmix
web/ @thiagoftsm @mfundul @vlvkobal @cosmix
web/gui/ @jacekkolasa @cosmix

# Ownership by filetype (overwrites ownership by directory)
*.md @cosmix @joelhans
*.am @cosmix @netdata/automation

# Ownership of specific files
.gitignore @cosmix @netdata/automation
.travis.yml @cosmix @netdata/automation
.lgtm.yml @cosmix @netdata/automation
.eslintrc @cosmix @netdata/automation
.eslintignore @cosmix @netdata/automation
.csslintrc @cosmix @netdata/automation
.codeclimate.yml @cosmix @netdata/automation
.codacy.yml @cosmix @netdata/automation
netdata.spec.in @cosmix @netdata/automation
netdata-installer.sh @cosmix @netdata/automation
netlify.toml @cosmix
package.json @jacekkolasa
packaging/version @netdatabot

LICENSE.md @cosmix @joelhans
CHANGELOG.md @netdatabot

updater_checks.sh: Fix issue with ca-certificates-mozilla-2.34-lp151.2.6.1.noarch in OpenSUSE 15.1
  tests/updater_checks.sh
Owners: @ktsaou, @cosmix

Fix backend config (#7538)
  libnetdata/config/appconfig.c
Owners: @thiagofsm, @mfundul, @cosmix

Labels issues (#7515)
  .gitignore
  BUILD.md
  daemon/Makefile.am
  daemon/commands.c
  daemon/commands.h
  daemon/common.h
  daemon/get-kubernetes-labels.sh.in
  daemon/main.c
  daemon/system-info.sh
  database/rrd.h
  database/rrdcalc.c
  database/rrdcalc.h
  database/rrdcalctemplate.c
  database/rrdcalctemplate.h
  database/rrdhost.c
  database/rrdvar.c
  docs/configuration-guide.md
  exporting/read_config.c
  health/REFERENCE.md
  health/health.c
  health/health_config.c
  health/health_json.c
  libnetdata/config/appconfig.c
  libnetdata/config/appconfig.h
  libnetdata/inlined.h
  libnetdata/simple_pattern/simple_pattern.c
  libnetdata/simple_pattern/simple_pattern.h
  streaming/rrdpush.c
  streaming/rrdpush.h
  web/api/formatters/charts2json.c
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrdset2json.c
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
  web/api/web_api_v1.c
  web/api/web_api_v1.h
Owners: @cosmix, @netdata/automation, @joelhans, @thiagoftsm, @mfundul, @ktsaou, @vlvkobal, @thiagofsm

Fix race condition in dbengine (#7533)
  daemon/main.c
  daemon/unit_test.c
  daemon/unit_test.h
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
  database/engine/rrdengineapi.c
  database/engine/rrdenglocking.c
Owners: @thiagoftsm, @mfundul, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

proc_pressure: increment fail_count on read fail (#7547)
  collectors/proc.plugin/proc_pressure.c
Owners: @vlvkobal, @mfundul, @cosmix

Add Fedora 31 CI integrations. (#7524)
  .travis.yml
Owners: @cosmix, @netdata/automation

Merge the matrix and jobs keys in Travis config. (#7544)
  .travis.yml
Owners: @cosmix, @netdata/automation

Revert "Fix race condition in dbengine (#7533)" (#7560)
  daemon/main.c
  daemon/unit_test.c
  daemon/unit_test.h
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
  database/engine/rrdengineapi.c
  database/engine/rrdenglocking.c
Owners: @thiagoftsm, @mfundul, @cosmix

Cleanup the main exporting engine thread on exit (#7558)
  exporting/exporting_engine.c
Owners: @ktsaou, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Make the docker image to run as arbitrary user (#6543)
  packaging/docker/Dockerfile
  packaging/docker/run.sh
Owners: @cosmix, @netdata/automation

silencers_info: Change error to info (#7479)
  health/health.c
Owners: @thiagoftsm, @vlvkobal, @cosmix

Fix race condition in dbengine (#7565)
  daemon/main.c
  daemon/unit_test.c
  daemon/unit_test.h
  database/engine/pagecache.c
  database/engine/pagecache.h
  database/engine/rrdengine.c
  database/engine/rrdengineapi.c
  database/engine/rrdenglocking.c
Owners: @thiagoftsm, @mfundul, @cosmix

Docs: Add notice about mod_evasive to Apache proxy guide (#7578)
  docs/Running-behind-apache.md
Owners: @cosmix, @joelhans
