Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @prologic, @Ferroin, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @thiagofsm, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @prologic

# Ownership by directory structure
.travis/ @Ferroin @prologic
.github/ @Ferroin @prologic
aclk/ @stelfrag @underhood
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @prologic
contrib/debian @Ferroin @prologic
collectors/ @vlvkobal @mfundul
collectors/charts.d.plugin/ @ilyam8 @Ferroin @prologic
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/node.d.plugin/ @jacekkolasa
collectors/node.d.plugin/fronius/ @ccremer
collectors/node.d.plugin/snmp/ @jacekkolasa
collectors/node.d.plugin/stiebeleltron/ @ccremer
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @mfundul
database/ @mfundul @thiagoftsm
docs/ @joelhans
health/ @thiagoftsm @vlvkobal
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
libnetdata/ @thiagofsm @mfundul
packaging/ @Ferroin @prologic
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @prologic @Ferroin
web/ @thiagoftsm @mfundul @vlvkobal
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @prologic
*.md @joelhans
Dockerfile* @Ferroin @prologic

# Ownership of specific files
.gitignore @Ferroin @prologic
.travis.yml @Ferroin @prologic
.lgtm.yml @Ferroin @prologic
.eslintrc @Ferroin @prologic
.eslintignore @Ferroin @prologic
.csslintrc @Ferroin @prologic
.codeclimate.yml @Ferroin @prologic
.codacy.yml @Ferroin @prologic
.yamllint.yml @Ferroin @prologic
netdata.spec.in @Ferroin @prologic
netdata-installer.sh @Ferroin @prologic
package.json @jacekkolasa @prologic
packaging/version @netdatabot @prologic

LICENSE.md @joelhans @prologic
CHANGELOG.md @netdatabot @prologic

python.d/rabbitmq: Add chart for churn rates (#10031)
  collectors/python.d.plugin/rabbitmq/rabbitmq.chart.py
Owners: @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @prologic

Rename NETDATA_PORT to NETDATA_LISTENER_PORT (#10045)
  packaging/docker/Dockerfile
  packaging/docker/run.sh
Owners: @Ferroin, @prologic

installer: update go.d.plugin version to v0.23.0 (#10046)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @prologic

health/portcheck: add `failed` dim to the `connection_fails` alarm (#10048)
  health/health.d/portcheck.conf
Owners: @thiagoftsm, @vlvkobal

small docs update - adding note about using `nolock` when debugging (#10036)
  collectors/python.d.plugin/README.md
Owners: @joelhans

Add missing period in netdata dashboard (#9960)
  web/gui/dashboard_info.js
Owners: @jacekkolasa

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @prologic

Skip all build checks on packaging builds. (#10058)
  .travis.yml
Owners: @Ferroin, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Fix systemd comment syntax (#10066)
  system/netdata.service.in
Owners: @prologic, @Ferroin

[ci skip] release v1.26.0
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Update README.md (#10067)
  collectors/python.d.plugin/README.md
Owners: @joelhans

Removed redundant build dependencies from Debian control file (#10085)
  contrib/debian/control
Owners: @Ferroin, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @prologic
