Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @Ferroin, @kaskavel, @vkalintiris, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @thiagofsm, @knatsakis, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @Ferroin

# Ownership by directory structure
.travis/ @Ferroin @kaskavel @vkalintiris
.github/ @Ferroin @kaskavel @vkalintiris
aclk/ @stelfrag @underhood
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @Ferroin
contrib/debian @Ferroin @vkalintiris
collectors/ @vlvkobal @mfundul
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/node.d.plugin/ @jacekkolasa
collectors/node.d.plugin/fronius/ @ccremer
collectors/node.d.plugin/snmp/ @jacekkolasa
collectors/node.d.plugin/stiebeleltron/ @ccremer
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @mfundul
database/ @mfundul @thiagoftsm
docs/ @joelhans
health/ @thiagoftsm @vlvkobal
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
libnetdata/ @thiagofsm @mfundul
packaging/ @Ferroin @vkalintiris
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin @vkalintiris
tests/ @Ferroin @kaskavel
web/ @thiagoftsm @mfundul @vlvkobal
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin
*.md @joelhans
Dockerfile* @Ferroin @knatsakis

# Ownership of specific files
.gitignore @Ferroin @knatsakis
.travis.yml @Ferroin @knatsakis @kaskavel @vkalintiris
.lgtm.yml @Ferroin @knatsakis
.eslintrc @Ferroin @knatsakis
.eslintignore @Ferroin @knatsakis
.csslintrc @Ferroin @knatsakis
.codeclimate.yml @Ferroin @knatsakis
.codacy.yml @Ferroin @knatsakis
.yamllint.yml @Ferroin @knatsakis
netdata.spec.in @Ferroin @knatsakis @vkalintiris
netdata-installer.sh @Ferroin @knatsakis @vkalintiris
package.json @jacekkolasa @Ferroin @knatsakis
packaging/version @netdatabot @Ferroin @knatsakis

LICENSE.md @joelhans @Ferroin
CHANGELOG.md @netdatabot @Ferroin

Add an event when an incomplete agent shutdown is detected #11078
  daemon/main.c
Owners: @thiagoftsm, @mfundul

Improve dashboard documentation (part 2) (#11065)
  docs/dashboard/dimensions-contexts-families.mdx
  docs/dashboard/how-dashboard-works.mdx
  docs/dashboard/interact-charts.mdx
  docs/dashboard/select-timeframes.mdx
  docs/store/change-metrics-storage.md
Owners: @joelhans

Add a module for ZFS pool state (#11071)
  collectors/all.h
  collectors/proc.plugin/README.md
  collectors/proc.plugin/plugin_proc.c
  collectors/proc.plugin/plugin_proc.h
  collectors/proc.plugin/proc_spl_kstat_zfs.c
  health/health.d/zfs.conf
  web/gui/dashboard_info.js
Owners: @vlvkobal, @mfundul, @joelhans, @thiagoftsm, @jacekkolasa

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

cgroups: fix network interfaces detection when using `virsh` (#11096)
  collectors/cgroups.plugin/cgroup-network-helper.sh
  collectors/cgroups.plugin/cgroup-network.c
Owners: @vlvkobal, @mfundul

Improve installation method for Alpine (#11035)
  packaging/installer/methods/alpine.md
Owners: @joelhans

Don't repeat the cgroup discovery cleanup info message (#11101)
  collectors/cgroups.plugin/sys_fs_cgroup.c
Owners: @vlvkobal, @mfundul

Add host_cloud_enabled attribute to analytics (#11100)
  daemon/analytics.c
  daemon/analytics.h
  daemon/anonymous-statistics.sh.in
Owners: @thiagoftsm, @mfundul

aclk/legacy: change aclk statistics charts units from kB/s to KiB/s (#11103)
  aclk/legacy/aclk_stats.c
Owners: @stelfrag, @underhood

Check the version of the default cgroup mountpoint (#11102)
  collectors/cgroups.plugin/sys_fs_cgroup.c
  configure.ac
  libnetdata/libnetdata.h
Owners: @vlvkobal, @mfundul, @ktsaou, @Ferroin, @thiagofsm

packaging: update go.d.plugin version to v0.28.2 (#11104)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @vkalintiris

Add a workflow to generate version bump PRs for the dashboard. (#11076)
  .github/workflows/dashboard-pr.yml
Owners: @Ferroin, @kaskavel, @vkalintiris

build mqtt_websockets with netdata autotools (#11083)
  Makefile.am
  configure.ac
Owners: @Ferroin, @ktsaou

minor -fixes typo in ACLK-NG (#11107)
  aclk/aclk_util.c
Owners: @stelfrag, @underhood

Support mulitple jobs in make(1) when building LWS. (#10799)
  netdata-installer.sh
Owners: @Ferroin, @knatsakis, @vkalintiris

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Check configuration for CUSTOM and MSTEAM (#11113)
  health/notifications/alarm-notify.sh.in
Owners: @Ferroin, @thiagoftsm

analytics: reduce alarms notifications dump logging (#11116)
  daemon/analytics.c
Owners: @thiagoftsm, @mfundul

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Automatically trigger Helmchart PR on agent release. (#11084)
  .github/workflows/docker.yml
Owners: @Ferroin, @kaskavel, @vkalintiris

Remove dash-example, place in community repo (#11077)
  web/gui/Makefile.am
  web/gui/custom/README.md
  web/gui/dash-example.html
Owners: @Ferroin, @joelhans, @jacekkolasa

Fix broken link in doc (#11122)
  docs/dashboard/dimensions-contexts-families.mdx
Owners: @joelhans

Fix broken links in various docs (#11109)
  collectors/python.d.plugin/README.md
  daemon/config/README.md
  docs/contributing/contributing-documentation.md
  docs/dashboard/dimensions-contexts-families.mdx
  docs/dashboard/select-timeframes.mdx
  packaging/docker/README.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Update k6.md (#11127)
  collectors/statsd.plugin/k6.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Reduce the number of ACLK chart updates during chart obsoletion (#11133)
  database/rrd.h
  database/rrdset.c
Owners: @mfundul, @thiagoftsm

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Use size_t instead of int for vfs_bufspace_count in FreeBSD plugin (#11142)
  collectors/freebsd.plugin/freebsd_sysctl.c
Owners: @vlvkobal, @thiagoftsm

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Update performance.md (#11144)
  docs/guides/configure/performance.md
Owners: @joelhans

Fix broken link (#11148)
  docs/dashboard/dimensions-contexts-families.mdx
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Init new files and create connections (#11099)
  docs/dashboard/customize.mdx
  docs/dashboard/dimensions-contexts-families.mdx
  docs/dashboard/how-dashboard-works.mdx
  docs/dashboard/import-export-print-snapshot.mdx
  docs/dashboard/interact-charts.mdx
  docs/dashboard/select-timeframes.mdx
Owners: @joelhans

Add sections for class, component and type. (#10984)
  health/REFERENCE.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] release v1.31.0
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Store info about the installation type for later retrieval. (#11157)
  netdata-installer.sh
  packaging/docker/Dockerfile
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
  packaging/installer/netdata-updater.sh
  packaging/makeself/jobs/70-netdata-git.install.sh
  system/.install-type
  system/Makefile.am
Owners: @Ferroin, @knatsakis, @vkalintiris, @joelhans

Adding more postgres metrics (#11169)
  collectors/python.d.plugin/postgres/README.md
  collectors/python.d.plugin/postgres/postgres.chart.py
Owners: @joelhans, @ilyam8
