Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cakrit, @cosmix, @thiagoftsm, @vlvkobal, @mfundul, @VLegakis, @ccremer, @ilyam8, @simonnagl, @joelhans, @Ferroin, @thiagofsm, @netdatabot

Fix coverity erro (CID 349552) double lock (#6970)
  database/rrddim.c
Owners: @mfundul, @thiagoftsm, @cakrit, @cosmix

Fix dbengine consistency when a writer modifies a page concurrently with a reader querying its metrics (#6979)
  database/engine/pagecache.h
  database/engine/rrdengineapi.c
Owners: @mfundul, @thiagoftsm, @cakrit, @cosmix

Coverity 20190924 (#6941)
  collectors/apps.plugin/apps_plugin.c
  daemon/main.c
  libnetdata/health/health.c
  libnetdata/json/jsmn.c
Owners: @vlvkobal, @mfundul, @cakrit, @cosmix, @thiagoftsm, @thiagofsm

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot

Make dbengine the default memory mode (#6977)
  daemon/main.c
  daemon/unit_test.c
  daemon/unit_test.h
  database/README.md
  database/engine/README.md
  database/engine/rrdengine.c
  database/engine/rrdenginelib.c
  database/rrd.c
Owners: @thiagoftsm, @mfundul, @cakrit, @cosmix, @joelhans

elasticsearch: collect metrics from _cat/indices (#6965)
  collectors/python.d.plugin/elasticsearch/README.md
  collectors/python.d.plugin/elasticsearch/elasticsearch.chart.py
  collectors/python.d.plugin/elasticsearch/elasticsearch.conf
Owners: @cakrit, @cosmix, @joelhans, @ilyam8

mysql: collect galera cluster metrics (#6962)
  collectors/python.d.plugin/mysql/README.md
  collectors/python.d.plugin/mysql/mysql.chart.py
  health/health.d/mysql.conf
  web/gui/dashboard_info.js
Owners: @cakrit, @cosmix, @joelhans, @ilyam8, @thiagoftsm, @vlvkobal, @VLegakis

Fixing broken links found via linkchecker (#6983)
  DOCUMENTATION.md
  SECURITY.md
  backends/README.md
  collectors/tc.plugin/README.md
  docs/contributing/contributing-documentation.md
  docs/getting-started.md
  docs/tutorials/longer-metrics-storage.md
  docs/what-is-netdata.md
Owners: @cakrit, @cosmix, @joelhans

rabbitmq: collect vhosts msg metrics from `/api/vhosts` (#6976)
  collectors/python.d.plugin/rabbitmq/README.md
  collectors/python.d.plugin/rabbitmq/rabbitmq.chart.py
Owners: @cakrit, @cosmix, @joelhans, @ilyam8

Fix Remark Lint Warnings for Backends (#6917)
  backends/README.md
  backends/WALKTHROUGH.md
  backends/aws_kinesis/README.md
  backends/mongodb/README.md
  backends/opentsdb/README.md
  backends/prometheus/README.md
  backends/prometheus/remote_write/README.md
Owners: @cakrit, @cosmix, @joelhans

Fix remark warnings for Daemon README (#6920)
  daemon/README.md
Owners: @cakrit, @cosmix, @joelhans

Update README.md (#6961)
  health/notifications/README.md
Owners: @cakrit, @cosmix, @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Remove warning from Coverity (#6992)
  database/rrdcalc.c
Owners: @mfundul, @thiagoftsm, @cakrit, @cosmix

Increase dbengine default cache size (#6997)
  configs.signatures
  database/engine/rrdengineapi.c
  health/health.d/dbengine.conf
Owners: @ktsaou, @cakrit, @cosmix, @mfundul, @thiagoftsm, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

netdata/installer: allow netdata service install, when docker runs systemd (#6987)
  netdata-installer.sh
Owners: @cakrit, @cosmix

Add Portuguese (Brazil) as a language option (#7004)
  docs/generator/custom/themes/material/partials/header.html
Owners: @cakrit, @cosmix, @joelhans

fix bug: issue #7002 (#7003)
  health/notifications/alarm-notify.sh.in
Owners: @Ferroin, @thiagoftsm, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Remove hard cap from page cache size to eliminate deadlocks. (#7006)
  configs.signatures
  daemon/global_statistics.c
  database/engine/README.md
  database/engine/pagecache.c
  database/engine/rrdengine.h
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  health/health.d/dbengine.conf
Owners: @ktsaou, @cakrit, @cosmix, @thiagoftsm, @mfundul, @joelhans, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fix resource leak (#7007)
  collectors/proc.plugin/sys_block_zram.c
Owners: @vlvkobal, @mfundul, @cakrit, @cosmix

Handle cases where metric timestamps are inversed and data collection interval rounds to 0 (#7008)
  database/engine/rrdengineapi.c
Owners: @mfundul, @thiagoftsm, @cakrit, @cosmix

Fix crash on FreeBSD due to do_dev_cpu_temperature stack corrup… (#7014)
  collectors/freebsd.plugin/freebsd_sysctl.c
Owners: @vlvkobal, @thiagoftsm, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Checklinks fix (#6994)
  docs/generator/checklinks.sh
Owners: @cakrit, @cosmix, @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

rabbitmq: survive lack of vhosts (#7019)
  collectors/python.d.plugin/rabbitmq/rabbitmq.chart.py
Owners: @ilyam8

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cakrit @cosmix

# Ownership by directory structure
.travis/ @cakrit @cosmix
.github/ @cakrit @cosmix
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @cakrit @cosmix
collectors/ @vlvkobal @mfundul @cakrit @cosmix
collectors/charts.d.plugin/ @cakrit @cosmix
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @cakrit @cosmix
collectors/macos.plugin/ @vlvkobal @thiagoftsm @cakrit @cosmix
collectors/node.d.plugin/ @VLegakis @cakrit @cosmix
collectors/node.d.plugin/fronius/ @ccremer @cakrit @cosmix
collectors/node.d.plugin/snmp/ @VLegakis @cakrit @cosmix
collectors/node.d.plugin/stiebeleltron/ @ccremer @cakrit @cosmix
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @cakrit @cosmix
daemon/ @thiagoftsm @mfundul @cakrit @cosmix
database/ @mfundul @thiagoftsm @cakrit @cosmix
docs/ @cakrit @cosmix @joelhans
health/ @thiagoftsm @vlvkobal @cakrit @cosmix
health/health.d/ @thiagoftsm @vlvkobal @cakrit @cosmix
health/notifications/ @Ferroin @thiagoftsm @cakrit @cosmix
libnetdata/ @thiagofsm @mfundul @cakrit @cosmix
packaging/ @cakrit @cosmix
packaging/installer/ @cakrit @cosmix
packaging/makeself/ @cakrit @cosmix
registry/ @VLegakis @cakrit @cosmix
streaming/ @thiagoftsm @vlvkobal @cakrit @cosmix
web/ @thiagoftsm @mfundul @vlvkobal @cakrit @cosmix
web/gui/ @VLegakis @cakrit @cosmix

# Ownership by filetype (overwrites ownership by directory)
*.md @cakrit @cosmix @joelhans
*.am @cakrit @cosmix

# Ownership of specific files
.gitignore @cakrit @cosmix
.travis.yml @cakrit @cosmix
.lgtm.yml @cakrit @cosmix
.eslintrc @cakrit @cosmix
.eslintignore @cakrit @cosmix
.csslintrc @cakrit @cosmix
.codeclimate.yml @cakrit @cosmix
.codacy.yml @cakrit @cosmix
netdata.spec.in @cakrit @cosmix
netdata-installer.sh @cakrit @cosmix
netlify.toml @cakrit @cosmix
package.json @VLegakis
packaging/version @netdatabot

LICENSE.md @cakrit @cosmix @joelhans
CHANGELOG.md @netdatabot
