Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cakrit, @cosmix, @knatsakis, @thiagoftsm, @vlvkobal, @mfundul, @VLegakis, @ccremer, @ilyam8, @simonnagl, @joelhans, @Ferroin, @thiagofsm, @netdatabot

Move call to set_tag_for_release [ci skip]
  .travis.yml
Owners: @cakrit, @cosmix, @knatsakis

[ci skip] release v1.18.0
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Tutorials to support v1.18 features (#6993)
  docs/getting-started.md
  docs/tutorials/dimension-templates.md
  docs/tutorials/longer-metrics-storage.md
  docs/tutorials/monitor-hadoop-cluster.md
Owners: @cakrit, @cosmix, @joelhans

Add release 1.18.0 to news (#7054)
  README.md
Owners: @cakrit, @cosmix, @joelhans

Fix BSD/pfSense documentation (#7041)
  packaging/installer/README.md
Owners: @cakrit, @cosmix, @joelhans

Disable slabinfo plugin by default (#7056)
  collectors/plugins.d/plugins_d.c
  collectors/slabinfo.plugin/README.md
Owners: @vlvkobal, @mfundul, @cakrit, @cosmix, @joelhans

Fix dbengine not working when mmap fails (#7065)
  database/rrddim.c
  database/rrdset.c
Owners: @mfundul, @thiagoftsm, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Fix typo in health_alarm_notify.conf (#7062)
  health/notifications/health_alarm_notify.conf
Owners: @Ferroin, @thiagoftsm, @cakrit, @cosmix

Fix size of a zeroed block (#7061)
  collectors/freebsd.plugin/freebsd_sysctl.c
Owners: @vlvkobal, @thiagoftsm, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Add dbengine RAM usage statistics (#7038)
  daemon/global_statistics.c
Owners: @thiagoftsm, @mfundul, @cakrit, @cosmix

template_foreach_fix: Fix underscore dash (#7069)
  database/rrddim.c
Owners: @mfundul, @thiagoftsm, @cakrit, @cosmix

SimpleService: change chart suppress msg level to info (#7085)
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/SimpleService.py
Owners: @ilyam8

fix(freeipmi): Update frequency config check (#7078)
  collectors/freeipmi.plugin/freeipmi_plugin.c
Owners: @vlvkobal, @mfundul, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Add CMocka unit tests (#6985)
  .gitignore
  CMakeLists.txt
  Makefile.am
  configure.ac
  daemon/Makefile.am
  libnetdata/Makefile.am
  libnetdata/required_dummies.h
  libnetdata/storage_number/tests/Makefile.am
  libnetdata/storage_number/tests/test_storage_number.c
  libnetdata/tests/Makefile.am
  libnetdata/tests/test_str2ld.c
Owners: @cakrit, @cosmix, @knatsakis, @ktsaou, @thiagofsm, @mfundul

Clang warnings (#7090)
  libnetdata/health/health.c
  libnetdata/json/json.c
  web/api/queries/query.c
Owners: @thiagofsm, @mfundul, @cakrit, @cosmix, @thiagoftsm, @vlvkobal

Run the trigger for deb and rpm package build in separate stage (#7105)
  .travis.yml
Owners: @cakrit, @cosmix, @knatsakis

megacli: search binary and sudo check fix (#7108)
  collectors/python.d.plugin/megacli/megacli.chart.py
Owners: @ilyam8

Add VMware VMXNET3 driver to the default interafaces list (#7109)
  collectors/freebsd.plugin/freebsd_getifaddrs.c
Owners: @vlvkobal, @thiagoftsm, @cakrit, @cosmix

Fix segmentation fault in FreeBSD (#7102)
  collectors/statsd.plugin/statsd.c
Owners: @vlvkobal, @mfundul, @cakrit, @cosmix

Don't write an HTTP response 204 to logs (#7035)
  backends/prometheus/backend_prometheus.c
Owners: @vlvkobal, @thiagoftsm

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Documenting the structure of the data responses. (#7012)
  web/api/netdata-swagger.json
  web/api/netdata-swagger.yaml
Owners: @thiagoftsm, @mfundul, @vlvkobal, @cakrit, @cosmix

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

unbound: fix init (#7112)
  collectors/python.d.plugin/python_modules/bases/FrameworkServices/SocketService.py
  collectors/python.d.plugin/unbound/unbound.chart.py
Owners: @ilyam8

Fix CPU charts in apps plugin on FreeBSD (#7115)
  collectors/apps.plugin/apps_plugin.c
Owners: @vlvkobal, @mfundul, @cakrit, @cosmix

Partial fix for #7039 (#7060)
  netdata-installer.sh
  packaging/installer/functions.sh
  packaging/makeself/install-or-update.sh
Owners: @cakrit, @cosmix, @knatsakis

feat(reaper): Add process reaper support (#7059)
  CONTRIBUTORS.md
  collectors/plugins.d/plugins_d.c
  collectors/tc.plugin/plugin_tc.c
  daemon/main.c
  daemon/main.h
  daemon/signals.c
  libnetdata/popen/popen.c
  libnetdata/popen/popen.h
Owners: @cakrit, @cosmix, @joelhans, @vlvkobal, @mfundul, @thiagoftsm, @thiagofsm

Convert recursion timings to miliseconds. (#7121)
  collectors/python.d.plugin/unbound/unbound.chart.py
Owners: @ilyam8

Fixing broken links (#7123)
  CONTRIBUTORS.md
  collectors/python.d.plugin/springboot/README.md
Owners: @cakrit, @cosmix, @joelhans

Implement hangouts chat notifications (#7013)
  README.md
  health/notifications/Makefile.am
  health/notifications/alarm-notify.sh.in
  health/notifications/hangouts/Makefile.inc
  health/notifications/hangouts/README.md
  health/notifications/health_alarm_notify.conf
Owners: @cakrit, @cosmix, @joelhans, @knatsakis, @Ferroin, @thiagoftsm

Fix build when CMocka isn't installed (#7129)
  CMakeLists.txt
  Makefile.am
  configure.ac
Owners: @ktsaou, @cakrit, @cosmix, @knatsakis

Fix upgrade path from v1.17.1 to v1.18.x for deb packages (#7118)
  contrib/debian/control
  contrib/debian/control.buster
  contrib/debian/control.jessie
  contrib/debian/control.trusty
  contrib/debian/control.xenial
  contrib/debian/netdata.postinst.in
  contrib/debian/netdata.postrm
  contrib/debian/netdata.preinst
Owners: @ktsaou, @cakrit, @cosmix

7040 enable stable channel option (#7082)
  packaging/installer/functions.sh
  packaging/makeself/install-or-update.sh
Owners: @cakrit, @cosmix, @knatsakis

[ci skip] release v1.18.1
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

Update news with v1.18.1
  README.md
Owners: @cakrit, @cosmix, @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cakrit @cosmix

# Ownership by directory structure
.travis/ @cakrit @cosmix @knatsakis
.github/ @cakrit @cosmix @knatsakis
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @cakrit @cosmix @knatsakis
collectors/ @vlvkobal @mfundul @cakrit @cosmix
collectors/charts.d.plugin/ @cakrit @cosmix
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @cakrit @cosmix
collectors/macos.plugin/ @vlvkobal @thiagoftsm @cakrit @cosmix
collectors/node.d.plugin/ @VLegakis @cakrit @cosmix
collectors/node.d.plugin/fronius/ @ccremer @cakrit @cosmix
collectors/node.d.plugin/snmp/ @VLegakis @cakrit @cosmix
collectors/node.d.plugin/stiebeleltron/ @ccremer @cakrit @cosmix
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @cakrit @cosmix
daemon/ @thiagoftsm @mfundul @cakrit @cosmix
database/ @mfundul @thiagoftsm @cakrit @cosmix
docs/ @cakrit @cosmix @joelhans
health/ @thiagoftsm @vlvkobal @cakrit @cosmix
health/health.d/ @thiagoftsm @vlvkobal @cakrit @cosmix
health/notifications/ @Ferroin @thiagoftsm @cakrit @cosmix
libnetdata/ @thiagofsm @mfundul @cakrit @cosmix
packaging/ @cakrit @cosmix @knatsakis
registry/ @VLegakis @cakrit @cosmix
streaming/ @thiagoftsm @vlvkobal @cakrit @cosmix
web/ @thiagoftsm @mfundul @vlvkobal @cakrit @cosmix
web/gui/ @VLegakis @cakrit @cosmix

# Ownership by filetype (overwrites ownership by directory)
*.md @cakrit @cosmix @joelhans
*.am @cakrit @cosmix @knatsakis

# Ownership of specific files
.gitignore @cakrit @cosmix @knatsakis
.travis.yml @cakrit @cosmix @knatsakis
.lgtm.yml @cakrit @cosmix @knatsakis
.eslintrc @cakrit @cosmix @knatsakis
.eslintignore @cakrit @cosmix @knatsakis
.csslintrc @cakrit @cosmix @knatsakis
.codeclimate.yml @cakrit @cosmix @knatsakis
.codacy.yml @cakrit @cosmix @knatsakis
netdata.spec.in @cakrit @cosmix @knatsakis
netdata-installer.sh @cakrit @cosmix @knatsakis
netlify.toml @cakrit @cosmix
package.json @VLegakis
packaging/version @netdatabot

LICENSE.md @cakrit @cosmix @joelhans
CHANGELOG.md @netdatabot
