Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @Ferroin, @knatsakis, @kaskavel, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @thiagofsm, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @Ferroin

# Ownership by directory structure
.travis/ @Ferroin @knatsakis @kaskavel
.github/ @Ferroin @knatsakis @kaskavel
aclk/ @stelfrag @underhood
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @Ferroin @knatsakis
contrib/debian @Ferroin @knatsakis
collectors/ @vlvkobal @mfundul
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/node.d.plugin/ @jacekkolasa
collectors/node.d.plugin/fronius/ @ccremer
collectors/node.d.plugin/snmp/ @jacekkolasa
collectors/node.d.plugin/stiebeleltron/ @ccremer
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @mfundul
database/ @mfundul @thiagoftsm
docs/ @joelhans
health/ @thiagoftsm @vlvkobal
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
libnetdata/ @thiagofsm @mfundul
packaging/ @Ferroin @knatsakis
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin @knatsakis
tests/ @Ferroin @knatsakis @kaskavel
web/ @thiagoftsm @mfundul @vlvkobal
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin
*.md @joelhans
Dockerfile* @Ferroin @knatsakis

# Ownership of specific files
.gitignore @Ferroin @knatsakis
.travis.yml @Ferroin @knatsakis @kaskavel
.lgtm.yml @Ferroin @knatsakis
.eslintrc @Ferroin @knatsakis
.eslintignore @Ferroin @knatsakis
.csslintrc @Ferroin @knatsakis
.codeclimate.yml @Ferroin @knatsakis
.codacy.yml @Ferroin @knatsakis
.yamllint.yml @Ferroin @knatsakis
netdata.spec.in @Ferroin @knatsakis
netdata-installer.sh @Ferroin @knatsakis
package.json @jacekkolasa @Ferroin @knatsakis
packaging/version @netdatabot @Ferroin @knatsakis

LICENSE.md @joelhans @Ferroin
CHANGELOG.md @netdatabot @Ferroin

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Update ansible.md (#10232)
  docs/guides/deploy/ansible.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

database: fix endless loop when cleaning obsolete charts (#10236)
  database/rrdhost.c
Owners: @mfundul, @thiagoftsm

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Fix streaming buffer size (#10240)
  streaming/rrdpush.h
  streaming/sender.c
Owners: @thiagoftsm, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

dashboard v2.9.4 (#10239)
  packaging/dashboard.checksums
  packaging/dashboard.version
Owners: @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Fix broken links (#10253)
  docs/collect/application-metrics.md
  docs/collect/container-metrics.md
  docs/collect/enable-configure.md
  docs/monitor/view-active-alarms.md
  docs/store/distributed-data-architecture.md
Owners: @joelhans

Fix Docs GitHub Action with ignore list and update (#10002)
  .github/workflows/docs.yml
  .mlc_config.json
Owners: @Ferroin, @knatsakis, @kaskavel, @ktsaou

Update CONTRIBUTING.md (#10252)
  CONTRIBUTING.md
Owners: @joelhans

Updated 3rd party static build dependencies and use alpine 3.12 (#10241)
  packaging/makeself/build-x86_64-static.sh
  packaging/makeself/install-alpine-packages.sh
  packaging/makeself/jobs/50-bash-5.0.install.sh
  packaging/makeself/jobs/50-curl-7.73.0.install.sh
  packaging/makeself/jobs/50-fping-5.0.install.sh
  packaging/makeself/jobs/50-ioping-1.2.install.sh
  packaging/makeself/openssl.version
Owners: @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Remove Docker example from update docs and add section to claim troubleshooting (#10103)
  claim/README.md
  packaging/installer/UPDATE.md
Owners: @joelhans

Add kernel to black list (#10262)
  collectors/ebpf.plugin/ebpf_kernel_reject_list.txt
Owners: @thiagoftsm, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

new issue templates (#10259)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Owners: @joelhans, @Ferroin, @knatsakis, @kaskavel

fix bug_report.md syntax error (#10269)
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @joelhans

Document the Agent reinstallation process (#10270)
  aclk/README.md
  claim/README.md
  docs/get/README.md
  docs/guides/step-by-step/step-09.md
  exporting/prometheus/remote_write/README.md
  packaging/installer/README.md
  packaging/installer/REINSTALL.md
  packaging/installer/UNINSTALL.md
  packaging/installer/UPDATE.md
  packaging/installer/methods/packages.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

python.d/nvidia_smi: use `pwd` lib to get username if not inside a container (#10268)
  collectors/python.d.plugin/nvidia_smi/nvidia_smi.chart.py
Owners: @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Migrate metadata log to SQLite (#10139)
  CMakeLists.txt
  Makefile.am
  collectors/plugins.d/pluginsd_parser.c
  collectors/plugins.d/pluginsd_parser.h
  collectors/statsd.plugin/statsd.c
  configure.ac
  daemon/common.h
  daemon/main.c
  database/engine/Makefile.am
  database/engine/global_uuid_map/Makefile.am
  database/engine/global_uuid_map/README.md
  database/engine/global_uuid_map/global_uuid_map.c
  database/engine/global_uuid_map/global_uuid_map.h
  database/engine/metadata_log/compaction.c
  database/engine/metadata_log/compaction.h
  database/engine/metadata_log/logfile.c
  database/engine/metadata_log/logfile.h
  database/engine/metadata_log/metadatalog.c
  database/engine/metadata_log/metadatalog.h
  database/engine/metadata_log/metadatalogapi.c
  database/engine/metadata_log/metadatalogapi.h
  database/engine/metadata_log/metalogpluginsd.c
  database/engine/metadata_log/metalogpluginsd.h
  database/engine/rrdengineapi.c
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  database/sqlite/sqlite3.h
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
  exporting/tests/netdata_doubles.c
  libnetdata/libnetdata.h
  web/api/formatters/charts2json.c
  web/api/formatters/charts2json.h
  web/api/tests/valid_urls.c
  web/api/tests/web_api.c
  web/api/web_api_v1.c
  web/server/web_client.c
Owners: @ktsaou, @Ferroin, @vlvkobal, @mfundul, @thiagoftsm, @joelhans, @knatsakis, @kaskavel, @thiagofsm

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Address coverity errors (CID 364045,364046) (#10282)
  database/sqlite/sqlite_functions.c
Owners: @mfundul, @thiagoftsm

use new libmosquitto release (with MacOS libMosq fix) #10283
  packaging/mosquitto.checksums
  packaging/mosquitto.version
Owners: @Ferroin, @knatsakis

Fix hostname when syslog is used (#10275)
  health/notifications/alarm-notify.sh.in
Owners: @Ferroin, @thiagoftsm

installer: update go.d.plugin version to v0.26.0 (#10284)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Fixed the data endpoint so that the context param is correctly applied to children (#10290)
  web/api/web_api_v1.c
Owners: @thiagoftsm, @mfundul, @vlvkobal

health/web_log: remove `crit` from unmatched alarms (#10280)
  health/health.d/web_log.conf
Owners: @thiagoftsm, @vlvkobal

ACLK Child Availability Messages (#9918)
  aclk/aclk_common.c
  aclk/aclk_common.h
  aclk/aclk_query.c
  aclk/aclk_rx_msgs.c
  aclk/agent_cloud_link.c
  aclk/agent_cloud_link.h
  claim/claim.c
  database/rrd.h
  database/rrdhost.c
  database/rrdset.c
  streaming/receiver.c
  streaming/rrdpush.c
  web/api/web_api_v1.c
Owners: @stelfrag, @underhood, @ktsaou, @Ferroin, @mfundul, @thiagoftsm, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Fix race condition in rrdset_first_entry_t() and rrdset_last_entry_t() (#10276)
  database/rrd.h
  database/rrddim.c
  health/health.c
  web/api/exporters/shell/allmetrics_shell.c
  web/api/formatters/json_wrapper.c
  web/api/formatters/rrd2json.c
  web/api/formatters/rrdset2json.c
  web/api/queries/query.c
Owners: @mfundul, @thiagoftsm, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis
