Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @amoss, @prologic, @Ferroin, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @shortpatti, @thiagofsm, @netdatabot

python.d/ipfs: disable call to the `/api/v0/stats/repo` endpoint by default (#9687)
  collectors/python.d.plugin/ipfs/README.md
  collectors/python.d.plugin/ipfs/ipfs.chart.py
  collectors/python.d.plugin/ipfs/ipfs.conf
Owners: @amoss, @joelhans, @shortpatti, @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Fix exporting update point (#9748)
  exporting/process_data.c
Owners: @vlvkobal, @thiagoftsm

Add check for spurious wakeups (#9751)
  exporting/aws_kinesis/aws_kinesis.c
  exporting/exporting_engine.c
  exporting/exporting_engine.h
  exporting/mongodb/mongodb.c
  exporting/process_data.c
  exporting/pubsub/pubsub.c
  exporting/send_data.c
Owners: @vlvkobal, @thiagoftsm

python.d/isc_dhcpd: add support for ip ranges (#9755)
  collectors/python.d.plugin/isc_dhcpd/README.md
  collectors/python.d.plugin/isc_dhcpd/isc_dhcpd.chart.py
  collectors/python.d.plugin/isc_dhcpd/isc_dhcpd.conf
Owners: @amoss, @joelhans, @shortpatti, @ilyam8

Fix netfilter for it closes when sigpipe happens (#9756)
  collectors/nfacct.plugin/plugin_nfacct.c
Owners: @vlvkobal, @mfundul, @amoss

python.d/redis: collect `maxmemory` (#9767)
  collectors/python.d.plugin/redis/redis.chart.py
Owners: @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Fix unit tests for exporting engine (#9766)
  exporting/tests/exporting_fixtures.c
Owners: @vlvkobal, @thiagoftsm

Fix broken link in privacy policy (#9771)
  docs/privacy-policy.md
Owners: @amoss, @joelhans, @shortpatti

Fix HTTP header for the remote write exporting connector (#9775)
  backends/backends.c
  exporting/prometheus/remote_write/remote_write.c
  exporting/tests/test_exporting_engine.c
Owners: @thiagoftsm, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Fix netdata/netdata Docker image size (#9669)
  packaging/docker/Dockerfile
Owners: @Ferroin, @prologic, @amoss

cgroups.plugin: add and document support for reading container names from Podman (#9474)
  collectors/cgroups.plugin/README.md
  collectors/cgroups.plugin/cgroup-name.sh.in
Owners: @amoss, @joelhans, @shortpatti, @vlvkobal, @mfundul

Fix long stats.d chart names (thanks to @vince-lessbits) (#9783)
  streaming/rrdpush.h
Owners: @thiagoftsm, @vlvkobal, @amoss

Add missing value to list simple pattern
  daemon/main.c
  web/server/static/static-threaded.c
Owners: @thiagoftsm, @mfundul, @amoss, @vlvkobal

Fixed numerous bugs in duplicate install handling. (#9769)
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
Owners: @amoss, @Ferroin, @prologic, @joelhans, @shortpatti

Debian packaging (#8982)
  .travis/package_management/configure_deb_lxc_environment.py
  contrib/README.md
  contrib/debian/control
  contrib/debian/control.buster
  contrib/debian/control.eoan
  contrib/debian/control.focal
  contrib/debian/control.jessie
  contrib/debian/control.trusty
  contrib/debian/control.wheezy
  contrib/debian/control.xenial
  contrib/debian/netdata.default
  contrib/debian/netdata.init
Owners: @amoss, @Ferroin, @prologic, @joelhans, @shortpatti

Docs: Add daemon config to health section and standardize IP references (#8837)
  collectors/REFERENCE.md
  health/QUICKSTART.md
  health/README.md
  health/REFERENCE.md
  web/api/health/README.md
Owners: @amoss, @joelhans, @shortpatti

Fix proxy redirect
  libnetdata/socket/security.h
  web/server/web_client.c
  web/server/web_client.h
  web/server/web_client_cache.c
Owners: @thiagofsm, @mfundul, @amoss, @thiagoftsm, @vlvkobal

Remove ebpf debug messages (#9754)
  collectors/ebpf.plugin/ebpf_socket.c
Owners: @thiagoftsm, @vlvkobal, @amoss

dashboard v1.3.1 (#9786)
  packaging/dashboard.checksums
  packaging/dashboard.version
Owners: @amoss, @Ferroin, @prologic

Fix Travis CI builds and skip Fedora 31 i386 build/test cycles (#9781)
  .travis/package_management/create_lxc_for_build.sh
Owners: @amoss, @Ferroin, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Change timestamps for global variables in Prometheus output (#9779)
  backends/prometheus/backend_prometheus.c
  exporting/prometheus/prometheus.c
Owners: @vlvkobal, @thiagoftsm

Don't run packaging checks on Travis builds that build packages. (#9795)
  .travis.yml
  .travis/package_management/create_lxc_for_build.sh
Owners: @amoss, @Ferroin, @prologic

Added code to release memory used by the global GUID map (#9729)
  daemon/main.c
  database/engine/global_uuid_map/global_uuid_map.c
  database/engine/global_uuid_map/global_uuid_map.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
Owners: @thiagoftsm, @mfundul, @amoss

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

fix loading custom dashboard_info in /old dashboard (#9792)
  web/gui/main.js
Owners: @jacekkolasa, @amoss

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Package ebpf plugin only if enabled in config.h (#9752)
  netdata.spec.in
Owners: @amoss, @Ferroin, @prologic

Fix docker packaging caddyserver basicauth link (#9812)
  packaging/docker/README.md
Owners: @amoss, @joelhans, @shortpatti

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Fix install if system does not have ebpf.plugin (#9809)
  contrib/debian/netdata.postinst
Owners: @amoss, @Ferroin, @prologic

Fixed handling of offline installs. (#9805)
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
Owners: @amoss, @Ferroin, @prologic, @joelhans, @shortpatti

Fix the netdata-updater.sh to correctly pass REINSTALL_OPTIONS (finally) (#8808)
  build-artifacts.sh
  packaging/installer/netdata-updater.sh
Owners: @ktsaou, @amoss, @prologic, @Ferroin

Remove PrivateMounts (#9619)
  system/netdata.service.in
Owners: @prologic, @Ferroin, @amoss

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @amoss @prologic

# Ownership by directory structure
.travis/ @amoss @Ferroin @prologic
.github/ @amoss @Ferroin @prologic
aclk/ @stelfrag @underhood @amoss
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @amoss @prologic
contrib/debian @amoss @Ferroin @prologic
collectors/ @vlvkobal @mfundul @amoss
collectors/charts.d.plugin/ @ilyam8 @Ferroin @prologic @amoss
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @amoss
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal @amoss
collectors/macos.plugin/ @vlvkobal @thiagoftsm @amoss
collectors/node.d.plugin/ @jacekkolasa @amoss
collectors/node.d.plugin/fronius/ @ccremer @amoss
collectors/node.d.plugin/snmp/ @jacekkolasa @amoss
collectors/node.d.plugin/stiebeleltron/ @ccremer @amoss
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @amoss
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @mfundul @amoss
database/ @mfundul @thiagoftsm @amoss
docs/ @amoss @joelhans @shortpatti
health/ @thiagoftsm @vlvkobal @amoss
health/health.d/ @thiagoftsm @vlvkobal @amoss
health/notifications/ @Ferroin @thiagoftsm @amoss
libnetdata/ @thiagofsm @mfundul @amoss
packaging/ @amoss @Ferroin @prologic
registry/ @jacekkolasa @amoss
streaming/ @thiagoftsm @vlvkobal @amoss
system/ @prologic @Ferroin @amoss
web/ @thiagoftsm @mfundul @vlvkobal @amoss
web/gui/ @jacekkolasa @amoss

# Ownership by filetype (overwrites ownership by directory)
*.am @amoss @prologic
*.md @amoss @joelhans @shortpatti
Dockerfile* @Ferroin @prologic @amoss

# Ownership of specific files
.gitignore @amoss @Ferroin @prologic
.travis.yml @amoss @Ferroin @prologic
.lgtm.yml @amoss @Ferroin @prologic
.eslintrc @amoss @Ferroin @prologic
.eslintignore @amoss @Ferroin @prologic
.csslintrc @amoss @Ferroin @prologic
.codeclimate.yml @amoss @Ferroin @prologic
.codacy.yml @amoss @Ferroin @prologic
.yamllint.yml @amoss @Ferroin @prologic
netdata.spec.in @amoss @Ferroin @prologic
netdata-installer.sh @amoss @Ferroin @prologic
package.json @jacekkolasa @prologic
packaging/version @netdatabot @prologic

LICENSE.md @amoss @joelhans @prologic
CHANGELOG.md @netdatabot @prologic
