Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @amoss, @prologic, @Ferroin, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @shortpatti, @thiagofsm, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @amoss @prologic

# Ownership by directory structure
.travis/ @amoss @Ferroin @prologic
.github/ @amoss @Ferroin @prologic
aclk/ @stelfrag @underhood @amoss
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @amoss @prologic
contrib/debian @amoss @Ferroin @prologic
collectors/ @vlvkobal @mfundul @amoss
collectors/charts.d.plugin/ @ilyam8 @Ferroin @prologic @amoss
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @amoss
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal @amoss
collectors/macos.plugin/ @vlvkobal @thiagoftsm @amoss
collectors/node.d.plugin/ @jacekkolasa @amoss
collectors/node.d.plugin/fronius/ @ccremer @amoss
collectors/node.d.plugin/snmp/ @jacekkolasa @amoss
collectors/node.d.plugin/stiebeleltron/ @ccremer @amoss
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @amoss
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @mfundul @amoss
database/ @mfundul @thiagoftsm @amoss
docs/ @amoss @joelhans @shortpatti
health/ @thiagoftsm @vlvkobal @amoss
health/health.d/ @thiagoftsm @vlvkobal @amoss
health/notifications/ @Ferroin @thiagoftsm @amoss
libnetdata/ @thiagofsm @mfundul @amoss
packaging/ @amoss @Ferroin @prologic
registry/ @jacekkolasa @amoss
streaming/ @thiagoftsm @vlvkobal @amoss
system/ @prologic @Ferroin @amoss
web/ @thiagoftsm @mfundul @vlvkobal @amoss
web/gui/ @jacekkolasa @amoss

# Ownership by filetype (overwrites ownership by directory)
*.am @amoss @prologic
*.md @amoss @joelhans @shortpatti
Dockerfile* @Ferroin @prologic @amoss

# Ownership of specific files
.gitignore @amoss @Ferroin @prologic
.travis.yml @amoss @Ferroin @prologic
.lgtm.yml @amoss @Ferroin @prologic
.eslintrc @amoss @Ferroin @prologic
.eslintignore @amoss @Ferroin @prologic
.csslintrc @amoss @Ferroin @prologic
.codeclimate.yml @amoss @Ferroin @prologic
.codacy.yml @amoss @Ferroin @prologic
.yamllint.yml @amoss @Ferroin @prologic
netdata.spec.in @amoss @Ferroin @prologic
netdata-installer.sh @amoss @Ferroin @prologic
package.json @jacekkolasa @prologic
packaging/version @netdatabot @prologic

LICENSE.md @amoss @joelhans @prologic
CHANGELOG.md @netdatabot @prologic

Adds claimed_id streaming (#9804)
  claim/claim.c
  daemon/commands.c
  database/rrd.h
  database/rrdhost.c
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
  web/api/web_api_v1.c
Owners: @ktsaou, @amoss, @prologic, @thiagoftsm, @mfundul, @vlvkobal

Improve dbengine docs and add new multihost setting (#9817)
  database/engine/README.md
  docs/guides/longer-metrics-storage.md
Owners: @amoss, @joelhans, @shortpatti

Fix link and clean up frontmatter in health (#9813)
  health/QUICKSTART.md
  health/README.md
  health/REFERENCE.md
Owners: @amoss, @joelhans, @shortpatti

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Ensure Arch Linux images are up to date in CI before running checks. (#9825)
  .github/workflows/build-and-install.yml
  tests/updater_checks.sh
Owners: @amoss, @Ferroin, @prologic, @ktsaou

Improved temporary directory checking in installer and updater. (#9797)
  netdata-installer.sh
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
  packaging/installer/netdata-updater.sh
Owners: @amoss, @Ferroin, @prologic, @joelhans, @shortpatti

Fix empty dbengine files (#9820)
  database/engine/datafile.c
  database/engine/datafile.h
  database/engine/journalfile.c
  database/engine/journalfile.h
  database/engine/metadata_log/logfile.c
  database/engine/metadata_log/logfile.h
  database/engine/metadata_log/metadatalog.c
Owners: @mfundul, @thiagoftsm, @amoss

Fix handling of NETDATA_NIGHTLIES_BASEURL. (#9831)
  packaging/installer/netdata-updater.sh
Owners: @amoss, @Ferroin, @prologic

fixes proxy forwarding claim_id to old parent (#9828)
  streaming/rrdpush.c
  streaming/sender.c
Owners: @thiagoftsm, @vlvkobal, @amoss

Remove Google Charts info (#9826)
  web/api/README.md
Owners: @amoss, @joelhans, @shortpatti

Fixed updater bug introduced by incomplete variable rename in #8808. (#9834)
  packaging/installer/netdata-updater.sh
Owners: @amoss, @Ferroin, @prologic

Change a log level in cgroup-network helper (#9836)
  collectors/cgroups.plugin/cgroup-network.c
Owners: @vlvkobal, @mfundul, @amoss

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Don't falsely report that the group was not deleted (#9835)
  packaging/installer/netdata-uninstaller.sh
Owners: @amoss, @Ferroin, @prologic

dashboard v1.4.2 (#9837)
  packaging/dashboard.checksums
  packaging/dashboard.version
Owners: @amoss, @Ferroin, @prologic

Fix redirect with parameters
  web/server/web_client.c
Owners: @thiagoftsm, @mfundul, @vlvkobal, @amoss

fixes compilation warnings (#9845)
  aclk/aclk_lws_wss_client.c
  database/engine/rrdengineapi.c
Owners: @stelfrag, @underhood, @amoss, @mfundul, @thiagoftsm

Add frontmatter (#9847)
  libnetdata/simple_pattern/README.md
Owners: @amoss, @joelhans, @shortpatti

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

[ci skip] create nightly packages and update changelog
  packaging/version
Owners: @netdatabot, @prologic

Use printf instead of echo for better POSIX compliance. (#9842)
  netdata-installer.sh
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
  packaging/installer/netdata-updater.sh
Owners: @amoss, @Ferroin, @prologic, @joelhans, @shortpatti

Don't install eBPF plugin components when they shouldn't be installed (#9844)
  configure.ac
  netdata-installer.sh
Owners: @ktsaou, @amoss, @prologic, @Ferroin

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

rpm: Fix rpm build script version issues (#9808)
  contrib/rhel/build-netdata-rpm.sh
Owners: @ktsaou, @amoss, @prologic

Fix multi-host DB corruption when legacy metrics reside in localhost. (#9855)
  database/engine/rrdengineapi.c
Owners: @mfundul, @thiagoftsm, @amoss

Fixed bugs in handling of Python 3 dependencies on install. (#9839)
  packaging/installer/install-required-packages.sh
Owners: @amoss, @Ferroin, @prologic

Added code to bundle libJudy on systems which do not provide a usable copy of it. (#9776)
  Makefile.am
  configure.ac
  netdata-installer.sh
  packaging/installer/install-required-packages.sh
  packaging/judy.checksums
  packaging/judy.version
Owners: @amoss, @prologic, @ktsaou, @Ferroin

python.d/openldap: fix tls over ldap (#9853)
  collectors/python.d.plugin/openldap/openldap.chart.py
  collectors/python.d.plugin/openldap/openldap.conf
Owners: @ilyam8

collect active processes limit feature v2 (#9843)
  collectors/proc.plugin/proc_loadavg.c
  health/health.d/processes.conf
Owners: @vlvkobal, @mfundul, @amoss, @thiagoftsm

health_fix_typo: Fix typo (#9860)
  docs/guides/monitor/stop-notifications-alarms.md
  docs/guides/step-by-step/step-05.md
Owners: @amoss, @joelhans, @shortpatti

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic

Removed dependency on libJudy for systems which don't have it. (#9859)
  packaging/installer/install-required-packages.sh
Owners: @amoss, @Ferroin, @prologic

labeler: add `area/exporting` (#9866)
  .github/labeler.yml
Owners: @amoss, @Ferroin, @prologic

python.d/dnsdist: fix latency-avg chart units (#9871)
  collectors/python.d.plugin/dnsdist/dnsdist.chart.py
Owners: @ilyam8

Fix race condition with orphan hosts (#9862)
  database/engine/metadata_log/metalogpluginsd.c
  database/rrdhost.c
  streaming/receiver.c
  streaming/rrdpush.c
Owners: @mfundul, @thiagoftsm, @amoss, @vlvkobal

installer: update go.d.plugin version to v0.21.0 (#9881)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @amoss, @Ferroin, @prologic

Fixed lack of macOS RAM info in system-info.sh (#9882)
  daemon/system-info.sh
Owners: @thiagoftsm, @mfundul, @amoss

Fixed handling of libJudy bundling for RPM packages. (#9875)
  Makefile.am
  netdata.spec.in
  packaging/bundle-judy.sh
  packaging/installer/install-required-packages.sh
Owners: @amoss, @prologic, @Ferroin

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @prologic
