Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @Ferroin, @kaskavel, @vkalintiris, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @thiagofsm, @knatsakis, @netdatabot

python.d(smartd_log): collect attribute 249 -- NAND Writes 1GiB (#10872)
  collectors/python.d.plugin/smartd_log/smartd_log.chart.py
Owners: @ilyam8

Replace references to Google Analytics with Posthog where relevant (#10868)
  docs/netdata-security.md
  docs/privacy-policy.md
  netdata-installer.sh
  packaging/docker/README.md
  packaging/installer/README.md
  packaging/installer/methods/freebsd.md
  packaging/makeself/makeself-help-header.txt
Owners: @joelhans, @Ferroin, @knatsakis, @vkalintiris

collectors/charts.d/opensips: fix detection of `opensipsctl` executable (#10978)
  collectors/charts.d.plugin/opensips/opensips.chart.sh
Owners: @ilyam8, @Ferroin

Update fping version (#10977)
  collectors/fping.plugin/fping.plugin.in
Owners: @vlvkobal, @mfundul

Fine tune clang-format (#7271)
  .clang-format
Owners: @ktsaou, @Ferroin

Upgrade OKay repository RPM for RHEL8 (#10973)
  packaging/installer/install-required-packages.sh
Owners: @Ferroin, @vkalintiris

Improvements to dash-example.html (#10870)
  web/gui/custom/README.md
  web/gui/dash-example.html
Owners: @joelhans, @jacekkolasa

Remove error message on netdata restart (#8685)
  libnetdata/popen/popen.c
Owners: @thiagofsm, @mfundul

Contributing revamp, take 2 (#10956)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  CONTRIBUTORS.md
  Makefile.am
  README.md
  SECURITY.md
Owners: @joelhans, @Ferroin

Remove condition that was creating gaps on cachestat (#10972)
  collectors/ebpf.plugin/ebpf_cachestat.c
  web/gui/dashboard_info.js
Owners: @thiagoftsm, @vlvkobal, @jacekkolasa

Assorted fixes for Travis CI code. (#10981)
  .travis.yml
  .travis/create_changelog.sh
Owners: @Ferroin, @knatsakis, @kaskavel, @vkalintiris

Update eBPF documentation (#10982)
  collectors/apps.plugin/README.md
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  docs/configure/nodes.md
  docs/guides/troubleshoot/monitor-debug-applications-ebpf.md
  netdata-installer.sh
Owners: @joelhans, @thiagoftsm, @vlvkobal, @Ferroin, @knatsakis, @vkalintiris

Bring flexible adjust for eBPF hash tables (#10962)
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.d.conf
  collectors/ebpf.plugin/ebpf.d/cachestat.conf
  collectors/ebpf.plugin/ebpf.d/network.conf
  collectors/ebpf.plugin/ebpf.d/process.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  packaging/ebpf.checksums
  packaging/ebpf.version
Owners: @joelhans, @thiagoftsm, @vlvkobal, @thiagofsm, @mfundul, @Ferroin, @vkalintiris

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Update web server options for respecting browser DNT (#10157)
  web/server/README.md
Owners: @joelhans

Remove obsolete docs (#10979)
  docs/privacy-policy.md
  docs/terms-of-use.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

implements new https client for ACLK (#10805)
  aclk/aclk.c
  aclk/aclk_otp.c
  aclk/aclk_util.c
  aclk/aclk_util.h
  aclk/https_client.c
  aclk/https_client.h
Owners: @stelfrag, @underhood

Move global stats to a separate thread (#10991)
  backends/backends.c
  collectors/cgroups.plugin/sys_fs_cgroup.c
  collectors/diskspace.plugin/plugin_diskspace.c
  collectors/freebsd.plugin/plugin_freebsd.c
  collectors/macos.plugin/plugin_macos.c
  collectors/proc.plugin/plugin_proc.c
  collectors/statsd.plugin/statsd.c
  collectors/tc.plugin/plugin_tc.c
  collectors/timex.plugin/plugin_timex.c
  daemon/global_statistics.c
  daemon/global_statistics.h
  daemon/main.c
  registry/registry.c
  web/server/static/static-threaded.c
Owners: @thiagoftsm, @vlvkobal, @mfundul, @jacekkolasa

implements ACLK env endpoint (#10833)
  aclk/aclk.c
  aclk/aclk.h
  aclk/aclk_otp.c
  aclk/aclk_otp.h
  aclk/aclk_util.c
  aclk/aclk_util.h
  aclk/https_client.c
  aclk/https_client.h
Owners: @stelfrag, @underhood

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

fix MQTT connection on OTP fail (#10839)
  aclk/aclk.c
  aclk/aclk_otp.c
  aclk/aclk_otp.h
Owners: @stelfrag, @underhood

add missing SPDX (#10990)
  aclk/aclk.c
  aclk/aclk_query.c
  aclk/aclk_stats.c
  aclk/aclk_util.c
Owners: @stelfrag, @underhood

Add a chart with netdata uptime (#10997)
  daemon/global_statistics.c
Owners: @thiagoftsm, @mfundul

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

ci: fix aws-kinesis builds (#10992)
  .github/workflows/build-and-install.yml
Owners: @Ferroin, @kaskavel, @vkalintiris

Backend chart filtering backward compatibility fix (#11002)
  backends/backends.c
  backends/backends.h
  database/rrd.h
  database/rrdset.c
  exporting/check_filters.c
  exporting/exporting_engine.h
  exporting/prometheus/prometheus.c
  exporting/read_config.c
  exporting/tests/exporting_fixtures.c
  exporting/tests/test_exporting_engine.c
Owners: @thiagoftsm, @vlvkobal, @mfundul, @Ferroin, @kaskavel

Msteams 2 (#9905)
  health/notifications/Makefile.am
  health/notifications/alarm-notify.sh.in
  health/notifications/health_alarm_notify.conf
  health/notifications/msteams/Makefile.inc
  health/notifications/msteams/README.md
Owners: @Ferroin, @thiagoftsm, @joelhans

python.d: add plugin and module names to the runtime charts (#11007)
  collectors/python.d.plugin/python_modules/bases/charts.py
Owners: @ilyam8

ACLK Passwd endpoint update (#10859)
  aclk/aclk.c
  aclk/aclk_otp.c
  aclk/aclk_otp.h
  aclk/aclk_tx_msgs.c
  aclk/aclk_util.c
  aclk/aclk_util.h
Owners: @stelfrag, @underhood

remove vneg from ACLK-NG (#10980)
  aclk/aclk.c
  aclk/aclk.h
  aclk/aclk_query.c
  aclk/aclk_rx_msgs.c
  aclk/aclk_rx_msgs.h
  aclk/aclk_tx_msgs.c
  aclk/aclk_tx_msgs.h
Owners: @stelfrag, @underhood

Provide more agent analytics to posthog (#10887)
  CMakeLists.txt
  Makefile.am
  daemon/analytics.c
  daemon/analytics.h
  daemon/anonymous-statistics.sh.in
  daemon/buildinfo.c
  daemon/common.h
  daemon/main.c
  exporting/exporting_engine.c
  exporting/prometheus/prometheus.c
  libnetdata/log/log.h
  web/api/exporters/shell/allmetrics_shell.c
  web/api/web_api_v1.c
Owners: @ktsaou, @Ferroin, @thiagoftsm, @mfundul, @vlvkobal, @thiagofsm

Allow the remote write configuration have multiple destinations (#11005)
  exporting/exporting_engine.h
  exporting/prometheus/remote_write/remote_write.c
  exporting/send_data.c
  exporting/tests/test_exporting_engine.c
Owners: @vlvkobal, @thiagoftsm, @Ferroin, @kaskavel

Revert "Provide more agent analytics to posthog (#10887)" (#11011)
  CMakeLists.txt
  Makefile.am
  daemon/analytics.c
  daemon/analytics.h
  daemon/anonymous-statistics.sh.in
  daemon/buildinfo.c
  daemon/common.h
  daemon/main.c
  exporting/exporting_engine.c
  exporting/prometheus/prometheus.c
  libnetdata/log/log.h
  web/api/exporters/shell/allmetrics_shell.c
  web/api/web_api_v1.c
Owners: @ktsaou, @Ferroin, @thiagoftsm, @mfundul, @vlvkobal, @thiagofsm

improvements to anomalies collector following dogfooding (#11003)
  collectors/python.d.plugin/anomalies/README.md
  collectors/python.d.plugin/anomalies/anomalies.chart.py
  collectors/python.d.plugin/anomalies/anomalies.conf
Owners: @joelhans, @ilyam8

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Persist claim ids in local database for parent and children (#10993)
  claim/claim.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
  streaming/receiver.c
Owners: @ktsaou, @Ferroin, @mfundul, @thiagoftsm, @vlvkobal

[area/collectors] Added support for libvirtd LXC containers to the `cgroup-name.sh` cgroup name normalization script (#11006)
  collectors/cgroups.plugin/cgroup-name.sh.in
Owners: @vlvkobal, @mfundul

anonymous-statistics: add a timeout when using `curl` (#11010)
  daemon/anonymous-statistics.sh.in
Owners: @thiagoftsm, @mfundul

Improve get started/installation docs (#10995)
  docs/get-started.mdx
  docs/get/README.md
  packaging/installer/README.md
Owners: @joelhans

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @Ferroin

# Ownership by directory structure
.travis/ @Ferroin @kaskavel @vkalintiris
.github/ @Ferroin @kaskavel @vkalintiris
aclk/ @stelfrag @underhood
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @Ferroin
contrib/debian @Ferroin @vkalintiris
collectors/ @vlvkobal @mfundul
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/node.d.plugin/ @jacekkolasa
collectors/node.d.plugin/fronius/ @ccremer
collectors/node.d.plugin/snmp/ @jacekkolasa
collectors/node.d.plugin/stiebeleltron/ @ccremer
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @mfundul
database/ @mfundul @thiagoftsm
docs/ @joelhans
health/ @thiagoftsm @vlvkobal
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
libnetdata/ @thiagofsm @mfundul
packaging/ @Ferroin @vkalintiris
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin @vkalintiris
tests/ @Ferroin @kaskavel
web/ @thiagoftsm @mfundul @vlvkobal
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin
*.md @joelhans
Dockerfile* @Ferroin @knatsakis

# Ownership of specific files
.gitignore @Ferroin @knatsakis
.travis.yml @Ferroin @knatsakis @kaskavel @vkalintiris
.lgtm.yml @Ferroin @knatsakis
.eslintrc @Ferroin @knatsakis
.eslintignore @Ferroin @knatsakis
.csslintrc @Ferroin @knatsakis
.codeclimate.yml @Ferroin @knatsakis
.codacy.yml @Ferroin @knatsakis
.yamllint.yml @Ferroin @knatsakis
netdata.spec.in @Ferroin @knatsakis @vkalintiris
netdata-installer.sh @Ferroin @knatsakis @vkalintiris
package.json @jacekkolasa @Ferroin @knatsakis
packaging/version @netdatabot @Ferroin @knatsakis

LICENSE.md @joelhans @Ferroin
CHANGELOG.md @netdatabot @Ferroin
