Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @Ferroin, @kaskavel, @vkalintiris, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @thiagofsm, @knatsakis, @netdatabot

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Report porcelain output (#10494)
  .github/workflows/checks.yml
Owners: @Ferroin, @kaskavel, @vkalintiris

Rename struct fields from class to classification. (#11019)
  database/rrd.h
  database/rrdcalc.c
  database/rrdcalc.h
  database/rrdcalctemplate.h
  health/health.c
  health/health.h
  health/health_config.c
  health/health_json.c
  health/health_log.c
Owners: @mfundul, @thiagoftsm, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

ACLK new cloud architecture new TBEB (#10941)
  aclk/aclk.c
  aclk/aclk.h
  aclk/aclk_otp.c
  aclk/aclk_util.c
  aclk/aclk_util.h
Owners: @stelfrag, @underhood

bump to netdata-pandas==0.0.38 (#11022)
  docs/guides/monitor/anomaly-detection.md
  docs/guides/monitor/raspberry-pi-anomaly-detection.md
Owners: @joelhans

proc/mdstat: add raid level to the family (#11024)
  collectors/proc.plugin/proc_mdstat.c
  health/health.d/mdstat.conf
Owners: @vlvkobal, @mfundul, @thiagoftsm

Store null claim id in the database for non claimed children (#11036)
  claim/claim.c
  database/sqlite/sqlite_functions.c
  streaming/receiver.c
Owners: @ktsaou, @Ferroin, @mfundul, @thiagoftsm, @vlvkobal

health/vernemq: use `average` instead of `sum` (#11037)
  health/health.d/vernemq.conf
Owners: @thiagoftsm, @vlvkobal

Remove links to old install doc (#11014)
  claim/README.md
  docs/collect/application-metrics.md
  docs/collect/how-collectors-work.md
  docs/guides/monitor/anomaly-detection.md
  docs/guides/monitor/lamp-stack.md
  docs/guides/monitor/process.md
  docs/guides/monitor/raspberry-pi-anomaly-detection.md
  docs/guides/python-collector.md
  docs/overview/netdata-monitoring-stack.md
  docs/overview/what-is-netdata.md
  docs/quickstart/infrastructure.md
  docs/quickstart/single-node.md
  packaging/installer/README.md
Owners: @joelhans

Zscores python collector (#10673)
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/python.d.conf
  collectors/python.d.plugin/zscores/Makefile.inc
  collectors/python.d.plugin/zscores/README.md
  collectors/python.d.plugin/zscores/zscores.chart.py
  collectors/python.d.plugin/zscores/zscores.conf
  web/gui/dashboard_info.js
Owners: @Ferroin, @ilyam8, @joelhans, @jacekkolasa

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Provide more agent analytics to posthog (#11020)
  CMakeLists.txt
  Makefile.am
  daemon/analytics.c
  daemon/analytics.h
  daemon/anonymous-statistics.sh.in
  daemon/buildinfo.c
  daemon/common.h
  daemon/main.c
  exporting/exporting_engine.c
  exporting/prometheus/prometheus.c
  libnetdata/log/log.h
  web/api/exporters/shell/allmetrics_shell.c
  web/api/web_api_v1.c
Owners: @ktsaou, @Ferroin, @thiagoftsm, @mfundul, @vlvkobal, @thiagofsm

K6 quality of life updates (#10985)
  collectors/statsd.plugin/README.md
  collectors/statsd.plugin/k6.conf
  collectors/statsd.plugin/k6.md
Owners: @joelhans, @vlvkobal, @mfundul

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Dashboard version 2.17.0 (#10856)
  packaging/dashboard.checksums
  packaging/dashboard.version
Owners: @Ferroin, @vkalintiris

Create ebpf.d directory in PLUGINDIR for debian packages(netdata#11017) (#11031)
  packaging/bundle-ebpf.sh
Owners: @Ferroin, @vkalintiris

Load names (#11034)
  collectors/ebpf.plugin/ebpf.c
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
Owners: @thiagoftsm, @vlvkobal, @thiagofsm, @mfundul

Remove dots in cgroup ids (#11050)
  collectors/cgroups.plugin/sys_fs_cgroup.c
Owners: @vlvkobal, @mfundul

add python changefinder collector (#10672)
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/changefinder/Makefile.inc
  collectors/python.d.plugin/changefinder/README.md
  collectors/python.d.plugin/changefinder/changefinder.chart.py
  collectors/python.d.plugin/changefinder/changefinder.conf
  collectors/python.d.plugin/python.d.conf
  web/gui/dashboard_info.js
Owners: @Ferroin, @ilyam8, @joelhans, @jacekkolasa

Add `charts` to templates (#11054)
  database/rrdcalctemplate.c
  database/rrdcalctemplate.h
  health/REFERENCE.md
  health/health_config.c
Owners: @mfundul, @thiagoftsm, @joelhans, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Fix coverity issue (CID 370510) #11060
  daemon/analytics.c
Owners: @thiagoftsm, @mfundul

Limit maximum concurrent CI jobs to avoid blocking other CI. (#11057)
  .github/workflows/build-and-install.yml
  .github/workflows/packaging.yml
  .github/workflows/updater.yml
Owners: @Ferroin, @kaskavel, @vkalintiris

Add Third-party collector: nextcloud plugin (#11032)
  collectors/COLLECTORS.md
Owners: @joelhans

Overhaul streaming documentation (#10709)
  docs/metrics-storage-management/enable-streaming.mdx
  docs/metrics-storage-management/how-streaming-works.mdx
  docs/metrics-storage-management/reference-streaming.mdx
  docs/store/change-metrics-storage.md
Owners: @joelhans

Improve dashboard documentation (part 1) (#11015)
  docs/dashboard/how-dashboard-works.mdx
  docs/dashboard/interact-charts.mdx
  docs/get-started.mdx
  docs/monitor/view-active-alarms.md
Owners: @joelhans

Add documentation for claiming during kickstart installation (#11052)
  claim/README.md
  packaging/installer/methods/kickstart-64.md
  packaging/installer/methods/kickstart.md
  packaging/installer/methods/manual.md
Owners: @joelhans

Add functionality to store node_id for a host (#11059)
  claim/claim.c
  database/rrd.h
  database/rrdhost.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
Owners: @ktsaou, @Ferroin, @mfundul, @thiagoftsm

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

change_cahestat_type: Change apps chart type to improve chart visualization and give more meaninful information (#11074)
  collectors/ebpf.plugin/ebpf_cachestat.c
Owners: @thiagoftsm, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Ebpf directory cache (#10855)
  CMakeLists.txt
  Makefile.am
  collectors/ebpf.plugin/Makefile.am
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.d.conf
  collectors/ebpf.plugin/ebpf.d/dcstat.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_dcstat.h
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  web/gui/dashboard_info.js
Owners: @ktsaou, @Ferroin, @joelhans, @thiagoftsm, @vlvkobal, @thiagofsm, @mfundul, @jacekkolasa

Fix typo (#11082)
  docs/quickstart/infrastructure.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

health: clarify which health configuration entities are required / optional (#11086)
  health/REFERENCE.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

reduce info logging (#11091)
  daemon/analytics.c
Owners: @thiagoftsm, @mfundul

fix SSL random failures when using multithreaded web server with OpenSSL < 1.1.0 (#11089)
  web/server/static/static-threaded.c
Owners: @thiagoftsm, @mfundul, @vlvkobal

netdata-installer.sh: Enable IPv6 support in libwebsockets (#11079) (#11080)
  netdata-installer.sh
Owners: @Ferroin, @knatsakis, @vkalintiris

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @Ferroin

# Ownership by directory structure
.travis/ @Ferroin @kaskavel @vkalintiris
.github/ @Ferroin @kaskavel @vkalintiris
aclk/ @stelfrag @underhood
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @Ferroin
contrib/debian @Ferroin @vkalintiris
collectors/ @vlvkobal @mfundul
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/node.d.plugin/ @jacekkolasa
collectors/node.d.plugin/fronius/ @ccremer
collectors/node.d.plugin/snmp/ @jacekkolasa
collectors/node.d.plugin/stiebeleltron/ @ccremer
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @mfundul
database/ @mfundul @thiagoftsm
docs/ @joelhans
health/ @thiagoftsm @vlvkobal
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
libnetdata/ @thiagofsm @mfundul
packaging/ @Ferroin @vkalintiris
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin @vkalintiris
tests/ @Ferroin @kaskavel
web/ @thiagoftsm @mfundul @vlvkobal
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin
*.md @joelhans
Dockerfile* @Ferroin @knatsakis

# Ownership of specific files
.gitignore @Ferroin @knatsakis
.travis.yml @Ferroin @knatsakis @kaskavel @vkalintiris
.lgtm.yml @Ferroin @knatsakis
.eslintrc @Ferroin @knatsakis
.eslintignore @Ferroin @knatsakis
.csslintrc @Ferroin @knatsakis
.codeclimate.yml @Ferroin @knatsakis
.codacy.yml @Ferroin @knatsakis
.yamllint.yml @Ferroin @knatsakis
netdata.spec.in @Ferroin @knatsakis @vkalintiris
netdata-installer.sh @Ferroin @knatsakis @vkalintiris
package.json @jacekkolasa @Ferroin @knatsakis
packaging/version @netdatabot @Ferroin @knatsakis

LICENSE.md @joelhans @Ferroin
CHANGELOG.md @netdatabot @Ferroin
