Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @Ferroin, @kaskavel, @vkalintiris, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @thiagofsm, @knatsakis, @netdatabot

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @Ferroin

# Ownership by directory structure
.travis/ @Ferroin @kaskavel @vkalintiris
.github/ @Ferroin @kaskavel @vkalintiris
aclk/ @stelfrag @underhood
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @Ferroin
contrib/debian @Ferroin @vkalintiris
collectors/ @vlvkobal @mfundul
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/node.d.plugin/ @jacekkolasa
collectors/node.d.plugin/fronius/ @ccremer
collectors/node.d.plugin/snmp/ @jacekkolasa
collectors/node.d.plugin/stiebeleltron/ @ccremer
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @mfundul
database/ @mfundul @thiagoftsm
docs/ @joelhans
health/ @thiagoftsm @vlvkobal
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
libnetdata/ @thiagofsm @mfundul
packaging/ @Ferroin @vkalintiris
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin @vkalintiris
tests/ @Ferroin @kaskavel
web/ @thiagoftsm @mfundul @vlvkobal
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin
*.md @joelhans
Dockerfile* @Ferroin @knatsakis

# Ownership of specific files
.gitignore @Ferroin @knatsakis
.travis.yml @Ferroin @knatsakis @kaskavel @vkalintiris
.lgtm.yml @Ferroin @knatsakis
.eslintrc @Ferroin @knatsakis
.eslintignore @Ferroin @knatsakis
.csslintrc @Ferroin @knatsakis
.codeclimate.yml @Ferroin @knatsakis
.codacy.yml @Ferroin @knatsakis
.yamllint.yml @Ferroin @knatsakis
netdata.spec.in @Ferroin @knatsakis @vkalintiris
netdata-installer.sh @Ferroin @knatsakis @vkalintiris
package.json @jacekkolasa @Ferroin @knatsakis
packaging/version @netdatabot @Ferroin @knatsakis

LICENSE.md @joelhans @Ferroin
CHANGELOG.md @netdatabot @Ferroin

health: make stocks alarms less sensitive (2) (#11153)
  health/health.d/disks.conf
  health/health.d/net.conf
  health/health.d/ram.conf
  health/health.d/web_log.conf
Owners: @thiagoftsm, @vlvkobal

health: add python.d/go.d jobs last_collected_secs alarms (#11168)
  health/Makefile.am
  health/health.d/am2320.conf
  health/health.d/apache.conf
  health/health.d/cockroachdb.conf
  health/health.d/couchdb.conf
  health/health.d/gearman.conf
  health/health.d/go.d.plugin.conf
  health/health.d/hdfs.conf
  health/health.d/httpcheck.conf
  health/health.d/memcached.conf
  health/health.d/mongodb.conf
  health/health.d/mysql.conf
  health/health.d/named.conf
  health/health.d/nginx_plus.conf
  health/health.d/phpfpm.conf
  health/health.d/pihole.conf
  health/health.d/portcheck.conf
  health/health.d/postgres.conf
  health/health.d/pulsar.conf
  health/health.d/python.d.plugin.conf
  health/health.d/redis.conf
  health/health.d/retroshare.conf
  health/health.d/riakkv.conf
  health/health.d/scaleio.conf
  health/health.d/squid.conf
  health/health.d/unbound.conf
  health/health.d/vcsa.conf
  health/health.d/vernemq.conf
  health/health.d/web_log.conf
  health/health.d/whoisquery.conf
  health/health.d/wmi.conf
  health/health.d/x509check.conf
  health/health.d/zookeeper.conf
Owners: @Ferroin, @thiagoftsm, @vlvkobal

health: add system clock synchronization state alarm (#11177)
  health/Makefile.am
  health/health.d/timex.conf
Owners: @Ferroin, @thiagoftsm, @vlvkobal

Move mdstat charts near to Disks (#11119)
  collectors/all.h
  web/gui/dashboard_info.js
Owners: @vlvkobal, @mfundul, @jacekkolasa

Remove an unnecessary check for cgroup v1 (#11137)
  collectors/cgroups.plugin/sys_fs_cgroup.c
Owners: @vlvkobal, @mfundul

Fixing sneaky broken links (#11175)
  docs/configure/nodes.md
  docs/dashboard/customize.mdx
  docs/dashboard/import-export-print-snapshot.mdx
  docs/guides/deploy/ansible.md
  docs/guides/monitor/statsd.md
  docs/guides/using-host-labels.md
  docs/monitor/enable-notifications.md
  docs/monitor/view-active-alarms.md
  docs/overview/what-is-netdata.md
  health/notifications/custom/README.md
Owners: @joelhans

Ebpf swap (#11090)
  CMakeLists.txt
  Makefile.am
  collectors/ebpf.plugin/Makefile.am
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.d.conf
  collectors/ebpf.plugin/ebpf.d/swap.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_swap.h
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Owners: @ktsaou, @Ferroin, @thiagoftsm, @vlvkobal, @vkalintiris, @jacekkolasa

Fix typo in aclk.c (#11170)
  aclk/aclk.c
Owners: @stelfrag, @underhood

Query the size of the hw.intrnames mib instead of using of a fixed va… (#11159)
  collectors/freebsd.plugin/freebsd_sysctl.c
Owners: @vlvkobal, @thiagoftsm

Remove deprecated options. (#11149)
  daemon/main.c
Owners: @thiagoftsm, @mfundul

Update news in main README for latest release (#11165)
  README.md
  packaging/installer/methods/packages.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Move parser from children to main thread (#11152)
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_cachestat.h
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_dcstat.h
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_process.h
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_socket.h
  collectors/ebpf.plugin/ebpf_swap.c
  collectors/ebpf.plugin/ebpf_sync.c
  collectors/ebpf.plugin/ebpf_sync.h
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
Owners: @thiagoftsm, @vlvkobal, @thiagofsm, @mfundul

Remove Fedora 32 from CI. (#11143)
  .github/workflows/build-and-install.yml
  .github/workflows/packaging.yml
Owners: @Ferroin, @kaskavel, @vkalintiris

add link to example conf (#11182)
  collectors/python.d.plugin/httpcheck/README.md
Owners: @joelhans

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

rename default from job 'local' to 'anomalies' (#11178)
  collectors/python.d.plugin/anomalies/README.md
  collectors/python.d.plugin/anomalies/anomalies.conf
Owners: @joelhans, @ilyam8

fix ebpf.plugin segfault when ebpf_load_program return null pointer (#11203)
  collectors/ebpf.plugin/ebpf_cachestat.c
  collectors/ebpf.plugin/ebpf_dcstat.c
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_socket.c
  collectors/ebpf.plugin/ebpf_swap.c
Owners: @thiagoftsm, @vlvkobal

labeler: add "mqtt_websockets" to the ACLK (#11197)
  .github/labeler.yml
Owners: @Ferroin, @kaskavel, @vkalintiris

fix `install_type` detection during update (#11199)
  packaging/installer/netdata-updater.sh
Owners: @Ferroin, @vkalintiris

VFS new thread (#11187)
  CMakeLists.txt
  Makefile.am
  collectors/all.h
  collectors/ebpf.plugin/Makefile.am
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.d.conf
  collectors/ebpf.plugin/ebpf.d/vfs.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_process.c
  collectors/ebpf.plugin/ebpf_process.h
  collectors/ebpf.plugin/ebpf_vfs.c
  collectors/ebpf.plugin/ebpf_vfs.h
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Owners: @ktsaou, @Ferroin, @vlvkobal, @mfundul, @joelhans, @thiagoftsm, @vkalintiris, @jacekkolasa

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Add Microsoft Teams to supported notification endpoints (#11205)
  docs/monitor/enable-notifications.md
Owners: @joelhans

Check return status of execution of anonymous statistics script (#11188)
  daemon/analytics.c
  daemon/anonymous-statistics.sh.in
Owners: @thiagoftsm, @mfundul

claiming: exit 0 when daemon not running and the claim was successful (#11195)
  claim/netdata-claim.sh.in
Owners: @ktsaou, @Ferroin

Provide UTC offset in seconds and edit health config command (#11051)
  daemon/analytics.c
  daemon/common.c
  daemon/common.h
  daemon/unit_test.c
  database/rrd.h
  database/rrdhost.c
  database/sqlite/sqlite_functions.c
  health/health.h
  health/health_config.c
  health/health_json.c
  streaming/receiver.c
  streaming/rrdpush.c
  streaming/rrdpush.h
  streaming/sender.c
Owners: @thiagoftsm, @mfundul, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

Only report the exit code without strerror (#11215)
  daemon/analytics.c
Owners: @thiagoftsm, @mfundul

Ignore dbengine journal files that can not be read (#11210)
  database/engine/journalfile.c
Owners: @mfundul, @thiagoftsm

Do not fail agent if DBENGINE is not available and memory mode is set to dbengine (#11207)
  daemon/main.c
  database/rrdhost.c
Owners: @thiagoftsm, @mfundul

Compile/Link with absolute paths for bundled/vendored deps. (#11129)
  Makefile.am
  configure.ac
  contrib/debian/rules
  netdata-installer.sh
  netdata.spec.in
Owners: @Ferroin, @ktsaou, @vkalintiris, @knatsakis

Store uuid_t metric_uuid in the dimension state structure instead of uuid_t * (#11212)
  database/engine/rrdengineapi.c
  database/engine/rrdengineapi.h
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  database/sqlite/sqlite_functions.c
  database/sqlite/sqlite_functions.h
  web/api/formatters/rrd2json.c
Owners: @mfundul, @thiagoftsm, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

health: fix alarm-line-charts matching (#11204)
  database/rrdcalctemplate.c
Owners: @mfundul, @thiagoftsm

Check for non ascii characters in health log (#11193)
  health/health_log.c
Owners: @thiagoftsm, @vlvkobal

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis

python.d: merge user/stock plugin configuration files (#11217)
  collectors/python.d.plugin/python.d.plugin.in
Owners: @ilyam8

eBPF ext4 (new thread for collector) (#11224)
  CMakeLists.txt
  Makefile.am
  collectors/all.h
  collectors/ebpf.plugin/Makefile.am
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.c
  collectors/ebpf.plugin/ebpf.d.conf
  collectors/ebpf.plugin/ebpf.d/filesystem.conf
  collectors/ebpf.plugin/ebpf.h
  collectors/ebpf.plugin/ebpf_apps.h
  collectors/ebpf.plugin/ebpf_filesystem.c
  collectors/ebpf.plugin/ebpf_filesystem.h
  libnetdata/ebpf/ebpf.c
  libnetdata/ebpf/ebpf.h
  packaging/ebpf.checksums
  packaging/ebpf.version
  web/gui/dashboard_info.js
Owners: @ktsaou, @Ferroin, @vlvkobal, @mfundul, @joelhans, @thiagoftsm, @thiagofsm, @vkalintiris, @jacekkolasa

[ci skip] create nightly packages and update changelog
  CHANGELOG.md
  packaging/version
Owners: @netdatabot, @Ferroin, @knatsakis
