Repository knackinetic/ND-monitor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @cakrit, @cosmix, @thiagoftsm, @vlvkobal, @mfundul, @VLegakis, @ccremer, @ilyam8, @simonnagl, @joelhans, @Ferroin, @thiagofsm, @netdatabot

sidebar-info update - DB engine (#6744)
  web/api/formatters/charts2json.c
  web/gui/index.html
  web/gui/main.js
Owners: @thiagoftsm, @mfundul, @vlvkobal, @cakrit, @cosmix, @VLegakis

[ci skip] release v1.17.1
  packaging/version
Owners: @netdatabot

netdata/packaging: no need to overengineer with these checks. The stage is triggered only on specific keyword, that should be enough (#6834)
  .travis.yml
Owners: @cakrit, @cosmix

Add news of 1.17.1 to README (#6836)
  README.md
Owners: @cakrit, @cosmix, @joelhans

netdata/packaging: we didnt fix changelog handling, fixes and nits now (#6837)
  .travis/package_management/trigger_deb_lxc_build.py
Owners: @cakrit, @cosmix

netdata/packaging: Ensure that we do not mess with CI tooling, when building stable (#6838)
  .travis/package_management/common.py
  lala
Owners: @cakrit, @cosmix, @ktsaou

Update CHANGELOG.md
  CHANGELOG.md
Owners: @netdatabot

Update CHANGELOG.md
  CHANGELOG.md
Owners: @netdatabot

netdata/packaging: nit - missed trailing slash (#6840)
  .travis/package_management/common.py
Owners: @cakrit, @cosmix

Buffer overflow (#6817)
  web/server/web_client.c
Owners: @thiagoftsm, @mfundul, @vlvkobal, @cakrit, @cosmix

netdata/packaging: nits and fixes for packaging (#6842)
  .travis/package_management/common.py
  .travis/trigger_package_generation.sh
  packaging/DISTRIBUTIONS.md
Owners: @cakrit, @cosmix, @joelhans

netdata/packaging: Bring on board two scripts that build libuv and judy from source (#6850)
  .travis/package_management/build_judy.sh
  .travis/package_management/build_libuv.sh
Owners: @cakrit, @cosmix

netdata/packaging: Introduce separate CUPS package for debian distributions (#6724)
  .travis.yml
  .travis/package_management/build.sh
  contrib/debian/control
  contrib/debian/control.buster
  contrib/debian/control.jessie
  contrib/debian/control.trusty
  contrib/debian/control.wheezy
  contrib/debian/control.xenial
  contrib/debian/rules
Owners: @cakrit, @cosmix, @ktsaou

netdata/packaging: Split CUPS plugin to separate package (RPM) (#6700)
  netdata.spec.in
Owners: @cakrit, @cosmix

single job build fix (#6856)
  collectors/python.d.plugin/python.d.plugin.in
Owners: @ilyam8

resolve broken links (#6854)
  web/gui/README.md
Owners: @cakrit, @cosmix, @joelhans

Squash integration (#5566)
  .squash.yml
Owners: @ktsaou, @cakrit, @cosmix

update grep to be more specific (#6794)
  docs/high-performance-netdata.md
Owners: @cakrit, @cosmix, @joelhans

Center the chart on timeframe when an alarm is raised (#6391)
  health/notifications/alarm-notify.sh.in
  web/gui/goto-host-from-alarm.html
  web/gui/main.css
  web/gui/main.js
Owners: @Ferroin, @thiagoftsm, @cakrit, @cosmix, @VLegakis

Fixes netdata group deletion on linux for uninstall script (#6645)
  packaging/installer/netdata-uninstaller.sh
Owners: @cakrit, @cosmix

changed naming for redirect_uri param (#6663)
  web/gui/main.js
Owners: @VLegakis, @cakrit, @cosmix

Add example for prometheus archiving source parameter
  backends/prometheus/README.md
Owners: @cakrit, @cosmix, @joelhans

dont redirect when redirectURI is the same (#6868)
  web/gui/main.js
Owners: @VLegakis, @cakrit, @cosmix

Gearman plugin for Netdata (#6567)
  collectors/python.d.plugin/Makefile.am
  collectors/python.d.plugin/gearman/Makefile.inc
  collectors/python.d.plugin/gearman/README.md
  collectors/python.d.plugin/gearman/gearman.chart.py
  collectors/python.d.plugin/gearman/gearman.conf
  collectors/python.d.plugin/python.d.conf
  health/Makefile.am
  health/health.d/gearman.conf
  web/gui/dashboard_info.js
Owners: @cakrit, @cosmix, @ilyam8, @joelhans, @thiagoftsm, @vlvkobal, @VLegakis

Cppcheck fixes (#6386)
  collectors/cgroups.plugin/cgroup-network.c
  tests/profile/benchmark-line-parsing.c
Owners: @vlvkobal, @mfundul, @cakrit, @cosmix, @ktsaou

Instructions for simple SMTP transport (#6870)
  health/notifications/email/README.md
Owners: @cakrit, @cosmix, @joelhans

/var/lib/netdata/registry was being left behind after purge (#6867)
  contrib/debian/netdata.postrm
Owners: @ktsaou, @cakrit, @cosmix

Changes to launching the python.d plugin aggregator. (#6781)
  collectors/python.d.plugin/python.d.plugin.in
Owners: @ilyam8

installer: include go.d.plugin version v0.9.0 (#6872)
  packaging/go.d.checksums
  packaging/go.d.version
Owners: @cakrit, @cosmix

vcsa collector: charts description and alarms (#6772)
  health/Makefile.am
  health/health.d/vcsa.conf
  web/gui/dashboard_info.js
Owners: @cakrit, @cosmix, @thiagoftsm, @vlvkobal, @VLegakis

netdata/installer: Add support for offline installs using kickstart or kickstart-static64 (#6693)
  netdata-installer.sh
  packaging/installer/README.md
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
Owners: @cakrit, @cosmix, @joelhans

Update python.d module checklist to match the current paths and… (#6874)
  collectors/python.d.plugin/README.md
Owners: @cakrit, @cosmix, @joelhans

NPM Packages version update (#6801)
  package-lock.json
  package.json
Owners: @ktsaou, @cakrit, @cosmix, @VLegakis

Update docs for offline install (#6884)
  packaging/installer/README.md
Owners: @cakrit, @cosmix, @joelhans

Get all k8s container names (#6885)
  collectors/cgroups.plugin/cgroup-name.sh.in
Owners: @vlvkobal, @mfundul, @cakrit, @cosmix

Collector slabinfo (#6800)
  .gitignore
  CMakeLists.txt
  Makefile.am
  collectors/Makefile.am
  collectors/README.md
  collectors/apps.plugin/apps_groups.conf
  collectors/plugins.d/README.md
  collectors/slabinfo.plugin/Makefile.am
  collectors/slabinfo.plugin/README.md
  collectors/slabinfo.plugin/slabinfo.c
  configure.ac
  contrib/debian/rules
  docs/Add-more-charts-to-netdata.md
  docs/generator/buildyaml.sh
  netdata-installer.sh
  netdata.spec.in
Owners: @cakrit, @cosmix, @ktsaou, @joelhans, @vlvkobal, @mfundul

Change the log level for chart updates (#6887)
  database/rrdset.c
Owners: @mfundul, @thiagoftsm, @cakrit, @cosmix

Markdown syntax fixes for MDX parser (#6877)
  collectors/node.d.plugin/snmp/README.md
  collectors/python.d.plugin/dnsdist/README.md
  docs/configuration-guide.md
Owners: @cakrit, @cosmix, @joelhans

Allow hostnames in Access Control Lists (#6796)
  docs/netdata-security.md
  libnetdata/socket/socket.c
  libnetdata/socket/socket.h
  web/server/static/static-threaded.c
  web/server/web_client.c
  web/server/web_client.h
  web/server/web_server.c
Owners: @cakrit, @cosmix, @joelhans, @thiagofsm, @mfundul, @thiagoftsm, @vlvkobal

Remove Dollar sign from Bash code in documentation and fix remark-lint warnings (#6880)
  collectors/charts.d.plugin/apache/README.md
  docs/Running-behind-haproxy.md
  docs/contributing/contributing-documentation.md
  packaging/installer/README.md
  packaging/installer/UNINSTALL.md
  web/api/formatters/json/README.md
  web/server/README.md
Owners: @cakrit, @cosmix, @joelhans

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @cakrit @cosmix

# Ownership by directory structure
.travis/ @cakrit @cosmix
.github/ @cakrit @cosmix
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @cakrit @cosmix
collectors/ @vlvkobal @mfundul @cakrit @cosmix
collectors/charts.d.plugin/ @cakrit @cosmix
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm @cakrit @cosmix
collectors/macos.plugin/ @vlvkobal @thiagoftsm @cakrit @cosmix
collectors/node.d.plugin/ @VLegakis @cakrit @cosmix
collectors/node.d.plugin/fronius/ @ccremer @cakrit @cosmix
collectors/node.d.plugin/snmp/ @VLegakis @cakrit @cosmix
collectors/node.d.plugin/stiebeleltron/ @ccremer @cakrit @cosmix
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm @cakrit @cosmix
daemon/ @thiagoftsm @mfundul @cakrit @cosmix
database/ @mfundul @thiagoftsm @cakrit @cosmix
docs/ @cakrit @cosmix @joelhans
health/ @thiagoftsm @vlvkobal @cakrit @cosmix
health/health.d/ @thiagoftsm @vlvkobal @cakrit @cosmix
health/notifications/ @Ferroin @thiagoftsm @cakrit @cosmix
libnetdata/ @thiagofsm @mfundul @cakrit @cosmix
packaging/ @cakrit @cosmix
packaging/installer/ @cakrit @cosmix
packaging/makeself/ @cakrit @cosmix
registry/ @VLegakis @cakrit @cosmix
streaming/ @thiagoftsm @vlvkobal @cakrit @cosmix
web/ @thiagoftsm @mfundul @vlvkobal @cakrit @cosmix
web/gui/ @VLegakis @cakrit @cosmix

# Ownership by filetype (overwrites ownership by directory)
*.md @cakrit @cosmix @joelhans
*.am @cakrit @cosmix

# Ownership of specific files
.gitignore @cakrit @cosmix
.travis.yml @cakrit @cosmix
.lgtm.yml @cakrit @cosmix
.eslintrc @cakrit @cosmix
.eslintignore @cakrit @cosmix
.csslintrc @cakrit @cosmix
.codeclimate.yml @cakrit @cosmix
.codacy.yml @cakrit @cosmix
netdata.spec.in @cakrit @cosmix
netdata-installer.sh @cakrit @cosmix
netlify.toml @cakrit @cosmix
package.json @VLegakis
packaging/version @netdatabot

LICENSE.md @cakrit @cosmix @joelhans
CHANGELOG.md @netdatabot
